<div
    *ngIf="configuracion"
    [ngClass]="{
        'mensaje-texto': true,
        'propietario': configuracion.esPropietario
    }"
>
    <div class="hora">
        <p
            [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })"
        >
            ({{ obtenerDateDeTimeStamp(configuracion.mensaje.fechaCreacion) | date:"HH:mm" }} {{'m3v10texto5'|translate}})
        </p>
    </div>
    <div
        [ngClass]="{
            'capa-seleccionado': true,
            'seleccionado': configuracion.seleccionado
        }"
    >
        <div 
            [ngClass]="{
                'libroPropietario': configuracion.esPropietario

            }"
        >
            <div class="svg-libro-cerrado" *ngIf="configuracion.leido === false"></div>
            <div class="svg-libro-abierto" *ngIf="configuracion.leido === true " ></div>
        </div>
        <div class="caja-texto">
            <p
                [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                })"
            >
                {{ configuracion.mensaje.contenido }}
            </p>
        </div>
        <div class="color-seleccionado"></div>
    </div>
</div>
