@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.padre-contactos-lista {
    display: flex;
    flex-flow: column;
    height: 100%;

    & .items {
        // background: rgba(255, 255, 255, 0.5);
        display: flex;
        flex: 1;
        width: 100%;
        overflow: hidden;
    }
   
}

.resumen{
    display: flex;
    overflow: hidden;
}

.detalle {
    display: flex;
    flex-flow: row wrap;
    padding: 0 $espacio-0658 - $espacio-267 ; 
    box-sizing: border-box;
   
    height: fit-content;
    // max-height: 100%;
    overflow-y: scroll;
    flex: 1;
}
.paginacion {

    max-height: calc(100vh - 66vh);
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    // background-color: blueviolet;
}

.item-circulo{
    margin-right: 1.78vw;
    margin-bottom: 3.6vw;
   

    &.sin-margin-derecha {
        margin-right: 0;
    }
}

.no-more-contacts{
    text-align: center;
}


.capa {
    display: none;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 2.67vw;
    &.mostrar {
        display: flex;
    }
    &.loader {
        align-items: center;
        justify-content: center;
        height: 50vh;
        
    }
    &.error {
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    &.contenido-general {
        flex-flow: column;
        align-items: center;
    }
    
}
.loader {
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}


.titulo-noticias{
    padding-top: 0;
  
  }

   
.subtitulo-info{

    padding-top: $espacio-178 - $defecto-total !important;
}

.no-more-contacts{
    text-align: center;
    margin-top: $espacio-522 - $espacio-178;
    width: 100%;
  }

  .loader-interno {
    width: 100%;
    display: flex;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: calcular(2);
  
  }


p{
    white-space: unset
  }
  