<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo" [id]="idCapaContactos" (scroll)="eventoDeScroll()">
  <div
    class="notificaciones"
    *ngIf="this.confItemNotificaciones.mensaje.contadorMensajes > 0"
  >
    <app-item-lista-contactos
      [configuracion]="confItemNotificaciones"
    ></app-item-lista-contactos>
  </div>
  <div class="titulos">
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOVERDEBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL
        })
      "
    >
      {{ "m3v7texto5" | translate }}
    </p>

    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
        })
      "
      *ngIf="this.listaContactos.lista.length > 0"
    >
      {{ "m3v7texto7" | translate }}
    </p>
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
        })
      "
      *ngIf="this.listaContactos.lista.length > 0"
    >
      {{ "m3v7texto6" | translate }}
    </p>
    <p
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: true,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
        })
      "
      *ngIf="this.listaContactos.lista.length === 0 && !mostrarCargando"
    >
      {{ "m3v7texto9" | translate }}
    </p>
  </div>
  <!-- cargando -->
  <div *ngIf="mostrarCargando && !mostrarError" class="capa cargando">
    <app-cargando></app-cargando>
  </div>
  <!-- error -->
  <div *ngIf="!mostrarCargando && mostrarError" class="capa error">
    <div
      [ngClass]="
        estilosDelTextoServicio.obtenerEstilosTexto({
          color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE,
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })
      "
    >
      {{ this.contenidoError | translate }}
    </div>
    <button (tap)="reintentar()">
      {{ "text32" | translate }}
    </button>
  </div>
  <div
    *ngIf="!mostrarCargando && !mostrarError && listaContactos"
    class="capa contactos"
  >
    <app-item-lista-contactos
      *ngFor="let confContacto of listaContactos.lista"
      [configuracion]="confContacto"
    ></app-item-lista-contactos>
    <div *ngIf="mostrarCargandoPequeno" class="cargando-pequeno">
      <app-cargando></app-cargando>
    </div>
  </div>
</div>
<!-- Notificaciones -->
<div
  *ngIf="confListaNotificaciones"
  [ngClass]="{
    cuerpo: true,
    'lista-notificaciones': true,
    mostrar: confListaNotificaciones.mostrar
  }"
>
  <p
    [ngClass]="
      estilosDelTextoServicio.obtenerEstilosTexto({
        color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
        estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
        enMayusculas: true,
        tamanoConInterlineado:
          estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
      })
    "
    class="texto-notificaciones"
  >
    {{ "m3v8texto4" | translate }}
  </p>

  <app-item-lista-contactos
    *ngFor="let notificacion of confListaNotificaciones.lista"
    [configuracion]="notificacion.item"
  ></app-item-lista-contactos>
</div>
<!-- Notificaciones -->
<app-dialogo [configuracion]="configDialoEliminarContacto"></app-dialogo>
<app-toast #toast [configuracion]="confToast"></app-toast>
