<div class="publicitario" [style.margin-bottom]=configuracion.espacio>
    <!-- <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
        y="0px" viewBox="0 0 1604.7 923.2" style="enable-background:new 0 0 1604.7 923.2;" xml:space="preserve">
        <style type="text/css">
            .st0 {
                fill: url(#SVGID_1_);
            }

            .st1 {
                display: none;
            }

            .st2 {
                display: inline;
            }

            .st3 {
                fill: #5B8247;
            }

            .st4 {
                fill: #FFFFFF;
            }

            .st5 {
                font-family: 'ArialMT';
            }

            .st6 {
                font-size: 37.724px;
            }
        </style>
        <g id="Capa_1_2_">
            <g>
                <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507"
                    y2="468">
                    <stop offset="0.2451" style="stop-color:#187179" />
                    <stop offset="0.7539" style="stop-color:#312783" />
                </linearGradient>
                <path class="st0" d="M1401.6,921.8L133.2,865.9C63.3,865.9,6.6,807.8,6.6,736l31.6-527.1C38.2,137.2,94.9,79,164.8,79l1300-64.8
           c69.9,0,126.6,58.2,126.6,129.9L1528.2,792C1528.2,863.7,1471.5,921.8,1401.6,921.8z" />
                <g>
                    <path d="M1401.6,923.2c-308.3-14.6-616.9-15.8-925.3-30c-77.1-3.3-154.2-7.1-231.2-11.2l-115.8-6.5c-1.3-0.1-2.5-0.1-3.8-0.2
               l-3.9-0.4c-2.6-0.2-5.2-0.6-7.7-1c-1.3-0.2-2.6-0.4-3.8-0.7l-3.8-0.8c-2.5-0.6-5-1.2-7.5-1.9c-10-2.8-19.6-6.8-28.6-11.9
               c-9-5-17.4-11.1-25-18s-14.5-14.6-20.3-23c-11.7-16.8-19.7-36.1-23-56.2c-0.4-2.5-0.8-5-1.1-7.5l-0.4-3.8l-0.2-3.8
               C0.1,745,0,743.8,0,742.5v-3.9v-2c0-0.3,0-0.7,0-1l0.1-0.9l0.3-3.6l2.1-28.9c2.8-38.5,5.6-77,8.2-115.5c5.3-77,10.2-154,14.7-231
               c2.3-38.5,4.5-77,6.6-115.5l1.6-28.9c0.2-2.4,0.2-4.8,0.2-7.3c0-2.4,0.3-4.9,0.4-7.4c0.1-1.2,0.2-2.5,0.4-3.7l0.4-3.7
               c0.3-2.5,0.8-4.9,1.2-7.4c3.8-19.6,11.9-38.4,23.7-54.6c5.9-8.1,12.7-15.6,20.3-22.2c7.6-6.6,15.9-12.4,24.8-17.1
               c8.9-4.8,18.4-8.5,28.2-11c2.5-0.6,4.9-1.3,7.4-1.7l3.7-0.7c1.2-0.2,2.5-0.4,3.8-0.6s2.5-0.4,3.8-0.5l3.8-0.3
               c2.5-0.3,5-0.3,7.5-0.4l115.6-7.2l115.6-7.3L510,51.1c77-4.7,154.1-9,231.2-13.2c154.1-8.5,308.2-17.2,462.3-25.1l57.8-3
               l57.8-2.9l115.6-5.5l28.9-1.4c1.1-0.1,2.7,0,4,0l4.2,0.1c2.7,0.2,5.4,0.4,8.1,0.6l4,0.5c1.3,0.2,2.7,0.3,4,0.6
               c2.6,0.5,5.3,0.9,7.9,1.6c10.5,2.4,20.6,6.1,30.2,10.9s18.6,10.7,26.8,17.5l1.6,1.3l1.5,1.3l3,2.7c2,1.8,3.8,3.7,5.7,5.6
               c3.6,3.9,7.2,7.9,10.4,12.1c6.5,8.5,12,17.6,16.5,27.3c8.8,19.4,13.3,40.6,13.2,61.8v0.7l-0.1,0.5
               c-5.8,53.9-11.6,107.9-17.8,161.8c-6.1,53.9-12.4,107.8-18.7,161.7l-19,161.7c-6.2,53.9-12.4,107.8-18.2,161.7v-0.2
               c-0.2,17.1-3.6,34.1-10,49.9c-6.5,15.8-15.9,30.3-27.8,42.5c-11.8,12.2-26.1,22.1-41.7,28.7
               C1435.6,919.8,1418.6,923.2,1401.6,923.2z M1401.7,920.5c16.5,0,33.2-3.4,48.4-10.1c15.2-6.6,29-16.4,40.4-28.4
               s20.4-26.3,26.4-41.7s9-31.9,8.8-48.4v-0.1v-0.2c4.7-54,9.1-108.1,13.4-162.2l12.6-162.3c4.2-54.1,8.4-108.2,12.9-162.3
               c4.4-54.1,9.1-108.1,13.8-162.2l-0.1,1.3c-0.2-17.4-4.1-34.7-11.5-50.4c-3.7-7.8-8.3-15.2-13.6-22c-2.6-3.4-5.5-6.6-8.5-9.7
               c-1.5-1.5-3.1-3-4.7-4.5l-2.4-2.1l-1.2-1.1l-1.3-1c-6.7-5.4-14-10.1-21.6-13.9c-7.7-3.7-15.8-6.6-24.2-8.4
               c-2.1-0.5-4.2-0.8-6.3-1.2c-1-0.2-2.1-0.3-3.2-0.5l-3.2-0.4c-2.1-0.2-4.3-0.3-6.4-0.5l-3-0.1c-1,0-1.9-0.1-3.2,0l-28.9,1.5
               l-115.6,6l-57.8,2.9l-57.8,2.8c-154.1,7.4-308.3,14.1-462.4,21c-77.1,3.4-154.2,6.8-231.2,9.9l-115.6,4.4l-115.6,4.3l-115.6,4.3
               c-2.3,0.1-4.7,0-7,0.2l-3.4,0.2c-1.1,0.1-2.3,0.3-3.4,0.4s-2.3,0.3-3.4,0.4l-3.4,0.6c-2.3,0.3-4.5,0.9-6.7,1.4
               c-8.9,2.1-17.6,5.3-25.8,9.5s-16,9.2-23,15.2c-7.1,6-13.5,12.7-19.1,20.1c-11.2,14.8-19,32.1-22.8,50.3c-0.4,2.3-0.9,4.6-1.2,6.9
               l-0.5,3.5c-0.2,1.2-0.3,2.3-0.4,3.5c-0.2,2.3-0.4,4.6-0.5,7s-0.1,4.7-0.3,7.2l-1.9,28.9c-2.5,38.5-4.9,77-7.2,115.5
               c-4.7,77-9,154-13,231.1c-2,38.5-3.8,77-5.6,115.6l-1.3,28.9l-0.2,3.6v0.9c0,0.3,0,0.6,0,0.8l0.1,1.7l0.1,3.3
               c0.1,1.1,0.2,2.3,0.3,3.4l0.3,3.4l0.5,3.4c0.3,2.3,0.7,4.5,1.2,6.8c3.5,17.9,11.2,34.9,21.9,49.5c5.4,7.3,11.6,13.9,18.5,19.8
               c6.8,5.9,14.3,11,22.3,15.1s16.4,7.3,25,9.5c2.2,0.5,4.3,1,6.5,1.4l3.3,0.5c1.1,0.2,2.2,0.4,3.3,0.5c2.2,0.2,4.4,0.6,6.6,0.6
               l3.3,0.2c1.1,0.1,2.3,0,3.4,0.1h3.5l3.6,0.1l7.2,0.2l14.6,0.6l28.9,0.9l57.8,1.9c77.1,2.6,154.2,5.7,231.3,9.1
               C785.2,881.9,1093.3,907.9,1401.7,920.5z" />
                </g>
            </g>
        </g>
        <g id="fondo-arbolesv">
        </g>
        <g id="anuncios">
        </g>
        <g id="cotas" class="st1">
            <g class="st2">
                <rect x="600.5" y="-42.5" class="st3" width="289.3" height="88" />
                <text transform="matrix(1 0 0 1 712.1983 15.9006)" class="st4 st5 st6">5,22</text>
            </g>
        </g>
        <g id="Capa_3" class="st1">
        </g>
    </svg> -->
        
    <!-- <svg viewBox="0 0 1626.1 947.8">
        <path [style.fill]=configuracion.colorFondo [attr.d]=pathSvgAnuncioPublicitario.FONDO />
        <path [style.fill]=configuracion.colorTexto [attr.d]=pathSvgAnuncioPublicitario.BORDE />
       
    </svg> -->

    <!-- <stop  offset="0.2451"   [style.stop-color] style="stop-color:#A02514"/>
    <stop  offset="0.7539"    style="stop-color:#FBB46B"/> -->

    <svg viewBox="0 0 1626.1 947.8">
      
        <linearGradient id="SVGID_1_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#0C1327" />
			<stop  offset="0.7539"   style="stop-color:#D86A6A" />
		</linearGradient>
        <linearGradient id="SVGID_2_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#336699" />
			<stop  offset="0.7539"   style="stop-color:#011348" />
		</linearGradient>
        <linearGradient id="SVGID_3_" gradientUnits="userSpaceOnUse" x1="11.9148" y1="468" x2="1594.507" y2="468">
			<stop  offset="0.2451"   style="stop-color:#011348" />
			<stop  offset="0.7539"   style="stop-color:#E89A63" />
		</linearGradient>
        <path [style.fill]=urlsvg [attr.d]=pathSvgAnuncioPublicitario.FONDO />
        <path [style.fill]=configuracion.colorTexto [attr.d]=pathSvgAnuncioPublicitario.BORDE />
       
    </svg>


    <div class="contenido">
        <div class="descripcion">
            <div class="texto">
                <p [style.color]=configuracion.colorTexto [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado[configuracion.tamanioLetra]
                })">
                    {{configuracion.descripcion}}
                </p>
            </div>
        </div>

        <div class="input">
            <div class="fecha">
                {{ configuracion.fecha | date:'dd/MM/yyyy' }}
            </div>
        </div>
    </div>


</div>