<div [ngClass]="{
    'contenedor-landing': true
  }" id="contenedor-landing">

  <div class="contenido">
    <div class="docs-legales">
      <div class="izquierda">
        <p (tap)="eventoDocLegal(1)">
          {{ "landingTerminosCondiciones" | translate }}
        </p>
        <p (tap)="eventoDocLegal(2)">
          {{ "landingPoliticasPrivacidad" | translate }}
        </p>
        <p (tap)="eventoDocLegal(3)">
          {{ "landingPoliticaCookies" | translate }}
        </p>
      </div>
      <div class="centro">
        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/mundogazelook-landing.png" alt="" />
      </div>
      <div class="derecha">
        <p (tap)="eventoDocLegal(4)">
          {{ "CÓDIGO DE CONDUCTA" | translate }}
        </p>
        <p (tap)="eventoDocLegal(5)">
          {{ "CONDICIONES DE PAGO" | translate }}
        </p>
        <p (tap)="eventoDocLegal(6)">
          {{ "REGLAMENTO DE PROYECTOS" | translate }}
        </p>
      </div>
    </div>

    <div class="texto-documentos">

      <div *ngIf="docLegalMostar === 1">
        <p>
          TÉRMINOS Y CONDICIONES DE USO DE GAZELOOK
        </p>
        <p>
          Los siguientes Términos y Condiciones de Uso regulan el contrato establecido entre GAZELOOK-COM CIA
          LTDA,
          con domicilio en Finca Altamira 110119, San Pedro de Vilcabamba, Loja, Ecuador, correo electrónico
          admin@gazelook.com (en adelante Gazelook.com) y el Usuario de la plataforma (en adelante el Usuario).
          Glosario:
        </p>
        <p>
          • Contraseña: es la clave de acceso asignada a cada Usuario para acceder a la plataforma Gazelook.com.
        </p>
        <p>
          • Credenciales de acceso y autenticación: mecanismo de autenticación conformado por el nombre de usuario
          y
          contraseña, preguntas de seguridad, pines, tokens o datos biométricos, que le permite a la plataforma
          Gazelook.com validar y verificar la identificación del Usuario y otorgarle acceso a la Cuenta de la
          plataforma Gazelook.com.
        </p>

        <p>
          • Cuenta: es el espacio virtual atribuido a cada Usuario después de registrado en la plataforma
          Gazelook.com.
        </p>
        <p>
          • Gazelook: es una empresa privada con fines de lucro que a través de una plataforma tecnológica ofrece
          funcionalidades de interacción social, canje de bienes y servicios, creación de comunidad, patrocinio,
          postulación y coordinación de proyectos orientados a enaltecer la condición humana.
        </p>
        <p>
          • Pasarela de Pagos: es el servicio de un proveedor de servicios de comercio electrónico, con el que se
          autorizan pagos a negocios electrónicos, ventas en línea al detalle, negocios con presencia física y en
          línea simultáneamente, o a negocios tradicionales. En Gazelook.com los pagos se realizarán a través de
          la
          pasarela de pagos Paymentez.com.ec y la plataforma Stripe.com.
        </p>
        <p>
          • Política de Privacidad: es la Política de la plataforma Gazelook.com que rige el tratamiento y
          procesamiento de datos personales del Usuario y que se puede consultar en la plataforma.
        </p>

        <p>
          • Proyecto: proposición o conjunto de proposiciones orientas desarrollo de actividades acordes a los
          fines y
          objetivos perseguidos por Gazelook.com.
        </p>
        <p>
          • Sitio Web: es el conjunto de contenidos digitales y páginas en código HTML que se encuentra disponible
          a
          través de la URL: www.Gazelook.com y el cual el Usuario podrá acceder a través de su navegador ya sea
          desde
          una computadora de escritorio o desde su dispositivo móvil.
        </p>
        <p>
          • Usuario: para efectos de este contrato, el Usuario es toda persona física que tiene acceso a la
          plataforma
          Gazelook.com, así como a su contenido e información.
        </p>
        <p>
          1.- DECLARACIONES Y ALCANCE DE ESTOS TÉRMINOS Y CONDICIONES DE USO
        </p>
        <p>
          1.1.- Gazelook.com es una empresa que se dedica al desarrollo y la gestión de la plataforma tecnológica
          multifuncional www.Gazelook.com, la cual ofrece al Usuario servicios de interacción social enfocada a la
          postulación de proyectos orientados a enaltecer la condición humana y la recaudación de fondos para el
          financiamiento y coordinación de los mismos.
        </p>
        <p>
          1.1.- Gazelook.com es una empresa que se dedica al desarrollo y la gestión de la plataforma tecnológica
          multifuncional www.Gazelook.com, la cual ofrece al Usuario servicios de interacción social enfocada a la
          postulación de proyectos orientados a enaltecer la condición humana y la recaudación de fondos para el
          financiamiento y coordinación de los mismos.
        </p>
        <p>

          1.2.- El Usuario declara que entiende, comprende y acepta de manera voluntaria, sin limitación o
          restricción
          los Términos y Condiciones de Uso siguientes, así como las demás políticas, reglamentos y principios
          incorporados a las mismas, previo al acceso y uso de la plataforma Gazelook.com.
        </p>
        <p>
          1.3.- Gazelook.com pone a disposición del Usuario las siguientes normas, regulación y las condiciones
          que
          rigen el funcionamiento y uso de la plataforma Gazelook.com, para que mediante dicha plataforma el
          anteriormente mencionado pueda acceder a los servicios de interacción social, postulación y patrocinio
          de
          proyectos. Por lo tanto, cualquier persona que no acepte estos Términos y Condiciones de Uso, los cuales
          tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar la plataforma Gazelook.com.
        </p>
        <p>
          1.4.- El Usuario acepta que para este acto se entiende como firma electrónica o consentimiento
          electrónico
          (click-wrap agreement) el hecho de dar clic por parte de éste en la casilla de ACEPTACIÓN ubicada antes
          de
          realizar el proceso de registro, por lo que de manera expresa el Usuario acepta que este será el
          mecanismo
          válido para manifestar su consentimiento respecto a lo estipulado en estos Términos y Condiciones de Uso
          en
          lo relativo a la utilización de la plataforma Gazelook.com.
        </p>
        <p>
          1.5- Para poder usar la plataforma Gazelook.com y crear una cuenta de Usuario, la persona que se
          registre,
          manifiesta ser mayor de dieciocho (18) años de edad, sin embargo, Gazelook.com al ser una red social
          lúdica
          que busca exaltar la condición humana, permite el acceso a menores de (18) dieciocho años de edad,
          siempre
          que éstos utilicen la Cuenta de sus representantes legales y bajo la responsabilidad de los dichos
          adultos
          representantes del menor. Toda persona mayor de edad que se registre en Gazelook.com, deberá suministrar
          sus
          datos personales en el formulario de registro en el Sitio Web. El Usuario solo podrá tener una sola
          cuenta
          con Gazelook.com.
        </p>
        <p>
          1.6.- Como parte del proceso de registro y uso de la plataforma Gazelook.com, el USUARIO acepta que se
          compromete al cumplimento de los presentes TÉRMINOS Y CONDICIONES DE USO, y los siguientes documentos
          que a
          su vez son parte integral de estos Términos y Condiciones de Uso:
          <br>
          i. Código de Conducta y Reglas de la Plataforma Gazelook.com.
          <br>
          ii. Política de Privacidad y Protección de Datos Personales.
          <br>
          iii. Términos y Condiciones para el pago de cargos.
          <br>
          iv. Términos y Condiciones para la postulación de proyectos.
          <br>
          v. Políticas de Uso de Cookies.
        </p>

        <p>
          2.- ACERCA DE LA PLATAFORMA GAZELOOK.COM Y SUS FUNCIONALIDADES
        </p>
        <p>
          2.1.- Gazelook.com es una plataforma web disponible a través de la URL www.gazelook.com y la cual
          incluye
          las siguientes funcionalidades para el Usuario, cuyo carácter es meramente enunciativo y discrecional
          por
          parte del primero:
          <br>
          i. Interacción social entre los usuarios de la plataforma.
          <br>
          ii. Postulación de proyectos orientados a enaltecer la condición humana.
          <br>
          iii. Patrocinio, votación y selección de los proyectos postulados.
          <br>
          iv. Canje o compraventa de servicios y productos entre usuarios.
          <br>
          v. Anuncios de servicios y productos.
          <br>
          vi. Gestionar lista de contactos y perfiles personales.
        </p>
        <p>
          2.2.– El Usuario entiende y acepta que las funcionalidades indicadas en la cláusula anterior podrán ser
          ampliadas y/o restringidas por Gazelook.com, en cualquier momento y a su sola discreción, según sus
          políticas, y planes de desarrollo tecnológico y comercial, lo cual será comunicado al Usuario a través
          del
          sitio Web o comunicados vía correo electrónico.
          <br>
          2.3.- La plataforma Gazelook.com podrá ser utilizada en todas las regiones que GAZELOOK-COM CIA LTDA
          autorice su acceso. En cualquier escenario, la legislación aplicable a este contrato será la de la
          República
          del Ecuador.
          <br>
          2.4.- Gazelook.com permitirá el intercambio de bienes y servicios lícitos entre los usuarios de la
          plataforma. Gazelook.com no se hace responsable de cualquier daño o perjuicio que sufra algún usuario a
          través de esta actividad, de igual forma no se hace responsable de garantizar los resultados de cada una
          de
          estas transacciones, el Usuario entiende y acepta que cualquier transacción, compraventa, permuta o
          interacción con otros usuarios con fines comerciales o que busque un beneficio personal o patrimonial,
          la
          realiza bajo su propio riesgo.
          <br>
          3.- GESTIÓN DE LA CUENTA DEL USUARIO EN LA PLATAFORMA GAZELOOK.COM
          <br>
          3.1 – Para poder acceder al registro y la apertura de una Cuenta en la plataforma Gazelook.com, el
          Usuario
          debe suministrar al menos la siguiente información personal: nombre de usuario a elegir, correo
          electrónico,
          una contraseña y tipo de cuenta, entre otra información.
          <br>
          3.2.- El Usuario podrá crear diferentes perfiles en su cuenta de acuerdo a sus preferencias:
          <br>
          i. Perfil Clásico: el usuario podrá elegir y subir sus fotos favoritas, su nombre de contacto y nombre e
          información que corresponda
          <br>
          ii. Perfil Lúdico: el usuario podrá subir fotos propias, cada vez que ingrese a la plataforma
          Gazelook.com
          aparecerán al azar cualquier de sus fotos subidas.
          <br>
          iii. Perfil Sustituto: le da la posibilidad al usuario de crear un perfil de alguien a quien desee
          sustituir, por ejemplo, el de su hijo o el de un ser querido que no puede hacer lo ha dejado. De igual
          forma, también puede ser un perfil con algún personaje inventado y un buen nombre de contacto.
          <br>
          iv. Perfil de Grupo: este pefil es útil para asociaciones, grupos, familias y amigos que deseen tener un
          proyecto común. Pueden subir fotos y un nombre de contacto representativo de todo el grupo.
          <br>
          3.3.– El Usuario no podrá ceder ni transferir su cuenta de Gazelook.com a ningún tercero.
          <br>
          3.4. – El contrato de la Cuenta de Gazelook.com del Usuario es por tiempo indefinido, sin embargo, podrá
          cerrar su Cuenta en cualquier momento enviando una solicitud al correo electrónico admin@gazelook.com.
          <br>
          3.5. – Gazelook.com podrá dar por terminado el contrato de la Cuenta del Usuario y cancelado su acceso
          en
          cualquier momento basado en causales objetivas y razonables o en los siguientes casos:
          <br>
          i. Si tenemos sospechas razonables de que se ha producido un uso fraudulento o no autorizado de la
          Cuenta
          del Gazelook.com;
          <br>
          ii. Si por dolo o negligencia el Usuario ha comprometido la seguridad de la plataforma Gazelook.com;
          <br>
          iii. Si realiza un uso no autorizado o no contemplado en estos Términos y Condiciones de la plataforma
          Gazelook.com;
          <br>
          iv. Por el incumplimiento del Usuario de las obligaciones establecidas en este contrato;
          <br>
          v. Cuando el Cliente suministre información falsa a Gazelook.com o cuando suministre la misma con
          respecto a
          un proyecto postulado en la plataforma Gazelook.com.
          <br>
          vi. Por el desacato o incumplimiento del Código de Conducta de Gazelook.com.
          <br>
          4. - SEGURIDAD DE LA INFORMACIÓN DE LA CUENTA GAZELOOK.COM
          <br>
          4.1.– GAZELOOK-COM CIA LTDA se compromete a implementar las mejores prácticas en materia de seguridad de
          la
          información garantizando al Usuario que la plataforma Gazelook.com conserve la información de manera
          confidencial, integra y disponible, así mismo implementa métodos de autenticación seguros en sus
          servidores
          que buscan alcanzar mayor seguridad para el Usuario.
          <br>
          4.2.– Gazelook.com cuenta en su servidor con un certificado de seguridad que le permite encriptar la
          información entre el navegador del USUARIO y el servidor de la plataforma www.Gazelook.com, el cual
          encripta
          la información a través de un algoritmo TLS y es firmado a su vez por un algoritmo SHA-256. Sin embargo,
          el
          Cliente entiende de los múltiples ciber riesgos que pueden surgir de las transacciones en línea, razón
          por
          la cual se comprometa a administrar con la máxima diligencia sus credenciales de acceso y asume la
          responsabilidad de su propia ciberseguridad, además de entender y procurar utilizar herramientas que le
          permitan lograr una navegación segura por Internet.
          <br>
          4.3.- Gazelook.com no está obligada a responder por hechos u omisiones que se puedan presentar por parte
          del
          Usuario, tales como ser víctima de phishing, de ingeniería social, malware, troyanos, backdoors,
          spyware,
          adware, ramsomware o de cualquier otra aplicación maliciosa que afecte el funcionamiento del dispositivo
          o
          que intercepte, monitoree, copie y acceda de manera ilegal al software o hardware del Usuario.
          <br>
          4.4.- El Usuario entiende y acepta de manera expresa que al tratarse de transacciones que se realizan
          por
          mecanismos no tradicionales, existen riesgos de fraude, suplantación de identidad, ataques ilegales
          masivos
          a dispositivos y servidores, y demás situaciones que son ajenas a Gazelook.com. Por lo tanto, el Usuario
          deberá siempre estar atento y asegurarse de estar en la URL correcta asociada al Sitio Web y no entregar
          información personal a personas que no sean las autorizadas por Gazelook.com.
          <br>
          4.5.– En materia de seguridad y gestión de datos personales, el Usuario de la plataforma Gazelook.com se
          obliga a lo siguiente:
          <br>
          i. Utilizar la plataforma Gazelook.com únicamente para fines legales.
          <br>
          ii. Implementar las mejores prácticas de ciberseguridad, así como aplicar todos los pasos razonables
          para
          conservar la contraseña de su cuenta de Gazelook.com y cualquier otra función de seguridad de forma
          segura
          en todo momento y nunca revelar cualquiera de las anteriores a nadie.
          <br>
          iii. Informar a Gazelook.com a través del email admin@gazelook.com de todo mensaje malicioso que reciba
          o de
          todo sitio web que esté utilizando la marca Gazelook.com y que genere sospechas por su apariencia o
          falta de
          credibilidad, así mismo si solicita la contraseña del Usuario u otras características de seguridad.
          NUESTRO
          PERSONAL NUNCA LE SOLICITARÁ QUE NOS PROPORCIONE LAS CREDENCIALES DE ACCESO A LA CUENTA DE GAZELOOK.COM,
          NI
          QUE LA PROPORCIONE A UN TERCERO.
          <br>
          iv. Cambiar la contraseña de acceso a la plataforma Gazelook.com al menos cada seis meses y cumplir con
          los requisitos indicados por la plataforma Gazelook.com para la creación de una contraseña segura.
          <br>
          v. Nunca permitir el acceso de un tercero a su cuenta de la plataforma Gazelook.com o permitir ser visto
          mientras ingresa la información de autenticación única del Usuario. El Usuario es responsable de todos
          los
          accesos a la plataforma Gazelook.com realizados con sus credenciales de acceso.
          <br>
          vi. Ponerse en contacto con Gazelook.com y reportar a admin@gazelook.com si tiene algún indicio o
          sospecha
          de pérdida, robo, apropiación indebida, uso sin autorización o cualquier otro acto que comprometiera la
          cuenta de la plataforma Gazelook.com del Usuario, así mismo como datos de inicio de sesión, contraseña u
          otra característica de seguridad.
          <br>
          vii. Utilizar dispositivos seguros para correr la plataforma Gazelook.com, así como tener software con
          licencia, un antivirus y herramientas de seguridad en el dispositivo móvil o la computadora personal, de
          esta forma prevenir de manera proactiva ataques de malware, virus, troyanos, keyloggers, botnets,
          spyware,
          adware, ramsomware y otros programas maliciosos que puedan robar los datos personales del Usuario.
          <br>
          viii. Adoptar las medidas razonables para asegurarse de que sus cuentas de correo electrónico sean
          seguras y
          que solo el Usuario pueda acceder a ellas, ya que el correo electrónico del Usuario puede utilizarse
          para
          restablecer contraseñas o para el envío de comunicaciones respecto a la seguridad de la cuenta de la
          plataforma Gazelook.com. En el caso de que la seguridad de cualquiera de los correos electrónicos
          vinculados
          a la cuenta de la plataforma Gazelook.com se vieran comprometidos o afectados, el Usuario deberá ponerse
          en
          contacto a la brevedad con Gazelook.com a través del correo admin@gazelook.com y reportar la situación.
          <br>
          ix. No utilizar ninguna función para grabar sus Credenciales de acceso y autenticación en el navegador,
          ni
          que dicha información se registre en software o plataformas tecnológicas de terceros de ninguna manera.
          <br>
          5. – PROPIEDAD INTELECTUAL
          <br>
          5.1 - Todos los contenidos tales como pero no limitados a marcas, textos, videos, fotografías, imágenes,
          software, código fuente, diseño de página Web, gráficos, colores e interfaces de Usuarios son propiedad
          intelectual exclusiva de Gazelook.com o dispone de los permisos necesarios de terceros para su
          utilización,
          en consecuencia no podrán ser reproducidos, copiados, pegados, enlazados, transmitidos, distribuidos o
          manipulados de cualquier forma, sin la autorización previa y por escrito de Gazelook.com.
          <br>
          5.2 - El Usuario entiende y acepta que la utilización de la plataforma Gazelook.com o la visita o
          navegación
          del Sitio Web, no implica ninguna licencia, cesión de derechos, cesión de patente o autoriza la
          explotación
          o disposición de cualquier forma de la propiedad intelectual de los activos digitales de Gazelook.com o
          terceros. Cualquier incumplimiento por parte del Usuario a lo dispuesto en esta cláusula, facultará a
          Gazelook.com a deshabilitar en forma inmediata el acceso a la plataforma Gazelook.com y al Sitio Web y a
          tomar las acciones legales que estime pertinentes, para sentar las responsabilidades civiles y penales
          que
          correspondan.
          <br>
          5.3 - El Usuario está autorizado a reproducir total o parcialmente, así como compartir por cualquier
          otro
          medio electrónico o físico, información relacionada a los servicios de la plataforma Gazelook.com con el
          propósito de dar a conocer las cualidades relativas a la plataforma y sus beneficios, para lo cual
          deberá
          incluir el hipervínculo al Sitio Web o a las redes sociales de Gazelook.com. El Usuario ni nadie
          diferente a
          los representantes de Gazelook.com están autorizados a comercializar la plataforma Gazelook.com ni sus
          servicios asociados. Todo uso o modificación del material o de los contenidos para cualquier otro fin
          distinto del autorizado será considerado una violación de las leyes de la República del Ecuador e
          internacionales, que protegen los derechos de autor y la propiedad intelectual.
          <br>
          5.4.- Cualquier contenido (imágen, texto, video, gráfico, etc) que el usuario publique en la plataforma
          Gazelook es de su propiedad, sin embargo, el usuario acepta otorgarnos una licencia no exclusiva sobre
          dichos contenidos y transferible para que Gazelook.com pueda usar cualquier de tus contenidos, dicha
          licencia terminará el día que el Usuario cierre su Cuenta en Gazelook.com.
          <br>
          5.5 - El incumplimiento de las disposiciones contenidas en esta sección, facultarán a Gazelook.com a
          reclamar daños y perjuicios al Usuario, así como a reclamar cualquier responsabilidad penal, comercial,
          civil o administrativa, si existiere, conforme a la legislación de la República del Ecuador.
          <br>
          6.- JURISDICCIÓN Y LEY APLICABLE.
          Las partes acuerdan resolver las controversias originadas de estos Términos y Condiciones de Uso y
          Contratación a través de los tribunales de la República del Ecuador y/o las autoridades correspondientes
          en
          materia de protección al cliente cuando así aplique. Así mismo serán válidos y si las partes lo
          acuerdan,
          acudir a las instancias pertinentes a la conciliación, mediación, arbitraje y en general a los centros
          de
          resolución de conflictos disponibles en el país.
          <br>
          7.- MODIFICACIÓN DE TÉRMINOS Y CONDICIONES:
          <br>
          7.1 - El Usuario entiende y acepta que los presentes Términos y Condiciones de Uso y Contratación podrán
          ser
          revisados y modificados por Gazelook.com en cualquier momento, mediante la publicación de una nueva
          versión
          de estos Términos en el Sitio Web. Se entiende que no existe ninguna obligación por parte de
          Gazelook.com de
          notificar individualmente el Usuario de los cambios realizados, sino que los mismos serán publicados en
          el
          Sitio Web para su conocimiento.
          <br>
          7.2 - El Usuario ACEPTA que ha leído y comprendido los presentes “TÉRMINOS Y CONDICIONES DE USO DE LA
          PLATAFORMA GAZELOOK.COM” y de igual forma sus partes integrales establecidas en el aparte 1.6, por lo
          cual
          al hacer click en el recuadro “Aceptar”, así como navegar y utilizar la plataforma Gazelook.com, deja
          constancia expresa que los acepta de manera libre y consciente habiendo de su parte revisado
          satisfactoriamente la información la cual considera adecuada y suficiente.
          Cualquier comentario, consulta u observación relativa a estos Términos y Condiciones, la puede el
          Usuario a
          través del correo electrónico admin@gazelook.com.
          <br>
          Última actualización: 12 octubre 2021.

        </p>
      </div>
      <div *ngIf="docLegalMostar === 2">

        <p>
          POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS PERSONALES
          <br>
          En esta Política de Privacidad y Protección de Datos, se regula y se establecen las medidas y procedimientos
          necesarios para garantizar el Derecho de la Autodeterminación Informativa de los Usuarios que comparten sus
          datos personales con la plataforma tecnológica Gazelook.com (en adelante el Sitio Web) y en general con
          GAZELOOK-COM CIA LTDA, con RUC 1191791149001, con domicilio en Finca Altamira 110119, San Pedro de Vilcabamba,
          Loja, Ecuador, correo electrónico admin@gazelook.com (en adelante GAZELOOK.COM o el Responsable) y los
          perfiles
          en redes sociales asociadas al Sitio Web o al Responsable.
          Consentimiento Informado
          <br>
          El titular de los datos (el USUARIO) OTORGA SU CONSENTIMIENTO INFORMADO DE MANERA LIBRE, ESPECÍFICA, EXPRESA,
          INFORMADA E INEQUÍVOCA al Responsable para que realice el tratamiento de los datos personales del USUARIO de
          acuerdo a lo establecido en esta política de privacidad, avalando además dicho consentimiento, aceptación y su
          comprensión a través de cualquier plataforma de mensajería o plataforma de comunicación electrónica con la que
          se ponga en contacto con GAZELOOK.COM, o haciendo clic en la casilla de aceptación ubicada en los formularios
          de
          registro dispuestos por GAZELOOK.COM en cada uno de los formularios del sitio Web de este último.
          <br>
          La negativa del USUARIO a OTORGAR ESTE CONSENTIMIENTO INFORMADO AL RESPONSABLE, restringe la posibilidad del
          USUARIO de adquirir los servicios y ofrecidos por GAZELOOK.COM, de registrarse en la plataforma Gazelook.com y
          de contactar a GAZELOOK.COM a través de los canales de comunicación digital dispuestos por éste, así como en
          sus
          redes sociales.
          <br>
          En virtud de lo anterior, la aceptación del consentimiento informado por parte del USUARIO incluye la
          autorización expresa para que el Responsable realice el tratamiento de datos personales de acuerdo a las
          siguientes disposiciones:
          <br>
          1.- Responsable del tratamiento de datos
          GAZELOOK-COM CIA LTDA, con RUC 1191791149001, con domicilio en Finca Altamira 110119, San Pedro de Vilcabamba,
          Loja, Ecuador, correo electrónico admin@gazelook.com, es de ahora en adelante el Responsable y encargado de
          recopilar, administrar, realizar el tratamiento y decidir la finalidad de los datos personales que los
          USUARIOS
          otorgan a GAZELOOK.COM.
          <br>
          2.- Datos personales objeto de tratamiento
          <br>
          Entiéndase dato personal como cualquier dato relativo a una persona física identificada o identificable, en
          consecuencia, para el cumplimiento de la finalidad aquí establecida, el Responsable recabará a través de la
          plataforma Gazelook.com, los formularios web y plataformas de mensajería electrónica, o en los perfiles de
          redes
          sociales de GAZELOOK.COM, los siguientes datos personales: nombre completo, correo electrónico, número de
          teléfono, número de documento de identidad o pasaporte, fotografía personal, domicilio real, dirección IP,
          geolocalización, metadatos del navegador o del dispositivo móvil como número IMEI, marca y modelo, así como
          cualquier otro dato personal necesario para la eficiente prestación de los servicios ofrecidos por
          GAZELOOK.COM.
          Esta Política cubre todos los datos personales recolectados y tratados por el Responsable.
          <br>
          El USUARIO se compromete a que la información que proporcione durante el proceso de registro, o en cualquier
          momento posterior, deberá ser precisa, actualizada y veraz. En caso de que GAZELOOK.COM lo considere
          necesario,
          podrá solicitar toda clase de documentación e información personal adicional al USUARIO, lo cual requerirá
          mediante correo electrónico o a través de plataforma tecnológica Gazelook.com. En caso de que el USUARIO no
          presente la documentación y/o información requerida dentro de las setenta y dos horas siguientes al envío de
          la
          solicitud, el acceso a la plataforma podrá ser suspendido por GAZELOOK.COM.
          <br>
          3.- Finalidad del tratamiento de los datos personales
          <br>
          Cuando los USUARIOS interactúan con la plataforma Gazelook.com a través del Sitio Web o cualquiera de los
          servicios, productos o tecnologías dispuestos por Gazelook.com, la finalidad de la recopilación y el
          tratamiento
          de los datos personales será el registro, identificación y autenticación plena y veraz para el acceso a la
          plataforma Gazelook.com por parte del USUARIO; realizar Analítica Web de la actividad del USUARIO en el sitio
          Web y la plataforma Gazelook.com con el propósito de mejorar la experiencia de usuario; análisis de navegación
          del USUARIO en los perfiles de Redes Sociales del Responsable, envío de correos electrónicos; contacto a
          través
          de Redes Sociales; contacto a través de servicios de mensajería; llamadas telefónicas; campañas de publicidad
          en
          motores de búsqueda y Redes Sociales; análisis de riesgos, vigilancia e investigación de actividades ilícitas
          de
          acuerdo a la normativa relacionada al lavado de Activos y Financiación del Terrorismo o falta de Transparencia
          Tributaria; encuestas, segmentación de mercados para mejorar los servicios y la toma de decisiones del
          servicio
          al usuario y la adquisición de nuevos usuario, entre otros fines lícitos y necesarios para la correcta
          prestación de los servicios ofrecidos por GAZELOOK.COM y sus aliados comerciales.
          <br>
          4.- Tiempo de conservación de los datos personales
          <br>
          Los datos personales del USUARIO se conservarán por un plazo máximo de 4 años a partir de la última fecha de
          actividad del USUARIO con la plataforma Gazelook.com. Sin embargo, sólo serán conservados durante el tiempo
          mínimo necesario para los fines del tratamiento especificados en el punto (3), o hasta que el USUARIO solicite
          su supresión, en cuyo caso únicamente serán conservados por el Responsable los datos necesarios para el
          ejercicio o la defensa de reclamaciones futuras y excepciones de ley.
          5.- Destinatario y acceso de los datos personales
          <br>
          El Responsable es el destinatario final de los datos personales del USUARIO. Tendrán acceso a estos datos el
          Responsable, los colaboradores que el Responsable disponga para este propósito, así como empresas
          pertenecientes
          al mismo grupo de interés económico del Responsable. Sin embargo durante el tratamiento y el cumplimiento de
          la
          finalidad establecida en el punto 3 (tres) el USUARIO entiende y acepta que el Responsable podría compartir
          sus
          datos personales a un encargado, proveedor de servicios o intermediario tecnológico o a las empresas del mismo
          grupo de interés económico del Responsable. Por su parte, el Responsable se compromete a que dichos terceros o
          encargados cumplan con las garantías mínimas en materia de Protección de Datos Personales establecidas por las
          leyes internacionales.
          <br>
          Del mismo modo, el USUARIO OTORGA SU CONSENTIMIENTO INFORMADO en este acto para que el Responsable transfiera
          sus datos personales en caso de fusiones, escisiones, adquisiciones o alianzas estratégicas con terceros,
          entendido esto como la necesaria transferencia de activos de una empresa a otra, siempre que esta nueva
          transformación societaria involucre la misma finalidad de tratamiento establecida en el punto 3 (tres). En
          todos
          los casos anteriores, el Responsable garantizará que el nuevo responsable receptor de datos personales cumpla
          las mismas obligaciones a las que se encuentra sujeto GAZELOOK.COM.
          <br>
          El USUARIO entiende que sus datos personales podrán ser compartidos con las autoridades en caso de ser
          requeridos para investigaciones legales u otras diligencias que disponga la ley y de acuerdo a los
          procedimientos legítimos establecidos para este propósito en la normativa internacional.
          <br>
          5.1.- Servicios de terceros
          <br>
          El Responsable para el cumplimiento de las finalidades, utiliza los siguientes servicios de terceros, lo cual
          involucra el tratamiento por parte de estos terceros, de algunos datos que podrían considerarse como datos
          personales:
          <br>
          I. Servicios Google: Este sitio a través del uso cookies implementa funcionalidades de Google, como Google
          Analitics y Google Ads, los cuales permiten realizar un análisis de como el Usuario utiliza y navega a través
          de
          este sitio web. Con el propósito de crear un perfil del comportamiento del USUARIO para mostrarle anuncios en
          los sitios asociados de Google LLC.
          <br>
          Datos de la empresa: Google LLC, 1600 Amphitheatre Parkway, Mountain View, CA 94043
          <br>
          Ver Política de Privacidad Propia de Google
          <br>
          II. Facebook: El sitio web podría incluir el pixel de Facebook, éste es una porción de Javascript que el
          Responsable inserta en el código del sitio web. El pixel de Facebook puede recopilar datos del USUARIO como:
          la
          dirección IP, información sobre el navegador web, ubicación de la página, origen de referencia y persona que
          usa
          el sitio web o los botones o links en los que hace clic el Usuario. Estos datos después son utilizados por
          Facebook y el Responsable para crear campañas de Marketing o mostrar anuncios al Usuario de temáticas a fin a
          los intereses del Usuario.
          <br>
          Datos de la empresa: Facebook, Inc., ATTN: Privacy Operations, 1601 Willow Road, Menlo Park, CA 94025.
          Ver Política de Privacidad Propia de Facebook
          <br>
          III. Twitter: Este sitio web a través de cookies y tecnologías similares como pixeles y almacenamiento local,
          puede recopilar datos del USUARIO como: la dirección IP, información sobre el navegador web, ubicación de la
          página, origen de referencia y persona que usa el sitio web o los botones o links en los que hace clic el
          Usuario. Estos datos después son utilizados por Twitter y el Responsable para crear campañas de Marketing o
          mostrar anuncios al Usuario de temáticas a fin a los intereses del Usuario.
          <br>
          Datos de la empresa: Twitter, Inc., 355 Market St #900, San Francisco, CA 94103.
          <br>
          Ver Política de Privacidad Propia de Twitter
          <br>
          IV. Amazon: Los servicios de Amazon en la nube son los contratados y utilizados por el responsable para operar
          este sitio web, los datos personales de los usuarios envíados al responsable serán compartidos con Amazon a
          través de su propia infraestructura segura para la correcta prestación del servicio de hosting y otros
          servicios
          relacionados.
          <br>
          Ver Política de Privacidad Propia de Amazon
          <br>
          V. Mapbox: Este sitio web a través de cookies y tecnologías similares puede recolectar datos del USUARIO como:
          la dirección IP, tipo de navegador y dispositivo utilizados, tipo de sistema operativo utilizado, ubicación de
          la página, fecha y hora de la visita al sitio web, y las páginas accesadas dentro del sitio web.
          <br>
          Datos de la empresa: Mapbox, Inc., 740 15th Streeth Northwest Suite 500, Washington, DC, 20005.
          <br>
          Ver Política de Privacidad Propia de Mapbox
          <br>
          VI. MongoDB: A través de esta empresa el responsable gestiona la base de datos del sitio web la cual incluye
          los
          datos personales de los usuarios y otra información necesaria para operar los servicios ofrecidos por el
          responsable.
          <br>
          Ver Política de Privacidad de MondoDB
          <br>
          5.3.- Servicios de Pago
          <br>
          El pago de todos los cargos relacionados a los servicios que brinda la plataforma será tramitado a través de
          la
          pasarela de pagos Paymentez.com.ec y Stripe.com. El USUARIO entiende que estas pasarelas de pago podrán
          solicitar información personal de acuerdo a su propia política de privacidad con la finalidad de tramitar los
          pagos respectivos.
          <br>
          6.- Principios aplicados al tratamiento de datos
          <br>
          El Responsable se compromete a través de esta Política a recolectar, almacenar o emplear datos personales para
          su tratamiento automatizado o manual, en apego a los principios de actualidad de los datos, minimización,
          veracidad, integridad y confidencialidad, exactitud, transparencia y adecuación al fin.
          <br>
          7.- Derechos del USUARIO
          <br>
          De conformidad con el Reglamento General de Protección de Datos de la Unión Europea (GDPR), la Ley de
          Protección
          al Consumidor de California (CCPA) y la Ley Orgánica del Protección de Datos de la República de Ecuador, el
          USUARIO tiene los siguientes derechos respecto a los datos personales recabados y tratados por el Responsable:
          <br>
          7.1.- Derecho a estar informado
          <br>
          El USUARIO tiene derecho a saber conocer cómo serán recolectados, procesados y almacenados, y con qué
          propósitos, los datos que proporcionará al Responsable, antes de proporcionarlos. Dicha información se
          encuentra
          disponibles en las presentes Políticas De Privacidad y Protección De Datos Personales y en los Términos y
          Condiciones de Uso www.gazelook.com/politicas.
          <br>
          7.2.- Acceso a la información
          <br>
          • Solicitar al Responsable la confirmación o no de la existencia de datos del USUARIO en archivos o bases de
          datos en control del Responsable.
          <br>
          • Informar el uso que se le están dando a los datos personales del USUARIO, su finalidad y los términos
          técnicos
          utilizados para realizar el tratamiento de datos por parte del Responsable.
          <br>
          7.3.- Derecho de rectificación
          <br>
          El USUARIO tiene el derecho de obtener la rectificación de los datos personales y su actualización o la
          eliminación de estos cuando se hayan tratado con infracción a las disposiciones legales, en particular a causa
          del carácter incompleto o inexacto de los datos, o hayan sido recopilados sin autorización del titular.
          <br>
          7.4.- Derecho de Revocación
          <br>
          El USUARIO podrá revocar su consentimiento informado para el tratamiento de sus datos personales por parte del
          Responsable, en cuyo caso únicamente serán conservados por el Responsable los datos necesarios para el
          ejercicio
          o la defensa de reclamaciones futuras.
          <br>
          7.5.- Derecho de supresión o eliminación
          <br>
          El USUARIO podrá solicitar en cualquier momento al Responsable, la supresión o eliminación total o parcial de
          los datos personales del titular, de manera definitiva, en cuyo caso únicamente serán conservados por el
          Responsable los datos necesarios para el ejercicio o la defensa de reclamaciones futuras. Las excepciones a la
          eliminación de datos personales serán las establecidas por ley.
          <br>
          7.6.- Derecho al opt-out
          <br>
          El USUARIO podrá solicitar en cualquier momento al Responsable, detener la transferencia de los datos
          personales
          del titular a terceros.
          <br>
          7.7.- Derecho de Portabilidad
          <br>
          El USUARIO tiene el derecho de mover, copiar, o transferir sus datos personales de un controlador a otro, de
          una
          forma segura, en un formato legible y comúnmente usado.
          <br>
          Para el ejercicio de cualquiera de estos derechos, el USUARIO deberá dirigir una comunicación por escrito al a
          la dirección de correo electrónico intern@gazelook.com, incluyendo una fotocopia de su documentación de
          identidad o pasaporte y toda la información relevante a su solicitud.
          <br>
          8. - Secreto y seguridad de los datos personales
          <br>
          El Responsable está comprometido a proteger los datos personales de los USUARIOS y tomar todas las medidas
          razonables para hacerlo. También exige que terceros de confianza que manejen sus Datos personales tengan las
          medidas pertinentes de acuerdo a los riesgos identificados.
          <br>
          El Responsable siempre hace todo lo posible para proteger sus Datos personales y, una vez que ha recibido su
          información personal, emplea procedimientos estrictos y funciones de seguridad para tratar de evitar el acceso
          no autorizado. Dado que el envío de información por Internet no es completamente seguro, no puede garantizar
          la
          seguridad de sus datos enviados a través de la plataforma Gazelook.com. Por lo tanto, cualquier información
          que
          se envía será bajo el riesgo del USUARIO.
          <br>
          9.- Modificación de la Política de Privacidad y Protección de Datos Personales
          <br>
          El USUARIO entiende y acepta que la presente Política de Privacidad y Protección de Datos Personales podrá ser
          revisada y modificada por GAZELOOK.COM en cualquier momento, mediante la publicación de una nueva versión en
          el
          Sitio Web o en la plataforma Gazelook.com. Además, entiende el USUARIO que es su obligación y responsabilidad
          mantenerse informado de las noticias y acontecimientos que GAZELOOK.COM publique en su plataforma. Se entiende
          que no existe ninguna obligación por parte de GAZELOOK.COM de notificar individualmente al USUARIO de los
          cambios realizados, sino que los mismos serán publicados en la plataforma Gazelook.com.
          <br>
          El USUARIO acepta que ha leído y comprendido la presente “POLÍTICA DE PRIVACIDAD Y PROTECCIÓN DE DATOS
          PERSONALES, y al hacer clic en el recuadro y seleccionar la casilla “Aceptar”, así como utilizar la plataforma
          Gazelook.com, deja constancia expresa que acepta estas disposiciones de manera libre y consciente habiendo de
          su
          parte revisado satisfactoriamente la información la cual considera adecuada y suficiente.
          Última actualización: octubre 2021
        </p>

      </div>
      <div *ngIf="docLegalMostar === 3">
        <p>
          POLÍTICA DE USO DE COOKIES DE LA PLATAFORMA GAZELOOK.COM
          <br>
          1. ¿QUÉ SON LAS COOKIES?
          <br>
          Las cookies son cualquier tipo de archivo creado en el navegador del usuario para almacenar y registrar datos
          que se utilicen en el equipo terminal de un usuario, con la finalidad de almacenar información y recuperar la
          información ya almacenada.
          <br>
          Las cookies permiten el almacenamiento en el terminal del usuario de cantidades de datos que van de unos pocos
          kilobytes a varios megabytes.
          <br>
          2. USO DE COOKIES POR PARTE DE GAZELOOK.COM
          <br>
          Gazelook.com puede utilizar las Cookies, más no limitarse, para los siguientes fines:
          <br>
          a. Para identificar y autenticar al usuario cuando ingresa al sitio web.
          <br>
          b. Para mantener activa la sesión del usuario una vez ya se ha autenticado en el área
          <br>
          c. Para ofrecer al usuario contenidos e información más acordes a sus intereses y facilitar su navegación a
          través de nuestra plataforma.
          <br>
          d. Para mantener un registro de las preferencias del Usuario y ofrecer un acceso más rápido y amigable.
          <br>
          e. Para poder realizar campañas de marketing más precisas en redes sociales de terceros.
          <br>
          3. TIPOS DE COOKIES
          <br>
          Gazelook podría utilizar los siguientes tipos de Cookies de acuerdo a su finalidad:
          <br>
          a. En función de su duración:
          <br>
          I. Cookies de sesión: son aquellas diseñadas para recabar y almacenar datos mientras el usuario accede a una
          página web. Se suelen emplear para almacenar información que solo interesa conservar para la prestación del
          servicio solicitado por el usuario en una sola ocasión (por ejemplo, una lista de productos adquiridos) y
          desaparecen al terminar la sesión.
          <br>
          II. Cookies persistentes: son aquellas en las que los datos siguen almacenados en el terminal y pueden ser
          accedidos y tratados durante un periodo definido por el responsable de la cookie, y que puede ir de unos
          minutos a varios años.
          <br>
          b. En función de quién crea la Cookie:
          <br>
          I. Cookies propias: son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio
          gestionado por el propio editor y desde el que se presta el servicio solicitado por el usuario.
          <br>
          II. Cookies de terceros: son aquellas que se envían al equipo terminal del usuario desde un equipo o dominio
          que no es gestionado por el editor, sino por otra entidad que trata los datos obtenidos través de las cookies.
          <br>
          c. En función de la finalidad para la que se traten los datos obtenidos:
          <br>
          I. Cookies técnicos: son aquellas que permiten al usuario la navegación a través de una página web, plataforma
          o aplicación y la utilización de las diferentes opciones o servicios que en ella existan, incluyendo aquellas
          que el editor utiliza para permitir la gestión y operativa de la página web y habilitar sus funciones y
          servicios, como, por ejemplo, controlar el tráfico y la comunicación de datos, identificar la sesión, acceder
          a partes de acceso restringido, recordar los elementos que integran un pedido, realizar el proceso de compra
          de un pedido, gestionar el pago, controlar el fraude vinculado a la seguridad del servicio, realizar la
          solicitud de inscripción o participación en un evento, contar visitas a efectos de la facturación de licencias
          del software con el que funciona el servicio (sitio web, plataforma o aplicación), utilizar elementos de
          seguridad durante la navegación, almacenar contenidos para la difusión de vídeos o sonido, habilitar
          contenidos dinámicos (por ejemplo, animación de carga de un texto o imagen) o compartir contenidos a través de
          redes sociales.
          <br>
          II. Cookies de personalización: son aquellas que permiten recordar información para que el usuario acceda al
          servicio con determinadas características que pueden diferenciar su experiencia de la de otros usuarios, como,
          por ejemplo, el idioma, el número de resultados a mostrar cuando el usuario realiza una búsqueda, el aspecto o
          contenido del servicio en función del tipo de navegador a través del cual el usuario accede al servicio o de
          la región desde la que accede al servicio, etc.
          <br>
          III. Cookies de análisis o medición: son aquellas que permiten al responsable de las mismas el seguimiento y
          análisis del comportamiento de los usuarios de los sitios web a los que están vinculadas, incluida la
          cuantificación de los impactos de los anuncios. La información recogida mediante este tipo de cookies se
          utiliza en la medición de la actividad de los sitios web, aplicación o plataforma, con el fin de introducir
          mejoras en función del análisis de los datos de uso que hacen los usuarios del servicio.
          <br>
          IV. Cookies de publicidad comportamental: son aquellas que almacenan información del comportamiento de los
          usuarios obtenida a través de la observación continuada de sus hábitos de navegación, lo que permite
          desarrollar un perfil específico para mostrar publicidad en función del mismo.
          <br>
          4. TIPOS DE COOKIES USADAS EN ESTE SITIO WEB
          <br>
          4.1. Cookies de terceros:
          Las siguientes son las Cookies de terceros que actualmente utiliza el Sitio Web:
          <br>
          Cookies de Google Analytics
          Google Analytics admite tres bibliotecas JavaScript (etiquetas) para medir el uso de los sitios web: gtag.js,
          analytics.js y ga.js, que usan cookies que almacenan información técnica para generar estadísticas de uso del
          portal (páginas visitadas, nuevas visitas, etc). En este sitio web utilizamos la amonificación de IP en Google
          Analytics, para evitar el almacenamiento de la información de las direcciones IP completas de los usuarios:
          <br>
          • Google Analytics es un servicio de Google que garantiza que todos los datos transferidos serán tratados con
          un nivel de protección acorde a la normativa europea.
          <br>
          • Política de Privacidad de Google: https://policies.google.com/privacy/update?hl=es.
          <br>
          • Uso de las cookies de Google Analytics en Sitios Web:
          https://developers.google.com/analytics/devguides/collection/gtagjs/cookie-usage?hl=es.
          <br>
          • Cómo utiliza Google la información de sitios web o aplicaciones que utilizan sus servicios:
          https://policies.google.com/technologies/partner-sites.
          <br>
          Cookies utilizadas por gtag.js y analytics.js:
          <br>
          Nombre de la cookie Duración Descripción
          <br>
          _ga 2 año Se usa para distinguir a los usuarios.
          <br>
          _gid 24 horas Se usa para distinguir a los usuarios.
          <br>
          _gat 1 minuto Se usa para limitar el porcentaje de solicitudes. Si has implementado Google Analytics mediante
          <br>
          Google Tag Manager, esta cookie se llamará _dc_gtm_ < property-id>
            AMP_TOKEN 30segundos a 1 año Incluye un token que se puede utilizar para recuperar un ID de cliente del
            servicio de ID de cliente de AMP. Otros posibles valores indican inhabilitaciones, solicitudes en curso o
            errores obtenidos al recuperar un ID del servicio de ID de cliente de AMP.
            <br>
            _gac_< property-id> 90 días Incluye información de la campaña relativa al usuario. Si has vinculado tus
              cuentas de Google Analytics y AdWords, las etiquetas de conversión de sitios web leerán esta cookie, a
              menos que la inhabilites.
              <br>
              Cookies utilizadas por ga.js:
              <br>
              Nombre de la cookie Duración Descripción
              <br>
              _ _utma 2 años a partir de la configuración o actualización Se usa para distinguir usuarios y sesiones. La
              cookie se crea cuando se ejecuta la biblioteca JavaScript y no hay ninguna cookie _ _utma. La cookie se
              actualiza cada vez que se envían datos a Google Analytics.
              <br>
              _ _utmt 10 minutos Se usa para limitar el porcentaje de solicitudes.
              <br>
              _ _utmb 30 minutos a partir de la configuración o actualización Se usa para determinar nuevas sesiones o
              visitas. La cookie se crea cuando se ejecuta la biblioteca JavaScript y no hay ninguna cookie _ _utmb para
              determinar si el usuario estaba en una nueva sesión o visita.
              <br>
              _ _utmc Fin de la sesión del navegador No se usa en ga.js. Se configura para interactuar con urchin.js.
              Anteriormente, esta cookie actuaba junto con la cookie
              <br>
              _ _utmb para determinar si el usuario estaba en una
              nueva sesión o visita.
              <br>
              _ _utmz 6 meses a partir de la configuración o actualización Almacena la fuente de tráfico o la campaña
              que explica cómo ha llegado el usuario al sitio. La cookie se crea cuando se ejecuta la biblioteca
              JavaScript y se actualiza cada vez que se envíen datos a Google Analytics.
              <br>
              _ _utmv 2 años a partir de la configuración o actualización Se usa para almacenar datos de variables
              personalizadas de visitante. Esta cookie se crea cuando un programador usa el método _setCustomVar con una
              variable personalizada de visitante. También se usaba para el método _setVar retirado. La cookie se
              actualiza cada vez que se envíen datos a Google Analytics.
              <br>
              Cookies de Youtube
              <br>
              En este sitio web insertamos vídeos de YouTube usando el modo de privacidad mejorada de YouTube. Al
              activar este modo, YouTube no almacena información sobre las personas que visitan este sitio web, a menos
              que reproduzcan el vídeo. De este modo se pueden llegar a crear cookies en su ordenador en el caso de que
              visualice alguno de estos videos, pero no obstante YouTube no guardará ningún tipo de información personal
              que le permita identificarle por el hecho de visualizar un video con el modo de privacidad mejorada.
              <br>
              • Para saber más puede visitar “Gestión de opciones de inserción de vídeos en youtube”:
              https://support.google.com/youtube/answer/171780?hl=es.
              <br>
              • Tipos de Cookies utilizadas por youtube: https://policies.google.com/technologies/types?hl=es&gl=es.
              <br>
              Nombre de la cookie Duración Descripción
              <br>
              GPS anual cookie youtube.com
              <br>
              PREF 8 meses preferencias de visualización de vídeos
              <br>
              VISITOR_INFO1_LIVE semestral seguimiento de los videos incrustados
              <br>
              YSC sesión control de visitas de los videos
              <br>
              Cookies de Facebook
              <br>
              Utilizamos el Píxel de Facebook que utiliza cookies con la finalidad de proporcionar servicios de medición
              y anuncios segmentados. El píxel de Facebook se utiliza para publicidad y análisis, lo que permite usar
              funciones de publicidad, como los públicos, las conversiones, la segmentación y la optimización, y los
              datos de Facebook Analytics.
              <br>
              • Política de Privacidad Facebook
              <br>
              https://www.facebook.com/about/privacy/update/printable.
              <br>
              • Política de Cookies de Facebook
              https://www.facebook.com/policy/cookies/printable
              <br>
              • Los visitantes del sitio web pueden consultar la configuración de los anuncios de Facebook y actualizar
              sus preferencias en cualquier momento.
              <br>
              Cookies para el píxel de Facebook:
              <br>
              Nombre de la cookie Descripción Función Expira
              <br>
              Facebook - _fbp Esta cookie ayudará a entregar nuestra publicidad a las personas que ya visitaron nuestro
              sitio web cuando están en Facebook o en una plataforma digital impulsada por Facebook Advertising.
              Targeting/ Re-marketing cookies Sesión
              <br>
              5. CÓMO VISUALIZAR LAS COOKIES DE ESTE SITIO WEB
              Todos los navegadores ofrecen al usuario la posibilidad de buscar y visualizar las cookies que instala un
              determinado sitio web, obtener información relativa a la duración de las mismas y la posibilidad de
              eliminarlas, tal y como se indica en el siguiente apartado. A continuación se muestran una serie de
              enlaces informativos sobre esta cuestión de los navegadores más utilizados:
              <br>
              Google Chrome:
              <br>
              https://support.google.com/chrome/answer/95647?hl=es
              <br>
              Mozilla Firefox:
              <br>
              https://support.mozilla.org/es/kb/habilitar-y-deshabilitar-cookies-sitios-web-rastrear-preferencias
              <br>
              Internet Explorer:
              <br>
              https://support.microsoft.com/es-es/kb/278835

              <br>
              6. CÓMO BORRAR LAS COOKIES
              <br>
              Debido a que las Cookies se almacenan en el disco duro del USUARIO y pueden ser usadas por el navegador en
              cualquier momento, el USUARIO en todo momento, podrá deshabilitar o eliminar manualmente las cookies ya
              instaladas o almacenadas siguiendo estos procedimientos de acuerdo al navegador que utilice:
              <br>
              • Firefox
              <br>
              • Chrome
              <br>
              • Internet Explorer
              <br>
              • Safari
              <br>
              • Safari para iPhone, iPad o iPod Touch
              <br>
              De igual forma si el USUARIO desea navegar de manera anónima a través de nuestro sitio Web, puede hacerlo
              a través del navegador TOR o utilizar el navegador BRAVE para bloquear todo tipo de publicidad.
              <br>
              7. ACTUALIZACIÓN Y CAMBIOS EN LA POLÍTICA DE COOKIES
              <br>
              El Usuario entiende y acepta que las presentes POLÍTICAS DE USO DE COOKIES DE LA PLATAFORMA GAZELOOK.COM
              podrán ser revisados y modificados por Gazelook.com en cualquier momento, mediante la publicación de una
              nueva versión de estos Términos en el Sitio Web. Se entiende que no existe ninguna obligación por parte de
              Gazelook.com de notificar individualmente el Usuario de los cambios realizados, sino que los mismos serán
              publicados en el Sitio Web para su conocimiento.
              <br>
              8. CONSENTIMIENTO INFORMADO
              <br>
              El Usuario ACEPTA que ha leído y comprendido las presentes “POLÍTICAS DE USO DE COOKIES DE LA PLATAFORMA
              GAZELOOK.COM” y al hacer clic en el recuadro “Aceptar”, así como utilizar la plataforma Gazelook.com, deja
              constancia expresa que los aceptan de manera libre y consciente habiendo de su parte revisado
              satisfactoriamente la información la cual considera adecuada y suficiente.
              <br>
              Cualquier comentario, consulta u observación relativa a estos Términos y Condiciones, la puede el Usuario
              a través del correo electrónico admin@gazelook.com.
              <br>

        </p>
      </div>
      <div *ngIf="docLegalMostar === 4">
        <p>
          CÓDIGO DE CONDUCTA Y REGLAS DE LA PLATAFORMA GAZELOOK.COM
          <br>

          1.- Gazelook.com es una red social respetuosa en que las relaciones humanas se reconstruyan en parámetros
          lúdicos, poéticos, filosóficos y espirituales. Por tal razón y con el propósito de mantener un ambiente en
          armonía, respeto y apegado a los mejores principios éticos y morales, los usuarios de Gazelook.com, deberán
          respetar todas y cada una de las siguientes disposiciones mientras interactúen con otros usuarios o con los
          administradores de la plataforma:
          <br>
          i. No utilizar la plataforma Gazelook.com y sus herramientas de comunicación para publicar información
          comercial no solicitada (Spam).
          <br>
          ii. El Usuario debe demostrar amabilidad y respeto hacia los demás usuarios y a los administradores de la
          plataforma Gazelook.com. No se toleran comportamientos poco profesionales, irrespetuosos o inmorales contra
          ningún otro usuario.
          <br>
          iii. Respeta a los demás y sus diferencias. En la plataforma Gazelook.com somos una comunidad formada por
          gente de perfiles muy diversos.
          <br>
          iv. Se encuentra completamente prohibido utilizar los espacios de expresión de la plataforma Gazelook.com para
          amenazar, coaccionar, acosar, injuriar o calumniar a otro Usuario. El Usuario que incurra en cualquiera de
          estas conductas será el único responsable de enfrentar las consecuencias penales y civiles de sus actos.
          <br>
          v. En caso de disputa o diferencia entre dos o más usuarios, los administradores de plataforma Gazelook.com
          ejercerán de mediadores tratando de encontrar la mejor solución al conflicto, por lo cual, todos los Usuarios
          implicados se comprometen a aceptar su decisión, de no ser aceptada dicha resolución por cualquiera de los
          Usuarios, podrá ejercer sus reclamos a través de las vías legales correspondientes.
          <br>
          vi. Con el propósito de evitar daños a cualquier Usuario, la plataforma Gazelook.com podrá eliminar
          comentarios o contenidos en general que considere apoya o esta a favor de generar odio, discriminación,
          homofobia, noticias falsas (Fake news), violencia, la trata de personas, pornografía infantil, apoyo al
          terrorismo, consumo de drogas y alcohol, maltrato animal, así como cualquier contenido que busque promover
          actos contrarios a la ley.
          <br>
          vii. Los Usuarios deberán evitar compartir información que busquen influir en los demás usuarios y que dicha
          información no cuente con una base científica demostrable y que pueda tergiversar hechos reales comprobados
          por la ciencia, especialmente en el área de la salud.
          <br>
          viii. La plataforma Gazelook.com se reserva el derecho de suspender o cerrar la cuenta del Usuario que a
          consideración de los administradores de la plataforma infrinja alguna de estas estipulaciones, así mismo
          Gazelook.com podrá acudir a las vías legales correspondientes, cuando a través de cualquier acto de un Usuario
          se vulnere derechos de un tercero o se cometa una falta penada por la ley penal correspondiente.
          <br>
          2.- El presente Código de Conducta y Reglas de la Plataforma Gazelook.com forma parte integral de los términos
          y condiciones de uso de la plataforma, por lo cual, como parte del proceso de registro y uso de la plataforma
          Gazelook.com el USUARIO acepta que se compromete al cumplimiento del mismo.
          <br>
          Última actualización: 12 octubre 2021.

        </p>
      </div>
      <div *ngIf="docLegalMostar === 5">
        <p>
          CONDICIONES GENERALES DE PAGO
          
          <br>
          1.- Gazelook.com posee un cargo de €18 (dieciocho euros) anuales para los Usuarios, de los cuales un 80% (ochenta por ciento) se encuentra destinado al patrocinio de los proyectos seleccionados por los Usuarios a través de una dinámica de votación de acuerdo al reglamento de postulación de proyectos, y un 20% (veinte por ciento) a gastos administrativos relacionados con la gestión y mantenimiento de la plataforma Gazelook.com.
          <br>
          2.- Gazelook.com permite al Usuario realizar aportes adicionales al cargo estipulado en el punto anterior, los cuales se encuentran destinados en un 100% (cien por ciento) al patrocinio de los proyectos seleccionados por los Usuarios a través de una dinámica de votación de acuerdo al reglamento de postulación de proyectos. 
          <br>
          3.- El pago de los cargos y los aportes adicionales estipulados en los artículos 1 y 2 respectivamente, podrán ser realizados a través de la pasarela de pagos Paymentez.com.ec o Stripe.com.
          <br>
          4.- Unicamente mayores de dieciocho (18) años podrán realizar depósitos con un dispositivo de pago a su nombre, previa identificación por la pasarela de pagos.
          <br>
          5.- Se podrán recibir depósitos las 24 horas del día, 7 días a la semana, pero dichos depósitos serán confirmados y procesados el día laboral siguiente en el horario de lunes a viernes de 8am a 5pm, mismo horario en que estará disponible el servicio al cliente.
          <br>
          6.- El USUARIO comprende y acepta que puede retirarse de forma definitiva de la plataforma cuando así lo desee. El USUARIO contará con 72 horas desde su registro en la plataforma para solicitar el reintegro del dinero de la cuota mencionada en el punto 1 cuando este realice su retiro definitivo de la plataforma, posterior a este plazo no se brindarán reembolsos de cargos de la plataforma.
          <br>
          7.- Una vez el Usuario se ha informado de manera suficiente, clara, precisa y ha entendido las características, riesgos, montos y alcances de Gazelook.com y sus servicios ofrecidos, así como lo establecido en estas “Condiciones de pago”, podrá proceder con la realización del depósito en favor de Gazelook.com.
          <br>
          8.- El Usuario acepta que suministra información veraz, completa y cierta, de lo contrario Gazelook.com no será responsable por inconsistencias en la facturación y en el acceso. Así mismo Gazelook.com se reserva el derecho de rechazar cualquier pago por el Usuario, pudiendo rechazar rechazar un pago en el caso de que considere que la identidad del Usuario no es real o que la tarjeta de débito/crédito no es un medio confiable de pago.
          <br>
          9.- El Usuario entiende y acepta de manera expresa que al tratarse de transacciones que se realizan por mecanismos no presenciales de compra y venta, existen riesgos de fraude, suplantación de identidad, incumplimientos, demoras y demás situaciones que son ajenas a Gazelook.com. Por lo tanto el Usuario, antes de iniciar el proceso de pago, deberá siempre estar atento y asegurarse de estar en la URL correcta asociada al Sitio Web de Gazelook.com y no entregar información personal a personas que no sean las autorizadas por Gazelook.com.
          <br>
          Compra segura
          <br>
          Los pagos que se realicen a través de Gazelook.com serán procesados por nuestro agente de pagos en línea PAYMENTEZ quien tiene alianza con Banco del Pacifico.
          <br>
          PAYMENTEZ tienen actualmente el primer botón de pago rápido, ágil y seguro del país, en alianza estratégica con Banco del Pacifico. 
          <br>
          Mediante la plataforma de PAYMENTEZ, aceptamos las tarjetas de crédito y débito Mastercard, VISA, Diners Club, American Express, Discover, Alia.
          <br>
          También aceptamos: Transferencia bancario y depósito bancario:



          <br>
          Además, podrás tener la experiencia de comprar con ONE CLICK BUY* (Comprar con un sólo clic)
         <br>
          Nuestro sitio es totalmente seguro, puedes realizar tus compras con toda la seguridad y tranquilidad que necesitas, ya que cumplimos con el estándar de seguridad PCI DSS**
         <br>
          * One Click Buy y toda la seguridad tu compra es respaldada por Paymentez Ecuador y Banco del Pacifico.
         <br>
          ** Estándar de Seguridad de Datos para la Industria de Tarjeta de Pago (Payment Card Industry Data Security Standard) o PCI DSS
         <br>
          *** Las compras realizadas con Transferencia o Depósito bancario, serán despachadas una vez se valide la transacción realizada.
         <br>
          Última actualización: octubre 2021


        </p>
      </div>
      <div *ngIf="docLegalMostar === 6">
        <p>
          REGLAMENTO DE PROYECTOS DE LA PLATAFORMA GAZELOOK.COM
          <br>
          1.- GENERALIDADES
          <br>
          El presente Reglamento de Proyectos de la Plataforma Gazelook.com forma parte integral de los términos y condiciones de uso de la plataforma, por lo cual, como parte del proceso de registro y uso de la plataforma Gazelook,com el USUARIO acepta que se compromete al cumplimiento del mismo.
          <br>
          Gazelook.com permite a los usuarios proponer proyectos de manera voluntaria que buscan a ennoblecer al humano y a nuestro planeta. Cualquier usuario podrá proponer proyectos que deberán cumplir y seguir las siguientes condiciones:
          <br>
          2.- GAZELOOK NO ES UNA RED SOCIAL DEMOCRÁTICA, ES INCLUSIVA
          <br>
          a)	Diversos proyectos pueden ser ejecutados simultáneamente y con la inclusión de todos los usuarios que deseen implicarse libremente en uno u otro proyecto.
          <br>
          b)	Al cabo de un tiempo determinado, se seleccionan y ejecutan los proyectos que han recibido más apoyo en todo el mundo, en función del dinero acumulado hasta ese momento.
          <br>
          c)	El apoyo incondicional a un proyecto demuestra lo necesario que es en ese momento.
          <br>
          d)	Gazelook distribuye los fondos de manera equitativa para proyectos mundiales, de país, locales y cambios en la misma plataforma (lo hacemos redistribuyendo el 80% de todos los ingresos recaudados, exceptuando las cuotas extras que son redistribuidas en un 100).
          <br>
          3.- GESTIÓN DE PROYECTOS
          <br>
          a)	El usuario puede actualizar las veces que desee su proyecto, y de eso se trata. Caso contrario, éste no tendrá más apoyo que el inicial; enriquecer un proyecto con los co-autores es ganar adherentes.
          <br>
          b)	Basta con cliquear sobre el proyecto publicado en el perfil y el usuario podrá actualizarlo, borrarlo, compartirlo o transferirlo a otro usuario. En éste último caso, solo necesitará la aprobación del destinatario que aceptará a su vez retomar la autoría y responsabilidad del proyecto.
          <br>
          c)	El usuario puede presentar todos los proyectos que desee y participar en todos los que también quiera.
          <br>
          d)	Todos los proyectos son para compartirlos y ése es el espíritu generoso y no competitivo de Gazelook.
          <br>
          e)	Nadie es dueño intelectual de un proyecto, aunque la fecha de ingreso a la red sea anterior a la de otro proyecto similar.
          <br>
          f)	Los proyectos no seleccionados por falta de fondos tendrán que esperar la próxima selección, pero jamás serán juzgados o excluidos sin una razón muy poderosa como la de ser insultante, pornográfico, violento, racista o fraudulento.
          <br>
          g)	Los proyectos quedan en espera junto a sus votos ya ganados, con la esperanza de volverse necesario y ser seleccionados.
          <br>
          h)	Todo proyecto será en un principio completado y terminado por autores y co-autores.
          <br>
          i)	Los temas son diversos e infinitos en cuanto a propuesta de proyectos:
          <br>
          i.	Pensamos que la búsqueda de bienestar y de crecimiento espiritual, artístico, de conciencia ecologista, moral, político, filosófico y social, atraen infinitos temas y proyectos.
          <br>
          ii.	También las necesidades que vive una sociedad en un tiempo determinado son siempre otra fuente para proyectos.
          <br>
          iii.	Finalmente, cualquier inquietud personal atrae ideas que se pueden concretizar en proyectos, pudiendo cualquiera de ellos convertirse en una realidad.
          <br>
          j)	Los ciclos para seleccionar los proyectos para su ejecución duran 4 meses con el fin de refinanciar las arcas. En el último mes se abre la interacción de foros con el fin de seleccionar los proyectos más necesarios y factibles acorde a los dineros reunidos - explicado en INFORMACIÓN ÚTIL PARA LOS PROYECTOS -.
          <br>
          k)	Seleccionados los proyectos para su estudio y ejecución, y adjudicado el 100% de los dineros necesarios, pasan automáticamente a lo que llamamos ESTRATEGIA DE PROYECTO.
          <br>
          l)	No se cuestiona en ningún caso su realización, a menos que se trate de un proyecto turbio y que no cumpla con los propósitos que lo llevaron a su elección.
          <br>
          m)	Para este fin, un delegado de Gazelook es contratado en oferta pública dentro de la red, como interventor y con el único fin de garantizar transparencia y viabilidad. Dentro de estos parámetros, el delegado aprueba o desaprueba el proyecto.
          <br>
          n)	Los proyectos seleccionados aparecen en todos los perfiles de usuarios, en: PROYECTOS DE USUARIOS.
          <br>
          o)	En el perfil del autor que ha sido favorecido con su proyecto, puede cliquear sobre este último y será direccionado directamente a la ESTRATEGIA DE PROYECTO.
          <br>
          p)	Se envía también un e-mail al autor del proyecto confirmando su proyecto seleccionado y un enlace para acceder a la misma ESTRATEGIA DE PROYECTO.
          <br>
          q)	El autor del proyecto debe entonces elegir un usuario responsable de proyecto o él mismo y un equipo de proyecto (al no elegir un responsable, queda automáticamente él mismo en ese rol).
          <br>
          r)	Aparece el delegado de Gazelook por defecto en la estrategia e interactuará por medio de la misma plataforma o de forma presencial, en un chat grupal diseñado para tal efecto o en reuniones físicas programadas.
          <br>
          s)	La estrategia se mantiene privada entre el Delegado de Gazelook, el responsable de proyecto y el equipo de proyecto.
          <br>
          t)	Después de acuerdos en la plataforma o de manera presencial, el delegado aprueba o rechaza la estrategia y se vuelve entonces visible en la red como “ESTRATEGIAS DE PROYECTOS SELECCIONADOS ANTES DE SU EJECUCIÓN”.
          <br>
          u)	En caso de haber sido rechazado el proyecto, los dineros no serán adjudicados y serán devueltos a la plataforma. De todos modos, el proyecto podrá seguir en la plataforma con nuevos términos para un próximo ciclo de selección y refinanciado en caso de ser seleccionado nuevamente.
          <br>
          v)	Un proyecto aprobado por el delegado tendrá sus condiciones de ejecución y serán objeto de acuerdos legales entre las partes implicadas.
          <br>
          w)	Para efectos legales Gazelook debe intervenir o no hacerlo según las leyes vigentes en cada país: debe existir una maniobra legal que permita la independencia económica del proyecto o la alianza necesaria con Gazelook. Pero, los acuerdos estarán siempre sujetos a la decisión de los responsables, autores y co-autores del proyecto en cuestión. Gazelook solo intervendrá como asociado en caso de ser necesario o por voluntad expresa de los implicados en el proyecto.
          <br>
          4.- PROYECTOS SELECCIONADOS EN ESPERA DE FINANCIACIÓN ADICIONAL
          <br>
          a)	Gazelook reserva un 20% del capital total acumulado en sus arcas en el proceso de adjudicación de dineros a proyectos seleccionados. Este porcentaje está destinado a proyectos que no logran juntar los votos necesarios y que secundan la selección que se realiza cada 4 meses. 
          <br>
          b)	Del 20% reservado, Gazelook atribuye el 60% del valor requerido para los proyectos beneficiados. El 40% restante deberá ser conseguido por los creadores del proyecto. 
          <br>
          c)	Atribuidos los proyectos que gocen del 60% requerido, Gazelook mantiene la oferta por un período de 4 meses. Una oportunidad de que autores y co-autores hagan un llamado a los votantes en la plataforma que está preparada para aquello o consigan los dineros externamente.
          <br>
          d)	Conseguido el 100% del capital requerido por el proyecto, éste pasa a ser un proyecto seleccionado y pasa automáticamente a ESTRATEGIA DE PROYECTO (Ver punto 2: GESTIÓN DE PROYECTOS).
          <br>
          5.- El Usuario entiende y acepta que el presente Reglamento de Proyectos podrá ser revisado y modificado por Gazelook.com en cualquier momento, mediante la publicación de una nueva versión de este Reglamento en el Sitio Web. Se entiende que no existe ninguna obligación por parte de Gazelook.com de notificar individualmente el Usuario de los cambios realizados, sino que los mismos serán publicados en el Sitio Web para su conocimiento.
          <br>
          Última actualización: octubre 12 2021
          
        </p>
      </div>


    </div>

  </div>



  <!-- <div class="fondo-web">
    <div class="cien-x-ciento">
      <div class="franja"></div>
      <div class="header">
        <div class="menu">
          <div class="menu1">
            <div
              class="item-header"
              gestorEventos
              (eventoTap)="onRegresarHome(0)"
            >
              <p
                [ngClass]="{
                  boton: true,
                  'con-margen': true
                }"
              >
                {{ "landingPagina" | translate }}
              </p>
              <p
                [ngClass]="{
                  boton: true
                }"
              >
                {{ "landingInicio" | translate }}
              </p>
            </div>
            <div class="linea"></div>
            <div
              class="item-header"
              gestorEventos
              (eventoTap)="onRgresarRedSocial(1)"
            >
              <p
                [ngClass]="{
                  boton: true,
                  'con-margen': true
                }"
              >
                {{ "landingRedSocial" | translate }}
              </p>
              <p
                [ngClass]="{
                  boton: true
                }"
              >
                {{ "landingHumanitaria" | translate }}
              </p>
            </div>
            <div class="linea"></div>
            <div
              class="item-header"
              gestorEventos
              (eventoTap)="onRgresarObjetivos(2)"
            >
              <p
                [ngClass]="{
                  boton: true,
                  'con-margen': true
                }"
              >
                {{ "landingNuestros" | translate }}
              </p>
              <p
                [ngClass]="{
                  boton: true
                }"
              >
                {{ "landingObjetivos" | translate }}
              </p>
            </div>
            <div class="linea"></div>
            <div
              class="item-header"
              gestorEventos
              (eventoTap)="onRgresarPreguntas(3)"
            >
              <p
                [ngClass]="{
                  boton: true,
                  'con-margen': true
                }"
              >
                {{ "landingFAQ" | translate }}
              </p>
              <p
                [ngClass]="{
                  boton: true
                }"
              >
                {{ "landingFAQ1" | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{
          'linea-header': true
        }"
      ></div>
      <br>
      <div class="body alturacompleta">
        <div class="bodyhijo4">
          <div class="contact-us">
            <div class="docs-legales">
              <p (tap)="descargarTerminos()">
                • {{ "landingTerminosCondiciones" | translate }}
              </p>
              <p (tap)="descargarPoliticasPrivacidad()">
                • {{ "landingPoliticasPrivacidad" | translate }}
              </p>
              <p (tap)="descargarPoliticasCookies()">
                • {{ "landingPoliticaCookies" | translate }}
              </p>
              <p (tap)="descargarCodigoConducta()">
                • CÓDIGO DE CONDUCTA
              </p>
              <p (tap)="descargarCondicionesPago()">
                • CONDICIONES DE PAGO
              </p>
              <p (tap)="descargarReglamentoProyectos()">
                • REGLAMENTO DE PROYECTOS
              </p>
            </div>
          </div>
        </div>
        <div
          class="contenedor-sinboton"
          gestorEventos
          (eventoTap)="onRegresar()"
        >
          <p class="sin1">
            {{ "landingPrevious" | translate }}
          </p>
        </div>
      </div>
    </div>
  </div> -->
</div>