@use "sass:math";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

p {
    color: $blanco;
    white-space: pre-line;
}

.contenedor-landing {
    width: 100vw;
    min-height: 100%;
    height: auto;
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
    background: linear-gradient(180deg, #051025 -15.67%, #265b88  81.54%);
    
    & .contenido {
        height: 100%;
        width: 100%;
    }

    & .docs-legales {
        padding-left: $espacio-522 * 3;
        padding-right: $espacio-522 * 3;
        padding-top: $espacio-522;
        display: flex;
        align-items: center;
        justify-content: space-around;
        overflow-y: scroll;
        overflow-x: hidden;
        & .izquierda {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;
            & p {
                padding-top: 1vw;
                padding-bottom: 1vw;
            }
        }
        & .centro {
            width: calcular(25);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;

            & img {
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
            }
        }
        & .derecha {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            position: relative;
            & p {
                padding-top: 1vw;
                padding-bottom: 1vw;
            }
        }
    }

    & .texto-documentos {
        
        padding-left: $espacio-522 * 3;
        padding-right: $espacio-522 * 3;
        padding-bottom: $espacio-522 * 3;
        height: auto;

        & p {
            white-space: pre-line;
            text-align: justify;
        }
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    .contenedor-landing {
        width: 100vw;
        min-height: 100%;
        height: auto;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
        background: linear-gradient(180deg, #051025 -15.67%, #265b88  81.54%);
        
        & .contenido {
            height: 100%;
            width: 100%;
        }
    
        & .docs-legales {
            padding-left: $espacio-522 * 3;
            padding-right: $espacio-522 * 3;
            padding-top: $espacio-522;
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow-y: scroll;
            overflow-x: hidden;
            & .izquierda {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
                & p {
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                }
            }
            & .centro {
                width: calcular(25);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
    
                & img {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                }
            }
            & .derecha {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
                & p {
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                }
            }
        }
    
        & .texto-documentos {
            
            padding-left: $espacio-522 * 3;
            padding-right: $espacio-522 * 3;
            padding-bottom: $espacio-522 * 3;
            height: auto;
    
            & p {
                white-space: pre-line;
                text-align: justify;
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../assets/estilos/dimensiones_16_9.scss";

    .contenedor-landing {
        width: 100vw;
        min-height: 100%;
        height: auto;
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
        background: linear-gradient(180deg, #051025 -15.67%, #265b88  81.54%);
        
        & .contenido {
            height: 100%;
            width: 100%;
        }
    
        & .docs-legales {
            padding-left: $espacio-522 * 3;
            padding-right: $espacio-522 * 3;
            padding-top: $espacio-522;
            display: flex;
            align-items: center;
            justify-content: space-around;
            overflow-y: scroll;
            overflow-x: hidden;
            & .izquierda {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
                & p {
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                }
            }
            & .centro {
                width: calcular(25);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
    
                & img {
                    width: 100%;
                    height: auto;
                    display: flex;
                    align-items: center;
                }
            }
            & .derecha {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;
                position: relative;
                & p {
                    padding-top: 1vw;
                    padding-bottom: 1vw;
                }
            }
        }
    
        & .texto-documentos {
            
            padding-left: $espacio-522 * 3;
            padding-right: $espacio-522 * 3;
            padding-bottom: $espacio-522 * 3;
            height: auto;
    
            & p {
                white-space: pre-line;
                text-align: justify;
            }
        }
    }
}
