@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

$tamano-div-libro: calcular(7.42);
$width-libro: calcular(5);
$height-libro: calcular(5.5);

.mensaje-proyecto {
    width: 100%;
    height: fit-content;
    min-height: calcular(1);
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: $espacio-0249 - $defecto-top;
    cursor: pointer;
    & .hora {
        margin-bottom: $espacio-0139 - $defecto-bottom;
        width: fit-content;
        padding-right: $espacio-267;

        & p {
            width: fit-content;
        }
    }
    
    & .capa-seleccionado {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        & .libroPropietario {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $tamano-div-libro;
            & .svg-libro-cerrado {
                background-image: $libro-cerrado;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
                margin-right: 0.3vw;
            }
            & .svg-libro-abierto {
                background-image: $libro-abierto;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
            }
        }
        & .caja-proyecto {
            position: relative;
            width: fit-content;
            min-height: calcular(2);
            background-color: $mensaje-recibido;
            border-radius: calcular(1.03);
        }

        & .color-seleccionado {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 0;
            opacity: 0;
            background-color: rgba(51, 70, 81, 0.30);
        }

        &.seleccionado {
            & .color-seleccionado {
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &.propietario {
        align-items: flex-end;

        & .capa-seleccionado {
            
            justify-content: flex-end;

            & .caja-texto {
                background-color: $mensaje-enviado;
            }
        }
        
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../../assets/estilos/dimensiones_16_10.scss";
    $tamano-div-libro: calcular(7.42);
    $width-libro: calcular(5);
    $height-libro: calcular(5.5);
    .mensaje-proyecto {
        min-height: calcular(1);
        margin-bottom: $espacio-0249 - $defecto-top;
    
        & .hora {
            margin-bottom: $espacio-0139 - $defecto-bottom;
            padding-right: $espacio-267;
        }
    
        & .capa-seleccionado {
            & .libroPropietario {

                width: $tamano-div-libro;
                & .svg-libro-cerrado {
                    background-image: $libro-cerrado;
                    width: $width-libro;
                    height: $height-libro;
                    margin-right: 0.3vw;
                }
                & .svg-libro-abierto {
                    background-image: $libro-abierto;
                    width: $width-libro;
                    height: $height-libro;
                }
            }
            & .caja-proyecto {
                min-height: calcular(2);
                border-radius: calcular(1.03);
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../../assets/estilos/dimensiones_16_9.scss";
    $tamano-div-libro: calcular(7.42);
    $width-libro: calcular(5);
    $height-libro: calcular(5.5);
    .mensaje-proyecto {
        min-height: calcular(1);
        margin-bottom: $espacio-0249 - $defecto-top;
    
        & .hora {
            margin-bottom: $espacio-0139 - $defecto-bottom;
            padding-right: $espacio-267;
        }
    
        & .capa-seleccionado {
            & .libroPropietario {

                width: $tamano-div-libro;
                & .svg-libro-cerrado {
                    background-image: $libro-cerrado;
                    width: $width-libro;
                    height: $height-libro;
                    margin-right: 0.3vw;
                }
                & .svg-libro-abierto {
                    background-image: $libro-abierto;
                    width: $width-libro;
                    height: $height-libro;
                }
            }
            & .caja-proyecto {
                min-height: calcular(2);
                border-radius: calcular(1.03);
            }
        }
    }
}