@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

.mensaje-documento {
    width: fit-content;
    margin-right: $espacio-1542;
    margin-left: 0;
    padding-top: $espacio-0249 - $defecto-top;
    padding-bottom: $espacio-0249 - $defecto-bottom;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    word-break: break-all;
    background-color: $mensaje-recibido;
    display: flex;
    align-items: center;
    justify-content: center;

    &.enviado {
        background-color: $mensaje-enviado;
        margin-left: $espacio-1542;
        margin-right: 0;
    }
    & .icono {
        margin-right: $espacio-267;
        width: $bottom-bar-caja-icono-archivo-ancho;
        height: $bottom-bar-caja-icono-archivo-alto;
        box-sizing: border-box;
        & .icono-archivo {
            width: 100%;
            height: 100%;
            background-image: $forma-icono-archivo;
        }
    }
    & .nombre-archivo {
        width: fit-content;
        & .nombre-doc{
           line-break: anywhere;
  
        }
    }
}
