@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

.paddig-button-linea1 {
    padding-bottom: $espacio-0316 + $espesor-041 !important;
}
.paddig-button-linea2 {
    padding-bottom: $espacio-0316 + $espesor-071 !important;
}
.paddig-button-linea3 {
    padding-bottom: $espacio-0316 + $espesor-089 !important;
}

.itemMenu {
    position: relative;
    width: $item-menu-ancho-6920;
    box-sizing: border-box;
    padding-top: $espacio-0316;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: pan-y;
    cursor: pointer;
    z-index: 10;
}

.itemMenu.gazeAnuncios {
    background: transparent !important;
    padding: 0 !important;
    border-left: $espacio-267 + $espacio-178 solid $tranparencia-base;
    border-right: $espacio-267 + $espacio-178 solid $tranparencia-base;
}

.itemMenu .caja {
    width: $item-menu-ancho-con-padding-6920;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.itemMenu.gazeAnuncios .caja {
    width: $item-menu-gaze-anuncios;
    margin-bottom: $espesor-071 * 3;
}

// Tamanos del item
.item-menu-alto-2248 {
    height: $item-menu-alto-2248;
}
.item-menu-alto-2621 {
    min-height: $item-menu-alto-2621;
}
.item-menu-alto-3149 {
    height: $item-menu-alto-3149;
}

.item-menu-alto-3774 {
    height: $item-menu-alto-3774;
}
.item-menu-alto-4255 {
    height: $item-menu-alto-4255;
}

.item-menu-nuevo-alto-informacion {
    height: $item-menu-nuevo-info-alto;
}


.item-menu-alto-contenido {
    height: fit-content;
}

// Estilos para lienas de texto
.itemMenu .caja p {
    width: 100%;
    margin: 0;
    text-align: center;
}
.flecha {
    background-image: $forma-flecha-verde-desplegable;
    height: $espacio-0518;
    width: $espacio-0875;
    margin-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
}

.boton-puntos {
    // background-image: $forma-tres-puntos-grises;
    height: $espacio-558;
    width: $espacio-1590;
}

.rotar-flecha {
    transform: rotate(180deg);
}

.grupo-texto-descripcion {
    padding-top: $espacio-0316 !important;
    width: 100%;
    & .texto{
        height: 100%;
        width: 100%;
        &:first-child {
            padding-bottom: $espacio-522 - $defecto-total;
        }
    }

}

.instruccion-separacion {
    width: 100%;
    height: abs($espacio-522 -$defecto-total);
}
.instruccion-separacion-min {
    width: 100%;
    height: abs($defecto-total - $espacio-0178);
}

.instruccion-separacion-media {
    width: 100%;
    height: abs($defecto-total - $espacio-0316);
}

.contenedor-texto {
    width: 100%;
}
.contenedor-texto .main {
    width: 100%;
    cursor: pointer;
}
.contenedor-texto .main .second {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    & p{
        word-break: break-word;
    }
    & .descripcion-perfil{
        font-weight: 100 !important;
    }

}

.info{
    & .espacio522{
        width: 100%;
        height: $espacio-522 - $defecto-bottom;

    }
    & .espacio522Top{
        width: 100%;
        height: $espacio-522 - $defecto-bottom - $espacio-0316;

    }
    & .espacio522Bot{
        width: 100%;
        height: $espacio-522 - $defecto-top - $espacio-0316;
    }
    & p{
        line-height: 0.8;
    }
}

.contener-descripcion {
    flex-flow: column;
    width: 100%;
}

.separacion-texto {
    padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
}

.texto-submenu {
    position: relative;
    // display: block;
    display: flex;
    align-items: center;
    width: 100%;
    // padding-left: $espacio-267 + $espacio-159;
    text-align: left !important;

    // &::before {
    //     position: absolute;
    //     content: " ";
    //     left: 0;
    //     width: $espacio-159;
    //     height: $espacio-159;
    //     border-radius: 50%;
    //     background: $plateado;
    // }
}
.texto-submenu-subtitulo {
    position: relative;
    // display: block;
    // display: flex;
    // align-items: center;
    text-align: justify !important;
    // padding-left: $espacio-267 + $espacio-159;
    padding-top: 0;
    padding-bottom: $espacio-522 - $defecto-total;

}

.espacioPalabra {
    width: 100%;
    height: abs($defecto-total - $espacio-0249);
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .paddig-button-linea1 {
        padding-bottom: $espacio-0316 + $espesor-041 !important;
    }
    .paddig-button-linea2 {
        padding-bottom: $espacio-0316 + $espesor-071 !important;
    }
    .paddig-button-linea3 {
        padding-bottom: $espacio-0316 + $espesor-089 !important;
    }

    .itemMenu {
        width: $item-menu-ancho-6920;
        padding-top: $espacio-0316;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
    }
    .itemMenu.gazeAnuncios {
        border-left: $espacio-267 + $espacio-178 solid $tranparencia-base;
        border-right: $espacio-267 + $espacio-178 solid $tranparencia-base;
    }

    .itemMenu .caja {
        width: $item-menu-ancho-con-padding-6920;
    }

    .itemMenu.gazeAnuncios .caja {
        width: $item-menu-gaze-anuncios;
        margin-bottom: $espesor-071 * 3;
    }

    .item-menu-alto-2248 {
        height: $item-menu-alto-2248;
    }
    .item-menu-alto-2621 {
        min-height: $item-menu-alto-2621;
    }
    .item-menu-alto-3149 {
        height: $item-menu-alto-3149;
    }

    .item-menu-alto-3774 {
        height: $item-menu-alto-3774;
    }

    .item-menu-alto-4255 {
        height: $item-menu-alto-4255;
    }

    .flecha {
        background-image: $forma-flecha-verde-desplegable;
        height: $espacio-0518;
        width: $espacio-0875;
        margin-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
    }

    .boton-puntos {
        // background-image: $forma-tres-puntos-grises;
        height: $espacio-558;
        width: $espacio-1590;
    }

    .grupo-texto-descripcion {
        padding-top: $espacio-0316  - $defecto-bottom  !important;
        & .texto{
            height: 100%;
            width: 100%;
            &:first-child {
                padding-bottom: $espacio-522 - $defecto-total;
            }
        }
    }

    .instruccion-separacion {
        height: abs($espacio-522 -$defecto-total);
    }

    .instruccion-separacion-min {
        height: abs($defecto-total - $espacio-0178);
    }

    .instruccion-separacion-media {
        height: abs($defecto-total - $espacio-0316);
    }

    .info{
        & .espacio522{
            height: $espacio-522 - $defecto-bottom;
        }

        & .espacio522Top{
            height: $espacio-522 - $defecto-bottom - $espacio-0316;
        }

        & .espacio522Bot{
            height: $espacio-522 - $defecto-top - $espacio-0316;
        }
    }

    .separacion-texto {
        padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
    }

    .texto-submenu {

        // padding-left: $espacio-267 + $espacio-159;

        // &::before {
        //     width: $espacio-159;
        //     height: $espacio-159;
        // }
    }
    .texto-submenu-subtitulo {
        padding-top: 0;
        padding-bottom: $espacio-522 - $defecto-total;
    }

    .espacioPalabra {
        height: abs($defecto-total - $espacio-0249);
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .paddig-button-linea1 {
        padding-bottom: $espacio-0316 + $espesor-041 !important;
    }
    .paddig-button-linea2 {
        padding-bottom: $espacio-0316 + $espesor-071 !important;
    }
    .paddig-button-linea3 {
        padding-bottom: $espacio-0316 + $espesor-089 !important;
    }

    .itemMenu {
        width: $item-menu-ancho-6920;
        padding-top: $espacio-0316;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
    }
    .itemMenu.gazeAnuncios {
        border-left: $espacio-267 + $espacio-178 solid $tranparencia-base;
        border-right: $espacio-267 + $espacio-178 solid $tranparencia-base;
    }

    .itemMenu .caja {
        width: $item-menu-ancho-con-padding-6920;
    }

    .itemMenu.gazeAnuncios .caja {
        width: $item-menu-gaze-anuncios;
        margin-bottom: $espesor-071 * 3;
    }

    .item-menu-alto-2248 {
        height: $item-menu-alto-2248;
    }
    .item-menu-alto-2621 {
        min-height: $item-menu-alto-2621;
    }
    .item-menu-alto-3149 {
        height: $item-menu-alto-3149;
    }

    .item-menu-alto-3774 {
        height: $item-menu-alto-3774;
    }

    .item-menu-alto-4255 {
        height: $item-menu-alto-4255;
    }

    .flecha {
        background-image: $forma-flecha-verde-desplegable;
        height: $espacio-0518;
        width: $espacio-0875;
        margin-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
    }

    .boton-puntos {
        // background-image: $forma-tres-puntos-grises;
        height: $espacio-558;
        width: $espacio-1590;
    }

    .grupo-texto-descripcion {
        padding-top: $espacio-0316 !important;
        & .texto{
            height: 100%;
            width: 100%;
            &:first-child {
                padding-bottom: $espacio-522 - $defecto-total;
            }
        }
    }

    .instruccion-separacion {
        height: abs($espacio-522 -$defecto-total);
    }

    .instruccion-separacion-min {
        height: abs($defecto-total - $espacio-0178);
    }

    .instruccion-separacion-media {
        height: abs($defecto-total - $espacio-0316);
    }

    .info{
        & .espacio522{
            height: $espacio-522 - $defecto-bottom;
        }

        & .espacio522Top{
            height: $espacio-522 - $defecto-bottom - $espacio-0316;
        }

        & .espacio522Bot{
            height: $espacio-522 - $defecto-top - $espacio-0316;
        }
    }

    .separacion-texto {
        padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, $arriba: true);
    }

    .texto-submenu {

        // padding-left: $espacio-267 + $espacio-159;

        // &::before {
        //     width: $espacio-159;
        //     height: $espacio-159;
        // }
    }
    .texto-submenu-subtitulo {
        padding-top: 0;
        padding-bottom: $espacio-522 - $defecto-total;
    }

    .espacioPalabra {
        height: abs($defecto-total - $espacio-0249);
    }
}
