<app-imagen-mundo> </app-imagen-mundo>
<div class="tercio">
  <app-appbar [configuracion]="configuracionAppBar"> </app-appbar>

  <app-linea *ngIf="mostrarLinea" [configuracionLinea]="confLinea"></app-linea>
  <div
    id="contenedorListaMenuPrincipal"
    class="cuerpo"
    (scroll)="scroolEnContenedor()"
  >
    <app-dialogo [configuracion]="confDialogoConstruccion"></app-dialogo>
    <app-portada-gaze
      #portadaGazeComponent
      [configuracionPortada]="configuracionPortada"
    ></app-portada-gaze>
    <app-lista-vertical [dataLista]="dataLista" class="centrar">
      <div *ngIf="listaMenu">
        <div *ngFor="let item of listaMenu">
          <app-item-menu
            [configuracionItem]="prepararItemMenu(item)"
          ></app-item-menu>
        </div>
      </div>

      <!-- <app-item-menu *ngIf="itemSubMenu3Puntos" [configuracionItem]="prepararItemSubMenu(itemSubMenu3Puntos)">
            </app-item-menu>

            <app-item-menu *ngIf="itemMenuMultipleAccion"
                [configuracionItem]="prepararItemsParaMenuMultipleAccion(itemMenuMultipleAccion)"></app-item-menu> -->
    </app-lista-vertical>

    <app-dialogo [configuracion]="configDialogoLateral"></app-dialogo>
  </div>
</div>
