@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$distancia-flecha-demo: calcular(2.545);
$espacio-idiomas: calcular(19.70);
$espacio-demo: calcular(12.16);
$espacio-demo-texto-info-arriba: calcular(4);
$espacio-demo-texto-info-abajo: calcular(4.16);

.tercio {
    position: relative;
    z-index: 1;
    background: transparent !important;

    .nav {
        height: $item-menu-alto-2621;
        width: 100%;
        background-color: #011b33;
        display: flex;
        justify-content: center;

        & .contenido {
            position: relative;
            width: $ancho-6920;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            & .texto-demo{
                position: absolute;
                padding-bottom: $espacio-demo;
            }
            & .texto-demo-info{
                position: absolute;
                padding-top: $espacio-demo-texto-info-arriba;
                // padding-bottom: $espacio-demo-texto-info;
            }
            & .cabecera-idiomas{
                position: absolute;
                padding-top: $espacio-idiomas;
            }
            & .botonAtras {
                position: absolute;
                left: - calcular(15.40);
                bottom: $distancia-flecha-demo;
                cursor: pointer;
                z-index: 1;
                height: fit-content;
                display: flex;
                flex-flow: row;
                align-items: flex-end;
                justify-content: flex-start; 

                & .icono {
                    width: $boton-back-icono-ancho;
                    height: $boton-back-icono-alto;
                    margin: 0 0 0 $espacio-554; 
                    background: $forma-flecha-back;
                    background-size: 100% 100%;    
                }
            }
        }
    }

    .cuerpo {
        display: flex;
        flex-flow: column;
        align-items: center;
        padding: 0 !important;
        & .botonPrincipal{
            display: flex;
            align-items: center;
            justify-content: center;
            height: $item-menu-alto-2248;
            background-color: $tranparencia-base;
            padding-top: $espacio-522 + $espacio-0178;
            padding-bottom: $espacio-522 + $espacio-0178;
            min-width: $item-menu-ancho-6920;
        }
    }
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $distancia-flecha-demo: calcular(2.545);
    $espacio-idiomas: calcular(19.70);
    $espacio-demo: calcular(12.16);
    $espacio-demo-texto-info-arriba: calcular(4);
    $espacio-demo-texto-info-abajo: calcular(4.16);

    .tercio {
        .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;
                
                & .texto-demo{
                    padding-bottom: $espacio-demo;
                }
                & .texto-demo-info{
                    padding-top: $espacio-demo-texto-info-arriba;
                }
                & .cabecera-idiomas{
                    padding-top: $espacio-idiomas;
                }

                & .botonAtras {
                    left: - calcular(15.40);
                    bottom: $distancia-flecha-demo;

                    & .icono {
                        width: $boton-back-icono-ancho;
                        height: $boton-back-icono-alto;
                        margin: 0 0 0 $espacio-554; 
                        background: $forma-flecha-back;    
                        background-size: 100% 100%;
                    }
                }
            }
        }
        .cuerpo {

            padding: 0 !important;
            & .botonPrincipal{

                height: $item-menu-alto-2248;
                background-color: $tranparencia-base;
                padding-top: $espacio-522 + $espacio-0178;
                padding-bottom: $espacio-522 + $espacio-0178;
                min-width: $item-menu-ancho-6920;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $distancia-flecha-demo: calcular(2.545);
    $espacio-idiomas: calcular(19.70);
    $espacio-demo: calcular(12.16);
    $espacio-demo-texto-info-arriba: calcular(4);
    $espacio-demo-texto-info-abajo: calcular(4.16);

    .tercio {
        .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;
                
                & .texto-demo{
                    padding-bottom: $espacio-demo;
                }
                & .texto-demo-info{
                    padding-top: $espacio-demo-texto-info-arriba;
                }

                & .cabecera-idiomas{
                    padding-top: $espacio-idiomas;
                }

                & .botonAtras {
                    left: - calcular(15.40);
                    bottom: $distancia-flecha-demo;

                    & .icono {
                        width: $boton-back-icono-ancho;
                        height: $boton-back-icono-alto;
                        margin: 0 0 0 $espacio-554; 
                        background: $forma-flecha-back;
                        background-size: 100% 100%;
                    }
                }
            }
        }
        .cuerpo {
            padding: 0 !important;
            & .botonPrincipal{

                height: $item-menu-alto-2248;
                background-color: $tranparencia-base;
                padding-top: $espacio-522 + $espacio-0178;
                padding-bottom: $espacio-522 + $espacio-0178;
                min-width: $item-menu-ancho-6920;
            }
        }
    }
}
