<!-- Modal del selector -->
<div
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarModal
    }"
    (tap)="eventoModal($event.target)"
>
    <div class="caja sombraCaja">
        <div
            *ngIf="configuracion.cargando.mostrar"
            class="cargando"
        >
            <app-cargando></app-cargando>
        </div>
        <div
            *ngIf="configuracion.error.mostrarError"
            class="error"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                })"
            >
                {{ configuracion.error.contenido | translate}}
            </p>
        </div>
        <div class="elegibles">
            <div class="titulo">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1,
                        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                    })"
                >
                    {{ configuracion.tituloSelector | translate}}
                </p>
            </div>
            <div class="input-busqueda">
                <input 
                    #inputBuscador 
                    type="text"  
                    [(ngModel)]="buscar"
                    autocomplete="off"
                > 
            </div>
            <!-- <div class="msj-informativo">
                <p  [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL,
                        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                    })"
                    >
                    {{ 'text71' | translate}}
                </p>
            </div> -->
            <div class="lista " id="countrys" >
                <div
                    [ngClass]="{
                        'elegible': true,
                        'activo': (configuracion.seleccionado.codigo === item.codigo)
                    }"
                    *ngFor="let item of configuracion.elegibles"
                    (tap)="elegirPais(item.codigo, item.nombre, item.latitud, item.longitud)"
                >
                
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I3,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })"
                    >
                        {{ item.nombre | translate}}
                    </p>
                </div>
            </div>
        </div>
    </div>  
</div>
