<div
    *ngIf="configuracion"
    [ngClass]="{
        'mensaje-imagen': true,
        'propietario': configuracion.esPropietario
    }"
>
    <div class="hora">
        <p
            [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })"
        >
        ({{ obtenerDateDeTimeStamp(configuracion.mensaje.fechaCreacion) | date:"HH:mm" }} {{'m3v10texto5'|translate}})
        </p>
    </div>
    <div
        [ngClass]="{
            'capa-seleccionado': true,
            'seleccionado': configuracion.seleccionado
        }"
    >
        <div 
            [ngClass]="{
                'libroPropietario': configuracion.esPropietario

            }"
        >
            <div class="svg-libro-cerrado" *ngIf="configuracion.leido === false"></div>
            <div class="svg-libro-abierto" *ngIf="configuracion.leido === true " ></div>
        </div>
        <div 
            [ngClass]="{
                'caja-imagen': true,
                'esta-cargando': configuracion.mostrarCargando
            }"
        >
            <div
                [ngClass]="{
                    'capa-mensaje-imagen': true,
                    'loader': true,
                    'mostrar': configuracion.mostrarCargando
                }"
            >
                <app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
            </div>
            <img
                *ngIf="
                    configuracion.mensaje.adjuntos && 
                    configuracion.mensaje.adjuntos.length > 0 &&
                    (!configuracion.contenidoError || configuracion.contenidoError.length <= 0)
                "
                [ngClass]="{
                    'capa-mensaje-imagen': true,
                    'imagen': true,
                    'mostrar': !configuracion.mostrarCargando
                }"
                [src]="configuracion.mensaje.adjuntos[0].principal.url"
                (load)="siImagenEstaCargada($event)"
                alt=""
            />
            <div
                [ngClass]="{
                    'capa-mensaje-imagen': true,
                    'error': true,
                    'mostrar': (
                        !configuracion.mostrarCargando &&
                        configuracion.contenidoError &&
                        configuracion.contenidoError.length > 0
                    )
                }"
            >
                <p
                    [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                    })"
                >
                    {{ configuracion.contenidoError | translate }}
                </p>
            </div>
            <div class="capa-escudo"></div>
        </div>
        <div class="color-seleccionado"></div>
    </div>
</div>
