@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$tamano-item-lista-contacto: calcular(20);

.contenido-general {
    height: $cuerpo-default-alto;
    width: $cuerpo-default-ancho;
    overflow: hidden;
    background-color: white;
    box-sizing: border-box;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-top: $espacio-0316;
    overflow: scroll;
    display: none;

    position: absolute;
    top: $appbar-alto-default + $espesor-071;
    left: 0;
    z-index: 5;

    &.mostrar {
        display: block;
    }


    & .mis-contactos {
        // height: calc(100% - #{$tamano-item-lista-contacto});
        height: 100%;
        box-sizing: border-box;
    }
    
    & .titulos {
        padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
        width: 100%;
        height: $espacio-622 + $espacio-0356 ;
        box-sizing: border-box;
        & p {
            &:nth-child(1) {
                margin-bottom: $espacio-178 - $defecto-total;
            }

            &:nth-child(2) {
                margin-bottom: $espacio-178 - ($defecto-bottom * 3);
            }
            &:nth-child(3) {
                margin-bottom: $espacio-178 - $defecto-bottom;
            }
        }
    }
    
    & .lista-contactos {
        padding-top: $espacio-178;
        height: calc(100% - (#{$espacio-622 + $espacio-0356 + $espacio-178}));
        box-sizing: border-box;
    }
    
    & .item-lista-contactos {
        margin-bottom: $espacio-041;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $tamano-item-lista-contacto: calcular(20);

    .contenido-general {
        height: $cuerpo-default-alto;
        width: $cuerpo-default-ancho;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-top: $espacio-0316;
        top: $appbar-alto-default + $espesor-071;
        
        & .titulos {
            padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
            height: $espacio-622 + $espacio-0356 ;

            & .click-abrir{
                padding-top: $espacio-178;
            }
        }
        
        & .lista-contactos {
            padding-top: $espacio-178;
            height: calc(100% - (#{$espacio-622 + $espacio-0356 + $espacio-178}));
        }
        
        & .item-lista-contactos {
            margin-bottom: $espacio-041;
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $tamano-item-lista-contacto: calcular(20);

    .contenido-general {
        height: $cuerpo-default-alto;
        width: $cuerpo-default-ancho;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-top: $espacio-0316;
        top: $appbar-alto-default + $espesor-071;
        
        & .titulos {
            padding-left: $espacio-0658 - $espacio-267 - $espacio-041;
            height: $espacio-622 + $espacio-0356 ;

            & .click-abrir{
                padding-top: $espacio-178;
            }
        }
        
        & .lista-contactos {
            padding-top: $espacio-178;
            height: calc(100% - (#{$espacio-622 + $espacio-0356 + $espacio-178}));
        }
        
        & .item-lista-contactos {
            margin-bottom: $espacio-041;
        }
    }
}
