<app-appbar [configuracion]="confAppbar"></app-appbar>

<div
  [id]="idCapaCuerpo"
  [ngClass]="{
    contenido: true,
    conLoader: mostrarCapaLoader && !mostrarCapaError,
    conError: !mostrarCapaLoader && mostrarCapaError,
    sinElementos:
      !mostrarCapaLoader &&
      !mostrarCapaError &&
      listaProyectosSeleccionados.lista.length === 0
  }"
  (scroll)="scroolEnCapaCuerpo()"
>
  <div *ngIf="!puedeCargarMas || mostrarCapaLoader" class="encarga">
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      "
    >
      {{ "text11" | translate }}
    </p>
  </div>
  <div *ngIf="mostrarCapaLoader && !mostrarCapaError" class="loader">
    <app-cargando></app-cargando>
  </div>
  <div *ngIf="!mostrarCapaLoader && mostrarCapaError" class="error-proyectos">
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
        })
      "
    >
      {{ "text37" | translate }}
    </p>
  </div>
  <div *ngIf="!mostrarCapaLoader && !mostrarCapaError">
    <!-- <div class="titulo-contenido">
      <p
        [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
        })
      "
      >
        {{ "m5v7texto3" | translate }}
      </p>
    </div> -->
    <div class="listaMenu">
      <!-- <div class="contenido-fecha">
        <div
          class="input"
        >
          <input
            type="date"
            [(ngModel)]="fecha"
            id="inputFecha"
            (change)="cambioDeFecha()"
            [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }"
            min="2020-09-01"
          >
          <div class="fecha">
            {{ fecha | date:'dd/MM/yyyy' }}
          </div>
        </div>
      </div> -->

      <div class="texto-info">
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })
          "
        >
          {{ "m5v7texto3" | translate }} 22/04/2022
        </p>
      </div>
      <div class="contenido-linea-verde">
        <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
      </div>
      <div
        *ngFor="let item of listaProyectosSeleccionados.lista; let i = index"
        class="item-proyecto"
      >
        <div>
          <app-proyecto-item-foro
            [proyecto]="item"
            [numeroProyecto]="i + 1"
            [mostrarVotos]="false"
          >
          </app-proyecto-item-foro>
        </div>
        <div *ngIf="i === 0 || i % 2 === 0" class="separador-vertircal"></div>
      </div>
    </div>
  </div>
  <div
    *ngIf="
      !mostrarCapaLoader &&
      !mostrarCapaError &&
      listaProyectosSeleccionados.lista.length === 0
    "
    class="no-items"
  >
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
        })
      "
    >
      {{ "text13" | translate }}
    </p>
  </div>
  <div
    *ngIf="!puedeCargarMas && !mostrarCapaLoader && !mostrarCapaError"
    class="loader-interno"
  >
    <app-cargando></app-cargando>
  </div>
</div>
