@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.contenido {
  height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  background-color: $tranparencia-base;
  width: $item-menu-ancho-6920;
  margin-left: $mitad-item-6920;
  overflow-y: auto;
  box-sizing: border-box;

  & .titulo-contenido {
    padding-top: $espacio-0316;
    padding-left: $espacio-0658;
    padding-bottom: $espacio-178;

  }

  &.conLoader {
    display: flex;
    flex-flow: column;
  }

  &.conError {
    display: flex;
    flex-flow: column;
  }

  &.sinElementos {
    display: flex;
    flex-flow: column;
    text-align: center;
  }

  & .encarga {
    padding: $espacio-522 0;

    & p {
      text-align: center;
    }
  }

  & .loader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

  }

  & .error-proyectos {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 1;

    & p {
      text-align: center;
    }
  }

  & .no-items {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    flex: 1;

    & p {
      text-align: center;
    }
  }

  & .listaMenu {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    box-sizing: border-box;

    & .contenido-fecha {
      display: flex;
      justify-content: center;
      padding-bottom: $espacio-522 - $defecto-bottom;

      & .input {
        width: fit-content;
        position: relative;

        & input {
          position: absolute;
          z-index: 1;
          opacity: 0;
          width: 100%;
          height: 100%;

          &::-webkit-calendar-picker-indicator {
            position: absolute;
            top: -150%;
            left: -150%;
            width: 300%;
            height: 300%;
            cursor: pointer;
          }
        }

        & .fecha {
          box-shadow: 0 0 0.83vw 0 white inset;
          opacity: 0.85;
          width: fit-content;
          height: fit-content;
          border-radius: $interlineado-15;
          padding: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true) $interlineado-6;
          box-sizing: border-box;
          background-color: $titulo-fecha;
          color: $blanco;
          font-size: $letra-4;
          line-height: 1;
          font-weight: bold;
        }
      }
    }

    & .contenido-linea-verde {
      display: flex;
      justify-content: center;
      padding-bottom: $espacio-522;
    }


    & .texto-info {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-top: $espacio-0316 - $defecto-top;
      padding-bottom: $espacio-0316 - $defecto-bottom;

    }

    & .boton-actualizar {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding-bottom: $espacio-0316 - $defecto-bottom;

    }

    & .item-proyecto {
      padding-bottom: $espacio-0316 - $defecto-bottom;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
    }
  }

  & .loader-interno {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin-top: calcular(2);
    margin-bottom: calcular(4);

  }
}

@media screen and (min-aspect-ratio: 16/10) {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);


  .contenido {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    background-color: $tranparencia-base;
    width: $item-menu-ancho-6920;
    margin-left: $mitad-item-6920;

    & .encarga {
      padding: $espacio-522 0;
    }


  }

}

@media screen and (min-aspect-ratio: 16/9) {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

  .contenido {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    background-color: $tranparencia-base;
    width: $item-menu-ancho-6920;
    margin-left: $mitad-item-6920;

    & .encarga {
      padding: $espacio-522 0;
    }
  }
}
