<app-appbar *ngIf="configuracionAppBar" #barra [configuracion]="configuracionAppBar">
</app-appbar>
<div class="contenedor-finanzas">
    <div [ngClass]="{ 'fondo-transparente': true }">
        <section class="item">
            <div class="titulo-principal">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1 
          })">
                    {{ 'm7v1texto2' | translate }}
                </p>
            </div>
            <div class="subTitulo-principal">
                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.GRIS,
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1 
                })">
                    {{ 'm7v1texto3' | translate }}
                </p>
            </div>

            <div class="lista-contenedor">
                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirCuotaAnual()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })">
                                {{ 'm7v1texto4' | translate }}
                            </p>

                        </div>
                    </section>

                    <div class="componente-desplegable" *ngIf="mostrarCuotaAnual">

                        <app-cuota-anual></app-cuota-anual>
                    </div>
                </div>

                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirCuotaUsuario()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })">
                                {{ 'm7v1texto5' | translate }}
                            </p>
                        </div>
                    </section>

                    <div class="componente-desplegable" *ngIf="mostrarCuotaUsuario">
                        <app-cuota-usuario></app-cuota-usuario>
                    </div>
                </div>

                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirAnunciosFinanzas()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })">
                                {{ 'm7v1texto6' | translate }}
                            </p>
                        </div>

                    </section>
                    <div class="aviso-en-construccion">
                        <app-dialogo-inline [configuracion]="confDialogoSinIngresos"></app-dialogo-inline>
                    </div>


                    <!-- <div *ngIf="mostrarCuotaUsuario" class="componente-desplegable">
            <app-cuota-anual></app-cuota-anual>
          </div> -->
                </div>

                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirGazeAlianzas()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">

                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                    color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                                    enMayusculas: false,
                                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                                })">
                                {{ 'm7v1texto7' | translate }}
                            </p>

                        </div>

                    </section>
                    <div class="info-alliances-sinTop">
                        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                            color: estilosDelTextoServicio.colorDelTexto.GRIS, 
                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })">
                            {{ 'm7v1texto8' | translate }}
                        </p>
                    </div>
                    <div class="aviso-en-construccion">
                        <app-dialogo-inline [configuracion]="confDialogoAlianzas"></app-dialogo-inline>
                    </div>

                </div>


                <div class="item-lista">
                    <section class="titulos-lista">
                        <div class="simbolo1"></div>
                        <div class="titulo-lista">

                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                    color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                                    enMayusculas: false,
                                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                                })">
                                {{ 'm7v1texto16' | translate }}
                            </p>

                        </div>

                    </section>
                    <div class="info-alliances">
                        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                            color: estilosDelTextoServicio.colorDelTexto.GRIS, 
                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })">
                            {{ 'm7v1texto17' | translate }}
                        </p>
                    </div>
                </div>



                <!-- <div class="item-lista bank-statemet">
                    <section class="titulos-lista" (click)="abrirReportes()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista ">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                            color: estilosDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: false,
                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                        })">
                                {{ 'm7v1texto9' | translate }}
                            </p>

                        </div>
                    </section>
                    <div class="componente-desplegable" *ngIf="mostrarReportes">

                        <app-trust-account></app-trust-account>
                    </div>
                </div> -->
                <div class="separador-1512"></div>
                <!-- Expenses -->

                <div class="item-titulo-no-paddin">

                    <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                    })">
                        {{ 'm7v1texto10' | translate }}
                    </p>
                </div>

                <div class="item-lista">
                    <section class="titulos-lista">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                            })">
                                {{ 'm7v1texto11' | translate }}
                            </p>

                        </div>
                    </section>
                    <div class="info-alliances-sinTop">
                        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                            color: estilosDelTextoServicio.colorDelTexto.GRIS, 
                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })">
                            {{ 'm7v1texto12' | translate }}
                        </p>
                    </div>
                </div>

                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirFundsProject()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">
                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                            })">
                                {{ 'm7v1texto13' | translate }}
                            </p>
                        </div>
                    </section>
                    <div class="aviso-en-construccion">
                        <app-dialogo-inline [configuracion]="confDialogoProyectoSeleccionado"></app-dialogo-inline>
                    </div>
                </div>



                <div class="item-lista">
                    <section class="titulos-lista" (click)="abrirAdditionalExpenses()">
                        <div class="simbolo"> • </div>
                        <div class="titulo-lista">

                            <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                color: estilosDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                            })">
                                {{ 'm7v1texto14' | translate }}
                            </p>

                        </div>

                    </section>
                    <div class="info-alliances">
                        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                            color: estilosDelTextoServicio.colorDelTexto.GRIS, 
                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })">
                            {{ 'm7v1texto15' | translate }}
                        </p>
                    </div>
                    <div class="aviso-en-construccion">
                        <app-dialogo-inline [configuracion]="confDialogoAdicionalProSelec"></app-dialogo-inline>
                    </div>
                </div>
            </div>
            
            <div class="separador-1512"></div>

            <div class="item-titulo-no-paddin" (click)="abrirReportes()">

                <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL 
                })">
                    {{ 'm7v1texto9' | translate }}
                </p>
            </div>

        </section>

    </div>
</div>

<app-toast #toast [configuracion]="confToast"></app-toast>