$blanco: #ffffff;
$negro: hsl(0, 0%, 0%);
$amarillo-base: #f0b823;
$amarillo-titulo-pensa: #ca9404;
$amarillo-claro: #eed592;
$celeste-base: #a0c6ef;
$celeste-textos-main: #BBFCEA;
$marron: #af8f7e;
//TAMBIEN ES EL Color círculo botón grabación AMARILLO
$tranparencia-llamando: rgba(51, 70, 81, 0.85);
// $tranparencia-base: rgba(41, 78, 96, 0.75);transparencia en para toda la aplicación
// $tranparencia-base: rgba(5, 40, 58, 0.80); GUARDAR SAGRADO
$tranparencia-base: rgba(3, 27, 39, 0.8);
$tranparencia-base-aviso-idiomas: rgba(5, 40, 58, 0.7);
$tranparencia-base-resumen-perfil: rgba(5, 40, 58, 0.9);
$tranparencia-base-completo: rgba(51, 70, 81, 0.57);
$tranparencia-reenvio-mensaje: rgba(51, 70, 81, 0.3);
$tranparencia-reenvio-mensaje-dos: rgba(51, 70, 81, 0.15);
// $transparencia-filtro-azul-demo: rgba(3, 72, 107, 0.5);
$transparencia-filtro-azul-demo: rgba(5, 48, 68, 0.5);
//Color transparencia central que esconde el mundo
$rojo-base: #bd1218; //Rojo para toda la aplicación
$verde-base: #05e005; //verde base para toda la aplicación
//TAMBIEN ES EL Color círculo botón grabación VERDE
$azul-base: #03486b; //Azul para toda la aplicación
$azul-base-pensamiento: rgba(3, 72, 107, 0.8);
$azul-base-con-opacidad: rgba(3, 72, 107, 0.8);
$azul-base-030: rgba(3, 72, 107, 0.3);
$azul-claro: #9fc5ee;
$azul-opaco: rgba(48, 75, 114, 0.8);
$azul-opaco-038: rgba(48, 75, 114, 0.38);
$azul-fuerte: #052234;
$txt-btn-history: #bee4e5; //Letra del botón HISTORY
$txt-btn-blanco: #ffffff;
$txt-celeste: #a0c6ef; //Texto de la barra de búsqueda y todos los textos celestes == SUBSCRIBING
$input-fondo-registro: rgba(154, 191, 226, 0.3); //Color de franjas de cuadros de acción y franjas de formularios
$input-fondo: rgba(144, 159, 160, 0.75); //Color de franjas de cuadros de acción y franjas de formularios
$txt-lacre: #770404; //Especifico de texto de la mesa (2-3), (2-4), (2-5),(2-6)
$border-dark: rgba(144, 159, 160, 0.75); //Color de fondo de círculos de números en mesa 5-1, ??
//fondo de encuadre de texto en log in mesa 1-6, INPUT LOGIN
//contact us mesa 1-19,
//y pago mesa 2-9,
//recuadro de click to outside mesa 2-19
$titulo-fecha: rgba(48, 75, 114, 0.8); //Fechas y short titles
$error-formulario: #d80613; //Color de Error al llenar formularios 2,18% regular mesa (2-3), (2-4), (2-5),(2-6),(2-7),(2-8),
//TAMBIEN ES EL Color círculo botón grabación ROJO
$perfil-creado: #052234; //Color de recuadro cuando se ha creado un perfil mesa (2-10)
$perfil-hibernado: #2d0224; //Color de recuadro cuando se ha hibernado un perfil mesa (2-10)
$opacidad-cuadro-foto: rgba(
    255,
    187,
    0,
    0.5
); //Color de cuadrado de transparencia fotos seleccionadas para borrar mesa (2-16)
$btn-flecha-lacre: #660000; //Color flecha botón grabación
$btn-flecha-verde: #016601; //Color flecha botón grabación
$btn-flecha-amarillo: #845902; //Color flecha botón grabación

//COMENTARIOS Y CHAT
$comentario-uno: #efdcff; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)
$comentario-dos: #fff4c3; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)

//CHAT
$mensaje-recibido: #fff4c3;
$mensaje-enviado: #e7f9bd;

//chat recibo
$comentario-tres: #e6fbf8; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)
$comentario-cuatro: #eeeeec; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)
$comentario-cinco: #fce8d8; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)
$comentario-seis: #e7f9bd; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)
//chat envio
$comentario-siete: #fdffa4; //Colores del fondo para comentarios de proyectos (un color por usuario y por proyecto)

// Opacidad albums
$capa-opacidad-a: #ce363680; // Opacidad para las fotos por defecto del album
$capa-opacidad-b: #73308e80; // Opacidad para las fotos por defecto del album
$capa-opacidad-c: #307b8780; // Opacidad para las fotos por defecto del album

// Dialogo descripcion
$transparencia-dialogo-descripcion: rgba(138, 159, 161, 0.25);

$azul-pago-pendiente: #122340;
$plateado: #b3b3b3;
$hibernate: #01597c;
$gris: #cecece;
$gris-demo: #999999;
$semi-amarillo: #928f80;

//fondo color aleatorio
$aleatorio_1: #bbe5d1;
$aleatorio_2: #e5b693;
$aleatorio_3: #b7c9f4;
$aleatorio_4: #aad8e2;
$aleatorio_5: #c7d698;
$aleatorio_6: #eed592;
$aleatorio_7: #d99aa6;

// colores landing page
$celeste_landing: #c7e4ff;
$amarillo_landing: #f8b75c;
$turqueta_landing: #aff9d2;

// Gazing
$mensaje-recibido: #FFF4C3;
$mensaje-enviado: #E7F9BD;

// Degradado de fondo
// $degradado_color_a:  rgba(20, 66, 94, 1);
$degradado_color_a: #01598e;
$porcetanje_color_a: -24%;
// $degradado_color_b: rgba(11, 39, 56, 1);
$degradado_color_b: #000413;
$porcetanje_color_b: 85%;
$amarillo-base-textos: #ffd155;

// AppBar
$azul-appbar: #0e2541;

// #011b33 appbar
// linear-gradient(to bottom, #01598e -24%, #000413 85%)
$color-borde-rectangulos: #FFAB50;