@use "sass:math";
// ******* Estilo 16:9
$ancho: 100vw;
$altura-pagina: 100vh;
$porcetaje-tercio: 23.27 - (0.27924 * 2);
$espacio-entre-tercios: (math.div($porcetaje-tercio * 12.39, 100)) * 1vw;
$ancho-pagina: math.div($ancho * $porcetaje-tercio, 100);

// Rangos de la landing
$rango: 48.01vw;
$ancho-landing: 100vw - $rango;

// Variables sin unidad - valor neto
$defecto-top-neto: 0.56;
$defecto-bottom-neto: 0.55;

// Constantes para valores que anade la fuente por defecto - con unidad
$defecto-top: calcular(0.56);
$defecto-bottom: calcular(0.55);
$defecto-total: $defecto-top + $defecto-bottom;
// $sombraTexto: 1.5px 1.5px 3px rgba(0, 0, 0, 1.50);//3.5px 2.5px 4px rgba(0, 0, 0, 0.75);
$sombraTexto: 1.5px 0.5px 0px rgba(0, 0, 0, 1);
$sombraTextoBlanca: 1.5px 0.5px 0px rgba(255, 255, 255, 1);
$sombraTextoMenuPri: 2.5px 2.5px 0px rgba(0, 0, 0, 3.50);
$line-height: 1;

// Para calcular la medida en base al ancho de la pagina
@function calcular($porcentaje) {
    @return math.div($ancho-pagina * $porcentaje, 100);
}

@function calcularLanding($porcentaje) {
    @return math.div($ancho-landing * $porcentaje, 100);
  }

// Constantes para valores que anade la fuente por defecto - con unidad
$defecto-top: calcular(0.56);
$defecto-bottom: calcular(0.55);
$defecto-total: $defecto-top + $defecto-bottom;

// Para calcular el interlineado en base a la fuente e interlineado deseado
@function calcularInterlineado($letra, $interlineado) {
    @return $letra + (($interlineado - $defecto-total));
}

@function calcularPaddingAfectadoPorInterlineado($padding-deseado, $arriba) {
    @if $arriba {
        @return calcular(($padding-deseado - ($padding-deseado - $defecto-top-neto)));
    } @else {
        @return calcular(($padding-deseado - ($padding-deseado - $defecto-bottom-neto)));
    }
}

@function calcularPaddingAfectadoPorInterlineadoTemp($padding-deseado, $arriba) {
    @if $arriba {
        @return calcular(($padding-deseado - ($defecto-top-neto)));
    } @else {
        @return calcular(($padding-deseado - ($defecto-bottom-neto)));
    }
}

// Mixin para fuente con interlineado combinado
@mixin fuenteConInterlineado($letra, $interlineado) {
    font-size: $letra;
    line-height: calcularInterlineado($letra, $interlineado);
}

// $ancho-barra-scroll: calcular(3);
$ancho-barra-scroll: calcular(2.5);
$radio-borde-barra-scroll-thumb: calcular(0.67);

// Transicion portada expandible
$transicion-contenido: all 1s 1s ease;
$transicion-portada-expandible: all 2s 2s ease;
// Header de la landing
$altura-header-landing: calcularLanding(8.72);
$alto-lineaverde-landing: calcularLanding(0.20);
// Padding left de la portada
$portada-padding-left-landing: calcularLanding(5.22);
// Portada de la landing
$portada-alto-landing: calcularLanding(30.20);
$portada-ancho-landing: calcularLanding(85.96);

// Borde de los tercios
$border-tercios: calcular(0.12);

// Mundo
$mundo-diametro: $ancho-pagina + calcular(3.27); // El diametro es el 100 + 3.27%
$mundo-derecha: calcular(6.58);
$mundo-abajo: calcular(8.16);

// Portada Gazelook
$portada-gaze-ancho-cortada: calcular(22.97);
$portada-gaze-alto-cortada: calcular(16.09);

$portada-gaze-ancho-completo: $ancho-pagina;
$portada-gaze-alto-completo: calcular(35.24);

/* TAMANO LETRAS */
$letra-0: calcular(2.96); // Calibri => 3,08% | Open Source => 2.96% - 52 px
// $letra-1: calcular(3.56); // Calibri => 3,68% | Open Source => 3.56% - 62 px
$letra-1: calcular(3.80); // Calibri => 3,80% | Open Source => 3.80% - 64 px
$letra-2: calcular(4.60); // Calibri => 4.60% | Open Source => 4.60% - 80.8 px
$letra-3: calcular(5.16); // Calibri => 5.33% | Open Source => 5.16% - 90 px
$letra-4: calcular(6.22); // Calibri => 6.46% | Open Source => 6.22%  - 109 px
$letra-5: calcular(6.52); // Calibri => 6.76% | Open Source => 6.52% - 114 px
$letra-6: calcular(7.23); // Calibri => 7.53% | Open Source => 7.23% - 127 px
$letra-7: calcular(8.12); // Calibri => 8.42% | Open Source => 8.12% - 142 px
$letra-8: calcular(17.19); // Calibri => 17.78% | Open Source => 17.19% - 300 px
// $letra-9: calcular(5.74);
$letra-9: calcular(16.6);
$letra-10: calcular(5.39);
$letra-11: calcular(16.6);
$letra-12: calcular(4.1);
$letra-13: calcular(5);
$letra-14: calcular(10.12);
$letra-15: calcular(5.75);

/*INTERLINEADOS*/
$interlineado-1: calcular(1.36); // 1.36
$interlineado-2: calcular(1.78); // 1.78
$interlineado-3: calcular(3.02); // 3.02
$interlineado-4: calcular(2.49); // 2.49
$interlineado-5: calcular(3.32); // 3.32
$interlineado-6: calcular(1.39); // 1.39
$interlineado-7: calcular(2.67); // 2.67
$interlineado-8: calcular(3.16); // 3.16
$interlineado-9: calcular(3.035); // 3.035
$interlineado-10: calcular(5.22); // 5.22
$interlineado-11: calcular(6.58); // 6.58
$interlineado-12: calcular(1.532); // 1.532
$interlineado-13: calcular(2.55); // 2.55
$interlineado-14: calcular(0.49); // 0.49
$interlineado-15: calcular(1.03); // 1.03
$interlineado-15: calcular(1.03); // 1.03
// Pruebas churon
$interlineado-16: calcular(4.56); // 4.56 77 px
$interlineado-17: calcular(4.5); // 4.50 76 px
$interlineado-18: calcular(7.46); // 4.50 125.86 px
$interlineado-19: calcular(7.8);
$interlineado-20: calcular(9.8);
$interlineado-21: calcular(0.94);

/*Espaciadores*/
$espacio-01245: calcular(1.245);
$espacio-0154: calcular(1.54);
$espacio-0178: calcular(1.78);
$espacio-0249: calcular(2.49);
$espacio-0247: calcular(2.47);
$espacio-0296: calcular(2.96);
$espacio-0316: calcular(3.16);
$espacio-1726: calcular(17.26);
$espacio-6238: calcular(62.38);
$espacio-6253: calcular(62.53);
$espacio-5784: calcular(57.84);
$espacio-0139: calcular(1.39);
$espacio-5664: calcular(56.64);
$espacio-5211: calcular(52.11);
$espacio-1981: calcular(19.81);
$espacio-4143: calcular(41.43);
$espacio-1232: calcular(12.32);
$espacio-1116: calcular(11.16);
$espacio-5360: calcular(53.6);
$espacio-3418: calcular(34.18);
$espacio-1310: calcular(13.1);
$espacio-05: calcular(0.5);
$espacio-267: calcular(2.67);
$espacio-287: calcular(2.87);
$espacio-178: calcular(1.78);
$espacio-089: calcular(0.89);
$espacio-522: calcular(5.22);
$espacio-622: calcular(6.22);
$espacio-6545: calcular(6.545);
$espacio-7045: calcular(7.045);
$espacio-26: calcular(26);
$espacio-4519: calcular(45.19);
$espacio-1512: calcular(15.12);
$espacio-1719: calcular(1.719);
$espacio-0658: calcular(6.58);
$espacio-677: calcular(6.77);
$espacio-2744: calcular(27.44);
$espacio-2758: calcular(27.58);
$espacio-0518: calcular(5.18);
$espacio-0875: calcular(8.75);
$espacio-3035: calcular(3.035);
$espacio-0167: calcular(1.67);
$espacio-0756: calcular(7.56);
$espacio-0578: calcular(5.78);
$espacio-0136: calcular(1.36);
$espacio-0166: calcular(1.66);
$espacio-001: calcular(1.55);

$espacio-4541: calcular(45.41);
$espacio-326: calcular(3.26);
$espacio-1590: calcular(15.9);
$espacio-558: calcular(5.58);
$espacio-554: calcular(5.54);
$espacio-159: calcular(1.59);
$espacio-1542: calcular(15.42);
$espacio-0139: calcular(1.39);
$espacio-041: calcular(0.41);
$espacio-0427: calcular(4.27);
$espacio-09212: calcular(9.212);
$espacio-071: calcular(0.71);
$espacio-0356: calcular(3.56);
$espacio-1227: calcular(12.27);
$espacio-0391: calcular(3.91);
$espacio-0516: calcular(5.16);
$espacio-0816: calcular(8.16);
$espacio-1370: calcular(13.70);

$espacio-6388: calcular(63.88);

$espacio-3106: calcular(31.06);




// X blanca para Imagenes profile y album
$diametro-x-blanca: calcular(6.87);
$x-margen-perfil-abajo: calcular(5.2);
$x-margen-perfil-derecha: calcular(7.71);
$x-margen-album-abajo: calcular(1.78);
$x-margen-album-derecha: calcular(3.16);

/*Alto de input*/
$alto-0782: calcular(7.82);

//Error
$letra-min-0218-i: (math.div($ancho-pagina * 0.0218, 2)) + $interlineado-1;

// Tamano del item para el menu
$item-menu-ancho-6920: calcular(69.16);
$item-menu-alto-2248: calcular(26.48);
// $item-menu-alto-2248: calcular(34.22);
$item-menu-alto-2621: calcular(26.21);
$item-menu-alto-3149: calcular(31.49);
$item-menu-alto-3774: calcular(37.74);
$item-menu-alto-3773: calcular(37.73);
$item-menu-alto-2934: calcular(29.34);
$item-menu-alto-4255: calcular(42.55);

// Padding interno del item para el menu
$item-menu-padding-267: calcular(2.67);
$item-menu-ancho-con-padding-6920: $item-menu-ancho-6920 - ($item-menu-padding-267 * 2);

// Caja gaze anuncios
$item-menu-padding-178: calcular(1.78);
$item-menu-gaze-anuncios: $item-menu-ancho-6920 - ($item-menu-padding-267 * 2) - ($item-menu-padding-178 * 2);

// Linea verde, color de fondo appbar, transparencia
$ancho-6028: calcular(60.28);
$ancho-6386: calcular(63.86);
$ancho-6920: calcular(69.16);
$ancho-6382: calcular(63.82);
$ancho-6916: calcular(69.16);
$ancho-6954: calcular(69.54);
$ancho-100: $ancho-pagina;

// Espesor para lineas
$espesor-012: calcular(0.12);
$espesor-041: calcular(0.41);
$espesor-071: calcular(0.71);
$espesor-089: calcular(0.89);

// Appbar
$appbar-ancho: $ancho-pagina;
$appbar-alto-default: calcular(26.21);
$appbar-alto-mini: calcular(16.3);

$espesor-borde-barra-buscar: calcular(0.12);
$radio-borde-barra-buscar: calcular(1.567);
$ancho-barra-busqueda: calcular(94.66);
$alto-barra-busqueda: calcular(9.6);

$boton-back-icono-alto: calcular(5.15);
$boton-back-icono-ancho: calcular(8.8);

$boton-x-tamano-alto: calcular(6.5);
$boton-x-tamano-icono-alto: calcular(6.5);
$boton-x-tamano-icono-ancho: calcular(6.5);
$boton-x-padding-der: calcular(3.77);
$boton-x-padding-bot: calcular(2.75);

// Bottom bar medidas
$bottom-bar-alto: calcular(17.55);
$bottom-bar-ancho: $ancho-pagina;
$bottom-bar-border-top: calcular(0.12);
$bottom-bar-caja-borde-radio: calcular(1.567);
$bottom-bar-caja-alto: calcular(12.21);
$bottom-bar-caja-ancho: calcular(81.45);
$bottom-bar-boton-diametro: calcular(13.1);
// Iconos del bottom bar
$bottom-bar-caja-icono-ancho: calcular(13.575);
// Icono texto
$bottom-bar-caja-icono-texto-ancho: calcular(11.66);
$bottom-bar-caja-icono-texto-alto: calcular(8.82);
// Icono archivo
$bottom-bar-caja-icono-archivo-ancho: calcular(4.14);
$bottom-bar-caja-icono-archivo-alto: calcular(10.43);
// Icono camara
$bottom-bar-caja-icono-camara-ancho: calcular(9.51);
$bottom-bar-caja-icono-camara-alto: calcular(8.29);
// Icono llamada
$bottom-bar-caja-icono-llamada-ancho: calcular(9.51);
$bottom-bar-caja-icono-llamada-alto: calcular(9.53);
// Icono video llamda
$bottom-bar-caja-icono-video-ancho: calcular(11.94);
$bottom-bar-caja-icono-video-alto: calcular(7.93);
// Icono audio
$bottom-bar-caja-icono-audio-ancho: calcular(10.34);
$bottom-bar-caja-icono-audio-alto: calcular(15.29);

// Cuerpo mesa 2, para otros casos realizar calculo en caso de que varien los valores
// Para espesor de linea 0.89
$cuerpo-default-alto: calc(100vh - #{$appbar-alto-default + $espesor-071});
$cuerpo-default-alto-mini: calc(100vh - #{$appbar-alto-mini + $espesor-071});
$cuerpo-default-ancho: $ancho-pagina;
// Para barra inferior inline
$cuerpo-con-barra-inferior-alto: calc(100vh - #{$appbar-alto-default + $espesor-071 + $bottom-bar-alto});
$cuerpo-con-barra-inferior-alto-appbar-mini: calc(100vh - #{$appbar-alto-mini + $espesor-071 + $bottom-bar-alto});
$alto-instrucciones-barra-inferior: calcular(8);
$cuerpo-con-barra-inferior-alto-e-instrucciones: calc(100vh - #{$appbar-alto-default + $espesor-071 + $bottom-bar-alto + $alto-instrucciones-barra-inferior});
// Para cuerpo con bottom bar
$cuerpo-con-bottom-bar-alto: calc(100vh - #{$appbar-alto-default + $espesor-089 + $bottom-bar-alto});
$cuerpo-con-bottom-bar-ancho: $ancho-pagina;

//
$cuerpo-general: calc(100vh - #{$espesor-071 + $appbar-alto-default});

// Portada Gazelook
$portada-gaze-ancho-cortada: calcular(22.97);
$portada-gaze-alto-cortada: calcular(16.09);

$portada-gaze-ancho-completo: $ancho-pagina;
$portada-gaze-alto-completo: calcular(35.24);

//fecha
$espacio-fecha-ancho: calcular(26.55);
$espacio-fecha-alto: calcular(6.27);

// Selector
$selector-ancho: 90%;
$selector-alto: calcular(108);
$selector-border-radius: calcular(1.567);
$selector-padding-iz: calcular(2);
$selector-padding-tb: calcular(3);
$selector-titulo-alto: calcular(7);
$selector-lista-alto: calc(100% - #{$selector-titulo-alto});

// Input
$input-ancho-registro: calcular(99.68);

$espacio-fecha-ancho: calcular(26.55);
$espacio-fecha-alto: calcular(6.27);

$espacio-4028: calcular(40.28);

$sombra-1: calcular(0.17);
$sombra-2: calcular(0.07);
$sombra-3: calcular(0.41);
$sombra-4: calcular(0.3);

// Dimensiones de archivos (imagenes, documentos, etc..)
$ancho-archivo: calcular(43.3);
$alto-archivo: calcular(30.9);


// dimensiones dialogo horizontola
$ancho-cuadro-dialogo: calcular(57.02);
$ancho-descripcion-dialogo: calcular(37.60);