$path-fondos: "^https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/";
$path-botones: "^https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/";

// Botones
$forma-boton: url("#{$path-botones}forma-boton.svg");
$forma-boton-letra-4-23: url("#{$path-botones}forma-boton-letra-4-23.svg");
$forma-boton-letra-4-93: url("#{$path-botones}forma-boton-letra-4-93.svg");
$forma-boton-letra-5-51: url("#{$path-botones}forma-boton-letra-5-51.svg");
$forma-boton-yes-no: url("#{$path-botones}forma-boton-yes-no.svg");
$forma-boton-ok-no: url("#{$path-botones}forma-boton-ok-no.svg");
$forma-flecha-ampliar-foto: url("#{$path-botones}forma-flecha-ampliar-foto.svg");
$forma-flecha-reducir-foto: url("#{$path-botones}forma-flecha-reducir-foto.svg");
$forma-flecha-back: url("#{$path-botones}forma-flecha-back.png");
$forma-flecha-circular-amarilla: url("#{$path-botones}forma-flecha-circular-amarilla.png");
$forma-flecha-circular-azul: url("#{$path-botones}forma-flecha-circular-azul.png");
$forma-flecha-circular-roja: url("#{$path-botones}forma-flecha-circular-roja.png");
$forma-flecha-verde-desplegable: url("#{$path-botones}forma-flecha-verde-desplegable.svg");
$forma-lupa: url("#{$path-botones}forma-lupa.svg");
$forma-tres-puntos-grises: url("#{$path-botones}forma-tres-puntos-grises.svg");
$forma-x-blanca: url("#{$path-botones}forma-x-blanca.svg");
$forma-x-roja: url("#{$path-botones}forma-x-roja.svg");
$forma-boton-girar-camara: url("#{$path-botones}forma-boton-girar-camara.svg");
$forma-boton-girar-camara-blanco: url("#{$path-botones}forma-boton-girar-camara-blanco.svg");
$forma-boton-cerrar-camara-blanco: url("#{$path-botones}forma-boton-cancelar.svg");
$forma-boton-done: url("#{$path-botones}forma-boton-done.svg");
$forma-corazon-rojo: url("#{$path-botones}corazon-desea-contactarse.svg");
$forma-icono-audio-verde: url("#{$path-botones}forma-icono-audio-verde.svg");
$forma-icono-pausa: url("#{$path-botones}forma-icono-pausa.svg");
$forma-icono-editar-texto: url("#{$path-botones}forma-icono-editar-texto.svg");
$forma-icono-archivo: url("#{$path-botones}forma-icono-archivo.svg");
$forma-icono-camara: url("#{$path-botones}forma-icono-camara.svg");
$forma-icono-telefono: url("#{$path-botones}forma-icono-telefono.svg");
$forma-icono-video: url("#{$path-botones}forma-icono-video.svg");
$forma-icono-microfono: url("#{$path-botones}forma-icono-microfono.svg");
$forma-icono-microfono-rojo: url("#{$path-botones}forma-icono-microfono-rojo.svg");
$forma-exclamacion-contactos: url("#{$path-botones}forma-exclamacion-contactos.svg");
$landing-boton1: url("#{$path-botones}landingboton1.png");
$landing-boton2: url("#{$path-botones}landingboton2.png");
$contestar-llamada: url("#{$path-botones}contestar-llamada.svg");
$ignorar-llamada: url("#{$path-botones}ignorar-llamada.svg");
$forma-boton-cancelar-grabacion: url("#{$path-botones}forma-boton-cancelar-grabacion.svg");
$boton-casa: url("#{$path-botones}boton-casa.svg");
$libro-abierto: url("#{$path-botones}libro-abierto.svg");
$libro-cerrado: url("#{$path-botones}libro-cerrado.svg");
$mano-izquierda: url("#{$path-botones}mano-izq.svg");
$mano-derecha: url("#{$path-botones}mano-der.svg");
$mano-abajo: url("#{$path-botones}mano-abajo.svg");
$boton-refresh: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/icons/icon-update.svg");
$contestar-llamada: url("#{$path-botones}contestar-llamada.svg");
$ignorar-llamada: url("#{$path-botones}ignorar-llamada.svg");
$video-activo: url("#{$path-botones}video-mute.png");
$video-inactivo: url("#{$path-botones}video-nomute.png");
$mute-activo: url("#{$path-botones}mute-activo.png");
$mute-inactivo: url("#{$path-botones}mute-inactivo.png");


// Fondos
$fondo-estrellas-cortado: url("#{$path-fondos}fondo-estrellas-cortado.jpg");
$fondo-estrellas-completo: url("#{$path-fondos}fondo-estrellas-completo.jpg");
$forma-amarilla-pensamientos: url("#{$path-fondos}forma-amarilla-pensamientos.svg");
$forma-amarilla-pensamientos-login: url("#{$path-fondos}forma-amarilla-pensamientos-login1.svg");
$forma-equina-album: url("#{$path-fondos}forma-esquinas-fotos-album.svg");
$forma-equina-album-negra: url("#{$path-fondos}forma-esquinas-fotos-album-negra.svg");
$forma-equina-album-blanca: url("#{$path-fondos}forma-esquinas-fotos-album-blanca.svg");
$forma-equina-album-naranja: url("#{$path-fondos}forma-esquinas-fotos-album-naranja.svg");
$fondo-mundo: url("#{$path-fondos}forma-mundo.png");
$forma-roja-pensamientos: url("#{$path-fondos}forma-roja-pensamientos.svg");
$forma-ambos-pensamientos: url("#{$path-fondos}forma-ambos-pensamientos.svg");
$cruz-negra-borrar: url("#{$path-fondos}cruz-negra-borrar.svg");
$cruz-roja-borrar: url("#{$path-fondos}cruz-roja-borrar.svg");
$portada-gaze-completa: url("#{$path-fondos}portada-gaze-completa.png");
$portada-gaze-mitad: url("#{$path-fondos}portada-gaze-mitad.png"); 

//PERFILEs

$pruebafoto1: url("/assets/8.jpg");
$pruebafoto1: url("/assets/14.jpg");


//ANUNCIOS

$fondo-anuncio-arbol: url("#{$path-fondos}fondo-arboles.svg");
$fondo-anuncio-publicitario: url("#{$path-fondos}dialog-morado.svg");