@import '../../../assets/estilos/dimensiones.scss';
@import '../../../assets/estilos/imagenes.scss';
@import '../../../assets/estilos/colores.scss';

$distancia-flecha-demo: calcular(2.545);

.bienvenido {
    position: relative;
    z-index: 1;
    width: $ancho-pagina;
    height: $altura-pagina;

    display: flex;
    flex-flow: column;
    align-items: center;

    & .nav {
        height: $item-menu-alto-2621;
        width: 100%;
        background-color: $azul-appbar;
        display: flex;
        justify-content: center;

        & .contenido {
            position: relative;
            // width: $ancho-6920;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            padding-bottom: $espacio-522;
            & .divCabecera{    
                position: relative;
                height: $item-menu-alto-2621;    
                width: 100%;
            }
            & .escogerLeng{
                height:$item-menu-alto-2621 - calcular(6.4);
                padding-top: $interlineado-8;
                padding-bottom: $espacio-1719;
                box-sizing: border-box;
                text-align: center;
            }

        }
    }

    & .cuerpo {
        width: 100%;
        height: calc(100vh - #{$appbar-alto-default});
        padding: 0 !important;
        
        display: flex;
        flex-flow: column;
        align-items: center;
        overflow-y: auto;

        & .contenido {
            width: $ancho-6920;
            box-sizing: border-box;
            background-color: $tranparencia-base;
            // height: 100%;
        }
    }
}

// .divContenido{
//     float: left;
//     position: relative;    
//     width: $ancho-6920;
//     height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});    
//     left: - $espacio-267;
//     overflow-y: auto;
//     .linea-verde{
//         padding-top: $espacio-1512;
//         position: relative;
//         bottom: 0;
//     }
// }
.divPaddign522{    
    padding: $interlineado-10 0 $interlineado-10 0;
    box-sizing: border-box;
}

.divMargin522{    
    margin: $interlineado-10 0 $interlineado-10 0;
    box-sizing: border-box;
}

.divPaddign522Top{
    padding-top: $interlineado-10;
    box-sizing: border-box;
}

.centrar2{
    vertical-align: middle;
}
.divAviso{
    min-height: calcular(57.14);
    width: 100%;
    display: table
}
.divCompromiso{
    // min-height: calcular(55.07);    
    width: 100%;
    display: table;
    padding-top: $espacio-522 - $defecto-top ;
    & .texto1{
        margin-bottom: $espacio-267 - $defecto-bottom;

    }
    & .texto2{
        margin-bottom: $espacio-267 - $defecto-bottom;

    }


} 

.divAventura{
    flex: 1;
    padding-bottom: $espacio-522  + $espacio-071;
    position: relative;
}
.paddinLeft267{
    box-sizing: border-box;
    padding-left: $espacio-0178;
}
.paddinRight267{
    box-sizing: border-box;
    padding-right: $espacio-0178;
}
.btnEnviar{
    margin-top: ($espacio-522)  - $defecto-bottom ;
    box-sizing: border-box;
}
.posicionRelativa{
    position: absolute;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    $distancia-flecha-demo: calcular(2.545);

    .bienvenido {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;

                & .divCabecera{
                    height: $item-menu-alto-2621;
                }
                & .escogerLeng{
                    height:$item-menu-alto-2621 - calcular(6.4);
                    padding-top: $interlineado-8;
                    padding-bottom: $espacio-1719;
                }
            }
        }

        & .cuerpo {
            height: calc(100vh - #{$appbar-alto-default});

            & .contenido {
                width: $ancho-6920;
                background-color: $tranparencia-base;
            }
        }
    }

    // .divContenido{
    //     width: $ancho-6920;
    //     height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});    
    //     left: - $espacio-267;

    //     .linea-verde{
    //         padding-top: $espacio-1512;
    //     }
    // }
    .divPaddign522{    
        padding: $interlineado-10 0 $interlineado-10 0;
    }

    .divMargin522{    
        margin: $interlineado-10 0 $interlineado-10 0;
    }

    .divPaddign522Top{
        padding-top: $interlineado-10;
    }

    .centrar2{
        vertical-align: middle;
    }

    .divAviso{
        min-height: calcular(57.14);
    }

    .divCompromiso{
        padding-top: $espacio-522 - $defecto-top ;
    } 

    .divAventura{
        padding-bottom: $espacio-522  + $espacio-071;
    }
    .paddinLeft267{
        padding-left: $espacio-0178;
    }
    .paddinRight267{
        padding-right: $espacio-0178;
    }
    .btnEnviar{
        margin-top: ($espacio-522)  - $defecto-bottom ;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../assets/estilos/dimensiones_16_9.scss";

    $distancia-flecha-demo: calcular(2.545);

    .bienvenido {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;
                & .divCabecera{
                    height: $item-menu-alto-2621;
                }
                & .escogerLeng{
                    height:$item-menu-alto-2621 - calcular(6.4);
                    padding-top: $interlineado-8;
                    padding-bottom: $espacio-1719;
                }



            }
        }

        & .cuerpo {
            height: calc(100vh - #{$appbar-alto-default});

            & .contenido {
                width: $ancho-6920;
                background-color: $tranparencia-base;
            }
        }
    }

    // .divContenido{
    //     width: $ancho-6920;
    //     height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});    
    //     left: - $espacio-267;

    //     .linea-verde{
    //         padding-top: $espacio-1512;
    //     }
    // }
    .divPaddign522{    
        padding: $interlineado-10 0 $interlineado-10 0;
    }

    .divMargin522{    
        margin: $interlineado-10 0 $interlineado-10 0;
    }

    .divPaddign522Top{
        padding-top: $interlineado-10;
    }

    .centrar2{
        vertical-align: middle;
    }

    .divAviso{
        min-height: calcular(57.14);
    }

    .divCompromiso{
        padding-top: $espacio-522 - $defecto-top ;
    } 

    .divAventura{
        padding-bottom: $espacio-522  + $espacio-071;
    }
    .paddinLeft267{
        padding-left: $espacio-0178;
    }
    .paddinRight267{
        padding-right: $espacio-0178;
    }
    .btnEnviar{
        margin-top: ($espacio-522)  - $defecto-bottom ;
    }
}