@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
    background: $blanco;
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: $espacio-0316 - $defecto-top;
    & div {
        width: 100%;
        
        &.numero {
            // padding-top: $espacio-0316 - $defecto-top;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            
        }
        &.numero-pad{
            padding-top: $espacio-0316 - $defecto-top;
        }
        &.centrado {
            & p{
                text-align: center !important;
            }
           
        }
    }

    & p {
        width: 100%;
        text-align: justify;
        white-space: pre-line;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .cuerpo {
        padding-top: $espacio-0316 - $defecto-top;

        & div {
            &.numero-pad{
                padding-top: $espacio-0316 - $defecto-top;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .cuerpo {
        padding-top: $espacio-0316 - $defecto-top;

        & div {
            &.numero-pad{
                padding-top: $espacio-0316 - $defecto-top;
            }
        }
    }
}