@use "sass:math";
$celeste_landing: #C7E4FF;
$celeste_fuerte: #74B9ED;
$amarillo_landing: #F8B75C;
$turquesa_landing: #AFF9D2;
$azulcontacto_landing: #586478;
$rojo-base: #bd1218;
$verde-base: #05e005;
$azul-base: #03486b;
$semi-amarillo: #928F80;
$amarillo-base: #f0b823;
$gris: #cecece;

$sombraIdiomas: 2.5px 0.5px 0px rgb(255, 255, 255);

$rango: 4.05vw;
// $rango-medida: (100vw * $rango) / 100;
$ancho-web: 100vw;
$altura-web: 100vh;

@function calcularDos($porcentaje) {
  @return math.div($ancho-web * $porcentaje, 100);
}
@function calcularInterlineadoDos($letra, $interlineado) {
  @return $letra + math.div($interlineado, 2);
}

@mixin fuenteConInterlineadoDos($letra, $interlineado) {
  font-size: $letra;
  line-height: calcularInterlineado($letra, $interlineado);
}

// INTERLINEADOS 
$espacio-0156: calcularDos(1.36);
$espacio-0089: calcularDos(0.69);
$espacio-0208: calcularDos(1.88);
$espacio-0312: calcularDos(2.92);
$espacio-0123: calcularDos(1.03);
$espacio-0436: calcularDos(4.16);
$espacio-0058: calcularDos(0.58);
$espacio-0078: calcularDos(0.58);
$espacio-0224: calcularDos(2.04);
$espacio-0131: calcularDos(1.11);
$espacio-0183: calcularDos(1.63);
$espacio-0117: calcularDos(0.97);
$espacio-0110: calcularDos(1.10);
$espacio-2000: calcularDos(1.27); // H: 12.22px espacio padding en footer pag inicio

// TAMAÑOS DE LETRA 
$letra-0208: calcularDos(2.08);
$letra-21: calcularDos(2.18);
$letra-2275: calcularDos(2.36); // Tamaño idiomas = 22.75pt
$letra-23: calcularDos(2.40);
$letra-24: calcularDos(2.5);
$letra-2503: calcularDos(2.63); // Source Sans = equivale a 87pt (mas comun)
$letra-26: calcularDos(2.70); // Patrick Hand = 26pt
$letra-2607: calcularDos(2.77);
$letra-2707: calcularDos(2.88);
$letra-3006: calcularDos(3.18);
$letra-32: calcularDos(3.33);
$letra-65: calcularDos(6.36);

// Nav
$altura-header: calcularDos(8.72); //ALTURA DE HEADER
$margen-right-header: calcularDos(6.86);
$margen-left-header: calcularDos(7.16);

$portada-alto: calcularDos(30.20);
$portada-ancho: calcularDos(85.96);

$alturaidiomas: calcularDos(0.19);
$anchoidiomas: calcularDos(5.22); // lineas mas anchas para IDIOMAS
$alto-cajaidiomas: calcularDos(25.79);
$ancholineamenu: calcularDos(0.28);
$altolineamenu: calcularDos(3.42);

$anchomarconegro: calcularDos(0.44); //ESPACIO PARA UNION EUROPEA
$espacio-derechanegro: calcularDos(2.11);

$anchofaq: calcularDos(13.20);
$espesorlineaverde: calcularDos(0.53);
$espacio-O: calcularDos(1.40); //espacio izquierda para "o" u "or"

$alto-lineagris: calcularDos(0.10); // LINEA GRIS FOOTER GROSOR
$alto-lineaverde: calcularDos(0.20); //LINEA VERDE MENU GROSOR
$alto-lineaverde-corta: calcularDos(0.15); //LINEA VERDE corta MENU GROSOR 
$ancho-lineaverde: calcularDos(85.97); // LINEA VERDE MENU LARGO
$ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha


$ancho-lineagris: calcularDos(55.97); // LINEA VERDE MENU LARGO

$ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha

.contenedor-landing {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 999;
	background : linear-gradient(0deg, #18395f -15.67%, #000413 41.54%);	

	background: linear-gradient(0deg, #052846 -15.67%, #000413 41.54%);

  	&.rojo {
    	background: linear-gradient(0deg, #5f181f -40.67%, #000413 41.54%);
    	transition: all 1s 1s ease;
  	}

  	&.rojo2 {
	    background: linear-gradient(-90deg, #5f181f -15.67%, #000413 78.54%);
    	transition: all 1s 1s ease;
  	}

  	&.rojo3 {
    	background: linear-gradient(90deg, #5f181f -15.67%, #000413 78.54%);
    	transition: all 1s 1s ease;
  	}

	.boton {
		&:hover {
			cursor: pointer;
		}
	}

	.fondo-web {
	width: 100vw;
	height: 100vh;
	background-size: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

	& .cien-x-ciento {
		width: 100%;
		height: $altura-web;
		overflow: hidden;
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		& .capa-gif {
		position: absolute;
		top: 0;
		height: 100%;
		width: 100%;
		opacity: 0;
		transition: all 0.5s 0.5s;

		&.mostrar {
			opacity: 1;
		}

		&.letrero {
			z-index: 0;
			top: calcularDos(6.089);
			width: calcularDos(73.5);
			height: calc(100% - #{ calcularDos(6.089)});
			background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/letrero4-3cortado.png");
			background-size: 100% 100%;
		}

		&.luz {
			z-index: 1;
			opacity: 0.6;
			background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/luz4-3.png");
			background-size: 100% 100%;
		}

		&.texto-idiomas {
			z-index: 2;
			position: absolute;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			bottom: 30vw;

			& p {
			color: rgb(238, 36, 36);
			font-size: calcularDos(6.497);
			line-height: 0.8;
			text-shadow: $sombraIdiomas;
			padding-bottom: $espacio-0312;
			}
		}

		&.boton {
			z-index: 3;

			& .boton-dos {
			position: absolute;
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			left: calcularDos(28);
			bottom: calcularDos(10);

			& img {
				width: calcularDos(4);
				height: calcularDos(2);
			}

			& p {
				font-family: "Patrick Hand", cursive;
				font-weight: normal;
				color: $celeste_fuerte;
				font-size: calcularDos(2.58);
				line-height: 1;
				text-decoration: underline;
			}
			}
		}
		}
	}
	}
}

@media screen and (min-aspect-ratio: '16/10') {
  $rango: 33.14vw;
  // $rango-medida: (100vw * $rango) / 100;
  $ancho-web: 100vw;
  $altura-web: 100vh;

  @function calcularDos($porcentaje) {
    @return math.div($ancho-web * $porcentaje, 100);
  }

  @function calcularInterlineadoDos($letra, $interlineado) {
    @return $letra + math.div($interlineado, 2);
  }

  @mixin fuenteConInterlineadoDos($letra, $interlineado) {
    font-size: $letra;
    line-height: calcularInterlineado($letra, $interlineado);
  }



  // INTERLINEADOS 
  $espacio-0156: calcularDos(1.36);
  $espacio-0089: calcularDos(0.69);
  $espacio-0208: calcularDos(1.88);
  $espacio-0312: calcularDos(2.92);
  $espacio-0123: calcularDos(1.03);
  $espacio-0436: calcularDos(4.16);
  $espacio-0058: calcularDos(0.58);
  $espacio-0078: calcularDos(0.58);
  $espacio-0224: calcularDos(2.04);
  $espacio-0131: calcularDos(1.11);
  $espacio-0183: calcularDos(1.63);
  $espacio-0117: calcularDos(0.97);
  $espacio-0110: calcularDos(1.10);
  $espacio-2000: calcularDos(1.27); // H: 12.22px espacio padding en footer pag inicio

  // TAMAÑOS DE LETRA 
  $letra-0208: calcularDos(2.08);
  $letra-21: calcularDos(2.18);
  $letra-2275: calcularDos(2.36); // Tamaño idiomas = 22.75pt
  $letra-23: calcularDos(2.40);
  $letra-24: calcularDos(2.5);
  $letra-2503: calcularDos(2.63); // Source Sans = equivale a 87pt (mas comun)
  $letra-26: calcularDos(2.70); // Patrick Hand = 26pt
  $letra-2607: calcularDos(2.77);
  $letra-2707: calcularDos(2.88);
  $letra-3006: calcularDos(3.18);
  $letra-32: calcularDos(3.33);
  $letra-65: calcularDos(6.36);

  // Nav
  $altura-header: calcularDos(8.72); //ALTURA DE HEADER
  $margen-right-header: calcularDos(6.86);
  $margen-left-header: calcularDos(7.16);

  $portada-alto: calcularDos(30.20);
  $portada-ancho: calcularDos(85.96);

  $alturaidiomas: calcularDos(0.19);
  $anchoidiomas: calcularDos(5.22); // lineas mas anchas para IDIOMAS
  $alto-cajaidiomas: calcularDos(25.79);
  $ancholineamenu: calcularDos(0.28);
  $altolineamenu: calcularDos(3.42);

  $anchomarconegro: calcularDos(0.44); //ESPACIO PARA UNION EUROPEA
  $espacio-derechanegro: calcularDos(2.11);

  $anchofaq: calcularDos(13.20);
  $espesorlineaverde: calcularDos(0.53);
  $espacio-O: calcularDos(1.40); //espacio izquierda para "o" u "or"

  $alto-lineagris: calcularDos(0.10); // LINEA GRIS FOOTER GROSOR
  $alto-lineaverde: calcularDos(0.20); //LINEA VERDE MENU GROSOR
  $alto-lineaverde-corta: calcularDos(0.15); //LINEA VERDE corta MENU GROSOR 
  $ancho-lineaverde: calcularDos(85.97); // LINEA VERDE MENU LARGO
  $ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha


  $ancho-lineagris: calcularDos(55.97); // LINEA VERDE MENU LARGO

  $ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha

	.contenedor-landing {
    	position: fixed;
    	width: 100vw;
    	height: 100vh;
    	left: 0;
    	z-index: 999;
		background : linear-gradient(0deg, #18395f -15.67%, #000413 41.54%);	

		.boton {
			&:hover {
			cursor: pointer;
			}
		}

		.fondo-web {
			width: 100vw;
			height: 100vh;
			background-size: 100%;
			// background-image: url("https://d3ubht94yroq8c.cloudfront.net/galaxia-web.jpg");
			display: flex;
			align-items: center;
			justify-content: center;

			& .cien-x-ciento {
			width: 100%;
			height: $altura-web;
			overflow: hidden;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			& .capa-gif {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: all 0.5s 0.5s;

				&.mostrar {
				opacity: 1;
				}

				&.letrero {
				z-index: 0;
				top: calcularDos(4.76);
				width: calcularDos(57.44);
				height: calc(100% - #{ calcularDos(4.76)});
				background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/letrero4-3cortado.png");
				background-size: 100% 100%;
				}

				&.luz {
				z-index: 1;
				opacity: 0.6;
				background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/luz16-10.png");
				background-size: 100% 100%;
				}

				&.texto-idiomas {
				z-index: 2;
				position: absolute;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				bottom: 30vw;

				& p {
					color: rgb(238, 36, 36);
					font-weight: 500;
					font-size: calcularDos(5.078);
					line-height: 0.8;
					text-shadow: $sombraIdiomas;
					padding-bottom: $espacio-0312;
				}
				}

				&.boton {
				z-index: 3;

				& .boton-dos {
					position: absolute;
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					left: calcularDos(34);
					bottom: calcularDos(8);

					& img {
					width: calcularDos(3.5);
					height: calcularDos(2);
					}

					& p {
					font-family: "Patrick Hand", cursive;
					font-weight: normal;
					color: $celeste_fuerte;
					font-size: calcularDos(2.58);
					line-height: 1;
					text-decoration: underline;
					}
				}
				}
			}
			}
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
  $rango: 47.92vw;
  // $rango-medida: (100vw * $rango) / 100;
  $ancho-web: 100vw;
  $altura-web: 100vh;

  @function calcularDos($porcentaje) {
    @return math.div($ancho-web * $porcentaje, 100);
  }

  @function calcularInterlineadoDos($letra, $interlineado) {
    @return $letra + math.div($interlineado, 2);
  }

  @mixin fuenteConInterlineadoDos($letra, $interlineado) {
    font-size: $letra;
    line-height: calcularInterlineado($letra, $interlineado);
  }


  // INTERLINEADOS 
  $espacio-0156: calcularDos(1.36);
  $espacio-0089: calcularDos(0.69);
  $espacio-0208: calcularDos(1.88);
  $espacio-0312: calcularDos(2.92);
  $espacio-0123: calcularDos(1.03);
  $espacio-0436: calcularDos(4.16);
  $espacio-0058: calcularDos(0.58);
  $espacio-0078: calcularDos(0.58);
  $espacio-0224: calcularDos(2.04);
  $espacio-0131: calcularDos(1.11);
  $espacio-0183: calcularDos(1.63);
  $espacio-0117: calcularDos(0.97);
  $espacio-0110: calcularDos(1.10);
  $espacio-2000: calcularDos(1.27); // H: 12.22px espacio padding en footer pag inicio

  // TAMAÑOS DE LETRA 
  $letra-0208: calcularDos(2.08);
  $letra-21: calcularDos(2.18);
  $letra-2275: calcularDos(2.36); // Tamaño idiomas = 22.75pt
  $letra-23: calcularDos(2.40);
  $letra-24: calcularDos(2.5);
  $letra-2503: calcularDos(2.63); // Source Sans = equivale a 87pt (mas comun)
  $letra-26: calcularDos(2.70); // Patrick Hand = 26pt
  $letra-2607: calcularDos(2.77);
  $letra-2707: calcularDos(2.88);
  $letra-3006: calcularDos(3.18);
  $letra-32: calcularDos(3.33);
  $letra-65: calcularDos(6.36);

  // Nav
  $altura-header: calcularDos(8.72); //ALTURA DE HEADER
  $margen-right-header: calcularDos(6.86);
  $margen-left-header: calcularDos(7.16);

  $portada-alto: calcularDos(30.20);
  $portada-ancho: calcularDos(85.96);

  $alturaidiomas: calcularDos(0.19);
  $anchoidiomas: calcularDos(5.22); // lineas mas anchas para IDIOMAS
  $alto-cajaidiomas: calcularDos(25.79);
  $ancholineamenu: calcularDos(0.28);
  $altolineamenu: calcularDos(3.42);

  $anchomarconegro: calcularDos(0.44); //ESPACIO PARA UNION EUROPEA
  $espacio-derechanegro: calcularDos(2.11);

  $anchofaq: calcularDos(13.20);
  $espesorlineaverde: calcularDos(0.53);
  $espacio-O: calcularDos(1.40); //espacio izquierda para "o" u "or"

  $alto-lineagris: calcularDos(0.10); // LINEA GRIS FOOTER GROSOR
  $alto-lineaverde: calcularDos(0.20); //LINEA VERDE MENU GROSOR
  $alto-lineaverde-corta: calcularDos(0.15); //LINEA VERDE corta MENU GROSOR 
  $ancho-lineaverde: calcularDos(85.97); // LINEA VERDE MENU LARGO
  $ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha


  $ancho-lineagris: calcularDos(55.97); // LINEA VERDE MENU LARGO

  $ancho-lineaverde-corta: calcularDos(61.40); // LINEA VERDE MENU corto de flecha a flecha


  	.contenedor-landing {
		position: fixed;
		width: 100vw;
		height: 100vh;
		left: 0;
		z-index: 999;
		background : linear-gradient(0deg, #18395f -15.67%, #000413 41.54%);	

		.boton {
			&:hover {
			cursor: pointer;
			}
		}

		.fondo-web {
			width: 100vw;
			height: 100vh;
			background-size: 100%;
			// background-image: url("https://d3ubht94yroq8c.cloudfront.net/galaxia-web.jpg");
			display: flex;
			align-items: center;
			justify-content: center;

			& .cien-x-ciento {
			width: 100%;
			height: $altura-web;
			overflow: hidden;
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;

			& .capa-gif {
				position: absolute;
				top: 0;
				height: 100%;
				width: 100%;
				opacity: 0;
				transition: all 0.5s 0.5s;

				&.mostrar {
				opacity: 1;
				}

				&.letrero {
				z-index: 0;
				top: calcularDos(4.28);
				width: calcularDos(51.70);
				height: calc(100% - #{ calcularDos(4.28)});
				background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/letrero4-3cortado.png");
				background-size: 100% 100%;
				}

				&.luz {
				z-index: 1;
				opacity: 0.6;
				background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/gif/luz16-9.png");
				background-size: 100% 100%;
				}

				&.texto-idiomas {
				z-index: 2;
				position: absolute;
				display: flex;
				flex-flow: column;
				justify-content: center;
				align-items: center;
				text-align: center;

				bottom: 30vw;

				& p {
					color: rgb(238, 36, 36);
					font-size: calcularDos(4.57);
					line-height: 0.8;
					text-shadow: $sombraIdiomas;
					padding-bottom: $espacio-0312;
				}
				}

				&.boton {
				z-index: 3;

				& .boton-dos {
					position: absolute;
					display: flex;
					flex-flow: column;
					justify-content: center;
					align-items: center;
					cursor: pointer;

					left: calcularDos(34);
					bottom: calcularDos(7);

					& img {
					width: calcularDos(3);
					height: calcularDos(2);
					}

					& p {
					font-family: "Patrick Hand", cursive;
					font-weight: normal;
					color: $celeste_fuerte;
					font-size: calcularDos(2.58);
					line-height: 1;
					text-decoration: underline;
					}
				}
				}
			}
			}
		}
	}
}
