<div
    [ngClass]="{
        'contenedor-landing': true,
        'rojo': paginas === 1,
        'rojo2': paginas === 2,
        'rojo3': paginas === 3
    }"
>
    <div class="fondo-web">
        <div class="cien-x-ciento">
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'letrero': true,
                    'mostrar': mostrarCapas[0]
                }"
            ></div>
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'luz': true,
                    'mostrar': mostrarCapas[1]
                }"
            ></div>
            <div 
                [ngClass]="{
                'capa-gif': true,
                'texto-idiomas': true,
                'mostrar': mostrarCapas[2]
                }"
            >
                <p>
                     {{ 'landingAnuncioCasiListos' | translate }}  
                </p>
            </div>
            <!-- <div
                [ngClass]="{
                    'capa-gif': true,
                    'italian': true,
                    'mostrar': mostrarCapas[3]
                }"
            ></div>
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'spanish': true,
                    'mostrar': mostrarCapas[4]
                }"
            ></div>
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'french': true,
                    'mostrar': mostrarCapas[5]
                }"
            ></div>
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'german': true,
                    'mostrar': mostrarCapas[6]
                }"
            ></div>
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'portuguese': true,
                    'mostrar': mostrarCapas[7]
                }"
            ></div> -->
            <div
                [ngClass]="{
                    'capa-gif': true,
                    'boton': true,
                    'mostrar': mostrarCapas[3]
                }"
            >
                <div
                    (click)="retornar()"
                    class="boton-dos"
                >
                    <img src="https://d3ubht94yroq8c.cloudfront.net/landing-flecha-previous.png" />
                    <p>
                        {{ 'landingPrevious' | translate }} 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
