@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.fondo-modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    width: $ancho-pagina;
    height: 100vh;
    align-items: center;
    justify-content: center;
    top: 0;
    box-sizing: border-box;
    z-index: 900;
}

.modal-abierto {
    display: flex !important;
}

.contenido-modal {
    background-color: white;
    height: fit-content;
    border: $interlineado-14 solid #000000;
    border-radius: $interlineado-13;
    width: 80%;
    padding-top: $interlineado-8;
    padding-left: $interlineado-2;
    padding-right: $interlineado-2;
    padding-bottom: $interlineado-8;
    z-index: 1000;
}

.contenedorDescripcion {
    padding-top: $interlineado-2;
    padding-bottom: $interlineado-2;
    padding-left: $interlineado-6;
    padding-right: $interlineado-6;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $espacio-0316;
}

.letraDescripcion {
    text-align: center;
    font-size: $letra-3;
    color: $azul-base;
    font-weight: bold;
}

@media screen and (min-aspect-ratio: '16/10') {
	@import "../../../../assets/estilos/dimensiones_16_10.scss";

    .fondo-modal {
        width: $ancho-pagina;
    }
    
    .contenido-modal {
        border: $interlineado-14 solid #000000;
        border-radius: $interlineado-13;
        padding-top: $interlineado-8;
        padding-left: $interlineado-2;
        padding-right: $interlineado-2;
        padding-bottom: $interlineado-8;
    }
    
    .contenedorDescripcion {
        padding-top: $interlineado-2;
        padding-bottom: $interlineado-2;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
        margin-bottom: $espacio-0316;
    }
    
    .letraDescripcion {
        font-size: $letra-3;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
	@import "../../../../assets/estilos/dimensiones_16_9.scss";

    .fondo-modal {
        width: $ancho-pagina;
    }
    
    .contenido-modal {
        border: $interlineado-14 solid #000000;
        border-radius: $interlineado-13;
        padding-top: $interlineado-8;
        padding-left: $interlineado-2;
        padding-right: $interlineado-2;
        padding-bottom: $interlineado-8;
    }
    
    .contenedorDescripcion {
        padding-top: $interlineado-2;
        padding-bottom: $interlineado-2;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
        margin-bottom: $espacio-0316;
    }
    
    .letraDescripcion {
        font-size: $letra-3;
    }
}