<app-appbar [configuracion]="confAppBar"></app-appbar>
<div [ngClass]="{
        'cuerpo': true,
        'intercambios': true
    }">

    <div class="crear-intercambio">

    </div>

    <div class="lista-items">
        <div class="titulos" *ngIf="paginacionMisIntercambios.lista.length > 0">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                })">
                {{ 'm9v4texto3' | translate }}
            </p>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })">
                {{ 'm9v4texto4' | translate }}
            </p>
        </div>
        <div *ngIf="mostrarLoader && !mostrarError" class="loader-completo">
            <app-cargando></app-cargando>
        </div>
        <div *ngIf="!mostrarLoader && mostrarError" class="error-completo">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })">
                {{ mensajeError | translate }}
            </p>
        </div>
        <div *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                mostrarNoHayItems
            " class="no-items">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })">
                {{ 'text13' | translate }}
            </p>
        </div>
        <div [id]="idCapaCuerpo" *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                paginacionMisIntercambios.lista.length > 0
            " class="items" (scroll)="scroolEnCapaCuerpo()">

            <app-item-lista-intercambio *ngFor="let item of paginacionMisIntercambios.lista" [configuracion]="item">
            </app-item-lista-intercambio>
            <div *ngIf="mostrarCargandoPequeno" class="cargando-pequeno">
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>