@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$diametro-icono: calcular(13.10);
$reproductor-altura: calcular(13.10);
$reproductor-ancho: calcular(63.82);
$reproductor-borde-radio: calcular(1.03);

.audio-reproductor {
    width: $reproductor-ancho;
    height: fit-content;

    &.ancho-completo {
        width: 100% !important;
    }

    & .titulo {
        width: 100%;
        height: fit-content;

        & p {
            max-width: 75ch;
            margin-bottom: $espacio-0136 - $defecto-bottom;
            overflow-wrap: break-word;
            text-align: justify;
        }
    }

    & .player {
        height: $reproductor-altura;
        border-radius: $reproductor-borde-radio;
        padding: 0 $espacio-267;
        box-sizing: border-box;

        display: flex;
        flex-flow: row;
        align-items: center;

        &.hacia-la-izquierda {
            transform: rotateY(-180deg);
            
            & .tiempo {
                transform: rotateY(180deg);
            }
        }
    
        &.hacia-la-derecha {
            
        }

        & .iconos {
            position: relative;
            width: $diametro-icono;
            height: $diametro-icono;
            box-sizing: border-box;
            border-radius: 50%;
            
            margin-right: $espacio-0249;

            & .icono {
                display: none;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &.mostrar {
                    display: flex;
                }

                &.reproducir {
                    background-image: $forma-icono-audio-verde;
                    background-size: 100% 100%;
                }

                &.pausar {
                    background-image: $forma-icono-pausa;
                    background-size: 100% 100%;
                }

                &.loader {
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        & .barra-tiempo {
            display: flex;
            flex: 1;
            margin-right: $espacio-0139;
            position: relative;
            height: calcular(0.7);
            background: $azul-claro;
            border-radius: calcular(1.567);
            z-index: 1;

            &.esComentarioRespuesta {
                background-color: #9f8282;
            }

            & .linea-superior {
                position: absolute;
                top: 0;
                left: 0;
                max-width: calc(100% - #{ calcular(2.5) });
                height: 100%;
                border-top-left-radius: calcular(1.567);
                border-bottom-left-radius: calcular(1.567);
                background-color: $azul-base;
                z-index: 2;
                transition: all 0.1s 0.1s ease-in;

                &::after {
                    content: " ";
                    width: calcular(2.5);
                    height: calcular(2.5);
                    border-radius: 50%;
                    background-color: $azul-base;

                    position: absolute;
                    z-index: 3;
                    right: calcular(2.5) * -1;
                    top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                    transition: all 0.1s 0.1s ease-in;
                }

                &.esComentarioRespuesta {
                    background-color: #fff;

                    &::after {
                        background-color: #fff;
                    }
                }
            }
        }

        & .tiempo {
            &.esComentarioRespuesta {
                & p {
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss"; 

    $diametro-icono: calcular(13.10);
    $reproductor-altura: calcular(13.10);
    $reproductor-ancho: calcular(63.82);
    $reproductor-borde-radio: calcular(1.03);

    .audio-reproductor {
        width: $reproductor-ancho;

        & .titulo {
            
            & p {
                margin-bottom: $espacio-0136 - $defecto-bottom;
            }
        }

        & .player {
            height: $reproductor-altura;
            border-radius: $reproductor-borde-radio;
            padding: 0 $espacio-267;

            & .iconos {
                width: $diametro-icono;
                height: $diametro-icono;
                margin-right: $espacio-0249;

                & .icono {
                    &.reproducir {
                        background-image: $forma-icono-audio-verde;
                        background-size: 100% 100%;
                    }

                    &.pausar {
                        background-image: $forma-icono-pausa;
                        background-size: 100% 100%;
                    }
                }
            }

            & .barra-tiempo {
                margin-right: $espacio-0139;
                height: calcular(0.7);
                border-radius: calcular(1.567);

                & .linea-superior {
                    max-width: calc(100% - #{ calcular(2.5) });
                    border-top-left-radius: calcular(1.567);
                    border-bottom-left-radius: calcular(1.567);

                    &::after {
                        width: calcular(2.5);
                        height: calcular(2.5);
                        right: calcular(2.5) * -1;
                        top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss"; 

    $diametro-icono: calcular(13.10);
    $reproductor-altura: calcular(13.10);
    $reproductor-ancho: calcular(63.82);
    $reproductor-borde-radio: calcular(1.03);

    .audio-reproductor {
        width: $reproductor-ancho;

        & .titulo {
            
            & p {
                margin-bottom: $espacio-0136 - $defecto-bottom;
            }
        }

        & .player {
            height: $reproductor-altura;
            border-radius: $reproductor-borde-radio;
            padding: 0 $espacio-267;

            & .iconos {
                width: $diametro-icono;
                height: $diametro-icono;
                margin-right: $espacio-0249;

                & .icono {
                    &.reproducir {
                        background-image: $forma-icono-audio-verde;
                        background-size: 100% 100%;
                    }

                    &.pausar {
                        background-image: $forma-icono-pausa;
                        background-size: 100% 100%;
                    }
                }
            }

            & .barra-tiempo {
                margin-right: $espacio-0139;
                height: calcular(0.7);
                border-radius: calcular(1.567);

                & .linea-superior {
                    max-width: calc(100% - #{ calcular(2.5) });
                    border-top-left-radius: calcular(1.567);
                    border-bottom-left-radius: calcular(1.567);

                    &::after {
                        width: calcular(2.5);
                        height: calcular(2.5);
                        right: calcular(2.5) * -1;
                        top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                    }
                }
            }
        }
    }
}