<div
    *ngIf="configuracion"
    [ngClass]="{
        'audio-reproductor': true,
        'ancho-completo': (configuracion.anchoCompleto)
    }"
    gestorEventos
    (dobleTap)="eventoDobleTap()"
    (press)="eventoPress()"
>
    <div
        *ngIf="configuracion.mostrarTitulo"
        class="titulo"
    >
        <p
            *ngIf="configuracion.media.descripcion"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
            })"
        >
            {{ configuracion.media.descripcion }}
        </p>
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
            })"
        >
            {{ configuracion.media.fechaActualizacion | date:"dd/MM/yyyy " }}


        </p>
    </div>
    <!-- Reproductor -->
    <div
        [ngClass]="obtenerClasesParaReproductor()"
        [ngStyle]="obtenerEstilosParaContendorDelTexto()"
    >
        <!-- Media Tag HTML -->
        <audio
            id="{{ configuracion.idInterno }}"
            style="width: 0 !important;height: 0 !important;opacity: 0 !important;"
            (load)="definirDuracionDelAudio($event)"
            (canplaythrough)="definirDuracionDelAudio($event)"
            preload="{{ configuracion.preload ? 'auto' : 'none' }}"
        >
            <source 
                [src]="configuracion.media.principal.url"
                [type]="'audio/' + configuracion.media.principal.url.split('.')[configuracion.media.principal.url.split('.').length - 1]"
            >
        </audio>
        <!-- Iconos -->
        <div
            class="iconos"
        >
            <div
                [ngClass]="{
                    'icono': true,
                    'reproducir': true,
                    'mostrar': !configuracion.reproduciendo && !configuracion.mostrarLoader
                }"
                (tap)="eventoTapIconoReproducir()"
            ></div>
            <div
                [ngClass]="{
                    'icono': true,
                    'pausar': true,
                    'mostrar': configuracion.reproduciendo && !configuracion.mostrarLoader
                }"
                (tap)="eventoTapIconoPausar()"
            ></div>
            <div
                [ngClass]="{
                    'icono': true,
                    'loader': true,
                    'mostrar': !configuracion.reproduciendo && configuracion.mostrarLoader
                }"
            >
                <app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
            </div>
        </div>
        <!-- Linea de tiempo -->
        <div
            [ngClass]="{
                'barra-tiempo': true,
                'esComentarioRespuesta': (configuracion.esComentarioRespuesta)
            }"
        >
            <div
                [ngClass]="{
                    'linea-superior': true,
                    'esComentarioRespuesta': (configuracion.esComentarioRespuesta)
                }"
                [ngStyle]="obtenerEstiloLineaReproductor()"
            ></div>
        </div>
        <!-- Duracion del audio -->
        <div
            [ngClass]="{
                'tiempo': true,
                'esComentarioRespuesta': (configuracion.esComentarioRespuesta)
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                })"
            >
                {{ obtenerTiempoDeGrabacion(!this.configuracion.reproduciendo) }}
            </p>
        </div>
    </div>
</div>
