<!-- Contenedor para tercios -->
<div 
    [ngClass]="{
        'contenedor-tercios': true
    }"
>
    <!-- Izquierda -->
    <div
        [ngClass]="{
            'tercio': true,
            'izquierda': true
        }"
    >
        <app-toast #toastIzq [configuracion]='confToastIzq'></app-toast>
        <ng-template #tercio_izquierda></ng-template>
    </div>
    <!-- Centro -->
    <div
        [ngClass]="{
            'tercio': true,
            'centro': true
        }"
    >
        <app-toast #toastCen [configuracion]='confToastCen'></app-toast>
        <ng-template #tercio_central></ng-template>
    </div>
    <!-- Derecha -->
    <div
        [ngClass]="{
            'tercio': true,
            'derecha': true
        }"
    >
    <app-toast #toastDer [configuracion]='confToastDer'></app-toast>
        <ng-template #tercio_derecha></ng-template>
    </div>
</div>

<!-- Camara -->
<app-camara
    #camara
    *ngIf="camaraService.confCamara"
    [configuracion]="camaraService.confCamara"
></app-camara>

<!-- Cropper -->
<app-cropper
    #cropper
    *ngIf="camaraService.confCropper"
    [configuracion]="camaraService.confCropper"
></app-cropper>


<app-imagen-patanlla-completa
    #imgPantComple
    *ngIf="imagenPantallaCompletaService.confImagenPantallaCompleta"
    [configuracion]="imagenPantallaCompletaService.confImagenPantallaCompleta"
>

</app-imagen-patanlla-completa>
<!-- <app-portada-expandida
    #portada
    *ngIf="camaraService.confCropper"
    [configuracion]="camaraService.confCropper"
>
</app-portada-expandida> -->


<!-- Enrutador navegacion -->
<app-enrutador-navegacion [configuracion]="confEnrutadorNavegacion"></app-enrutador-navegacion>
