<div class="publicitario" [style.background-color]=configuracion.colorFondo [style.margin-bottom]=configuracion.espacio>
    <div class="titulo">
        <p [style.color]=configuracion.colorTexto [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULCLARO, 
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I1
        })">
            {{configuracion.titulo}}
        </p>
    </div>

    <div class="descripcion">
        <div class="texto">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L15_IGUAL
            })">
                {{configuracion.descripcion}}
            </p>
        </div>
    </div>

    <div class="input">
        <div class="fecha">
            {{ configuracion.fecha | date:'dd/MM/yyyy' }}
        </div>
    </div>
</div>