@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$width-input-busqueda: calc(100% - #{$espacio-0756});

.barraBuscar {
    position: absolute;
    z-index: 999;
    top: $espacio-267;
    background: $blanco;
    width: $ancho-barra-busqueda;
    display: flex;
    align-items: center;
    left: $espacio-267;
    height: $alto-barra-busqueda;
    border: $espesor-borde-barra-buscar solid $negro;
    border-bottom-left-radius: $radio-borde-barra-buscar;
    border-top-left-radius: $radio-borde-barra-buscar;
    border-bottom-right-radius: $radio-borde-barra-buscar;
    border-top-right-radius: $radio-borde-barra-buscar;
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;

    .inputBusqueda {
        height: 90%;
        width: $width-input-busqueda;
        box-sizing: border-box;
        border: none;
        border-radius: $radio-borde-barra-buscar;
        font-size: $letra-3;
        outline: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: $espacio-0167;
        padding-right: $espacio-0167;
        &.fuente-4 {
            font-size: $letra-4;
        }
        &::placeholder {
            text-align: center;
            color: $txt-celeste;
        }
    }
    .icono {
        width: $espacio-0756;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: $espacio-0167;
        cursor: pointer;
        .iconoLupa {
            background-image: $forma-lupa;
            width: $espacio-0756;
            height: $espacio-0756;
            right: $espacio-0167;
        }

        .iconoX {
            background-image: $cruz-negra-borrar;
            width: $espacio-0756;
            height: $espacio-0756;
            right: $espacio-0167;
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";
    
    $width-input-busqueda: calc(100% - #{$espacio-0756});

    .barraBuscar {
        top: $espacio-267;
        background: $blanco;
        width: $ancho-barra-busqueda;
        left: $espacio-267;
        height: $alto-barra-busqueda;
        border: $espesor-borde-barra-buscar solid $negro;
        border-bottom-left-radius: $radio-borde-barra-buscar;
        border-top-left-radius: $radio-borde-barra-buscar;
        border-bottom-right-radius: $radio-borde-barra-buscar;
        border-top-right-radius: $radio-borde-barra-buscar;


        .inputBusqueda {
            width: $width-input-busqueda;
            border-radius: $radio-borde-barra-buscar;
            font-size: $letra-3;
            padding-left: $espacio-0167;
            padding-right: $espacio-0167;

            &.fuente-4 {
                font-size: $letra-4;
            }
        }

        .icono {
            width: $espacio-0756;
            padding-right: $espacio-0167;

            .iconoLupa {
                background-image: $forma-lupa;
                background-size: 100% 100%;
                width: $espacio-0756;
                height: $espacio-0756;
                right: $espacio-0167;
            }

            .iconoX {
                background-image: $cruz-negra-borrar;
                background-size: 100% 100%;
                width: $espacio-0756;
                height: $espacio-0756;
                right: $espacio-0167;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .barraBuscar {
        top: $espacio-267;
        background: $blanco;
        width: $ancho-barra-busqueda;
        left: $espacio-267;
        height: $alto-barra-busqueda;
        border: $espesor-borde-barra-buscar solid $negro;
        border-bottom-left-radius: $radio-borde-barra-buscar;
        border-top-left-radius: $radio-borde-barra-buscar;
        border-bottom-right-radius: $radio-borde-barra-buscar;
        border-top-right-radius: $radio-borde-barra-buscar;

        .inputBusqueda {
            width: $width-input-busqueda;
            border-radius: $radio-borde-barra-buscar;
            font-size: $letra-3;
            padding-left: $espacio-0167;
            padding-right: $espacio-0167;

            &.fuente-4 {
                font-size: $letra-4;
            }
        }

        .icono {
            width: $espacio-0756;
            padding-right: $espacio-0167;

            .iconoLupa {
                background-image: $forma-lupa;
                background-size: 100% 100%;
                width: $espacio-0756;
                height: $espacio-0756;
                right: $espacio-0167;
            }

            .iconoX {
                background-image: $cruz-negra-borrar;
                background-size: 100% 100%;
                width: $espacio-0756;
                height: $espacio-0756;
                right: $espacio-0167;
            }
        }
    }
}
