@use "sass:math";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
p {
    white-space: pre-line;
}

.login {
    position: relative;
    z-index: 1;
    height: $altura-pagina;
    width: $ancho-pagina;

    display: flex;
    align-items: center;
    flex-flow: column;
    align-items: center;

    & .nav {
        height: $item-menu-alto-2621;
        width: 100%;
        background-color: $azul-appbar;
        display: flex;
        justify-content: center;

        transition: $transicion-contenido;

        &.no-visible {
            opacity: 0;
        }

        & .contenido {
            width: $ancho-6920;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }
    }

    & .cuerpo {
        width: 100%;
        height: calc(100vh - #{$appbar-alto-default});
        padding: 0 !important;

        display: flex;
        flex-flow: column;
        align-items: center;
        overflow-y: auto;

        opacity: 1;
        transition: $transicion-contenido;

        &.no-visible {
            opacity: 0;
        }

        &.sin-scrool {
            overflow: hidden;
        }

        & .aviso-idiomas {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: $tranparencia-base-aviso-idiomas;
            box-sizing: border-box;
            padding-top: $portada-gaze-alto-completo;

            opacity: 0;
            z-index: -1;

            overflow-y: scroll;
            &.mostrar {
                opacity: 1;
                z-index: 2;
            }

            & .titulo {
                width: 100%;
                height: fit-content;
                box-sizing: border-box;
                padding: $espacio-522 * 2 $espacio-267;

                & p {
                    width: 100%;
                    text-align: center;
                }
            }

            & .contexto {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: $espacio-522 * 2;
                padding: 0 $espacio-267;

                & p {
                    text-align: justify;
                }
            }

            & .boton-idiomas {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }

        & .gazeTexto {
            padding-top: $espacio-0178 - $defecto-top;
            padding-bottom: $espacio-0249 - $defecto-bottom;
            padding-left: math.div($espacio-0249, 2);
            padding-right:  math.div($espacio-0249, 2);
            background-color: $tranparencia-base;
            text-align: center;
        }
        & .contenido {
            width: $ancho-6920;
            padding: 0 $espacio-267;
            box-sizing: border-box;
            height: fit-content;

            & .ocultar {
                opacity: 0 !important;
            }
        }

        & .contenido-color {
            width: $ancho-6920;
            padding: 0 $espacio-267;
            box-sizing: border-box;
            background-color: $tranparencia-base;
            height: fit-content;

            & .ocultar {
                opacity: 0 !important;
            }
        }
    }
}

.escogerLeng {
    height: $item-menu-alto-2621 - calcular(6.4);
    padding-top: $interlineado-8;
    padding-bottom: $interlineado-1;
    box-sizing: border-box;
    text-align: center;
}

.divLetraInput {
    padding: 0 0 $interlineado-2 - $defecto-top 0;
}

.divLetraLogin {
    padding-bottom: $espacio-0249 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
}
.divLetraLogin2 {
    padding-bottom: $espacio-0316 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
}

.div249 {
    width: 100%;
    height: $interlineado-4 - $defecto-top;
}

.olvidaste-contra {
    width: 100%;
    height: $espacio-0178 - $defecto-top;
}

.divTres {
    box-sizing: border-box;
    color: $blanco;
    text-align: center;
    padding-top: calcular(6);
}

.textTiempo {
    font-size: $letra-5;
}

.textVisita {
    font-size: $letra-3;
}

.textLogin {
    font-size: $letra-7;
    color: $amarillo-base;
}

.textEmail {
    font-size: $letra-4;
    color: $amarillo-base;
}
.textOlvideContrasena {
    text-align: right;
    color: $blanco;
    font-size: $letra-2;
    cursor: pointer;
}

.tituloPensamiento {
    color: $blanco;
    font-size: $letra-3;
    padding-top: $interlineado-10;
    box-sizing: border-box;
    color: $blanco;
    text-align: center;
}

.divBoton {
    padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
    padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    box-sizing: border-box;
}

.linea-verde {
    // padding-top: $espacio-0249;
    // padding-bottom: $espacio-0249;
}

.txt-login {
    padding-top: $espacio-522 + $espacio-0249 - $defecto-top;
    line-height: 0.8;
}

.boton-suscribirse {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: $espacio-522 + $espacio-0249 - $defecto-top;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & p {
        text-align: center;
        width: 100%;
        margin-bottom: $espacio-0316 - $defecto-bottom;
    }
}

.div522 {
    padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
    padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    box-sizing: border-box;
}

.divContenido {
    float: left;
    width: 100%;
    height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});
    overflow-y: auto;
}

.modal-recuperar-contrasena {
    display: none;
    position: absolute;
    z-index: 999;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: $ancho-pagina;
    height: $altura-pagina;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .forma {
        width: 90%;
        height: fit-content;
        border-radius: calcular(1.026);
        padding: $espacio-267;
        box-sizing: border-box;
        background-color: #ffffff;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        & p {
            margin-bottom: calcular(2);
            text-align: center;
        }

        & input {
            border-radius: calcular(1.026);
            border: none;
            padding: $espacio-0178;
            box-sizing: border-box;
            width: 100%;
            margin-bottom: calcular(2);
            font-size: $letra-3;
            background-color: $input-fondo-registro;
        }

        & button {
            font-size: $letra-3;
        }

        & .error {
            width: 100%;
            margin: $espacio-0178 0;

            & p {
                text-align: center;
            }
        }

        & .status {
            width: 100%;
            margin: $espacio-0178 0;

            & p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    .login {
        height: $altura-pagina;
        width: $ancho-pagina;

        & .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;
            }
        }

        & .cuerpo {
            height: calc(100vh - #{$appbar-alto-default});

            & .aviso-idiomas {
                padding-top: $portada-gaze-alto-completo;

                & .titulo {
                    padding: $espacio-522 * 2 $espacio-267;
                }

                & .contexto {
                    margin-bottom: $espacio-522 * 2;
                    padding: 0 $espacio-267;
                }
            }

            & .gazeTexto {
                padding-top: $espacio-0178 - $defecto-top;
                padding-bottom: $espacio-0249 - $defecto-bottom;
                padding-left: math.div($espacio-0249, 2);
                padding-right:  math.div($espacio-0249, 2);
                background-color: $tranparencia-base;
                text-align: center;
            }

            & .contenido {
                width: $ancho-6920;
                padding: 0 $espacio-267;
            }

            & .contenido-color {
                width: $ancho-6920;
                padding: 0 $espacio-267;
            }
        }
    }

    .escogerLeng {
        height: $item-menu-alto-2621 - calcular(6.4);
        padding-top: $interlineado-8;
        padding-bottom: $interlineado-1;
    }

    .divLetraInput {
        padding: 0 0 $interlineado-2 - $defecto-top 0;
    }

    .divLetraLogin {
        padding-bottom: $espacio-0249 - $defecto-total;
    }
    .divLetraLogin2 {
        padding-bottom: $espacio-0316 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
    }

    .div249 {
        height: $interlineado-4 - $defecto-top;
    }

    .olvidaste-contra {
        height: $espacio-0178 - $defecto-top;
    }

    .divTres {
        padding-top: calcular(6);
    }

    .textTiempo {
        font-size: $letra-5;
    }

    .textVisita {
        font-size: $letra-3;
    }

    .textLogin {
        font-size: $letra-7;
    }

    .textEmail {
        font-size: $letra-4;
    }

    .textOlvideContrasena {
        font-size: $letra-2;
    }

    .tituloPensamiento {
        font-size: $letra-3;
        padding-top: $interlineado-10;
    }

    .divBoton {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
        padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    }

    .linea-verde {
        // padding-top: $espacio-0249;
        // padding-bottom: $espacio-0249;
    }

    .txt-login {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-top;
    }

    .boton-suscribirse {
        margin-bottom: $espacio-522 + $espacio-0249 - $defecto-top;

        & p {
            margin-bottom: $espacio-0316 - $defecto-bottom;
        }
    }

    .div522 {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
        padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    }

    .divContenido {
        height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});
    }

    .modal-recuperar-contrasena {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .forma {
            border-radius: calcular(1.026);
            padding: $espacio-267;

            & p {
                margin-bottom: calcular(2);
            }

            & input {
                border-radius: calcular(1.026);
                padding: $espacio-0178;
                margin-bottom: calcular(2);
                font-size: $letra-3;
                background-color: $input-fondo-registro;
            }

            & button {
                font-size: $letra-3;
            }

            & .error {
                margin: $espacio-0178 0;
            }

            & .status {
                margin: $espacio-0178 0;
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../assets/estilos/dimensiones_16_9.scss";

    .login {
        height: $altura-pagina;
        width: $ancho-pagina;

        & .nav {
            height: $item-menu-alto-2621;

            & .contenido {
                width: $ancho-6920;
            }
        }

        & .cuerpo {
            height: calc(100vh - #{$appbar-alto-default});

            & .aviso-idiomas {
                padding-top: $portada-gaze-alto-completo;

                & .titulo {
                    padding: $espacio-522 * 2 $espacio-267;
                }

                & .contexto {
                    margin-bottom: $espacio-522 * 2;
                    padding: 0 $espacio-267;
                }
            }

            & .gazeTexto {
                padding-top: $espacio-0178 - $defecto-top;
                padding-bottom: $espacio-0249 - $defecto-bottom;
                padding-left: math.div($espacio-0249, 2);
                padding-right:  math.div($espacio-0249, 2);
                background-color: $tranparencia-base;
                text-align: center;
            }
            & .contenido {
                width: $ancho-6920;
                padding: 0 $espacio-267;
            }

            & .contenido-color {
                width: $ancho-6920;
                padding: 0 $espacio-267;
            }
        }
    }

    .escogerLeng {
        height: $item-menu-alto-2621 - calcular(6.4);
        padding-top: $interlineado-8;
        padding-bottom: $interlineado-1;
    }

    .divLetraInput {
        padding: 0 0 $interlineado-2 - $defecto-top 0;
    }

    .divLetraLogin {
        padding-bottom: $espacio-0249 - $defecto-total;
    }

    .divLetraLogin2 {
        padding-bottom: $espacio-0316 - $defecto-total; //0 0 ($interlineado-4 - ($interlineado-4 /2)) 0;
    }

    .div249 {
        height: $interlineado-4 - $defecto-top;
    }

    .olvidaste-contra {
        height: $espacio-0178 - $defecto-top;
    }

    .divTres {
        padding-top: calcular(6);
    }

    .textTiempo {
        font-size: $letra-5;
    }

    .textVisita {
        font-size: $letra-3;
    }

    .textLogin {
        font-size: $letra-7;
    }

    .textEmail {
        font-size: $letra-4;
    }

    .textOlvideContrasena {
        font-size: $letra-2;
    }

    .tituloPensamiento {
        font-size: $letra-3;
        padding-top: $interlineado-10;
    }

    .divBoton {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
        padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    }

    .linea-verde {
        // padding-top: $espacio-0249;
        // padding-bottom: $espacio-0249;
    }

    .txt-login {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-top;
    }

    .boton-suscribirse {
        margin-bottom: $espacio-522 + $espacio-0249 - $defecto-top;

        & p {
            margin-bottom: $espacio-0316 - $defecto-bottom;
        }
    }

    .div522 {
        padding-top: $espacio-522 + $espacio-0249 - $defecto-bottom;
        padding-bottom: $espacio-522 + $espacio-0249 + $defecto-bottom;
    }

    .divContenido {
        height: calc(#{$altura-pagina} - #{($item-menu-alto-2621 + $portada-gaze-alto-completo)});
    }

    .modal-recuperar-contrasena {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .forma {
            border-radius: calcular(1.026);
            padding: $espacio-267;

            & p {
                margin-bottom: calcular(2);
            }

            & input {
                border-radius: calcular(1.026);
                padding: $espacio-0178;
                margin-bottom: calcular(2);
                font-size: $letra-3;
                background-color: $input-fondo-registro;
            }

            & button {
                font-size: $letra-3;
            }

            & .error {
                margin: $espacio-0178 0;
            }

            & .status {
                margin: $espacio-0178 0;
            }
        }
    }
}
