@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.link {
    width: 100%;
    box-sizing: border-box;
    padding: 0 $espacio-0658;

    display: flex;
    flex-flow: column;
    margin-bottom: $espacio-522 - $defecto-bottom;
    cursor: pointer;

    & .titulo {
        width: 100%;
        margin-bottom: $espacio-0178 - ($defecto-bottom * 2);

        & p {
            
        }
    }

    & .portada {
        width: 100%;
        margin-bottom: $espacio-0178 - ($defecto-bottom * 2);

        & p {
            
        }
    }

    & .url {
        width: 100%;

        & p {
            width: 100%;
            line-break: anywhere;
            position: relative;
            // display: flex;
            // align-items: center;
            // justify-content: flex-start;

            &::before {
                // background-color: coral;
                position: absolute;
                content: " ";
                background-color: $blanco;
                width: calcular(1.6);
                height: calcular(1.8);
                border-radius: 50%;
                left: calc(-1 * ((#{ $espacio-0658 } / 2) + (#{ calcular(2) } / 2)));
                top: calcular(1.6);
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss"; 

    .link {
        padding: 0 $espacio-0658;
        margin-bottom: $espacio-522 - $defecto-bottom;
    
        & .titulo {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
        }
    
        & .portada {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
        }
    
        & .url {
            & p {
                &::before {
                    width: calcular(1.6);
                    height: calcular(1.8);
                    left: calc(-1 * ((#{ $espacio-0658 } / 2) + (#{ calcular(2) } / 2)));
                    top: calcular(1.6);
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss"; 

    .link {
        padding: 0 $espacio-0658;
        margin-bottom: $espacio-522 - $defecto-bottom;
    
        & .titulo {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
        }
    
        & .portada {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
        }
    
        & .url {
            & p {
                &::before {
                    width: calcular(1.6);
                    height: calcular(1.8);
                    left: calc(-1 * ((#{ $espacio-0658 } / 2) + (#{ calcular(2) } / 2)));
                    top: calcular(1.6);
                }
            }
        }
    }
}