<div
    *ngIf="configuracion && configuracion.media"
    class="link"
    
    gestorEventos
    (eventoTap)="eventoTap()"
    (dobleTap)="eventoDobleTap()"
    (press)="eventoPress()"
>   
    <div
        *ngIf="configuracion.esPortada"
        class="portada"
    >
        <p
            *ngIf="configuracion.entidad === CodigosCatalogoEntidadEnum.NOTICIA && configuracion.albumPredeterminado"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm4v8texto7' | translate }}
        </p>
        <p
            *ngIf="configuracion.entidad === CodigosCatalogoEntidadEnum.NOTICIA && !configuracion.albumPredeterminado"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm4v8texto7.1' | translate }}
        </p>
        <p
            *ngIf="configuracion.entidad === CodigosCatalogoEntidadEnum.PROYECTO"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOMEDIO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ 'm4v8texto7.1' | translate }}
        </p>
    </div>
    <div 
        *ngIf="configuracion.media.descripcion"
        class="titulo"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: (configuracion.fueVisitado) ? estiloDelTextoServicio.colorDelTexto.TEXTO_LINK_VISITADO : estiloDelTextoServicio.colorDelTexto.TEXTOAZULMEDIO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,  
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ configuracion.media.descripcion }}
        </p>
    </div>
    <!-- <div
        *ngIf="configuracion.esPortada"
        class="portada"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })"
        >
            {{ 'm4v8texto7' | translate }}
        </p>
    </div> -->
    <div class="url">
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: (configuracion.fueVisitado) ? estiloDelTextoServicio.colorDelTexto.TEXTO_LINK_VISITADO : estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })"
        >
            {{ configuracion.media.principal.url }}
        </p>
    </div>
</div>
<div
    *ngIf="!configuracion && !configuracion.media"
>

</div>
