<app-appbar *ngIf="configuracionAppBar" [configuracion]="configuracionAppBar"> </app-appbar>
<div class="contenedor-compras">
    <div [ngClass]="{ 'fondo-transparente': true }">
        <div class="item">

            <div class="primer-texto">
                <div class="texto1">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                    })" class="texto-justificado">
                        {{ 'm6v4texto2' | translate }}
                    </p>
                </div>
                <div class="texto2">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                    })" class="texto-justificado">
                        {{ 'm6v4texto3' | translate }}
                    </p>
                </div>
            
                <div class="conmargen">
                    <p class="espacio-top-249" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                        })">
                        {{ 'm6v4texto4' | translate }}
                    </p>
                    <p class="espacio-top-249" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                        })">
                        {{ 'm6v4texto5' | translate }}
                    </p>
                    <p class="espacio-top-249" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                        })">
                        {{ 'm6v4texto6' | translate }}
                    </p>
                    <p class="espacio-top-249" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                        })">
                        {{ 'm6v4texto7' | translate }}
                    </p>
                </div>
                <div class="conmarginbottom">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                        })">
                        {{ 'm6v4texto8' | translate }}
                    </p>
                </div>

            </div>
            <div class="botones">
                <app-button *ngIf="botonIntercambio" class="botonIntercambio" [botonCompartido]="botonIntercambio">
                </app-button>
            </div>



        </div>
        <div class="linea-verde">
            <app-linea class="lineaVerde" [configuracionLinea]="confLinea"></app-linea>
        </div>
        <div class="item item-paddin">
            <div class="botones2">
                <app-button *ngIf="botonCompra" [botonCompartido]="botonCompra"></app-button>
            </div>
            <div class="segundo-texto">
                <div class="espacio-522">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                        })" class="texto-justificado">
                        {{ 'm6v4texto11' | translate }}
                    </p>
                </div>
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                })" class="texto-justificado">
                    {{ 'm6v4texto12' | translate }}
                </p>
                <div class="conmargindos">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                    })">
                        {{ 'm6v4texto13' | translate }}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>
<app-dialogo *ngIf="mostrarDialogo" [configuracion]="configDialogoLateral"></app-dialogo>