@use "sass:math";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

.fondo-transparente {
    // width: $ancho-6916;
    height: $cuerpo-default-alto;
    // background-color: $tranparencia-base;
    // left: calc(50% - #{$ancho-6382 / 2}) ;
    z-index: 2;
    overflow-y: auto;
}

.contenedor-compras {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
}

.titulo-compra {
    font-size: $letra-4;
    text-align: center;
    padding-top: $espacio-0316;
    padding-bottom: $espacio-522;
}

.cuerpo-compra {
    color: $blanco;
    font-size: $letra-3;
}

.subtitulo-aviso {
    color: $blanco;
    font-size: $letra-1;
    color: $celeste-base;
    padding-top: $espacio-0316;
    padding-bottom: $espacio-0316;
}

.subtitulo-compra {
    color: $blanco;
    font-size: $letra-3;
    padding-top: $espacio-0249;
}
.linea-verde{
    // background-color: $tranparencia-base;;
    width: $ancho-6916;
    margin-left: calc(50% - #{math.div($ancho-6916, 2)});
}
.item {
    // padding: $espacio-0167;
    // padding-top: $espacio-0316;
    // padding-bottom: $espacio-522;
    // padding-left: $espacio-267;
    // padding-right: $espacio-267;
    // background-color: steelblue;
    // margin: $espacio-0167;
    margin-left: $espacio-267 ;
    margin-right: $espacio-267 ;
    margin-top:  $espacio-522;
    margin-bottom: $espacio-522;

    border: calcular(0.5) solid $blanco;
    border-radius: calcular(1.567);
    & .titulo {
        // background-color: $tranparencia-base;
        width: $ancho-6916;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316 - $defecto-bottom;
        margin-left: calc(50% - #{math.div($ancho-6916, 2)});
    }
    & .botones{
        // background-color: $tranparencia-base;
        width: $ancho-6916;
        padding-top: $espacio-178 - $defecto-top;
        padding-bottom: $espacio-522 - $defecto-bottom;
        margin-left: calc(50% - #{math.div($ancho-6916, 2)});
    }
    & .botones2{
        width: $ancho-6916;
        padding-top: $espacio-522 - $defecto-bottom;
        // padding-bottom: $espacio-522 - $defecto-bottom;
        margin-left: calc(50% - #{math.div($ancho-6916, 2)});
    }
    & .primer-texto {
        // background-color: $tranparencia-base;
        margin-top: $espacio-178 - $defecto-top;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-0249 - $defecto-bottom;
        & .texto-justificado{
            text-align: justify;
        }
        & .texto1{
            padding-bottom: $espacio-267 - $defecto-total;
        }
        
    }
    & .segundo-texto {
        // background-color: $tranparencia-base;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-top: $espacio-0316 - $defecto-top;
        padding-right: $espacio-0316 - $defecto-top;
        & .texto-justificado{
            text-align: justify;
        }
    }
}

.item-paddin {
    margin-top: $espacio-522;
    margin-bottom: $espacio-522;
}

.conmarginbottom {
    margin-top: $espacio-0316 - $defecto-top;
    // margin-bottom: $espacio-0316 - $defecto-bottom;
}

.conmargen {
    padding: 0 0 $espacio-0249 - $defecto-bottom 0;
}

.conmargindos {
    padding: $espacio-0316 0 $espacio-0316 - $defecto-bottom 0;
}

.lineaVerde {
    display: flex;
    justify-content: center;
    // padding-bottom: $espacio-522 - $espacio-0316 - $defecto-top;
}

.botonCompra {
    padding-top: $espacio-0316;
    padding-bottom: $espacio-522;
}
.espacio-top-249 {
    padding-top: calcular(1.1);
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";
    .fondo-transparente {
        // width: $ancho-6916;
        height: $cuerpo-default-alto;
        // background-color: $tranparencia-base;
        // left: calc(50% - #{$ancho-6382 / 2}) ;
        z-index: 2;
        overflow-y: auto;
    }
    
    .contenedor-compras {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
    }
    
    .titulo-compra {
        font-size: $letra-4;
        text-align: center;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-522;
    }
    
    .cuerpo-compra {
        color: $blanco;
        font-size: $letra-3;
    }
    
    .subtitulo-aviso {
        color: $blanco;
        font-size: $letra-1;
        color: $celeste-base;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
    }
    
    .subtitulo-compra {
        color: $blanco;
        font-size: $letra-3;
        padding-top: $espacio-0249;
    }
    .linea-verde{
        // background-color: $tranparencia-base;;
        width: $ancho-6916;
        margin-left: calc(50% - #{math.div($ancho-6916, 2)});
    }
    .item {
        // padding: $espacio-0167;
        // padding-top: $espacio-0316;
        // padding-bottom: $espacio-522;
        // padding-left: $espacio-267;
        // padding-right: $espacio-267;
        // background-color: steelblue;
        // margin: $espacio-0167;
        margin-left: $espacio-267 ;
        margin-right: $espacio-267 ;
        margin-top:  $espacio-522;
        margin-bottom: $espacio-522;
    
        border: calcular(0.5) solid $blanco;
        border-radius: calcular(1.567);
        & .titulo {
            // background-color: $tranparencia-base;
            width: $ancho-6916;
            padding-top: $espacio-0316;
            padding-bottom: $espacio-0316 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .botones{
            // background-color: $tranparencia-base;
            width: $ancho-6916;
            padding-top: $espacio-178 - $defecto-top;
            padding-bottom: $espacio-522 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .botones2{
            width: $ancho-6916;
            padding-top: $espacio-522 - $defecto-bottom;
            // padding-bottom: $espacio-522 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .primer-texto {
            // background-color: $tranparencia-base;
            margin-top: $espacio-178 - $defecto-top;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            padding-bottom: $espacio-0249 - $defecto-bottom;
            & .texto-justificado{
                text-align: justify;
            }
            & .texto1{
                padding-bottom: $espacio-267 - $defecto-total;
            }
            
        }
        & .segundo-texto {
            // background-color: $tranparencia-base;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            padding-top: $espacio-0316 - $defecto-top;
            padding-right: $espacio-0316 - $defecto-top;
            & .texto-justificado{
                text-align: justify;
            }
        }
    }
    
    .item-paddin {
        margin-top: $espacio-522;
        margin-bottom: $espacio-522;
    }
    
    .conmarginbottom {
        margin-top: $espacio-0316 - $defecto-top;
        // margin-bottom: $espacio-0316 - $defecto-bottom;
    }
    
    .conmargen {
        padding: 0 0 $espacio-0249 - $defecto-bottom 0;
    }
    
    .conmargindos {
        padding: $espacio-0316 0 $espacio-0316 - $defecto-bottom 0;
    }
    
    .lineaVerde {
        display: flex;
        justify-content: center;
        // padding-bottom: $espacio-522 - $espacio-0316 - $defecto-top;
    }
    
    .botonCompra {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-522;
    }
    .espacio-top-249 {
        padding-top: calcular(1.1);
    }
}
@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";\.fondo-transparente {
        // width: $ancho-6916;
        height: $cuerpo-default-alto;
        // background-color: $tranparencia-base;
        // left: calc(50% - #{$ancho-6382 / 2}) ;
        z-index: 2;
        overflow-y: auto;
    }
    
    .contenedor-compras {
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        text-align: center;
    }
    
    .titulo-compra {
        font-size: $letra-4;
        text-align: center;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-522;
    }
    
    .cuerpo-compra {
        color: $blanco;
        font-size: $letra-3;
    }
    
    .subtitulo-aviso {
        color: $blanco;
        font-size: $letra-1;
        color: $celeste-base;
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
    }
    
    .subtitulo-compra {
        color: $blanco;
        font-size: $letra-3;
        padding-top: $espacio-0249;
    }
    .linea-verde{
        // background-color: $tranparencia-base;;
        width: $ancho-6916;
        margin-left: calc(50% - #{math.div($ancho-6916, 2)});
    }
    .item {
        // padding: $espacio-0167;
        // padding-top: $espacio-0316;
        // padding-bottom: $espacio-522;
        // padding-left: $espacio-267;
        // padding-right: $espacio-267;
        // background-color: steelblue;
        // margin: $espacio-0167;
        margin-left: $espacio-267 ;
        margin-right: $espacio-267 ;
        margin-top:  $espacio-522;
        margin-bottom: $espacio-522;
    
        border: calcular(0.5) solid $blanco;
        border-radius: calcular(1.567);
        & .titulo {
            // background-color: $tranparencia-base;
            width: $ancho-6916;
            padding-top: $espacio-0316;
            padding-bottom: $espacio-0316 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .botones{
            // background-color: $tranparencia-base;
            width: $ancho-6916;
            padding-top: $espacio-178 - $defecto-top;
            padding-bottom: $espacio-522 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .botones2{
            width: $ancho-6916;
            padding-top: $espacio-522 - $defecto-bottom;
            // padding-bottom: $espacio-522 - $defecto-bottom;
            margin-left: calc(50% - #{math.div($ancho-6916, 2)});
        }
        & .primer-texto {
            // background-color: $tranparencia-base;
            margin-top: $espacio-178 - $defecto-top;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            padding-bottom: $espacio-0249 - $defecto-bottom;
            & .texto-justificado{
                text-align: justify;
            }
            & .texto1{
                padding-bottom: $espacio-267 - $defecto-total;
            }
            
        }
        & .segundo-texto {
            // background-color: $tranparencia-base;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            padding-top: $espacio-0316 - $defecto-top;
            padding-right: $espacio-0316 - $defecto-top;
            & .texto-justificado{
                text-align: justify;
            }
        }
    }
    
    .item-paddin {
        margin-top: $espacio-522;
        margin-bottom: $espacio-522;
    }
    
    .conmarginbottom {
        margin-top: $espacio-0316 - $defecto-top;
        // margin-bottom: $espacio-0316 - $defecto-bottom;
    }
    
    .conmargen {
        padding: 0 0 $espacio-0249 - $defecto-bottom 0;
    }
    
    .conmargindos {
        padding: $espacio-0316 0 $espacio-0316 - $defecto-bottom 0;
    }
    
    .lineaVerde {
        display: flex;
        justify-content: center;
        // padding-bottom: $espacio-522 - $espacio-0316 - $defecto-top;
    }
    
    .botonCompra {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-522;
    }
    .espacio-top-249 {
        padding-top: calcular(1.1);
    }
}