<div
  [ngClass]="{
    'contenido-general': true,
    mostrar: configuracion.mostrar
  }"
>
  <div
    [ngClass]="{
      modal: true
    }"
  >
    <video class="videoControllers" controls autoplay>
      <source [src]="urlVideo" type="video/mp4" />
    </video>
  </div>
</div>
