@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/colores.scss";

.modal {
  position: fixed;
  top: 0;
  z-index: 999;

  height: calc(100vh - #{$appbar-alto-mini + $espesor-071});
  margin-top: $appbar-alto-mini + $espesor-071;
  background: rgba(0, 0, 0);

  & .videoControllers {
    width:  33.2533333333vw;
  }
}

@media screen and (min-aspect-ratio: "16/10") {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  .modal {
    position: fixed;
    top: 0;
    z-index: 999;
    height: calc(100vh - #{$appbar-alto-mini + $espesor-071});
    margin-top: $appbar-alto-mini + $espesor-071;
    background: rgba(0, 0, 0);
    & .videoControllers {
        width:  25.4538vw;
      }
  }
}

@media screen and (min-aspect-ratio: "16/9") {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  .modal {
    position: fixed;
    top: 0;
    z-index: 999;

    height: calc(100vh - #{$appbar-alto-mini + $espesor-071});
    margin-top: $appbar-alto-mini + $espesor-071;
    background: rgba(0, 0, 0);
    & .videoControllers {
        width: 22.71152vw;
      }
  }
}
