@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$icono-audio-diametro: calcular(15);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(3.16);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);
$borde-descripcion-espesor: calcular(0.36);

.cuerpo {
  background: $blanco;
  position: relative;
  padding: 0 !important;
  z-index: 1;

  &.con-barra-inferior {
    height: $cuerpo-con-barra-inferior-alto;
  }

  .capa {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: -1;
    opacity: 0;
    box-sizing: border-box;

    &.mostrar {
      z-index: 1;
      opacity: 1;
    }

    &.loader {
      display: flex;
      align-items: center;
      justify-content: center;
      background: #ffffff;
    }

    &.errordiv {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: column;
      box-sizing: border-box;
      padding: 0 calcular(4);

      & div {
        width: 100%;
        margin-bottom: calcular(2) !important;
        text-align: center;
      }
    }

    &.formulario {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;

      & .info-propietario {
        padding-top: $espacio-0136;
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-0136;
      }

      &::-webkit-scrollbar {
        display: block !important;
        width: $ancho-barra-scroll;
      }

      &::-webkit-scrollbar-track {
        background: $blanco;
        border-left: calcular(0.12) solid $celeste-base;
      }

      &::-webkit-scrollbar-thumb {
        background: $rojo-base !important;
        border-radius: $ancho-barra-scroll;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
      }

      .contenido {
        width: 100%;
        box-sizing: border-box;
        padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522
          $espacio-267;

        &.sinPaddingTop {
          padding: $espacio-0178 $espacio-267 0 $espacio-267;
        }

        & .aviso {
          width: 100%;
          margin-bottom: $espacio-0316 - $defecto-total;

          & p {
            text-align: center;
          }
        }

        & .titulo {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-267 - $defecto-bottom !important;

          & p {
            text-align: center;
          }
        }

        & .info-un-solo-idioma {
          width: 100%;
          margin-bottom: $espacio-267 - $defecto-bottom !important;

          & p {
            text-align: center;
          }
        }

        & .inputs {
          width: 100%;
          margin-bottom: $espacio-0316;

          &.caja {
            width: 100%;
            height: fit-content;

            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: space-between;

            & .fila {
              width: calc((100% - #{$espacio-0139}) / 2);

              &.en-visita {
                width: 100% !important;

                &.ancho-fijo {
                  width: 64% !important;
                  height: $alto-0782;
                  box-sizing: border-box;
                  width: 100%;
                  background-color: $input-fondo-registro;
                  overflow-y: hidden;
                  overflow-x: scroll;
                  border-radius: $interlineado-15;

                  & p {
                    width: fit-content !important;
                    overflow: visible;
                    background: none;
                    user-select: text !important;
                  }
                }

                &.ancho-completo {
                  width: 100% !important;
                  height: $alto-0782;
                  box-sizing: border-box;
                  width: 100%;
                  background-color: $input-fondo-registro;
                  overflow-y: hidden;
                  overflow-x: scroll;
                  border-radius: $interlineado-15;

                  & p {
                    width: fit-content !important;
                    overflow: visible;
                    background: none;
                    user-select: text !important;
                  }
                }
              }

              &.uno {
                margin-right: $espacio-0139;
              }

              & .p-input {
                border: 0;
                height: $alto-0782;
                padding-left: $interlineado-6;
                padding-right: $espacio-0139;
                box-sizing: border-box;
                width: 100%;
                font-size: $letra-3;
                background-color: $input-fondo-registro;
                border-radius: $interlineado-15;
                font-weight: bold;
                text-transform: uppercase;
                white-space: nowrap;
                overflow-y: hidden;
                overflow-x: auto;

                display: flex;
                align-items: center;
                justify-content: flex-start;
                user-select: text !important;

                &.centrado {
                  text-align: center;
                  justify-content: center;
                }
              }
            }

            &.a {
              & .fila.uno {
                width: max-content;
                margin-right: $espacio-522;

                & input {
                  text-align: center;
                }
              }

              & .fila.dos {
                width: fit-content;
              }
            }

            &.b {
              & .fila.uno {
                width: 100%;
                margin: 0 !important;

                &.con-fondos {
                  border: 0;
                  height: $alto-0782;
                  padding-left: $interlineado-6;
                  padding-right: $espacio-0139;
                  box-sizing: border-box;
                  width: 100%;
                  background-color: $input-fondo-registro;
                  border-radius: $interlineado-15;
                  overflow-x: auto;
                  overflow-y: hidden;
                  white-space: nowrap;
                  display: flex;
                  align-items: center;

                  & .tag {
                    height: 100%;
                    width: auto;
                    display: flex;
                    align-items: center;

                    & p {
                      font-size: $letra-1;
                      line-height: 0.8;
                      display: inline-flex;
                      align-items: center;
                      height: 100%;
                      width: auto;
                      font-weight: normal;
                      margin-right: calcular(1);
                      text-transform: uppercase;
                    }
                  }

                  & .nombre {
                    height: 100%;
                    width: auto;
                    display: flex;
                    align-items: center;

                    & p {
                      font-size: $letra-3;
                      line-height: 0.8;
                      display: inline-flex;
                      align-items: center;
                      height: 100%;
                      width: auto;
                      font-weight: bold;
                      user-select: text !important;
                    }
                  }
                }
              }

              & .fila.dos {
                display: none;
              }
            }

            &.c {
              & .fila {
                &.completa {
                  width: 100%;
                  margin-right: 0 !important;
                }

                & input {
                  margin-bottom: 0 !important;
                }
              }
            }
          }

          &.a {
            & .fila {
            }
          }

          &.b {
          }
        }

        & .subtitulo {
          width: 100%;
          margin-bottom: $espacio-0178 - $defecto-bottom;

          &.b {
            & p {
              text-align: center;
            }
          }

          & p {
            text-align: left;
          }
        }

        & .subtitulo1 {
          width: 100%;
          margin-bottom: $espacio-0178 - $defecto-bottom;
          margin-top: $espacio-0249 - $defecto-top;

          &.b {
            & p {
              text-align: center;
            }
          }

          & p {
            text-align: left;
          }
        }

        & .moneda {
          width: 100%;
          margin-bottom: $espacio-0178 - $defecto-top;
        }

        & .botones {
          width: 100%;
          margin: ($espacio-522 - $defecto-top) 0 $espacio-522 0;
          padding: 0 $espacio-0658 - $espacio-267;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: space-between;

          &.soloCompartir {
            justify-content: center;
          }
        }

        & .audios {
          width: 100%;
          box-sizing: border-box;
          margin-bottom: $espacio-522 - $defecto-top;
          cursor: pointer;
          display: flex;
          flex-flow: row;
          align-items: center;
          justify-content: flex-start;

          & .texto {
            margin-left: $espacio-0249;

            & p {
            }
          }

          & .icono {
            width: $icono-audio-diametro;
            height: $icono-audio-diametro;
            border-radius: 50%;

            & img {
              width: 100%;
              height: 100%;
            }
          }
        }

        & .votar-proyecto {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-178;

          & .apoyar-proyecto {
            width: 100%;
            //background-color: #5b4444;
            display: flex;
            flex-direction: column;

            & .titulo-apoyo-proyecto {
              //background-color: #0c2438;
              display: flex;
              flex-direction: column;
              margin-bottom: $espacio-0178 - $defecto-bottom;

              & .cantidad-faltante {
                margin-top: $espacio-0178 - $defecto-top;
              }
            }

            & .votar {
              //background-color: #5e317c;
            }
          }
        }

        & .descripcion-intro {
          width: 100%;
          box-sizing: border-box;
          padding: 0 0 0 $espacio-0658 - $espacio-267;

          display: flex;
          flex-flow: column;

          &.con-margen-abajo {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);

            & p {
              margin-bottom: 0 !important;
            }
          }

          & .interlineado1 {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
          }

          & .interlineado2 {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
          }

          & .interlineado3 {
            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
          }
        }

        & .descripcion-contexto {
          width: 100%;
          box-sizing: border-box;
          margin-bottom: $espacio-0316 - $defecto-top;
          position: relative;

          display: flex;
          align-items: center;
          justify-content: center;

          & .textarea-visita {
            position: relative;
            resize: none;
            width: $descripcion-ancho;
            height: $descripcion-alto-min;
            min-height: $descripcion-alto-min;
            border-radius: $descripcion-border-radio;
            border: $borde-descripcion-espesor solid #000000;
            padding: $descripcion-padding-top $descripcion-padding-right-left
              $descripcion-padding-bottom $descripcion-padding-right-left;
            font-weight: normal;
            text-align: justify;
            outline: 0;
            box-sizing: border-box;
            font-family: "Source Sans Pro", sans-serif;
            text-align: justify;
            overflow-y: auto;
            white-space: pre-wrap;
          }

          & textarea {
            position: relative;
            resize: none;
            width: $descripcion-ancho;
            height: fit-content;
            min-height: $descripcion-alto-min;
            border-radius: $descripcion-border-radio;
            border: $borde-descripcion-espesor solid #000000;
            padding: $descripcion-padding-top $descripcion-padding-right-left
              $descripcion-padding-bottom $descripcion-padding-right-left;
            font-weight: normal;
            text-align: justify;
            outline: 0;
            box-sizing: border-box;
            font-family: "Source Sans Pro", sans-serif;

            &:focus,
            &:active {
              outline: 0;
            }

            &::-webkit-input-placeholder {
              // color: #eeeeee;
              font-family: "Source Sans Pro", sans-serif;
              color: $negro;
            }

            &:-moz-placeholder {
              /* Upto Firefox 18, Deprecated in Firefox 19  */
              // color: $negro;
              color: $negro;
              font-family: "Source Sans Pro", sans-serif;
            }

            &::-moz-placeholder {
              /* Firefox 19+ */
              // color: $negro;
              color: $negro;
              font-family: "Source Sans Pro", sans-serif;
            }

            &:-ms-input-placeholder {
              // color: $negro;
              color: $negro;
              font-family: "Source Sans Pro", sans-serif;
            }
          }

          & .descripcion-contador {
            position: absolute;
            bottom: $espacio-0178;
            right: $espacio-267;
          }
        }

        & .proyecto-completo {
          width: 100%;
          margin-bottom: $espacio-0178 - $defecto-top;
          box-sizing: border-box;

          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;

          & p {
            width: 100%;
            text-align: center;
          }

          & .espacio {
            width: 100%;
            height: $espacio-0178 - $defecto-top - $defecto-bottom;
          }
        }

        & .proyecto-completo-boton {
          width: 100%;
          margin-bottom: $espacio-0316 - $defecto-top;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .link-descripcion {
          width: 100%;
          margin-bottom: $espacio-0178 - $defecto-bottom;
          box-sizing: border-box;

          display: flex;
          flex-flow: column;
          align-items: center;
          justify-content: center;

          & p {
            width: 100%;
            text-align: center;
          }

          & .espacio {
            width: 100%;
            height: $espacio-0178;
          }
        }

        & .link-boton {
          width: 100%;
          margin-bottom: $espacio-522;

          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .publicar-boton {
          width: 100%;

          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-522;
        }

        & .linea-comentarios {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-0316;
        }

        & .botones-adicionales {
          width: 100%;
          box-sizing: border-box;
          // margin: $espacio-0316 0 $espacio-0316 0;

          & .boton-recuadro {
            box-sizing: border-box;
            padding: $espacio-0249 $espacio-0139 $espacio-0249 $espacio-0139;
            border: calcular(0.12) solid $azul-base;
            cursor: pointer;
            width: calc(100% + (#{$espacio-0139 * 2}));
            position: relative;
            left: $espacio-0139 * -1;

            &.uno {
              margin-bottom: $espacio-0249;
            }

            &.dos {
              margin-bottom: $espacio-522;
            }

            & p {
              position: relative;
              text-align: center;
              width: 100%;
              box-sizing: border-box;

              display: flex;
              align-items: center;
              justify-content: center;
            }
          }

          & .opciones {
            width: 100%;
            box-sizing: border-box;
            display: flex;
            flex-flow: row;
            align-items: center;
            justify-content: center;

            & .espaciador {
              width: $espacio-0316 + $espacio-522;
            }
          }
        }

        & .borrado-informacion {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-bottom: $espacio-0316;

          & p {
            text-align: center;
          }
        }
      }

      & .total-comentarios {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $espacio-0136;
        overflow: hidden;

        & p {
          width: fit-content;
          text-align: center;
          line-height: 0.8 !important;
          white-space: nowrap;

          &:nth-child(1) {
            margin-right: calcular(1);
          }
        }
      }

      & .boton-intercambio-ingles {
        width: 100%;
        box-sizing: border-box;
        margin-bottom: $espacio-522;
        padding: 0 $espacio-522;

        & .caja-interna {
          width: 100%;
          box-sizing: border-box;
          border: calcular(0.4) solid $verde-base;
          padding: $espacio-0249 $espacio-0178 0 $espacio-0178;

          display: flex;
          flex-flow: column;
          align-items: center;

          & p {
            text-align: center;

            &:nth-child(1) {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }

            &:nth-child(2) {
              margin-bottom: $espacio-0136 - $defecto-bottom;
            }
          }

          & .botones-en-caja {
            position: relative;
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0178;
            cursor: pointer;

            & .boton-flecha {
              position: absolute;
              left: calcular(24);
              width: calcular(5.8);

              &::before {
                content: "";
                display: block;
                position: absolute;
                width: calcular(5.8);
                height: calcular(0.5);
                display: flex;
                align-items: center;
                justify-content: center;
                background: #05e005;
              }

              &::after {
                content: "";
                display: block;
                position: absolute;
                top: calcular(1.5) * -1;
                right: calcular(0.4);
                z-index: 2;
                width: calcular(3);
                height: calcular(3);
                transform: rotate(45deg);
                border-top: calcular(0.4) solid #05e005;
                border-right: calcular(0.4) solid #05e005;
              }
            }

            & .boton-circular {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
              background-size: 100% 100%;
              cursor: pointer;
            }

            & .boton-circular-en {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
              background-size: 100% 100%;
            }

            & .boton-circular-de {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-de.png");
              background-size: 100% 100%;
            }

            & .boton-circular-fr {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-fr.png");
              background-size: 100% 100%;
            }

            & .boton-circular-es {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-es.png");
              background-size: 100% 100%;
            }

            & .boton-circular-it {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-it.png");
              background-size: 100% 100%;
            }

            & .boton-circular-pt {
              width: calcular(15);
              height: calcular(15);
              border-radius: 50%;
              background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-pt.png");
              background-size: 100% 100%;
            }
          }
        }
      }

      & .lista-comentarios {
        width: 100%;
        height: fit-content;
        box-sizing: border-box;

        & .grupo-fecha {
          width: 100%;
          height: fit-content;
          box-sizing: border-box;

          & .contenedor-fecha {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0249;
          }

          & .contenedor-comentarios {
            width: 100%;
            margin: $espacio-0139 0 $espacio-522 0;
            box-sizing: border-box;
          }
        }

        & .loader-comentarios {
          width: 100%;
          box-sizing: border-box;
          padding: $espacio-0249 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        & .no-mas-items {
          width: 100%;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;

          & p {
            text-align: center;
            width: 100%;
          }
        }
      }
    }
  }
}

.instrucciones-audio {
  width: 100%;
  height: $alto-instrucciones-barra-inferior;
  box-sizing: border-box;
  background-color: $blanco;
  // padding-bottom: $espacio-0249 - $defecto-top;

  display: flex;
  align-items: flex-start;
  padding-top: $espacio-0249;
  justify-content: center;
  // padding-left: $espacio-0178;

  & p {
    text-align: center;
  }
}

@media screen and (min-aspect-ratio: "16/10") {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  $icono-audio-diametro: calcular(15);
  $descripcion-ancho: calcular(94.66);
  $descripcion-alto-min: calcular(95.39);
  $descripcion-border-radio: calcular(1.567);
  $descripcion-padding-top: calcular(3.16);
  $descripcion-padding-bottom: calcular(3.16);
  $descripcion-contador-padding-bottom: calcular(1.78);
  $descripcion-padding-right-left: calcular(2.67);
  $borde-descripcion-espesor: calcular(0.36);

  .cuerpo {
    &.con-barra-inferior {
      height: $cuerpo-con-barra-inferior-alto;
    }

    .capa {
      &.errordiv {
        padding: 0 calcular(4);

        & div {
          margin-bottom: calcular(2) !important;
        }
      }

      &.formulario {
        &::-webkit-scrollbar {
          display: block !important;
          width: $ancho-barra-scroll;
        }

        &::-webkit-scrollbar-track {
          border-left: calcular(0.12) solid $celeste-base;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $ancho-barra-scroll;
        }

        & .info-propietario {
          padding-top: $espacio-0136;
          padding-left: $espacio-267;
          padding-right: $espacio-267;
          padding-bottom: $espacio-0136;
        }

        .contenido {
          padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522
            $espacio-267;

          &.sinPaddingTop {
            padding: $espacio-0178 $espacio-267 0 $espacio-267;
          }

          & .aviso {
            margin-bottom: $espacio-0316 - $defecto-total;
          }

          & .titulo {
            margin-bottom: $espacio-267 - $defecto-bottom !important;
          }

          & .info-un-solo-idioma {
            margin-bottom: $espacio-267 - $defecto-bottom !important;
          }

          & .inputs {
            margin-bottom: $espacio-0316;

            &.caja {
              & .fila {
                width: calc((100% - #{$espacio-0139}) / 2);

                &.en-visita {
                  &.ancho-fijo {
                    height: $alto-0782;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                  }

                  &.ancho-completo {
                    height: $alto-0782;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                  }
                }

                &.uno {
                  margin-right: $espacio-0139;
                }

                & .p-input {
                  height: $alto-0782;
                  padding-left: $interlineado-6;
                  padding-right: $espacio-0139;
                  font-size: $letra-3;
                  background-color: $input-fondo-registro;
                  border-radius: $interlineado-15;
                }
              }

              &.a {
                & .fila.uno {
                  margin-right: $espacio-522;
                }
              }

              &.b {
                & .fila.uno {
                  &.con-fondos {
                    border: 0;
                    height: $alto-0782;
                    padding-left: $interlineado-6;
                    padding-right: $espacio-0139;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;

                    & .tag {
                      height: 100%;
                      width: auto;
                      display: flex;
                      align-items: center;

                      & p {
                        font-size: $letra-1;
                        line-height: 0.8;
                        display: inline-flex;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        font-weight: normal;
                        margin-right: calcular(1);
                        text-transform: uppercase;
                      }
                    }

                    & .nombre {
                      height: 100%;
                      width: auto;
                      display: flex;
                      align-items: center;

                      & p {
                        font-size: $letra-3;
                        line-height: 0.8;
                        display: inline-flex;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        font-weight: bold;
                        user-select: text !important;
                      }
                    }
                  }
                }
              }
            }
          }

          & .subtitulo {
            width: 100%;
            margin-bottom: $espacio-0178 - $defecto-bottom;

            &.b {
              & p {
                text-align: center;
              }
            }

            & p {
              text-align: left;
            }
          }

          & .subtitulo1 {
            width: 100%;
            margin-bottom: $espacio-0178 - $defecto-bottom;
            margin-top: $espacio-0249 - $defecto-top;

            &.b {
              & p {
                text-align: center;
              }
            }

            & p {
              text-align: left;
            }
          }

          & .moneda {
            margin-bottom: $espacio-0178 - $defecto-top;
          }

          & .botones {
            margin: ($espacio-522 - $defecto-top) 0 $espacio-522 0;
            padding: 0 $espacio-0658 - $espacio-267;
          }

          & .audios {
            margin-bottom: $espacio-522 - $defecto-top;

            & .texto {
              margin-left: $espacio-0249;
            }

            & .icono {
              width: $icono-audio-diametro;
              height: $icono-audio-diametro;
            }
          }

          & .votar-proyecto {
            margin-bottom: $espacio-178;
          }

          & .descripcion-intro {
            padding: 0 0 0 $espacio-0658 - $espacio-267;

            &.con-margen-abajo {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }

            & .interlineado1 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }

            & .interlineado2 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }

            & .interlineado3 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }
          }

          & .descripcion-contexto {
            margin-bottom: $espacio-0316 - $defecto-top;

            & .textarea-visita {
              width: $descripcion-ancho;
              height: $descripcion-alto-min;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left
                $descripcion-padding-bottom $descripcion-padding-right-left;
            }

            & textarea {
              width: $descripcion-ancho;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left
                $descripcion-padding-bottom $descripcion-padding-right-left;
            }

            & .descripcion-contador {
              bottom: $espacio-0178;
              right: $espacio-267;
            }
          }

          & .proyecto-completo {
            margin-bottom: $espacio-0178 - $defecto-top;

            & .espacio {
              height: $espacio-0178 - $defecto-top - $defecto-bottom;
            }
          }

          & .proyecto-completo-boton {
            margin-bottom: $espacio-0316 - $defecto-top;
          }

          & .link-descripcion {
            margin-bottom: $espacio-0178 - $defecto-bottom;

            & .espacio {
              height: $espacio-0178;
            }
          }

          & .link-boton {
            margin-bottom: $espacio-522;
          }

          & .publicar-boton {
            margin-bottom: $espacio-522;
          }

          & .linea-comentarios {
            margin-bottom: $espacio-0316;
          }

          & .botones-adicionales {
            & .boton-recuadro {
              padding: $espacio-0249 $espacio-0139 $espacio-0249 $espacio-0139;
              border: calcular(0.12) solid $azul-base;
              width: calc(100% + (#{$espacio-0139 * 2}));
              left: $espacio-0139 * -1;

              &.uno {
                margin-bottom: $espacio-0249;
              }

              &.dos {
                margin-bottom: $espacio-522;
              }
            }

            & .opciones {
              & .espaciador {
                width: $espacio-0316 + $espacio-522;
              }
            }
          }

          & .borrado-informacion {
            margin-bottom: $espacio-0316;
          }
        }

        & .total-comentarios {
          margin-bottom: $espacio-0136;

          & p {
            &:nth-child(1) {
              margin-right: calcular(1);
            }
          }
        }

        & .boton-intercambio-ingles {
          margin-bottom: $espacio-522;
          padding: 0 $espacio-522;

          & .caja-interna {
            border: calcular(0.4) solid $verde-base;
            padding: $espacio-0249 $espacio-0178 0 $espacio-0178;

            & p {
              &:nth-child(1) {
                margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
              }

              &:nth-child(2) {
                margin-bottom: $espacio-0136 - $defecto-bottom;
              }
            }

            & .botones-en-caja {
              margin-bottom: $espacio-0178;
              cursor: pointer;

              & .boton-flecha {
                left: calcular(24);
                width: calcular(5.8);

                &::before {
                  width: calcular(5.8);
                  height: calcular(0.5);
                }

                &::after {
                  top: calcular(1.5) * -1;
                  right: calcular(0.4);
                  width: calcular(3);
                  height: calcular(3);
                  transform: rotate(45deg);
                  border-top: calcular(0.4) solid #05e005;
                  border-right: calcular(0.4) solid #05e005;
                }
              }

              & .boton-circular {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
                background-size: 100% 100%;
              }

              & .boton-circular-en {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
                background-size: 100% 100%;
              }

              & .boton-circular-de {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-de.png");
                background-size: 100% 100%;
              }

              & .boton-circular-fr {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-fr.png");
                background-size: 100% 100%;
              }

              & .boton-circular-es {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-es.png");
                background-size: 100% 100%;
              }

              & .boton-circular-it {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-it.png");
                background-size: 100% 100%;
              }

              & .boton-circular-pt {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-pt.png");
                background-size: 100% 100%;
              }
            }
          }
        }

        & .lista-comentarios {
          & .grupo-fecha {
            & .contenedor-fecha {
              margin-bottom: $espacio-0249;
            }

            & .contenedor-comentarios {
              margin: $espacio-0139 0 $espacio-522 0;
            }
          }

          & .loader-comentarios {
            padding: $espacio-0249 0;
          }
        }
      }
    }
  }

  .instrucciones-audio {
    height: $alto-instrucciones-barra-inferior;
    padding-top: $espacio-0249;
  }
}

@media screen and (min-aspect-ratio: "16/9") {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  $icono-audio-diametro: calcular(15);
  $descripcion-ancho: calcular(94.66);
  $descripcion-alto-min: calcular(95.39);
  $descripcion-border-radio: calcular(1.567);
  $descripcion-padding-top: calcular(3.16);
  $descripcion-padding-bottom: calcular(3.16);
  $descripcion-contador-padding-bottom: calcular(1.78);
  $descripcion-padding-right-left: calcular(2.67);
  $borde-descripcion-espesor: calcular(0.36);

  .cuerpo {
    &.con-barra-inferior {
      height: $cuerpo-con-barra-inferior-alto;
    }

    .capa {
      &.errordiv {
        padding: 0 calcular(4);

        & div {
          margin-bottom: calcular(2) !important;
        }
      }

      &.formulario {
        &::-webkit-scrollbar {
          display: block !important;
          width: $ancho-barra-scroll;
        }

        &::-webkit-scrollbar-track {
          border-left: calcular(0.12) solid $celeste-base;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: $ancho-barra-scroll;
        }

        & .info-propietario {
          padding-top: $espacio-0136;
          padding-left: $espacio-267;
          padding-right: $espacio-267;
          padding-bottom: $espacio-0136;
        }

        .contenido {
          padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522
            $espacio-267;

          &.sinPaddingTop {
            padding: $espacio-0178 $espacio-267 0 $espacio-267;
          }

          & .aviso {
            margin-bottom: $espacio-0316 - $defecto-total;
          }

          & .titulo {
            margin-bottom: $espacio-0316 - $defecto-bottom !important;
          }

          & .info-un-solo-idioma {
            margin-bottom: $espacio-267 - $defecto-bottom !important;
          }

          & .inputs {
            margin-bottom: $espacio-0316;

            &.caja {
              & .fila {
                width: calc((100% - #{$espacio-0139}) / 2);

                &.en-visita {
                  &.ancho-fijo {
                    height: $alto-0782;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                  }

                  &.ancho-completo {
                    height: $alto-0782;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                  }
                }

                &.uno {
                  margin-right: $espacio-0139;
                }

                & .p-input {
                  height: $alto-0782;
                  padding-left: $interlineado-6;
                  padding-right: $espacio-0139;
                  font-size: $letra-3;
                  background-color: $input-fondo-registro;
                  border-radius: $interlineado-15;
                }
              }

              &.a {
                & .fila.uno {
                  margin-right: $espacio-522;
                }
              }

              &.b {
                & .fila.uno {
                  &.con-fondos {
                    border: 0;
                    height: $alto-0782;
                    padding-left: $interlineado-6;
                    padding-right: $espacio-0139;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: $input-fondo-registro;
                    border-radius: $interlineado-15;
                    overflow-x: auto;
                    overflow-y: hidden;
                    white-space: nowrap;
                    display: flex;
                    align-items: center;

                    & .tag {
                      height: 100%;
                      width: auto;
                      display: flex;
                      align-items: center;

                      & p {
                        font-size: $letra-1;
                        line-height: 0.8;
                        display: inline-flex;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        font-weight: normal;
                        margin-right: calcular(1);
                        text-transform: uppercase;
                      }
                    }

                    & .nombre {
                      height: 100%;
                      width: auto;
                      display: flex;
                      align-items: center;

                      & p {
                        font-size: $letra-3;
                        line-height: 0.8;
                        display: inline-flex;
                        align-items: center;
                        height: 100%;
                        width: auto;
                        font-weight: bold;
                        user-select: text !important;
                      }
                    }
                  }
                }
              }
            }
          }

          & .subtitulo {
            width: 100%;
            margin-bottom: $espacio-0178 - $defecto-bottom;

            &.b {
              & p {
                text-align: center;
              }
            }

            & p {
              text-align: left;
            }
          }

          & .subtitulo1 {
            width: 100%;
            margin-bottom: $espacio-0178 - $defecto-bottom;
            margin-top: $espacio-0249 - $defecto-top;

            &.b {
              & p {
                text-align: center;
              }
            }

            & p {
              text-align: left;
            }
          }

          & .moneda {
            margin-bottom: $espacio-0178 - $defecto-top;
          }

          & .botones {
            margin: ($espacio-522 - $defecto-top) 0 $espacio-522 0;
            padding: 0 $espacio-0658 - $espacio-267;
          }

          & .audios {
            margin-bottom: $espacio-522 - $defecto-top;

            & .texto {
              margin-left: $espacio-0249;
            }

            & .icono {
              width: $icono-audio-diametro;
              height: $icono-audio-diametro;
            }
          }

          & .votar-proyecto {
            margin-bottom: $espacio-178;
          }

          & .descripcion-intro {
            padding: 0 0 0 $espacio-0658 - $espacio-267;

            &.con-margen-abajo {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }

            & .interlineado1 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }

            & .interlineado2 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 3);
            }

            & .interlineado3 {
              margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
            }
          }

          & .descripcion-contexto {
            margin-bottom: $espacio-0316 - $defecto-top;

            & .textarea-visita {
              width: $descripcion-ancho;
              height: $descripcion-alto-min;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left
                $descripcion-padding-bottom $descripcion-padding-right-left;
            }

            & textarea {
              width: $descripcion-ancho;
              min-height: $descripcion-alto-min;
              border-radius: $descripcion-border-radio;
              border: $borde-descripcion-espesor solid #000000;
              padding: $descripcion-padding-top $descripcion-padding-right-left
                $descripcion-padding-bottom $descripcion-padding-right-left;
            }

            & .descripcion-contador {
              bottom: $espacio-0178;
              right: $espacio-267;
            }
          }

          & .proyecto-completo {
            margin-bottom: $espacio-0178 - $defecto-top;

            & .espacio {
              height: $espacio-0178 - $defecto-top - $defecto-bottom;
            }
          }

          & .proyecto-completo-boton {
            margin-bottom: $espacio-0316 - $defecto-top;
          }

          & .link-descripcion {
            margin-bottom: $espacio-0178 - $defecto-bottom;

            & .espacio {
              height: $espacio-0178;
            }
          }

          & .link-boton {
            margin-bottom: $espacio-522;
          }

          & .publicar-boton {
            margin-bottom: $espacio-522;
          }

          & .linea-comentarios {
            margin-bottom: $espacio-0316;
          }

          & .botones-adicionales {
            & .boton-recuadro {
              padding: $espacio-0249 $espacio-0139 $espacio-0249 $espacio-0139;
              border: calcular(0.12) solid $azul-base;
              width: calc(100% + (#{$espacio-0139 * 2}));
              left: $espacio-0139 * -1;

              &.uno {
                margin-bottom: $espacio-0249;
              }

              &.dos {
                margin-bottom: $espacio-522;
              }
            }

            & .opciones {
              & .espaciador {
                width: $espacio-0316 + $espacio-522;
              }
            }
          }

          & .borrado-informacion {
            margin-bottom: $espacio-0316;
          }
        }

        & .total-comentarios {
          margin-bottom: $espacio-0136;

          & p {
            &:nth-child(1) {
              margin-right: calcular(1);
            }
          }
        }

        & .boton-intercambio-ingles {
          margin-bottom: $espacio-522;
          padding: 0 $espacio-522;

          & .caja-interna {
            border: calcular(0.4) solid $verde-base;
            padding: $espacio-0249 $espacio-0178 0 $espacio-0178;

            & p {
              &:nth-child(1) {
                margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
              }

              &:nth-child(2) {
                margin-bottom: $espacio-0136 - $defecto-bottom;
              }
            }

            & .botones-en-caja {
              margin-bottom: $espacio-0178;
              cursor: pointer;

              & .boton-flecha {
                left: calcular(24);
                width: calcular(5.8);

                &::before {
                  width: calcular(5.8);
                  height: calcular(0.5);
                }

                &::after {
                  top: calcular(1.5) * -1;
                  right: calcular(0.4);
                  width: calcular(3);
                  height: calcular(3);
                  transform: rotate(45deg);
                  border-top: calcular(0.4) solid #05e005;
                  border-right: calcular(0.4) solid #05e005;
                }
              }

              & .boton-circular {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
                background-size: 100% 100%;
              }

              & .boton-circular-en {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-en.png");
                background-size: 100% 100%;
              }

              & .boton-circular-de {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-de.png");
                background-size: 100% 100%;
              }

              & .boton-circular-fr {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-fr.png");
                background-size: 100% 100%;
              }

              & .boton-circular-es {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-es.png");
                background-size: 100% 100%;
              }

              & .boton-circular-it {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-it.png");
                background-size: 100% 100%;
              }

              & .boton-circular-pt {
                width: calcular(15);
                height: calcular(15);
                border-radius: 50%;
                background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-translator-pt.png");
                background-size: 100% 100%;
              }
            }
          }
        }

        & .lista-comentarios {
          & .grupo-fecha {
            & .contenedor-fecha {
              margin-bottom: $espacio-0249;
            }

            & .contenedor-comentarios {
              margin: $espacio-0139 0 $espacio-522 0;
            }
          }

          & .loader-comentarios {
            padding: $espacio-0249 0;
          }
        }
      }
    }
  }

  .instrucciones-audio {
    height: $alto-instrucciones-barra-inferior;
    padding-top: $espacio-0249;
  }
}
