<app-appbar *ngIf="params.estado" [configuracion]="confAppbar"></app-appbar>
<div
  *ngIf="params.estado"
  [ngClass]="{
    cuerpo: true,
    'con-barra-inferior': mostrarBarraInferior
  }"
>
  <div
    [ngClass]="{
      capa: true,
      loader: true,
      mostrar: mostrarCapaLoader
    }"
  >
    <app-cargando></app-cargando>
  </div>
  <div
    [ngClass]="{
      capa: true,
      errordiv: true,
      mostrar: !mostrarCapaLoader && mostrarCapaError
    }"
  >
    <div
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })
      "
    >
      {{ mensajeCapaError | translate }}
    </div>
    <button (tap)="reintentar()" class="botonReintentar">
      {{ "text32" | translate }}
    </button>
  </div>
  <div
    *ngIf="proyecto"
    id="{{ idCapaFormulario }}"
    [ngClass]="{
      capa: true,
      formulario: true,
      mostrar: !mostrarCapaLoader && !mostrarCapaError
    }"
    (scroll)="scroolEnCapaFormulario()"
  >
    <div
      class="info-propietario"
      *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
    >
      <app-item-lista-contactos
        [configuracion]="infoPropietarioProyecto"
      ></app-item-lista-contactos>
    </div>

    <app-portada-expandida
      #portadaExpandida
      [configuracion]="confPortadaExpandida"
    ></app-portada-expandida>
    <div
      [ngClass]="{
        contenido: true,
        sinPaddingTop: params.accionEntidad === AccionEntidadEnum.VISITAR
      }"
    >
      <div
        *ngIf="
          params.accionEntidad === AccionEntidadEnum.VISITAR &&
          validarSiHayMediasEnElAlbum()
        "
        class="aviso"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v1texto6" | translate }}
        </p>
      </div>
      <div class="titulo">
        <p
          *ngIf="
            params.codigoTipoProyecto || (proyecto.tipo && proyecto.tipo.codigo)
          "
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          "
        >
          {{
            proyectoService.obtenerLlaveTituloTipoProyecto(
              params.codigoTipoProyecto || proyecto.tipo.codigo || ""
            ) | translate
          }}
        </p>
      </div>
      <div
        class="info-un-solo-idioma"
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
      >
        <p
          *ngIf="
            params.codigoTipoProyecto || (proyecto.tipo && proyecto.tipo.codigo)
          "
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto7.1" | translate }}
        </p>
      </div>
      <div class="inputs caja a">
        <div
          [ngClass]="{
            fila: true,
            uno: true,
            'ancho-fijo': true,
            'en-visita': params.accionEntidad === AccionEntidadEnum.VISITAR
          }"
        >
          <p
            *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
            class="p-input centrado"
          >
            {{ proyecto.tituloCorto }}
          </p>
          <app-input
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO_CORTO)"
          ></app-input>
        </div>
        <div class="fila dos">
          <app-item-fecha
            [fecha]="proyecto.fechaCreacion"
            [formato]="'dd/MM/yyyy'"
          ></app-item-fecha>
        </div>
      </div>
      <div class="inputs caja b">
        <div
          [ngClass]="{
            fila: true,
            uno: true,
            'ancho-completo':
              params.accionEntidad === AccionEntidadEnum.VISITAR,
            'en-visita': params.accionEntidad === AccionEntidadEnum.VISITAR
          }"
        >
          <p
            *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
            class="p-input"
          >
            {{ proyecto.titulo }}
          </p>
          <app-input
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO)"
          ></app-input>
        </div>
      </div>
      <div
        *ngIf="
          proyecto.tipo &&
          proyecto.tipo.codigo &&
          proyecto.tipo.codigo !==
            codigosCatalogoTipoProyecto.PROYECTO_MUNDIAL &&
          proyecto.tipo.codigo !== codigosCatalogoTipoProyecto.PROYECTO_RED
        "
        class="inputs caja c"
      >
        <div
          [ngClass]="{
            fila: true,
            uno: true,
            completa:
              proyecto.tipo &&
              proyecto.tipo.codigo &&
              proyecto.tipo.codigo === codigosCatalogoTipoProyecto.PROYECTO_PAIS
          }"
        >
          <p
            *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
            class="p-input"
          >
            {{ proyecto.direccion.pais.nombre }}
          </p>
          <app-selector
            *ngIf="
              confSelector && params.accionEntidad !== AccionEntidadEnum.VISITAR
            "
            #selectorPaises
            [configuracion]="confSelector"
          ></app-selector>
        </div>
        <div
          *ngIf="
            proyecto.tipo &&
            proyecto.tipo.codigo &&
            proyecto.tipo.codigo !== codigosCatalogoTipoProyecto.PROYECTO_PAIS
          "
          class="fila dos"
        >
          <p
            *ngIf="
              params.accionEntidad === AccionEntidadEnum.VISITAR &&
              proyecto.tipo.codigo ===
                codigosCatalogoTipoProyecto.PROYECTO_LOCAL
            "
            class="p-input"
          >
            {{ proyecto.direccion.descripcion }}
          </p>
          <!-- <app-buscador-modal
            *ngIf="confBuscador && params.accionEntidad !== AccionEntidadEnum.VISITAR"
            #buscadorLocalidades
            [configuracion]="confBuscador"
          ></app-buscador-modal> -->
          <app-input
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.LOCALIDAD)"
          ></app-input>
        </div>
      </div>
      <div
        *ngIf="
          proyecto.tipo &&
          proyecto.tipo.codigo &&
          proyecto.tipo.codigo === codigosCatalogoTipoProyecto.PROYECTO_MUNDIAL
        "
        class="inputs caja b"
      >
        <div class="fila uno">
          <app-input
            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.UBICACION)"
          ></app-input>
        </div>
      </div>
      <div class="inputs caja b">
        <div class="fila uno con-fondos">
          <!-- <app-input [inputCompartido]="inputsForm[3]" ></app-input> -->
          <!-- <div class="tag">
            <p
              class="autor-tag"
            >
              {{ 'm4v1texto12' | translate }}
            </p>
          </div> -->
          <div class="nombre">
            <p class="autor-val no-translate">
              {{ proyecto.perfil.nombreContacto }}
              <span *ngIf="proyecto.perfil?.nombreContactoTraducido">
                &nbsp;|&nbsp;
              </span>
              {{ proyecto.perfil?.nombreContactoTraducido }}
            </p>
          </div>
        </div>
      </div>
      <div class="subtitulo">
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          "
        >
          {{ "m4v5texto13" | translate }}
        </p>
      </div>
      <div class="moneda">
        <app-moneda-picker
          *ngIf="confMonedaPicker"
          [configuracion]="confMonedaPicker"
        ></app-moneda-picker>
      </div>
      <div
        class="subtitulo1"
        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto16" | translate }}
        </p>
      </div>
      <div
        class="moneda"
        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
      >
        <app-moneda-picker
          *ngIf="confMonedaPickerConvertir"
          [configuracion]="confMonedaPickerConvertir"
        ></app-moneda-picker>
      </div>
      <div
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="subtitulo b"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })
          "
        >
          {{ "m4v5texto17" | translate }}
          {{ fechaMaximaUpdate | date: "dd/MM/yyyy" }}
        </p>
      </div>
      <div
        [ngClass]="{
          botones: true
        }"
      >
        <app-button [botonCompartido]="confBotonHistorico"></app-button>
        <app-button [botonCompartido]="confBotonCompartir"></app-button>
      </div>
      <div
        *ngIf="
          determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.AUDIOS)
        "
        class="audios"
        (tap)="irAlAlbumAudios()"
      >
        <div class="icono">
          <img
            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-audio-verde.svg"
          />
        </div>
        <div
          *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
          class="texto"
        >
          <p
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ "m4v5texto20" | translate }}
          </p>
        </div>
      </div>
      <!--      <div-->
      <!--        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"-->
      <!--        class="votar-proyecto"-->
      <!--      >-->
      <!--        <app-votar-entidad [configuracion]="confVotarEntidad"></app-votar-entidad>-->
      <!--      </div>-->
      <div
        *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
        class="votar-proyecto"
      >
        <div class="apoyar-proyecto">
          <div
            class="titulo-apoyo-proyecto"
            *ngIf="this.proyecto.montoFaltante"
          >
            <p
              [ngClass]="
                estiloDelTextoServicio.obtenerEstilosTexto({
                  color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                  estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                  enMayusculas: false,
                  tamanoConInterlineado:
                    estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })
              "
            >
              {{ "m5v8texto2" | translate }}
            </p>

            <div class="cantidad-faltante">
              <app-moneda-picker
                *ngIf="confMonedaPickerMontoFaltante"
                [configuracion]="confMonedaPickerMontoFaltante"
              ></app-moneda-picker>
            </div>
          </div>
          <div class="votar">
            <app-votar-entidad
              [configuracion]="confVotarEntidad"
            ></app-votar-entidad>
          </div>
        </div>
      </div>
      <div
        [ngClass]="{
          'descripcion-intro': true,
          'con-margen-abajo': params.accionEntidad === AccionEntidadEnum.VISITAR
        }"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          "
          class="interlineado1"
        >
          {{ "m4v5texto21" | translate }}
        </p>
        <p
          *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })
          "
          class="interlineado2"
        >
          {{ "m4v6texto15.1" | translate }}
        </p>
        <p
          *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })
          "
          class="interlineado3"
        >
          {{ "m4v5texto22" | translate }}
        </p>
      </div>
      <div class="descripcion-contexto">
        <div
          *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })
          "
          class="textarea-visita"
        >
          {{ proyecto.descripcion }}
        </div>
        <textarea
          *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
          [readonly]="params.accionEntidad === AccionEntidadEnum.VISITAR"
          [(ngModel)]="proyecto.descripcion"
          maxlength="3500"
          title="proyectoDescripcion"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })
          "
        >
						{{ proyecto.descripcion }}
					</textarea
        >
        <div
          class="descripcion-contador"
          *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        >
          <p
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: false,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
              })
            "
          >
            {{ proyectoService.obtenerTextoDescripcionContador(proyecto) }}
          </p>
        </div>
      </div>
      <div
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="proyecto-completo"
      >
        <p
          *ngIf="proyecto.medias.length === 0"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto23" | translate }}
        </p>
        <div class="espacio"></div>
        <p
          *ngIf="proyecto.medias.length === 0"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto24" | translate }}
        </p>
        <p
          *ngIf="proyecto.medias.length > 0"
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto24.1" | translate }}
        </p>
      </div>
      <div
        *ngIf="
          params.accionEntidad !== AccionEntidadEnum.VISITAR ||
          (params.accionEntidad === AccionEntidadEnum.VISITAR &&
            proyecto &&
            proyecto.medias &&
            proyecto.medias.length > 0)
        "
        class="proyecto-completo-boton"
      >
        <input
          type="file"
          style="display: none"
          id="{{ inputProyectoCompleto }}"
          (change)="agregarMediaAlProyecto($event.target.files)"
          accept="application/pdf"
        />
        <app-button [botonCompartido]="confBotonFullProject"></app-button>
      </div>
      <div
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="link-descripcion"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto26" | translate }}
        </p>
        <!-- <div class="espacio"></div> -->
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })
          "
        >
          {{ "m4v5texto27" | translate }}
        </p>
      </div>
      <div
        *ngIf="determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.LINK)"
        class="link-boton"
      >
        <app-button [botonCompartido]="confBotonLinks"></app-button>
      </div>
      <div
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        class="publicar-boton"
      >
        <app-button [botonCompartido]="confBotonPublish"></app-button>
      </div>
      <div
        *ngIf="
          params.accionEntidad &&
          params.accionEntidad === AccionEntidadEnum.ACTUALIZAR
        "
        class="botones-adicionales"
      >
        <div class="boton-recuadro uno" (tap)="eventoEnBotonTransferir()">
          <p
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ "m4v6texto29" | translate }}
          </p>
          <p
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ "m4v6texto29.1" | translate }}
          </p>
        </div>
        <div class="boton-recuadro dos" (tap)="eventoEnBotonEliminar()">
          <p
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
              })
            "
          >
            {{ "m4v6texto30" | translate }}
          </p>
        </div>
      </div>
      <div
        *ngIf="
          params.accionEntidad &&
          params.accionEntidad !== AccionEntidadEnum.CREAR
        "
        class="linea-comentarios"
      >
        <app-linea [configuracionLinea]="confLineaComentarios"></app-linea>
      </div>
      <!-- Boton para comentarios solo en ingles -->
      <div
        *ngIf="
          params &&
          params.accionEntidad &&
          params.accionEntidad !== AccionEntidadEnum.CREAR
        "
        class="boton-intercambio-ingles"
      >
        <div class="caja-interna">
          <p
            *ngIf="!inglesSiempreActivoEnComentarios"
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
              })
            "
          >
            {{ "m4v6texto33" | translate }}
          </p>
          <p
            *ngIf="inglesSiempreActivoEnComentarios"
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
              })
            "
          >
            {{ "m4v6texto35" | translate }}
          </p>
          <p
            *ngIf="!inglesSiempreActivoEnComentarios"
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
              })
            "
          >
            {{ "m4v6texto34" | translate }}
          </p>
          <p
            *ngIf="inglesSiempreActivoEnComentarios"
            [ngClass]="
              estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado:
                  estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
              })
            "
          >
            {{ "m4v6texto35.1" | translate }}
          </p>
          <div class="botones-en-caja">
            <div class="boton-flecha"></div>
            <div
              (tap)="intercambioEnInglesActivo()"
              [ngClass]="obtenerImgIdiomaComentario()"
            ></div>
          </div>
        </div>
      </div>
      <!-- Numero de comentarios -->
      <div
        *ngIf="params && params.accionEntidad !== AccionEntidadEnum.CREAR"
        [ngClass]="{
          'total-comentarios': true
        }"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })
          "
        >
          {{ "m4v6texto31" | translate }}
        </p>
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
            })
          "
        >
          {{ " " + indicadorTotalComentarios.total || 0 }}
        </p>
      </div>
      <!-- Responder a una persona -->
      <div
        *ngIf="
          params.accionEntidad &&
          params.accionEntidad !== AccionEntidadEnum.CREAR
        "
        class="borrado-informacion"
      >
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })
          "
        >
          {{ "m4v1texto28" | translate }}
        </p>
      </div>
      <!-- Lista de comentarios -->
      <div class="lista-comentarios">
        <div *ngFor="let fecha of listaDeFechas" class="grupo-fecha">
          <div class="contenedor-fecha">
            <app-item-fecha
              [fecha]="fecha"
              [formato]="formatoFecha"
            ></app-item-fecha>
          </div>
          <div
            *ngFor="
              let comentario of listaConfiguracionComentarios;
              trackBy: trackByFn
            "
            class="contenedor-comentarios"
          >
            <app-comentario
              *ngIf="comenFireService.compararFechas(fecha, comentario.fecha)"
              [configuracion]="comentario"
            ></app-comentario>
          </div>
        </div>
        <div *ngIf="!puedeCargarMas" class="loader-comentarios">
          <app-cargando></app-cargando>
        </div>
      </div>
    </div>
  </div>
</div>
<app-barra-inferior-inline
  *ngIf="mostrarBarraInferior"
  [configuracion]="confBarraInferior"
></app-barra-inferior-inline>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-dialogo [configuracion]="confDialogoEliminarProyecto"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminarComentario"></app-dialogo>
<!-- <app-imagen-patanlla-completa
  *ngIf="confImagenPantallaCompleta"
  [configuracion]="confImagenPantallaCompleta"
></app-imagen-patanlla-completa> -->
<app-lista-contacto
  *ngIf="confListaContactoCompartido"
  [configuracion]="confListaContactoCompartido"
></app-lista-contacto>
<app-lista-selector
  *ngIf="confSelector"
  #selectorPaisesLista
  [configuracion]="confSelector"
></app-lista-selector>
<app-lista-buscador-modal
  *ngIf="confBuscador"
  #buscadorLocalidadesLista
  [configuracion]="confBuscador"
></app-lista-buscador-modal>
<app-lista-selector-tipo-moneda
  *ngIf="confMonedaPicker && confMonedaPicker.selectorTipoMoneda"
  [configuracion]="confMonedaPicker"
></app-lista-selector-tipo-moneda>
<app-lista-selector-tipo-moneda
  *ngIf="
    confMonedaPickerConvertir && confMonedaPickerConvertir.selectorTipoMoneda
  "
  [configuracion]="confMonedaPickerConvertir"
></app-lista-selector-tipo-moneda>
<app-dialogo [configuracion]="confDialogoFullProyecto"></app-dialogo>
<app-dialogo [configuracion]="confDialogoSalida"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminarPDF"></app-dialogo>
<app-dialogo [configuracion]="confDialogoConfirmarTransferencia"></app-dialogo>
<app-done [configuracion]="confDone"></app-done>
