<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div class="capas">
        <div 
            [ngClass]="{
                'capa': true,
                'principal': true,
                'mostrar': true
            }"
        >
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="titulo"
            >
                <p 
                    *ngIf="params.entidad === codigosCatalogoEntidad.PROYECTO"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.SEMI_BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                    class="justificado"
                >
                    {{ 'm4v8texto3' | translate }}
                </p>
                <p
                    *ngIf="
                        params.entidad === codigosCatalogoEntidad.NOTICIA && 
                        this.album.predeterminado
                    "
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.SEMI_BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ 'm4v8texto2' | translate }}
                </p>
                
                <p
                    *ngIf="
                        params.entidad === codigosCatalogoEntidad.NOTICIA && 
                        !this.album.predeterminado
                    "
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.SEMI_BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                    class="justificado"
                >
                    {{ 'm4v8texto3' | translate }}
                </p>
            </div> 
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="linea"
            >
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="acciones"
            >
                <p
                    *ngIf="listaDeLinks.length > 1 && params.entidad === codigosCatalogoEntidad.NOTICIA && album.predeterminado"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v8texto3.1' | translate }}
                </p>
                <p
                    *ngIf="listaDeLinks.length > 1 && params.entidad === codigosCatalogoEntidad.NOTICIA && !album.predeterminado"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v8texto4' | translate }}
                </p>
                <p
                    *ngIf="listaDeLinks.length > 1 && params.entidad === codigosCatalogoEntidad.PROYECTO"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v8texto4' | translate }}
                </p>

                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v8texto5' | translate }}
                </p>
                <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v8texto4.1' | translate }}
                </p>
            </div>
            <div 
                [ngClass]="{
                    'links': true,
                    'conPaddingTop': params.accionEntidad === AccionEntidadEnum.VISITAR
                }"
            >
                <app-item-link
                    *ngFor="let item of listaDeLinks"
                    [configuracion]="item"
                ></app-item-link>
                <div
                    *ngIf="
                        album.media.length > 0 &&
                        params.accionEntidad !== AccionEntidadEnum.VISITAR
                    "
                    class="cuadro-submit"
                >
                    <!-- <app-button [botonCompartido]='confBotonSubmit'></app-button> -->
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })"
                    >
                        {{ 'm4v8texto12' | translate }}
                    </p>
                    <div class="espacio-entre-texto-guardado"></div>
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                        })"
                    >
                        {{ 'm4v8texto13' | translate }}
                    </p>
                </div>
            </div>
            <div [ngClass]="{
                'modal-data-link': true,
                'activo': obtenerEstadoModalDataLink()
            }">
                <div class="modal">
                    <div class="inputs">
                        <input
                            type="text"
                            placeholder="{{ 'm4v8texto9' | translate }}"
                            [(ngModel)]="mediaActivo.principal.url"
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                            })"
                            [readonly]="confBotonReady && confBotonReady.enProgreso"
                        >
                        <input
                            type="text"
                            placeholder="{{ 'm4v8texto11' | translate }}"
                            [(ngModel)]="mediaActivo.descripcion"
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                            })"
                            [readonly]="confBotonReady && confBotonReady.enProgreso"
                        >
                    </div>
                    <div class="boton">
                        <app-button [botonCompartido]="confBotonReady"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-done [configuracion]="confDone"></app-done>