@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.done {
    position: absolute;
    width: $ancho-pagina;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
    overflow-y: hidden;
    background-color: #001223;

    &.mostrar {
        display: block;
    }

    & .caja {
        width: 100%;
        height: calcular(219.32);

        & .titulo {
            width: 100%;
            height: 19.18%;
            display: flex;
            align-items: flex-end;
            justify-content: center;

            & p {
                line-height: 0.8;
            }

        }
    
        & .imagen {
            position: relative;
            width: 100%;
            height: calc(100% - 19.18%);
            box-sizing: border-box;

            display: flex;
            align-items: flex-start;
            justify-content: center;
            overflow: hidden;

            & .done-mundo {
                position: absolute;
                z-index: -1;
                width: $mundo-diametro;
                height: $mundo-diametro;

                right: $mundo-derecha;
                bottom: $mundo-abajo;
            }

            & .done-img {
                max-width: 100%;
                max-height: 70.54%;
                position: relative;
                z-index: 1;
            }
        }
    }

    & .fondo-transparente {
        position: absolute;
        width: $item-menu-ancho-6920;
        margin-left: $mitad-item-6920;
        height: 100%;
        z-index: 996;
    }

    & .texto {
        width: 100%;
        height: fit-content;
        padding-top: $espacio-3106;
        z-index: 997;
        text-align: center;
    }

    & .contenido {
        flex: 1;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        z-index: 997;

        & .imagen-done {
            max-width: 90%;
            width: auto;
            height: auto;
            display: none;

            &.mostrar{
                display: flex;
            }   
        }
        
        & .loader {
            display: none;

            &.mostrar {
                display: flex;
            }
        }
    }
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .done {
        width: $ancho-pagina;

        & .caja {
            height: calcular(219.32);
        
            & .imagen {
                height: calc(100% - 19.18%);

                & .done-mundo {
                    width: $mundo-diametro;
                    height: $mundo-diametro;
                    right: $mundo-derecha;
                    bottom: $mundo-abajo;
                }
            }
        }

        & .fondo-transparente {
            width: $item-menu-ancho-6920;
            margin-left: $mitad-item-6920;
        }

        & .texto {
            padding-top: $espacio-3106;
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .done {
        width: $ancho-pagina;

        & .caja {
            height: calcular(219.32);
        
            & .imagen {
                height: calc(100% - 19.18%);

                & .done-mundo {
                    width: $mundo-diametro;
                    height: $mundo-diametro;
                    right: $mundo-derecha;
                    bottom: $mundo-abajo;
                }
            }
        }

        & .fondo-transparente {
            width: $item-menu-ancho-6920;
            margin-left: $mitad-item-6920;
        }

        & .texto {
            padding-top: $espacio-3106;
        }
    }
}