<app-appbar #appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': mostrarCuerpoLoader
        }">
        <app-cargando></app-cargando>
    </div>
    <div [ngClass]="{
            'capa': true,
            'errordiv': true,
            'mostrar': !mostrarCuerpoLoader && mostrarError
        }">
        <div [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })">
            {{ mensajeError | translate}}
        </div>
        <button class="botonReintentar" (tap)="reintentar()">
            {{ 'text32' | translate }}
        </button>
    </div>
    <div [id]="idCapaPrincipal" [ngClass]="{
            'capa': true,
            'principal': true,
            'mostrar': !mostrarCuerpoLoader && !mostrarError
        }">
        <div class="fotos" *ngIf="!mostrarSubirFoto">
            <app-item-circulo *ngIf="confItemCir" #albumPerfil [configuracion]="confItemCir"></app-item-circulo>
            <app-portada-gaze *ngIf="confPortada" #portadaGaze [configuracionPortada]="confPortada"></app-portada-gaze>
            <app-item-rectangulo *ngIf="confItemRec" #albumGeneral [configuracion]="confItemRec"></app-item-rectangulo>
        </div>
        <div [ngClass]="{
                'nombreAlbums': true
            }" *ngIf="!mostrarSubirFoto">
            <div class="caja a">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                    })">
                    {{ 'm2v3texto3' | translate }}
                </p>
            </div>
            
            <div class="caja b"></div>
            <div class="caja c">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL 
                    })">
                    {{ 'm2v3texto6' | translate }}
                </p>
            </div>
        </div>
        <!-- Se muestra si, perfil creado es false -->
        <div class="descripcion_perfil" *ngIf="!perfilCreado ">   
            <!-- Clasico -->
            <p *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.CLASSIC" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_1512
                })">
                {{ 'm2v3texto7' | translate }}
            </p>
            <!-- Ludico -->
            <p *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.PLAYFUL" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v4texto1' | translate }}
            </p>
            <!-- <div
                *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.PLAYFUL"
                class="espacio-0249"
            ></div> -->
            <!-- Sustituto -->
            <p *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.SUBSTITUTE" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v5texto1' | translate }}
            </p>
            <div class="espacio-0249" *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.SUBSTITUTE"></div>
            <p *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.SUBSTITUTE" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v5texto2' | translate }}
            </p>
            <!-- <div
                *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.SUBSTITUTE"
                class="espacio-0249"
            ></div> -->
            <!-- Grupo -->
            <p class="minuscula" *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.GROUP" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v6texto2' | translate }} 
            </p>
            <div class="espacio-0522" *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.GROUP"></div>
            <p *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.GROUP" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v6texto3' | translate }}
            </p>
        </div>
        <div class="info" *ngIf="perfil && hayMasDeUnPerfil">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0658_RESTA_267
                })">
                {{ 'm2v4texto2' | translate }}
            </p>
        </div>
        <div class="indicativo-mi-cuenta" *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR">
            <p  
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                
                {{ 'm2v13texto3.1' | translate }}
                &nbsp;
                -
                <span  
                    (tap)="irMiCuenta()"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                    })"
                
                >
                        {{ 'm2v13texto3.2' | translate }}
                </span>
            </p>
        </div>
        <div [ngClass]="{
                'inputs_formularios': true,
                'mostrar': !perfilCreado
            }">   
            <div class="indicativo">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1 
                    })">
                    {{ 'm2v3texto8' | translate }}
                </p>
            </div>
            <div class="form">
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[0]"></app-input>
                </div>
                <p
                    *ngIf="traducirNombreContacto"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1 
                    })" class="info-traducir-nc"
                >
                   {{ 'm2v3texto9.1' | translate }}
                </p>
                <div class="input" *ngIf="traducirNombreContacto">
                    <app-input [inputCompartido]="inputsForm[13]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[1]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[2]"></app-input>
                </div>
                <!-- <div class="input">
                    <app-input [inputCompartido]="inputsForm[1]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[2]"></app-input>
                </div> -->
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[3]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[14]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[4]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[10]"></app-input>
                </div>
                <app-selector *ngIf="confSelector" #selectorPaises [configuracion]="confSelector"></app-selector>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[7]"></app-input>
                </div>
                <!-- <div class="input">
                    <app-input [inputCompartido]="inputsForm[5]"></app-input>
                </div> -->
            </div>
            <div class="indicativo2">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1 
                    })">
                    {{ 'm2v3texto16' | translate }}
                </p>
            </div>
            <div class="form">

                <div class="input">
                    <app-input [inputCompartido]="inputsForm[11]"></app-input>
                </div>
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[12]"></app-input>
                </div>
                <!-- <div class="input">
                    <app-input [inputCompartido]="inputsForm[5]"></app-input>
                </div> -->
                <div class="input">
                    <app-input [inputCompartido]="inputsForm[6]"></app-input>
                </div>
    
             
            </div>
            <div class="button">
                <app-button [botonCompartido]="botonSubmit"></app-button>
            </div>
        </div>
        <!-- Se muestra si perfil creado es true -->
        <div [ngClass]="{
                'perfilCreado': true,
                'mostrar': perfilCreado && !mostrarSubirFoto
            }">
            <!-- Perfil clasico -->
            <div class="contenido normalProfile" *ngIf="perfil && perfil.tipoPerfil.codigo !== codigosCatalogoTipoPerfil.GROUP">
                <div class="explicacion">
                    <p *ngIf="perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.CLASSIC" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I8,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v7texto1' | translate }}
                    </p>
                    <p *ngIf="perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.PLAYFUL" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I8,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v7texto2' | translate }}
                    </p>
                    <p *ngIf="perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.SUBSTITUTE" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I8,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })"> 
                        {{ 'm2v7texto3' | translate }}
                    </p>
                    <div [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v7texto4' | translate }}
                    </div>

                </div>
                <div class="otro-perfil">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        <span style="text-decoration: underline;"> {{ 'm2v7texto4.1' | translate }}  </span>
                    </p>
                   
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL,
                        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                    })">
                    {{ "m2v7texto4.2" | translate }}
                </p>
               
                </div>
                <div class="modale" *ngIf="!noHayMasPerfilesDisponibles">
                    <app-dialogo-inline #dialogoInline [configuracion]="confDialogoMasPerfiles"></app-dialogo-inline>
                </div>
            </div>
            <div class="contenido grupoProfile" *ngIf="perfil && perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.GROUP">
                <div class="explicacion">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I8,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v8texto2' | translate }}
                    </p>
                    <div [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v8texto3' | translate }}
                        <br>
                        {{ 'm2v8texto4' | translate }}
                    </div>
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I8,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm2v8texto5' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div [ngClass]="{
                'botonPagoGrupo': true,
                'mostrar': (perfilCreado && 
                    (
                        perfil.tipoPerfil.codigo === codigosCatalogoTipoPerfil.GROUP ||
                        noHayMasPerfilesDisponibles
                    )
                )
            }">
            <a class="adGoogle" id="adGoogle" onclick="return gtag_report_conversion('https://gazelook.com/enrutador-registro');" ></a>
            <app-button [botonCompartido]="confBotonPago"></app-button>
        </div>

        <div [ngClass]="{
          
            'fotos-dni': true,
            'mostrar': perfilCreado && noCrearMasPerfiles && mostrarSubirFoto
        }">

        <div class="texto-dni">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1,
                paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
            })">
            {{ 'm2v8texto7' | translate}}
            </p>
        </div>
        <div class="subiFoto">
            <!-- <app-item-circulo #botonUpload [configuracion]="confBotonUpload"></app-item-circulo> -->
            <app-button [botonCompartido]="confBotonSubirFoto"></app-button>
        </div>
        <div class="foto-subida">
            
        </div>
        <div class="texto-imagen">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1,
                paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
            })">
            {{ 'm2v8texto8' | translate}}
            </p>
        </div>
        <div class="boton-pagar">
            <a class="adGoogle" id="adGoogle" onclick="return gtag_report_conversion('https://gazelook.com/enrutador-registro');" ></a>
            <app-button [botonCompartido]="confBotonPago"></app-button>
        </div>

    </div>


        <!-- Botones estado del perfil -->
        <div class="texto-estado" *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR">
            <p *ngIf="
                    perfil &&
                    perfil.estado.codigo === codigosCatalogosEstadoPerfiles.PERFIL_ACTIVO
                " [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                })">
                {{ 'm2v13texto12' | translate }}
            </p>
            <p *ngIf="
                    perfil &&
                    perfil.estado.codigo === codigosCatalogosEstadoPerfiles.PERFIL_HIBERNADO
                " [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                })">
                {{ 'm2v13texto13' | translate }}
            </p>
        </div> 
        <div class="botonesEstado" *ngIf="mostrarBotonesEstadoPerfil()">
            <app-button *ngIf="perfil && perfil.estado.codigo === codigosCatalogosEstadoPerfiles.PERFIL_ACTIVO" [botonCompartido]="confBotonHibernar"></app-button>
            <app-button *ngIf="perfil && perfil.estado.codigo === codigosCatalogosEstadoPerfiles.PERFIL_HIBERNADO" [botonCompartido]="confBotonDesHibernar"></app-button>
            <app-button [botonCompartido]="confBotonEliminar"></app-button>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-dialogo [configuracion]="confDialogoHibernar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoDesHibernar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoSalida"></app-dialogo>
<app-done [configuracion]="confDone"></app-done>
<app-lista-selector *ngIf="confSelector" #selectorPaisesLista [configuracion]="confSelector"></app-lista-selector>
