<div *ngIf="configuracion" [ngClass]="obtenerClasesParaItemRectangular()">
    <img [ngClass]="{
        capa: true, 
        imagenFondo: true,
        mostrar: !configuracion.loader && configuracion.urlMedia.length > 0
      }" [src]="configuracion.urlMedia" (load)="siImagenEstaCargada($event)" alt="" />



    <!-- titulo -->
    <div [ngClass]="{
        capa: true,
        'titulos-capa-centrado': !configuracion.fecha.mostrar,
        'titulos-capa-bottom': configuracion.fecha.mostrar,
        'titulos-detalle': configuracion.usoItem === 1 && configuracion.resumen,
        mostrar: true
      }" (tap)="eventoTap(configuracion)">

        <div *ngIf="configuracion?.actualizado" [ngClass]="{
          'content-etiqueta-actualizado': !configuracion.resumen,
          'content-etiqueta-actualizado-lista': configuracion.resumen
        }">
            <div [ngClass]="{
            'etiqueta-actualizado': !configuracion.resumen,
            'etiqueta-actualizado-lista': configuracion.resumen
          }">
                {{ "m3v3texto10" | translate | uppercase }}
            </div>
        </div>



        <div *ngIf="configuracion.titulo.mostrar">
            <app-titulo-rectangulo [configuracion]="configuracion.titulo.configuracion"></app-titulo-rectangulo>
        </div>


        <div *ngIf="configuracion.noDisponible" class="no-disponible">
            <p>{{configuracion.titulo.configuracion.textoBoton1}}</p>
            <p>{{configuracion.titulo.configuracion.textoBoton2}}</p>
            <p>{{configuracion.titulo.configuracion.textoBoton3}}</p>
        </div>
        <!-- fecha -->
        <section class="fecha">
            <app-item-fecha *ngIf="configuracion.fecha.mostrar" [fecha]="configuracion.fecha.configuracion.fecha"
                [formato]="configuracion.fecha.configuracion.formato"></app-item-fecha>
        </section>
    </div>

    <div class="texto-general">
        <p [ngClass]="
          estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
            enMayusculas: true,
            tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_I1
          })
        ">
            {{ configuracion.textoGeneral | translate }}
        </p>
    </div>
    <!-- Loader -->
    <div [ngClass]="{
        capa: true,
        loader: true,
        mostrar: configuracion.loader
      }">
        <app-cargando></app-cargando>
    </div>
</div>