<app-appbar [configuracion]="confAppBar"></app-appbar>
<app-lista-vertical [dataLista]='dataLista' class="centrar">
  <div *ngIf="listaTipoPerfil">
    <app-item-menu [configuracionItem]=" prepareItemInstrucciones()">
    </app-item-menu>
    <div *ngFor="let item of listaTipoPerfil">
      <app-item-menu [configuracionItem]="prepararItemTipoPerfil(item)"></app-item-menu>
    </div>
  </div>

  <app-item-menu-perfiles *ngIf="itemInformacion" [configuracionItem]="prepararItemInformacion(itemInformacion)">
  </app-item-menu-perfiles>
</app-lista-vertical>


<div
  [ngClass]="{
        'modal-verificar-cuenta': true,
        'mostrar': mostrarModalVerificarCuenta
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        {{ 'm15v1texto5' | translate }}
      </p>


      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        {{ 'm15v1texto6' | translate }}
      </p>
    </div>
    <div class="boton">
      <app-button *ngIf="botonReenvioEmail" [botonCompartido]="botonReenvioEmail"></app-button>
    </div>

    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
            })">
        {{ 'm15v1texto8' | translate }} <span> <strong>{{usuario.email}}</strong> </span>
      </p>
    </div>


    <div *ngIf="
                confDialogoCambiarEmail.mostrarLoader &&
                !confDialogoCambiarEmail.mostrarError
            ">
      <app-cargando></app-cargando>
    </div>
    <div *ngIf="
                confDialogoCambiarEmail.mostrarError &&
                !confDialogoCambiarEmail.mostrarLoader
            " class="error">
      <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })">
        {{ confDialogoCambiarEmail.error | translate }}
      </p>
    </div>
    <div *ngIf="
                !confDialogoCambiarEmail.mostrarError &&
                !confDialogoCambiarEmail.mostrarLoader &&
                confDialogoCambiarEmail.mostrarStatus
            " class="status">
      <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })">
        {{ confDialogoCambiarEmail.status | translate }}
      </p>
    </div>
    <!-- <div *ngIf="confDialogoCambiarEmail.mostrarCerrarSesion">
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
            })">
            {{ 'Para continuar por favor cierre sesión, verifique su correo y vuelva a ingresar' | translate }}
        </p>
    </div> -->
  </div>
</div>

<div
  [ngClass]="{
        'modal-verificar-cuenta': true,
        'mostrar': mostrarModalCerrarCuentaVerificacion
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        {{ 'm15v1texto9' | translate }}
      </p>

    </div>
    <div class="boton">
      <app-button *ngIf="botoncerrarSesionEmail" [botonCompartido]="botoncerrarSesionEmail"></app-button>
    </div>

  </div>
</div>
<div
  [ngClass]="{
        'modal-verificar-cuenta': true,
        'mostrar': mostrarMensajeCuentaCripto
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        Por favor notifiquenos mediante correo electronico cuando haya realizado el pago para activarle la cuenta.
      </p>

    </div>
    <div class="boton">
      <app-button *ngIf="botoncerrarSesionEmail" [botonCompartido]="botoncerrarSesionEmail"></app-button>
    </div>

  </div>
</div>
<div
  [ngClass]="{
        'modal-verificar-cuenta': true,
        'mostrar': mostrarMensajeConfirmarCuenta
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        {{ 'm15v1texto1' | translate }}

      </p>
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
                })">
        {{ 'm15v1texto2' | translate }}
        <span>
                  {{diferenciaActivarCuenta }}
                </span>
        <span>{{ 'm15v1texto3' | translate }}</span>
      </p>
    </div>
    <div class="boton">
      <app-button *ngIf="botoncerrarSesionEmail" [botonCompartido]="botonMensajeTiempoVerificacion"></app-button>
    </div>

  </div>
</div>

<app-toast #toast [configuracion]="confToast"></app-toast>
