@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

.tercio {
  margin: 0 !important;
  z-index: 1;
  background: transparent !important;
}

.modal-verificar-cuenta {
  display: none;
  position: absolute;
  top: $item-menu-alto-2621;
  background: rgba(0, 0, 0, 0.5);
  width: $ancho-pagina;
  height: $cuerpo-default-alto;
  z-index: 200;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .forma {
    width: 90%;
    height: fit-content;
    border-radius: calcular(1.026);
    padding: $espacio-267;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: $item-menu-alto-2621;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & p {
      white-space: pre-line;
      margin-bottom: $espacio-522 - $defecto-bottom;
      text-align: justify;
    }

    & input {
      border-radius: calcular(1.026);
      border: none;
      padding: $espacio-0178;
      box-sizing: border-box;
      width: 100%;
      margin-top: calcular(2);
      margin-bottom: calcular(2);
      font-size: $letra-2;
      background-color: $input-fondo-registro;
    }

    & .boton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: $letra-3;
      margin-bottom: $espacio-0316 - $defecto-top;
    }

    & .error {
      width: 100%;
      margin: $espacio-0178 0;

      & p {
        text-align: center;
      }
    }

    & .status {
      width: 100%;
      margin: $espacio-0178 0;

      & p {
        text-align: center;
      }
    }
  }
}

@media screen and (min-aspect-ratio: "16/10") {
  @import "../../../assets/estilos/dimensiones_16_10.scss";

  .modal-verificar-cuenta {
    top: $item-menu-alto-2621;
    width: $ancho-pagina;
    height: $cuerpo-default-alto;

    & .forma {
      border-radius: calcular(1.026);
      padding: $espacio-267;
      margin-bottom: $item-menu-alto-2621;

      & p {
        white-space: pre-line;
        margin-bottom: $espacio-522 - $defecto-bottom;
        text-align: justify;
      }

      & input {
        border-radius: calcular(1.026);
        padding: $espacio-0178;
        margin-top: calcular(2);
        margin-bottom: calcular(2);
        font-size: $letra-2;
      }

      & .boton {
        width: 100%;
        font-size: $letra-3;
        margin-bottom: $espacio-0316 - $defecto-top;
      }

      & .error {
        margin: $espacio-0178 0;
      }

      & .status {
        margin: $espacio-0178 0;
      }
    }
  }
}

@media screen and (min-aspect-ratio: "16/9") {
  @import "../../../assets/estilos/dimensiones_16_9.scss";

  .modal-verificar-cuenta {
    top: $item-menu-alto-2621;
    width: $ancho-pagina;
    height: $cuerpo-default-alto;

    & .forma {
      border-radius: calcular(1.026);
      padding: $espacio-267;
      margin-bottom: $item-menu-alto-2621;

      & p {
        white-space: pre-line;
        margin-bottom: $espacio-522 - $defecto-bottom;
        text-align: justify;
      }

      & input {
        border-radius: calcular(1.026);
        padding: $espacio-0178;
        margin-top: calcular(2);
        margin-bottom: calcular(2);
        font-size: $letra-2;
      }

      & .boton {
        width: 100%;
        font-size: $letra-3;
        margin-bottom: $espacio-0316 - $defecto-top;
      }

      & .error {
        margin: $espacio-0178 0;
      }

      & .status {
        margin: $espacio-0178 0;
      }
    }
  }
}
