<div class="contenedor-principal">
    <div class="titulo">
        <!-- <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
          enMayusculas: true,
          tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
      })">
      {{ 'REPORTS WILL BE OBTAINED MONTHLY FROM OUR ACCOUNTANTS' | translate }}
      </p> -->
        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
          color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
          estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
          enMayusculas: true,
          tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
      })">
            {{ 'm7v6texto3' | translate }}
        </p>
    </div>
    <div class="fechas">
        <div class="herramientas">
            <div class="input">
                <input id="inputFechaInicial" type="month" [(ngModel)]="fechaInicial" [ngClass]="{
                    sinEventos: !puedeCargarMas || mostrarCapaLoader
                }">
                <div class="fecha">
                    {{ fechaInicial | date: "yyyy/MM" }}
                </div>
            </div>
        </div>
    </div>

    <div class="info-de-banco">
        <p [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
            color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE, 
            estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
        })">
            {{ 'm7v6texto4' | translate }}
        </p>
    </div>

    <div class="btn-reporte">
        <app-button class="centrar" [botonCompartido]="botonReporteSimple"></app-button>
    </div>


</div>
<app-toast #toast [configuracion]="confToast"></app-toast>