@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

@mixin centrado {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-principal {
    padding: $espacio-267 $espacio-267;
}
.titulo {
    @include centrado();
}

.fechas {
    text-align: center;
    padding-top: calcular(0.89);
    padding-bottom: $espacio-178 - $defecto-bottom;
    & .herramientas {
        width: 100%;
        box-sizing: border-box;
        // padding: 0 $espacio-0316;
        // margin-bottom: $espacio-522;

        display: flex;
        align-items: center;
        justify-content: center;

        & .input {
            width: fit-content;
            position: relative;
            display: flex;

            & input {
                position: absolute;
                z-index: 1;
                opacity: 0;
                width: 100%;
                height: 100%;

                &::-webkit-calendar-picker-indicator {
                    position: absolute;
                    top: -150%;
                    left: -150%;
                    width: 300%;
                    height: 300%;
                    cursor: pointer;
                }
            }

            & .fecha {
                // box-shadow: 0px 0px 0.83vw 0 white inset;
                // opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-right: $interlineado-6;
                padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-left: $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-3;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}

.info-de-banco{
    @include centrado();
    flex-flow: column;
    padding-bottom: $espacio-0316 - $defecto-bottom;
    & p{
       text-align: center;
    }
}

.paddin-top-bottom-089{
    padding-top: calcular(0.89) ;
    padding-bottom: calcular(0.89);
}

.texto-centrado{
    text-align: center;
}


.herramientas {
    width: 100%;
    box-sizing: border-box;
    // padding: 0 $espacio-0316;
    // margin-bottom: $espacio-522;

    display: flex;
    align-items: center;
    justify-content: center;

    & .input {
        width: fit-content;
        position: relative;
        display: flex;

        & input {
            position: absolute;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 100%;

            &::-webkit-calendar-picker-indicator {
                position: absolute;
                top: -150%;
                left: -150%;
                width: 300%;
                height: 300%;
                cursor: pointer;
            }
        }

        & .fecha {
            // box-shadow: 0px 0px 0.83vw 0 white inset;
            // opacity: 0.85;
            width: fit-content;
            height: fit-content;
            border-radius: $interlineado-15;
            padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-right: $interlineado-6;
            padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-left: $interlineado-6;
            box-sizing: border-box;
            background-color: $titulo-fecha;
            color: $blanco;
            font-size: $letra-3;
            line-height: 1;
            font-weight: bold;
        }
    }

    & .to {
        // box-shadow: 0 0 calcular(1.2) 0 white inset;
        // opacity: 0.85;
        width: fit-content;
        height: fit-content;
        border-radius: $interlineado-15;
        padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-right: $interlineado-6;
        padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-left: $interlineado-6;
        box-sizing: border-box;
        color: black;
        padding-left: 5.22vw;
        padding-right: 5.22vw;
        // background-color: $titulo-fecha;
    }
}


.proyecto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;
    text-transform: uppercase;
    color: $negro;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}

.moneda {
    margin-bottom: $espacio-0178;
    display: flex;
    justify-content: center;

    & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
            outline: 0;
        }
        &:active {
            outline: 0;
        }
    }


    & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(9ch + #{ $espacio-0249 * 2 });
        background-color: rgba(154, 191, 226, 0.3);
    }
}

.titulo-azul{
    color: $azul-base;
    font-size: $letra-3;
    font-weight: bold;
    text-align: center;
}


.titulo-fecha{
    font-size: $letra-3;
    color: $txt-lacre;
    text-align: left;
    padding-right: $espacio-0316;

}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .contenedor-principal{
        padding: $espacio-0316 $espacio-267;
    }
    
    .titulo{
        font-size: $letra-2;
        color: $txt-lacre;
    }
    
    .fechas{
        padding-top: calcular(0.89);
        padding-top: $espacio-522;
    }
    
    .paddin-top-bottom-089{
        padding-top: calcular(0.89) ;
        padding-bottom: calcular(0.89);
    }
    
    .herramientas {
        & .input {
            & .fecha {
                border-radius: $interlineado-15;
                padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-right: $interlineado-6;
                padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-left: $interlineado-6;
                background-color: $titulo-fecha;
                font-size: $letra-3;
            }
        }
    
        & .to {
            border-radius: $interlineado-15;
            padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-right: $interlineado-6;
            padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-left: $interlineado-6;
            padding-left: calcular(5.22);
            padding-right: calcular(5.22);
        }
    }
    
    
    .proyecto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }
    
    .moneda {
        margin-bottom: $espacio-0178;
    
        & input {
            height: calcular(7.82);
        }
    
        & .input-cantidad {
            padding: 0 $espacio-522;
            border-radius: calcular(1.03);
            margin-right: $espacio-522;
            width: calc(9ch + #{ $espacio-0249 * 2 });
        }
    }
    
    .titulo-azul{
        font-size: $letra-3;
    }
    
    
    .titulo-fecha{
        font-size: $letra-3;
        padding-right: $espacio-0316;
    }
    
    .btn-reporte{
        padding-top: $espacio-0316;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .contenedor-principal{
        padding: $espacio-0316 $espacio-267;
    }
    
    .titulo{
        font-size: $letra-2;
        color: $txt-lacre;
    }
    
    .fechas{
        padding-top: calcular(0.89);
        padding-top: $espacio-522;
    }
    
    .paddin-top-bottom-089{
        padding-top: calcular(0.89) ;
        padding-bottom: calcular(0.89);
    }
    
    .herramientas {
        & .input {
            & .fecha {
                border-radius: $interlineado-15;
                padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-right: $interlineado-6;
                padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
                padding-left: $interlineado-6;
                background-color: $titulo-fecha;
                font-size: $letra-3;
            }
        }
    
        & .to {
            border-radius: $interlineado-15;
            padding-top: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-right: $interlineado-6;
            padding-bottom: $interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
            padding-left: $interlineado-6;
            padding-left: calcular(5.22);
            padding-right: calcular(5.22);
        }
    }
    
    
    .proyecto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }
    
    .moneda {
        margin-bottom: $espacio-0178;
    
        & input {
            height: calcular(7.82);
        }
    
        & .input-cantidad {
            padding: 0 $espacio-522;
            border-radius: calcular(1.03);
            margin-right: $espacio-522;
            width: calc(9ch + #{ $espacio-0249 * 2 });
        }
    }
    
    .titulo-azul{
        font-size: $letra-3;
    }
    
    
    .titulo-fecha{
        font-size: $letra-3;
        padding-right: $espacio-0316;
    }
    
    .btn-reporte{
        padding-top: $espacio-0316;
    }
}