@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.contenedorTransparencia {
  height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  overflow-y: auto;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.espaciador {
  padding-top: $espacio-522;
  padding-bottom: $espacio-522;
}

.titlePago {
  text-align: center;
  padding-bottom: $espacio-0316 - $defecto-total;
}

.linea-verde {
  padding-top: $espacio-522;
  padding-bottom: $espacio-522;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-aspect-ratio: 16/10) {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  .contenedorTransparencia {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  }

  .espaciador {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }

  .titlePago {
    padding-bottom: $espacio-0316 - $defecto-total;
  }

  .linea-verde {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }

}

@media screen and (min-aspect-ratio: 16/9) {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  .contenedorTransparencia {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  }

  .espaciador {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }

  .titlePago {
    padding-bottom: $espacio-0316 - $defecto-total;
  }

  .linea-verde {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }
}





