@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$diametro-neto: 8;
$diametro-cargando: calcular(23);
$diametro-interno: calcular(23);
$borde-cargando: calcular(1.5);

.contenedor-loader {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	&.diametro-default {
		width: $diametro-cargando;
		height: $diametro-cargando;
		min-width: $diametro-cargando;
		min-height: $diametro-cargando;
	}

	&.diametro-boton-icono {
		width: calcular(13.1);
		height: calcular(13.1);
		min-width: calcular(13.1);
		min-height: calcular(13.1);
	}

	& img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
	}
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

	$diametro-neto: 8;
	$diametro-cargando: calcular(23);
	$diametro-interno: calcular(23);
	$borde-cargando: calcular(1.5);

	.contenedor-loader {
		&.diametro-default {
			width: $diametro-cargando;
			height: $diametro-cargando;
			min-width: $diametro-cargando;
			min-height: $diametro-cargando;
		}

		&.diametro-boton-icono {
			width: calcular(13.1);
			height: calcular(13.1);
			min-width: calcular(13.1);
			min-height: calcular(13.1);
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

	$diametro-neto: 8;
	$diametro-cargando: calcular(23);
	$diametro-interno: calcular(23);
	$borde-cargando: calcular(1.5);

	.contenedor-loader {
		&.diametro-default {
			width: $diametro-cargando;
			height: $diametro-cargando;
			min-width: $diametro-cargando;
			min-height: $diametro-cargando;
		}

		&.diametro-boton-icono {
			width: calcular(13.1);
			height: calcular(13.1);
			min-width: calcular(13.1);
			min-height: calcular(13.1);
		}
	}
}