@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.listaMenu {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    // height: 100%;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .listaMenu {
        height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .listaMenu {
        height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    }
}
