@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$altura-modal: calcular(42);

.sombra {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
    box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
        0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.cuerpo {
    background: #ffffff;
    position: relative;
    padding: 0 !important;

    &.con-barra-inferior {
        height: $cuerpo-con-barra-inferior-alto;
    }

    &.con-appbar-mini {
        height: $cuerpo-con-barra-inferior-alto-appbar-mini !important;
    }

    & .capa {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        opacity: 0;
        left: 0;
        top: 0;
        box-sizing: border-box;
        padding: ($espacio-0178 - $defecto-top) $espacio-267 ($espacio-0178 - $defecto-bottom) $espacio-267;
        overflow: hidden;

        &.mostrar {
            opacity: 1;
            z-index: 1;
        }

        &.cargando {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        }

        &.error {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;

            & div {
                width: 100%;
                margin-bottom: $espacio-178;
                text-align: center;
            }
        }

        &.contenido {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: column;
            user-select: none !important;
            & .otro-usuario {
                width: 100%;
                margin-bottom: $espacio-0178 - $defecto-top;
                user-select: none !important;

                & .datos-contacto {
                    display: flex;
                    align-items: center;
                    user-select: none !important;
                    & .item-circulo {
                    }
                    & .nombre-contacto {
                        padding-left: $espacio-267;
                        padding-bottom: $espacio-0178 - ($defecto-bottom * 2);
                    }
                }
                & .info-borrar {
                    text-align: center;
                }
                & .linea-verde {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-bottom: calcular(0.3);
                }
            }

            & .anotaciones {
                margin-bottom: $espacio-0249;
                width: 100%;

                & p {
                    line-height: 0.8;
                    text-align: center;
                }
            }

            & .lista-chat {
                position: relative;
                width: 100%;
                display: flex;
                flex: 1;
                overflow: hidden;
                touch-action: none !important;

                & .lista-interno {
                    position: absolute;
                    bottom: 0;
                    touch-action: pan-y !important;

                    width: 100%;
                    height: fit-content;
                    max-height: 100%;
                    display: flex;
                    flex-flow: column;
                    overflow-y: auto;
                    overflow-x: hidden;

                    // &::-webkit-scrollbar {
                    //     display: block !important;
                    //     width: $ancho-barra-scroll;
                    // }

                    // &::-webkit-scrollbar-track {
                    //     background: $blanco;
                    //     border-left: calcular(0.12) solid $celeste-base;
                    // }

                    // &::-webkit-scrollbar-thumb {
                    //     background: $rojo-base !important;
                    //     border-radius: $ancho-barra-scroll;
                    // }

                    // &::-webkit-scrollbar-thumb:hover {
                    //     background: #b30000;
                    // }

                    & .grupo-fecha {
                        margin-bottom: $espacio-0249;
                        width: 100%;
                        touch-action: pan-y !important;

                        &.ultimo {
                            margin-bottom: 0;
                        }

                        & .fecha {
                            display: flex;
                            width: 100%;
                            justify-content: center;
                            margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
                            & p {
                                white-space: pre-line;
                            }
                        }

                        & .contenedor-mensaje {
                            width: 100%;
                            touch-action: pan-y !important;

                            & .mensaje {
                                width: 100%;
                                height: fit-content;
                            }

                            & .opciones-mensaje {
                                width: 100%;

                                & .enviada {
                                    display: flex;
                                    flex-flow: column;
                                    width: 100%;
                                    align-items: flex-start;

                                    & .espacio {
                                        width: 100%;
                                        height: $espacio-0249;
                                    }
                                }

                                &.propietario {
                                    & .enviada {
                                        align-items: flex-end;
                                    }
                                }
                            }

                            & .estado {
                                display: flex;
                                flex-flow: column;
                                width: 100%;
                                align-items: flex-start;
                                padding-bottom: $espacio-0249 - $defecto-total;
                                &.propietario {
                                    align-items: flex-end;
                                }

                                & p {
                                    width: fit-content;
                                }
                            }
                        }
                    }
                }

                & .notificaciones {
                    position: absolute;
                    bottom: calcular(3);
                    right: calcular(3);
                    z-index: -1;
                    opacity: 0;
                    background: #ffffff;
                    cursor: pointer;
                    width: calcular(7);
                    height: calcular(7);
                    padding: calcular(1);
                    box-sizing: border-box;
                    border-radius: 50%;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.mostrar {
                        z-index: 2;
                        opacity: 1;
                    }

                    & svg {
                        width: 105%;
                        height: 105%;
                    }

                    & .numero {
                        position: absolute;
                        top: calcular(1) * -1;
                        left: calcular(1.5) * -1;

                        width: calcular(4);
                        height: calcular(4);
                        border-radius: 50%;
                        background: $amarillo-base;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: calcular(2.96);
                        line-height: calcular(2.96);

                        z-index: -1;
                        opacity: 0;

                        &.mostrar {
                            z-index: 1;
                            opacity: 1;
                        }
                    }
                }
            }

            & .busqueda-mensajes {
                width: 100%;
                box-sizing: border-box;
                height: fit-content;

                & .info {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    padding-top: calcular(0.5);
                }
                & .fecha {
                    // padding-top: $espacio-0178 - $defecto-bottom;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    label {
                        display: inline-block;
                        position: relative;
                        line-height: 0;
                    }
                    input {
                        position: absolute;
                        opacity: 0;
                        width: 100%;
                        height: 100%;
                        border: 0;
                        overflow: hidden;
                        cursor: pointer;
                    }

                    input::-webkit-calendar-picker-indicator {
                        position: absolute;
                        top: -150%;
                        left: -150%;
                        width: 300%;
                        height: 300%;
                        cursor: pointer;
                    }

                    input:hover + button {
                        background-color: silver;
                    }

                    .divFecha {
                        width: fit-content;
                        height: fit-content;
                        border-radius: $interlineado-15;
                        //padding: $interlineado-6;
                        //padding: $interlineado-6 $interlineado-6 $interlineado-6 $interlineado-6;
                        padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                            $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                            $interlineado-6;
                        box-sizing: border-box;
                        background-color: $titulo-fecha;
                        color: $blanco;
                    }

                    .triangulo-2 {
                        // width: $espacio-326;
                        // height: $espacio-fecha-alto;
                        width: 100px !important;
                        height: 100px !important;
                        border-left: 100px solid #f0ad4e;
                        border-top: 50px solid transparent;
                        border-bottom: 50px solid transparent;
                    }
                }
            }

            & .dialogo-opciones {
                position: absolute;
                width: $ancho-cuadro-dialogo !important;
                height: $altura-modal;
                top: calc(50% - #{math.div($altura-modal, 2)});
                left: calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});
                z-index: 100;

                z-index: -1;
                opacity: 0;

                &.mostrar {
                    z-index: 3;
                    opacity: 1;
                }
            }
        }
    }
}

.instrucciones {
    width: 100%;
    height: $alto-instrucciones-barra-inferior;
    box-sizing: border-box;
    background-color: $blanco;
    padding: $espacio-0316 $espacio-267;

    display: flex;
    align-items: center;
    justify-content: center;

    & p {
        text-align: center;
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $altura-modal: calcular(42);

    .cuerpo {
        &.con-barra-inferior {
            height: $cuerpo-con-barra-inferior-alto;
        }

        &.con-appbar-mini {
            height: $cuerpo-con-barra-inferior-alto-appbar-mini !important;
        }

        & .capa {
            padding: ($espacio-0178 - $defecto-top) $espacio-267 ($espacio-0178 - $defecto-bottom) $espacio-267;

            &.error {
                & div {
                    margin-bottom: $espacio-178;
                }
            }

            &.contenido {
                & .otro-usuario {
                    margin-bottom: $espacio-0178 - $defecto-top;

                    & .datos-contacto {
                        & .nombre-contacto {
                            padding-left: $espacio-267;
                            padding-bottom: $espacio-0178 - ($defecto-bottom * 2);
                        }
                    }
                }

                & .anotaciones {
                    margin-bottom: $espacio-0249;
                }

                & .lista-chat {
                    & .lista-interno {
                        & .grupo-fecha {
                            margin-bottom: $espacio-0249;

                            & .fecha {
                                margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
                            }

                            & .contenedor-mensaje {
                                & .opciones-mensaje {
                                    & .enviada {
                                        & .espacio {
                                            height: $espacio-0249;
                                        }
                                    }
                                }

                                & .estado {
                                    padding-bottom: $espacio-0249 - $defecto-total;
                                }
                            }
                        }
                    }

                    & .notificaciones {
                        bottom: calcular(3);
                        right: calcular(3);
                        width: calcular(7);
                        height: calcular(7);
                        padding: calcular(1);

                        & .numero {
                            top: calcular(1) * -1;
                            left: calcular(1.5) * -1;
                            width: calcular(4);
                            height: calcular(4);
                            font-size: calcular(2.96);
                            line-height: calcular(2.96);
                        }
                    }
                }

                & .busqueda-mensajes {
                    & .info {
                        padding-top: calcular(0.5);
                    }

                    & .fecha {
                        .divFecha {
                            border-radius: $interlineado-15;
                            padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                                $interlineado-6
                                ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                                $interlineado-6;
                        }
                    }
                }

                & .dialogo-opciones {
                    width: $ancho-cuadro-dialogo !important;
                    height: $altura-modal;
                    top: calc(50% - #{math.div($altura-modal, 2)});
                    left: calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});
                }
            }
        }
    }

    .instrucciones {
        height: $alto-instrucciones-barra-inferior;
        background-color: $blanco;
        padding: $espacio-0316 $espacio-267;
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $altura-modal: calcular(42);

    .cuerpo {
        &.con-barra-inferior {
            height: $cuerpo-con-barra-inferior-alto;
        }

        &.con-appbar-mini {
            height: $cuerpo-con-barra-inferior-alto-appbar-mini !important;
        }

        & .capa {
            padding: ($espacio-0178 - $defecto-top) $espacio-267 ($espacio-0178 - $defecto-bottom) $espacio-267;

            &.error {
                & div {
                    margin-bottom: $espacio-178;
                }
            }

            &.contenido {
                & .otro-usuario {
                    margin-bottom: $espacio-0178 - $defecto-top;

                    & .datos-contacto {
                        & .nombre-contacto {
                            padding-left: $espacio-267;
                            padding-bottom: $espacio-0178 - ($defecto-bottom * 2);
                        }
                    }
                }

                & .anotaciones {
                    margin-bottom: $espacio-0249;
                }

                & .lista-chat {
                    & .lista-interno {
                        & .grupo-fecha {
                            margin-bottom: $espacio-0249;

                            & .fecha {
                                margin-bottom: $espacio-0178 - ($defecto-bottom * 2);
                            }

                            & .contenedor-mensaje {
                                & .opciones-mensaje {
                                    & .enviada {
                                        & .espacio {
                                            height: $espacio-0249;
                                        }
                                    }
                                }
                                
                                & .estado {
                                    padding-bottom: $espacio-0249 - $defecto-total;
                                }
                            }
                        }
                    }

                    & .notificaciones {
                        bottom: calcular(3);
                        right: calcular(3);
                        width: calcular(7);
                        height: calcular(7);
                        padding: calcular(1);

                        & .numero {
                            top: calcular(1) * -1;
                            left: calcular(1.5) * -1;
                            width: calcular(4);
                            height: calcular(4);
                            font-size: calcular(2.96);
                            line-height: calcular(2.96);
                        }
                    }
                }

                & .busqueda-mensajes {
                    & .info {
                        padding-top: calcular(0.5);
                    }

                    & .fecha {
                        .divFecha {
                            border-radius: $interlineado-15;
                            padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                                $interlineado-6
                                ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39, true))
                                $interlineado-6;
                        }
                    }
                }

                & .dialogo-opciones {
                    width: $ancho-cuadro-dialogo !important;
                    height: $altura-modal;
                    top: calc(50% - #{math.div($altura-modal, 2)});
                    left: calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});
                }
            }
        }
    }

    .instrucciones {
        height: $alto-instrucciones-barra-inferior;
        background-color: $blanco;
        padding: $espacio-0316 $espacio-267;
    }
}
