<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
    [ngClass]="{
        'cuerpo': true,
        'con-barra-inferior': true,
        'con-appbar-mini': confAppbar && confAppbar.usoAppBar === UsoAppBarEnum.USO_SEARCHBAR_APPBAR_MINI
    }"
>
    <!-- Cargando -->
    <div
        [ngClass]="{
            'capa': true,
            'cargando': true,
            'mostrar': mostrarCargando && !mostrarError
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <!-- Error -->
    <div
        [ngClass]="{
            'capa': true,
            'error': true,
            'mostrar': !mostrarCargando && mostrarError
        }"
    >
        <div
            [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                color: estilosDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
        >
            {{ this.contenidoError | translate }}
        </div>
        <button
            (tap)="reintentar()"
        >
            {{ 'text32' | translate }}
        </button>
    </div>
    <!-- Capa contenido -->
    <div
        [ngClass]="{
            'capa': true,
            'contenido': true,
            'mostrar': !mostrarCargando && !mostrarError
        }"
    >
        <!-- <div 
            class="otro-usuario"
        >
            <app-item-lista-contactos [configuracion]="confItemOtroUsuario"></app-item-lista-contactos>
            
        </div> -->
        <div 
            class="otro-usuario"
            gestorEventos  (eventoTap)="eventoTapMensajesGeneral()"
            
        >
            <div class="datos-contacto">
                <app-item-circulo [configuracion]="confItemCirculoOtroUsuario"></app-item-circulo> 
                <p
                    [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                    })"
                    class="nombre-contacto"
                   
                >
                    {{ confItemOtroUsuario.contacto.nombreContacto }} <span *ngIf="confItemOtroUsuario.contacto?.nombreContactoTraducido"> | </span> {{ confItemOtroUsuario.contacto?.nombreContactoTraducido }}
                </p> 
                

            </div>
           

            <div class="linea-verde">
                <app-linea class="lineaVerde" [configuracionLinea]="confLinea"></app-linea>
            </div>
            <div class="info-borrar" *ngIf="listaDeFechasDelChat.length > 0 ">
                <p
                    [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm3v8texto4' | translate }}
                </p> 
            </div> 
            <div class="info-borrar" *ngIf="listaDeFechasDelChat.length > 0 ">
                <p
                    [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm3v10texto3' | translate }}
                </p> 
            </div> 
  
             
        </div>
      
        <!-- <div class="anotaciones" *ngIf="listaDeFechasDelChat.length > 0 ">
            <p
                [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                    color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                })"
            >
                {{ 'm3v10texto3' | translate }}
            </p> 
        </div>  -->
        <!-- <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/libro-abierto.svg" alt=""> -->
        <div
            class="lista-chat"
            gestorEventos  (eventoTap)="eventoTapMensajesGeneral()"
        >
            <div
                #listaEnVista
                [id]="idListaMensajesEnVista"
                class="lista-interno"
                (scroll)="detectarScrollEnListaMensajes()"
            >
                <!-- <ng-template ngFor let-fecha [ngForOf]="listaDeFechasDelChat" > -->
                    <div
                        *ngFor="let fecha of listaDeFechasDelChat"
                        [ngClass]="{
                            'grupo-fecha': true
                        }"
                    >
                        <div class="fecha">
                            <app-item-fecha [fecha]="fecha.date" [formato]="'dd/MM/yyyy'"></app-item-fecha>
                        </div>
                        <div
                            *ngFor="let item of fecha.mensajes; trackBy: trackByFn"
                            class="contenedor-mensaje"
                        >
                            <div
                                [id]="idMensajeBase + item.mensaje.id"
                                class="mensaje"
                                gestorEventos
                                (eventoTap)="eventoTapEnMensaje(item.mensaje)"
                                (dobleTap)="eventoDobleTapEnMensaje(item.mensaje)"
                            >
                                <!-- Texto -->
                                <app-mensaje-texto
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.TEXTO"
                                    [configuracion]="item"
                                ></app-mensaje-texto>
                                <!-- Imagen -->
                                <app-mensaje-imagen
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.IMAGEN"
                                    [configuracion]="item"
                                ></app-mensaje-imagen>
                                <!-- Documento, video, etc. Tipo File -->
                                <app-mensaje-archivo
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.ARCHIVO"
                                    [configuracion]="item"
                                ></app-mensaje-archivo>
                                <!-- Audio -->
                                <app-mensaje-audio
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.AUDIO"
                                    [configuracion]="item"
                                ></app-mensaje-audio>
                                <!-- Proyecto -->
                                <app-mensaje-proyecto
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.COMPARTIR_PROYECTO"
                                    [configuracion]="item"
                                ></app-mensaje-proyecto>
                                <app-mensaje-proyecto
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.TRANSFERIR_PROYECTO"
                                    [configuracion]="item"
                                ></app-mensaje-proyecto>
                                <!-- Noticia -->
                                <app-mensaje-noticia
                                    *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.COMPARTIR_NOTICIA"
                                    [configuracion]="item"
                                ></app-mensaje-noticia>
                            </div>
                            <div 
                                *ngIf="item.mensaje.tipo.codigo === CatalogoTipoMensajeEnum.TRANSFERIR_PROYECTO"
                                [ngClass]="{
                                    'opciones-mensaje': true,
                                    'propietario': item.esPropietario
                                }"
                            >
                                <div
                                    *ngIf="item.mensaje.estatus.codigo === CatalogoEstatusMensajeEnum.ENVIADO"
                                    class="enviada"
                                >
                                    <app-button
                                        *ngIf="!item.esPropietario"
                                        [botonCompartido]="configurarBotonEstadoTransferenciaDelProyecto(item.mensaje.id)"
                                    ></app-button>
                                    <div
                                        *ngIf="!item.esPropietario"
                                        class="espacio"
                                    ></div>
                                    <app-button
                                        [botonCompartido]="configurarBotonEstadoTransferenciaDelProyecto(item.mensaje.id, false)"
                                    ></app-button>
                                </div>
                                <div
                                    *ngIf="item.mensaje.estatus.codigo === CatalogoEstatusMensajeEnum.ACEPTADO"
                                    [ngClass]="{
                                        'estado': true,
                                        'propietario': item.esPropietario
                                    }"
                                >
                                    <p
                                        [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                            color: estilosDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                            enMayusculas: true,
                                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                                        })"    
                                    >
                                        {{ 'm3v10texto11' | translate }}
                                    </p>
                                </div>
                                <div
                                    *ngIf="item.mensaje.estatus.codigo === CatalogoEstatusMensajeEnum.RECHAZADO"
                                    [ngClass]="{
                                        'estado': true,
                                        'propietario': item.esPropietario
                                    }"
                                >
                                    <p
                                        [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                                            color: estilosDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                                            estiloTexto: estilosDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                            enMayusculas: true,
                                            tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                                        })"    
                                    >
                                        {{ 'm3v10texto12' | translate }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- </ng-template> -->
            </div>
            <div
                (tap)="verMensajesNoLeidos()"
                [ngClass]="{
                    'notificaciones': true,
                    'mostrar': indicadorNotificacionesInterno.mostrar,
                    'sombra': true
                }"
            >
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 19 20"><path fill="#000000" d="M3.8 6.7l5.7 5.7 5.7-5.7 1.6 1.6-7.3 7.2-7.3-7.2 1.6-1.6z"></path></svg>
                <div
                    [ngClass]="{
                        'numero': true,
                        'mostrar': indicadorNotificacionesInterno.idPorLeer.length > 0,
                        'sombra': true
                    }"
                >
                    {{ indicadorNotificacionesInterno.idPorLeer.length }}
                </div>
            </div>
        </div>
        <!-- <div
            *ngIf="listaDeFechasDelChat.length > 0 "
            class="busqueda-mensajes"
            gestorEventos  (eventoTap)="eventoTapMensajesGeneral()"
        >
            <div class="info">
                <p 
                    [ngClass]="estilosDelTextoServicio.obtenerEstilosTexto({ 
                        color: estilosDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                        estiloTexto: estilosDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: true,
                        tamanoConInterlineado: estilosDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm3v10texto13' | translate }}
                </p>
            </div>
            <div class="fecha" >
                <label>
                    <input type="date" [(ngModel)]="fechaDeBusqueda">
                    <div 
                        id="calendar_text"
                        class="divFecha bold letra-3-con-interlineado-igual centrar"
                    >
                        {{ fechaDeBusqueda | date:"dd/MM/yyyy" }}
                    </div>
                </label>
               
            </div>
        </div> -->
        <!-- Dialogo reenviar, eliminar -->
        <div
            [ngClass]="{
                'dialogo-opciones': true,
                'mostrar': this.listaMensajesSeleccionados.length > 0
            }"
        >
            <app-dialogo [configuracion]="confDialogoCompartido"></app-dialogo>
        </div>
    </div>
</div>
<app-barra-inferior-inline [configuracion]="confBarraInferior"></app-barra-inferior-inline>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-lista-contacto [configuracion]="confListaContactoCompartido"></app-lista-contacto>
<app-dialogo [configuracion]="confDialogoEliminarMensaje"></app-dialogo>
<!-- <app-imagen-patanlla-completa [configuracion]="confImagenPantallaCompleta"></app-imagen-patanlla-completa> -->
<app-reproductor-video *ngIf="mostrarReproducirVideo" [configuracion]="confReprodVideo"></app-reproductor-video>