<div class="contenedor-landing">
    <div class="fondo-web">
        <div class="cien-x-ciento">
                <div class="header">
                    <div class="menu">
                        <div class="menu1">
                            <div
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                                class="item-header"
                            >
                                <p
                                    *ngIf="botonBack === 0"
                                    [ngClass]="{
                                        'activo': paginas === 0,
                                        'boton': true,
                                        'con-margen': true,
                                        'no-translate': true
                                    }"
                                >
                                    {{ 'landingRegresarPagPrincipal' | translate }} 
                                </p>
                                <p
                                    *ngIf="botonBack === 1"
                                    [ngClass]="{
                                        'activo': paginas === 0,
                                        'boton': true,
                                        'con-margen': true,
                                        'no-translate': true
                                    }"
                                >
                                    {{ 'landingPrevious' | translate }} 
                                </p>
                            </div>
                            <div class="linea"></div>
                            <div
                                gestorEventos
                                (eventoTap)="eventoclick(1)"
                                class="item-header"
                            >
                                <p     
                                    [ngClass]="{
                                        'activo': paginas === 1,
                                        'boton': true,
                                        'con-margen': true,
                                        'no-translate': true
                                    }"
                                >
                                    {{ 'landingNuestraFinca' | translate }} 
                                </p>
                            </div>
                            <div class="linea"></div>
                            <div
                                gestorEventos
                                (eventoTap)="eventoclick(2)"
                                class="item-header"
                            >
                                <p     
                                    [ngClass]="{
                                        'activo': paginas === 2,
                                        'boton': true,
                                        'con-margen': true,
                                        'no-translate': true
                                    }"
                                >
                                    {{ 'landingHospedaje' | translate }}
                                </p>
                            </div>
                            <div class="linea"></div>
                            <div
                                gestorEventos
                                (eventoTap)="eventoclick(3)"
                                class="item-header"
                            >
                                <p     
                                    [ngClass]="{
                                        'activo': paginas === 3,
                                        'boton': true,
                                        'con-margen': true,
                                        'no-translate': true
                                    }"
                                >
                                    {{ 'landingVideoVilcabamba' | translate }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contenedorlinea-menu">
                    <div class="linea2"></div>
                </div>
                <div class="padre-bodys">
                    <!-- OUR FARM -->
                    <div 
                        [ngClass]="{
                            'body': true,
                            'mostrar': paginas === 1
                        }"
                    >
                        <div class="bodyhijo">
                            <p class="b">
                                {{ 'landingGazelookEstaUbicada' | translate }} {{ 'landingHistoriaLarga' | translate }}
                            </p>
                            <!-- Aqui van fotos -->
                            <div class="bloque-fotos">
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/1.jpg">
                                </div>
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/2.jpg">
                                </div>
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/3.jpg">
                                </div>
                            </div>
                            <p class="c">
                                {{ 'landingEnElValle' | translate }} 
                            </p>
                            <!-- Aqui van fotos -->
                            <div class="bloque-fotos solo-dos-fotos">
                                <div class="item uno">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/4.jpg">
                                </div>
                                <div class="item dos fotolarga">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/5.jpg">
                                </div>
                            </div>
                            <p class="d">
                                {{ 'landingCreadoUnJardin' | translate }}  
                            </p>
                            <!-- Aqui van fotos -->
                            <div class="bloque-fotos">
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/6.jpg">
                                </div>
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/7.jpg">
                                </div>
                                <div class="item">
                                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/8.jpg">
                                </div>
                            </div>
                            <p class="e">
                                {{ 'landingNuestrasInstalaciones' | translate }}  
                            </p>
                            <!-- Aqui van fotos -->
                            <!-- <p class="f boton" (tap)="eventoclick(2)">
                                {{ 'landingVerHospedaje' | translate }}   
                            </p> -->
                            <!-- Aqui van fotos -->
                            <div class="bloque-slider">
                                <div class="slider" [id]="sliderUno.idSlider">
                                    <div class="portada">
                                        <img 
                                            *ngFor="let item of imgSliderUno"
                                            [ngClass]="{
                                                'imagen': true,
                                                'activa': sliderUno.elementoActivo === item.url
                                            }"
                                            [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider1/' + item.url + '.jpg'"
                                        >
                                    </div>
                                    <div class="miniaturas">
                                        <div
                                            *ngFor="let item of imgSliderUno"
                                            class="mini"
                                        >
                                            <img 
                                                [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider1/' + item.url + '.jpg'"
                                            >
                                            <div
                                                [ngClass]="{
                                                    'indicador': true,
                                                    'mostrar': item.url === sliderUno.elementoActivo
                                                }"
                                            >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="separador"></div>
                                <div class="slider" [id]="sliderDos.idSlider">
                                    <div class="portada">
                                        <img 
                                            *ngFor="let item of imgSliderDos"
                                            [ngClass]="{
                                                'imagen': true,
                                                'activa': sliderDos.elementoActivo === item.url
                                            }"
                                            [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider2/' + item.url + '.jpg'"
                                        >
                                    </div>
                                    <div class="miniaturas">
                                        <div
                                            *ngFor="let item of imgSliderDos"
                                            class="mini"
                                        >
                                            <img 
                                                [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider2/' + item.url + '.jpg'"
                                            >
                                            <div
                                                [ngClass]="{
                                                    'indicador': true,
                                                    'mostrar': item.url === sliderDos.elementoActivo
                                                }"
                                            >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- Pagina anterior -->
                            <p
                                *ngIf="botonBack === 0"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingRegresarPagPrincipal' | translate }} 
                            </p>
                            <p
                                *ngIf="botonBack === 1"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingPrevious' | translate }}
                            </p>
                            
                        </div>
                    </div>
                    <!-- ACCOMMODATION -->
                    <div 
                        [ngClass]="{
                            'body': true,
                            'mostrar': paginas === 2
                        }"
                    > 
                        <div class="bodyhijo2">
                            <p class="g">
                                {{ 'landingPensamosEnSuComodidad' | translate }}
                            </p>
                            <div class="bloque-slider-vertical">
                                <div class="slider" [id]="sliderTres.idSlider">
                                    <div class="portada">
                                        <img 
                                            *ngFor="let item of imgSliderTres"
                                            [ngClass]="{
                                                'imagen': true,
                                                'activa': sliderTres.elementoActivo === item.url
                                            }"
                                            [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider3/' + item.url + '.jpg'"
                                        >
                                    </div>
                                    <div class="separador"></div>
                                    <div class="miniaturas">
                                        <div
                                            *ngFor="let item of imgSliderTres"
                                            class="mini"
                                        >
                                            <img 
                                                [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider3/' + item.url + '.jpg'"
                                            >
                                            <div
                                                [ngClass]="{
                                                    'indicador': true,
                                                    'mostrar': item.url === sliderTres.elementoActivo
                                                }"
                                            >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="h">
                                {{ 'landingAmbasCasasCapacidad' | translate }} 
                            </p>
                            <p class="i">
                                {{ 'landingNuestroIgloo' | translate }} 
                            </p>
                            <div class="bloque-slider-vertical">
                                <div class="slider reversa" [id]="sliderCuatro.idSlider">
                                    <div class="portada">
                                        <img 
                                            *ngFor="let item of imgSliderCuatro"
                                            [ngClass]="{
                                                'imagen': true,
                                                'activa': sliderCuatro.elementoActivo === item.url
                                            }"
                                            [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider4/' + item.url + '.jpg'"
                                        >
                                    </div>
                                    <div class="separador"></div>
                                    <div class="miniaturas">
                                        <div
                                            *ngFor="let item of imgSliderCuatro"
                                            class="mini"
                                        >
                                            <img 
                                                [src]="'https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/finca/Slider4/' + item.url + '.jpg'"
                                            >
                                            <div
                                                [ngClass]="{
                                                    'indicador': true,
                                                    'mostrar': item.url === sliderCuatro.elementoActivo
                                                }"
                                            >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        
                            <!-- Pagina anterior -->
                            <p
                                *ngIf="botonBack === 0"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingRegresarPagPrincipal' | translate }} 
                            </p>
                            <p
                                *ngIf="botonBack === 1"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingPrevious' | translate }} 
                            </p>
                        </div>
                    </div>
                    <!-- VILCABAMBA VIDEO -->
                    <!-- <div 
                        [ngClass]="{
                            'body': true,
                            'mostrar': paginas === 3
                        }"
                    > 
                        <div class="bodyhijo3">
                        
                            
                      
                            <p
                                *ngIf="botonBack === 0"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingRegresarPagPrincipal' | translate }} 
                            </p>
                            <p
                                *ngIf="botonBack === 1"
                                [ngClass]="{
                                    'sin': true,
                                    'boton': true
                                }"
                                gestorEventos
                                (eventoTap)="irALaPaginaPrincipal()"
                            >
                                {{ 'landingPrevious' | translate }} 
                            </p>
                        </div>
                    </div> -->
                </div> 
            <!-- Cien x ciento y fondo -->
            <!-- La matrix recargado -->
            <div class="matrix">
                <!-- bloque e -->
                <div 
                    [ngClass]="{
                        'bloque': true,
                        'e': true,
                        'mostrar': true
                    }"
                >
                    <div class="lineas-a">
                        <div class="linea celeste a"></div>
                        <div class="linea celeste b"></div>
                        <div class="linea celeste c"></div>
                        <div class="linea celeste d"></div>
                        <div class="linea celeste e"></div>
                    </div>
                    <div class="lineas-b">
                        <div class="linea roja a"></div>
                        <div class="linea roja b"></div>
                        <div class="linea roja c"></div>
                        <div class="linea roja d"></div>
                        <div class="linea roja e"></div>
                        <div class="linea roja f"></div>
                        <div class="linea roja g"></div>
                        <div class="linea roja h"></div>
                        <div class="linea roja i"></div>
                        <div class="linea roja j"></div>
                        <div class="linea roja k"></div>
                        <div class="linea roja l"></div>
                    </div>
                    <div class="lineas-c">
                        <div class="linea celeste a"></div>
                        <div class="linea celeste b"></div>
                        <div class="linea celeste c"></div>
                        <div class="linea celeste d"></div>
                        <div class="linea celeste e"></div>
                        <div class="linea celeste f"></div>
                        <!-- <div class="linea celeste g"></div> -->
                        <!-- <div class="linea celeste h"></div> -->
                    </div>
                </div>
                <!-- bloque f -->
                <div 
                    [ngClass]="{
                        'bloque': true,
                        'f': true,
                        'rotar': true,
                        'mostrar': true
                    }"
                >
                    <div class="lineas-a">
                        <div class="linea celeste a"></div>
                        <div class="linea celeste b"></div>
                        <div class="linea celeste c"></div>
                        <div class="linea celeste d"></div>
                        <div class="linea celeste e"></div>
                    </div>
                    <div class="lineas-b">
                        <div class="linea roja a"></div>
                        <div class="linea roja b"></div>
                        <div class="linea roja c"></div>
                        <div class="linea roja d"></div>
                        <div class="linea roja e"></div>
                        <div class="linea roja f"></div>
                        <div class="linea roja g"></div>
                        <div class="linea roja h"></div>
                        <div class="linea roja i"></div>
                        <div class="linea roja j"></div>
                        <div class="linea roja k"></div>
                        <div class="linea roja l"></div>
                    </div>
                    <div class="lineas-c">
                        <div class="linea celeste a"></div>
                        <div class="linea celeste b"></div>
                        <div class="linea celeste c"></div>
                        <div class="linea celeste d"></div>
                        <div class="linea celeste e"></div>
                        <div class="linea celeste f"></div>
                        <!-- <div class="linea celeste g"></div> -->
                        <!-- <div class="linea celeste h"></div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>