@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

// Elegibles
$elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
$elegibles-margin: calcular(0.8);
$elegibles-padding: calcular(1);
$error-padding: calcular(1);
$alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

// Modal
// Modales
.sombraCaja {
    -webkit-box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
    box-shadow: 0 24px 38px 3px rgba(0,0,0,0.14), 0 9px 46px 8px rgba(0,0,0,0.12), 0 11px 15px -7px rgba(0,0,0,0.2);
}

.modal {
    display: none;
    width: $ancho-pagina;
    height: $altura-pagina;

    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;

	background: rgba(0, 0, 0, 0.5);
	
	&.mostrar {
		display: flex;
    	align-items: center;
    	justify-content: center;
	}

	& .caja-principal {
		width: 90%;
		height: 80%;
		padding: $selector-padding-tb $selector-padding-tb;
		border-radius: $selector-border-radius;
		background: white;
		box-sizing: border-box;

		display: flex;
		flex-flow: column;

		& .input-busqueda{
			width: 100%;
			height: calcular(8);
			// margin-bottom: $espacio-178;

			& input {
				width: 100%;
				height: 100%;
				padding: calcular(1) calcular(2);
				box-sizing: border-box;
				background: rgba(154, 191, 226, 0.3);
				border: none;
				outline: 0;
				border-radius: calcular(1.567);
				font-size: calcular(4.27);

				&:focus,
				&:active {
					outline: 0;
				}
			}
		}

		& .sub-capa {
			background: $blanco;
			display: none;

			width: 100%;
			box-sizing: border-box;

			position: relative;
			overflow-y: hidden;

			&.mostrar {
				display: flex;
				flex-flow: column;
				flex: 1;
			}

			&.cargando {
				border-bottom-left-radius: $selector-border-radius;
				border-bottom-right-radius: $selector-border-radius;

				&.mostrar {
					align-items: center;
					justify-content: center;
				}
			}

			&.error {
				border-bottom-left-radius: $selector-border-radius;
				border-bottom-right-radius: $selector-border-radius;
				padding: 0 $error-padding;
				box-sizing: border-box;

				&.mostrar {
					align-items: center;
					justify-content: center;
				}

				&.tamanoCompleto {
					width: 100% !important;
					height: 100% !important;
					top: 0;
					left: 0;
					border-top-left-radius: $selector-border-radius;
					border-top-right-radius: $selector-border-radius;
				}
		
				& p {
					text-align: center;
				}
			}

			&.elegibles {
				overflow-y: auto;
				touch-action: none !important;
		
				& .elegible {
					width: 100%;
					height: fit-content;
					margin: $elegibles-margin 0;
					padding: $elegibles-padding;
					box-sizing: border-box;
					cursor: pointer;
					touch-action: pan-y !important;
				
					&:hover {
					   background: #eeeeee;
					}
				
					&.activo {
						background: #eeeeee;
					}
				}
	
				& .mini-loader {
					width: 100%;
					padding: calcular(4) 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
	.msj-informativo{
        padding-bottom: $espacio-178;
    }
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

	$elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
	$elegibles-margin: calcular(0.8);
	$elegibles-padding: calcular(1);
	$error-padding: calcular(1);
	$alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

	.modal {
		width: $ancho-pagina;
		height: $altura-pagina;

		& .caja-principal {
			padding: $selector-padding-tb $selector-padding-tb;
			border-radius: $selector-border-radius;

			& .input-busqueda{
				height: calcular(8);

				& input {
					padding: calcular(1) calcular(2);
					background: rgba(154, 191, 226, 0.3);
					border-radius: calcular(1.567);
					font-size: calcular(4.27);
				}
			}

			& .sub-capa {

				&.cargando {
					border-bottom-left-radius: $selector-border-radius;
					border-bottom-right-radius: $selector-border-radius;
				}

				&.error {
					border-bottom-left-radius: $selector-border-radius;
					border-bottom-right-radius: $selector-border-radius;
					padding: 0 $error-padding;

					&.tamanoCompleto {
						border-top-left-radius: $selector-border-radius;
						border-top-right-radius: $selector-border-radius;
					}
				}

				&.elegibles {
			
					& .elegible {
						margin: $elegibles-margin 0;
						padding: $elegibles-padding;
					}
		
					& .mini-loader {
						padding: calcular(4) 0;
					}
				}
			}
		}

		.msj-informativo{
			padding-bottom: $espacio-178;
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

	$elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
	$elegibles-margin: calcular(0.8);
	$elegibles-padding: calcular(1);
	$error-padding: calcular(1);
	$alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

	.modal {
		width: $ancho-pagina;
		height: $altura-pagina;

		& .caja-principal {
			padding: $selector-padding-tb $selector-padding-tb;
			border-radius: $selector-border-radius;

			& .input-busqueda{
				height: calcular(8);

				& input {
					padding: calcular(1) calcular(2);
					background: rgba(154, 191, 226, 0.3);
					border-radius: calcular(1.567);
					font-size: calcular(4.27);
				}
			}

			& .sub-capa {

				&.cargando {
					border-bottom-left-radius: $selector-border-radius;
					border-bottom-right-radius: $selector-border-radius;
				}

				&.error {
					border-bottom-left-radius: $selector-border-radius;
					border-bottom-right-radius: $selector-border-radius;
					padding: 0 $error-padding;

					&.tamanoCompleto {
						border-top-left-radius: $selector-border-radius;
						border-top-right-radius: $selector-border-radius;
					}
				}

				&.elegibles {
			
					& .elegible {
						margin: $elegibles-margin 0;
						padding: $elegibles-padding;
					}
		
					& .mini-loader {
						padding: calcular(4) 0;
					}
				}
			}
		}
		
		.msj-informativo{
			padding-bottom: $espacio-178;
		}
	}
}