<!-- Div del buscador -->
<div
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarModal
    }"
    (tap)="eventoModal($event.target)"
>
    <div class="caja-principal">
        <div class="input-busqueda">
            <input
                #inputBuscador
                type="text"
                class="buscador"
                [placeholder]="configuracion.inputBuscador.placeholder"
                [(ngModel)]="configuracion.inputBuscador.valor"
            />
        </div>
        <!-- <div class="msj-informativo">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL,
                paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
            })">
            {{ 'text71' | translate}}
            </p>
        </div> -->
        <div
            [ngClass]="{
                'sub-capa': true,
                'cargando': true,
                'mostrar': configuracion.resultado.mostrarCargando
            }"
        >
            <app-cargando></app-cargando>
        </div>
        <div
            [ngClass]="{
                'sub-capa': true,
                'error': true,
                'mostrar': configuracion.resultado.error.mostrarError,
                'tamanoCompleto': configuracion.resultado.error.tamanoCompleto
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_I2,
                    paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                })"
            >
                {{ configuracion.resultado.error.contenido | translate }}
            </p>
        </div>
        <div
            [id]="idListaBuscador + idInterno"
            [ngClass]="{
                'sub-capa': true,
                'elegibles': true,
                'mostrar': configuracion.resultado.mostrarElegibles
            }"
            (scroll)="scrollEnListaElegibles()"
        >
            <div
                [ngClass]="{
                    'elegible': true,
                    'activo': validarElegibleActivo(item.codigo)
                }"
                *ngFor="let item of configuracion.resultado.items; let i = index"
                (tap)="seleccionarItem(item)"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I3,
                        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                    })"
                >
                    {{ item.nombre }}
                </p>
            </div>
            <!-- Poner mensaje de lista sin resultados -->
            <div
                *ngIf="configuracion.resultado.mostrarCargandoPequeno"
                class="mini-loader"
            >
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>