<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
  [id]="idCapaCuerpo"
  [ngClass]="{
    contenido: true,
    conLoader: mostrarCapaLoader && !mostrarCapaError,
    conError: !mostrarCapaLoader && mostrarCapaError,
    sinElementos:
      !mostrarCapaLoader &&
      !mostrarCapaError &&
      listaProyectosForos.lista.length === 0
  }"
  (scroll)="scroolEnCapaCuerpo()"
>
  <div *ngIf="!puedeCargarMas || mostrarCapaLoader" class="encarga">
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
        })
      "
    >
      {{ "text11" | translate }}
    </p>
  </div>
  <div *ngIf="mostrarCapaLoader && !mostrarCapaError" class="loader">
    <app-cargando></app-cargando>
  </div>
  <div *ngIf="!mostrarCapaLoader && mostrarCapaError" class="error-proyectos">
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
        })
      "
    >
      {{ "text37" | translate }}
    </p>
  </div>

  <div
    *ngIf="
      !mostrarCapaLoader &&
      !mostrarCapaError
    "
  >
    <div class="listaMenu">
      <div class="texto-info">
        <p
          [ngClass]="
            estiloDelTextoServicio.obtenerEstilosTexto({
              color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
            })
          "
        >
          {{ "m5v5texto3" | translate }}
        </p>
      </div>
      <div class="boton-actualizar">
        <app-button [botonCompartido]="configBotonProyectos"></app-button>
      </div>
      <div
        *ngFor="let item of listaProyectosForos.lista; let i = index"
        class="item-proyecto"
      >
        <div
        >
          <app-proyecto-item-foro
            [proyecto]="item"
            [numeroProyecto]="i + 1"
            [mostrarVotos]="true"
          >
          </app-proyecto-item-foro>
        </div>
        <div *ngIf="i === 0 || i % 2 === 0" class="separador-vertircal"></div>
      </div>
    </div>
  </div>
  <div
    *ngIf="
      !mostrarCapaLoader &&
      !mostrarCapaError &&
      listaProyectosForos.lista.length === 0
    "
    class="no-items"
  >
    <p
      [ngClass]="
        estiloDelTextoServicio.obtenerEstilosTexto({
          color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
          estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
          enMayusculas: false,
          tamanoConInterlineado:
            estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
        })
      "
    >
      {{ "text13" | translate }}
    </p>
  </div>
  <div
    *ngIf="!puedeCargarMas && !mostrarCapaLoader && !mostrarCapaError"
    class="loader-interno"
  >
    <app-cargando></app-cargando>
  </div>
</div>
