@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/imagenes.scss";


.cuerpo {
	position: relative;
	padding: 0 $espacio-267;
	box-sizing: border-box;
	z-index: 2;
	overflow-y: auto;

	display: flex;
	align-items: center;
	justify-content: center;

	& .color-de-fondo {
		top: 0;
		z-index: 0;
		position: absolute;
		background-color: $tranparencia-base;
		width: $ancho-6916;
		height: 100%;
		overflow-y: auto;
		overflow-x: visible;
	}

	& .campos {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		display: flex;
		align-items: center;
		justify-content: flex-start;
		flex-flow: column;
		overflow-y: auto;

		& .titulo {
			margin: $espacio-0316 - $defecto-top 0 $espacio-0249 - $defecto-bottom 0;
			width: 100%;
			box-sizing: border-box;

			& p {
				text-align: center;
			}

			&.aLaIzquierda {
				width: $ancho-6916;
				box-sizing: border-box;
				margin-top: 0;
				margin-bottom: $espacio-0178 - $defecto-bottom;
				padding: 0 $espacio-267;

				& p {
					text-align: left;
				}
			}
		}

		& .subtitulo {
			width: $ancho-6916;
			white-space: pre-wrap;
			padding: 0 $espacio-267;
			box-sizing: border-box;
			margin-bottom: $espacio-0178 - $defecto-bottom;
			& .espacio{
				margin-bottom: $espacio-0249 - $defecto-bottom;
			}
			&.conMarginBottom522 {
				margin-bottom: $espacio-522 - $defecto-bottom;
			}

			& p {
				text-align: center;
			}
		}

		& .inputs {
			width: 100%;
			height: fit-content;
			padding: 0 $espacio-267;
			box-sizing: border-box;

			& .input {
				width: 100%;
				margin-bottom: $espacio-0249;

				&.ultimo {
					margin-bottom: $espacio-522 - $defecto-top;
				}
				& select {
					border: 0;
					height: $alto-0782;
					padding-left: $interlineado-6;
					padding-right: $espacio-0139;
					box-sizing: border-box;
					width: 100%;
					font-size: $letra-3;
					background-color: $input-fondo;
					border-radius: $interlineado-15;
					text-transform: uppercase;
					color: $blanco;
					margin-bottom: $espacio-0316;
				
					&::placeholder {
						/* Chrome, Firefox, Opera, Safari 10.1+ */
						color: $blanco;
						opacity: 1; /* Firefox */
					}
					
					&:-ms-input-placeholder {
						/* Internet Explorer 10-11 */
						color: $blanco;
					}
					
					&::-ms-input-placeholder {
						/* Microsoft Edge */
						color: $blanco;
					}
				}
				
				
			}
		}

		& .textarea {
			width: 100%;
			padding: 0 $espacio-0658 $espacio-522 $espacio-0658;
			display: flex;
			align-items: center;
			justify-content: center;

			& .texto {
				background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-amarilla-pensamientos-login1.svg');
				background-size: 100% 100%;
				width: calcular(86.84);
				height: calcular(87.85);
				box-sizing: border-box;
				padding: calcular(9.212) $espacio-267;

				& textarea {
					width: 100%;
					height: 100%;
					border: none;
					padding: 0;
					margin: 0;
					outline: 0;
					text-align: justify;

					&:focus,
					&:hover,
					&:active {
						outline: 0;
					}

					&::placeholder {
						color: $negro;
					}

				}
			}
		}

		& .boton {
			margin-bottom: $espacio-522;
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

	.cuerpo {
		padding: 0 $espacio-267;
	
		& .color-de-fondo {
			width: $ancho-6916;
		}
	
		& .campos {
			& .titulo {
				margin: $espacio-0316 - $defecto-top 0 $espacio-0249 - $defecto-bottom 0;
	
				&.aLaIzquierda {
					width: $ancho-6916;
					margin-bottom: $espacio-0178 - $defecto-bottom;
					padding: 0 $espacio-267;
				}
			}
	
			& .subtitulo {
				width: $ancho-6916;
				padding: 0 $espacio-267;
				margin-bottom: $espacio-0178 - $defecto-bottom;
				& .espacio{
					margin-bottom: $espacio-0249 - $defecto-bottom;
				}
				&.conMarginBottom522 {
					margin-bottom: $espacio-522 - $defecto-bottom;
				}
			}
	
			& .inputs {
				padding: 0 $espacio-267;
	
				& .input {
					margin-bottom: $espacio-0249;
	
					&.ultimo {
						margin-bottom: $espacio-522 - $defecto-top;
					}
					& select {
						border: 0;
						height: $alto-0782;
						padding-left: $interlineado-6;
						padding-right: $espacio-0139;
						box-sizing: border-box;
						width: 100%;
						font-size: $letra-3;
						background-color: $input-fondo;
						border-radius: $interlineado-15;
						text-transform: uppercase;
						color: $blanco;
						margin-bottom: $espacio-0316;
					
						&::placeholder {
							/* Chrome, Firefox, Opera, Safari 10.1+ */
							color: $blanco;
							opacity: 1; /* Firefox */
						}
						
						&:-ms-input-placeholder {
							/* Internet Explorer 10-11 */
							color: $blanco;
						}
						
						&::-ms-input-placeholder {
							/* Microsoft Edge */
							color: $blanco;
						}
					}
				}
			}
	
			& .textarea {
				padding: 0 $espacio-0658 $espacio-522 $espacio-0658;
	
				& .texto {
					background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-amarilla-pensamientos-login1.svg');
					background-size: 100% 100%;
					width: calcular(86.84);
					height: calcular(87.85);
					padding: calcular(9.212) $espacio-267;
				}
			}
	
			& .boton {
				margin-bottom: $espacio-522;
			}
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../assets/estilos/dimensiones_16_9.scss";

	.cuerpo {
		padding: 0 $espacio-267;
	
		& .color-de-fondo {
			width: $ancho-6916;
		}
	
		& .campos {
			& .titulo {
				margin: $espacio-0316 - $defecto-top 0 $espacio-0249 - $defecto-bottom 0;
	
				&.aLaIzquierda {
					width: $ancho-6916;
					margin-bottom: $espacio-0178 - $defecto-bottom;
					padding: 0 $espacio-267;
				}
			}
	
			& .subtitulo {
				width: $ancho-6916;
				padding: 0 $espacio-267;
				margin-bottom: $espacio-0178 - $defecto-bottom;
				& .espacio{
					margin-bottom: $espacio-0249 - $defecto-bottom;
				}
				&.conMarginBottom522 {
					margin-bottom: $espacio-522 - $defecto-bottom;
				}
			}
	
			& .inputs {
				padding: 0 $espacio-267;
	
				& .input {
					margin-bottom: $espacio-0249;
	
					&.ultimo {
						margin-bottom: $espacio-522 - $defecto-top;
					}
					& select {
						border: 0;
						height: $alto-0782;
						padding-left: $interlineado-6;
						padding-right: $espacio-0139;
						box-sizing: border-box;
						width: 100%;
						font-size: $letra-3;
						background-color: $input-fondo;
						border-radius: $interlineado-15;
						text-transform: uppercase;
						color: $blanco;
						margin-bottom: $espacio-0316;
					
						&::placeholder {
							/* Chrome, Firefox, Opera, Safari 10.1+ */
							color: $blanco;
							opacity: 1; /* Firefox */
						}
						
						&:-ms-input-placeholder {
							/* Internet Explorer 10-11 */
							color: $blanco;
						}
						
						&::-ms-input-placeholder {
							/* Microsoft Edge */
							color: $blanco;
						}
					}
				}
			}
	
			& .textarea {
				padding: 0 $espacio-0658 $espacio-522 $espacio-0658;
	
				& .texto {
					background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-amarilla-pensamientos-login1.svg');
					background-size: 100% 100%;
					width: calcular(86.84);
					height: calcular(87.85);
					padding: calcular(9.212) $espacio-267;
				}
			}
	
			& .boton {
				margin-bottom: $espacio-522;
			}
		}
	}
}