<app-appbar *ngIf="confAppBar" [configuracion]="confAppBar"> </app-appbar>
<div class="cuerpo">
    <div class="color-de-fondo"></div>
    <div class="campos">
        <div class="titulo">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                {{ 'm6v11texto2' | translate }}
            </p>
        </div>
        <div class="subtitulo">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })" class="espacio">
                {{ 'm6v11texto3' | translate }}
            </p>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })">
                {{ 'm6v11texto3.1' | translate }}
            </p>
        </div>
        <div class="subtitulo conMarginBottom522">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })">
                {{ 'm6v11texto4' | translate }}
            </p>
        </div>
        <div class="inputs">

            <div class="input">
                <app-input [inputCompartido]="inputsForm[0]"></app-input>
            </div>
            <div class="input">
                <app-input [inputCompartido]="inputsForm[1]"></app-input>
            </div>
            <div class="input">
                <app-input [inputCompartido]="inputsForm[2]"></app-input>
            </div>
            <div class="input">
                <select name="miselect2" [(ngModel)]="tema">
                    <option [value]=" '' " disabled selected hidden>{{'m6v11texto8' | translate}}</option>
                    <option value="{{ 'm6v11texto11'| translate}}"> {{ 'm6v11texto11'| translate}} </option>
                    <option value="{{ 'm6v11texto12'| translate}}"> {{ 'm6v11texto12'| translate}}</option>
                    <option value="{{ 'm6v11texto13'| translate}}"> {{ 'm6v11texto13'| translate}}</option>
                    <option value="{{ 'm6v11texto15'| translate}}"> {{ 'm6v11texto15'| translate}}</option>
                    <option value="{{ 'm6v11texto16'| translate}}"> {{ 'm6v11texto16'| translate}}</option>
                    <option value="{{ 'm6v11texto17'| translate}}"> {{ 'm6v11texto17'| translate}}</option>
                </select>
            </div>
        </div>
        <div class="titulo aLaIzquierda">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                {{ 'm6v11texto9' | translate }}
            </p>
        </div>
        <div class="textarea">
            <div class="texto">
                <textarea [(ngModel)]="mensaje" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                    })">
                </textarea>
            </div>
        </div>
        <div class="boton" *ngIf="contactUs === true">
            <app-button [botonCompartido]="botonEnviar"></app-button>

        </div>
        <div class="texto" *ngIf="mensajeCorreo">
            <p>
                {{ textoMensaje }}
            </p>
        </div>
        <div class="texto-error" *ngIf="errorMsj">
            <p>
                {{ textoMensajeError }}
            </p>
        </div>
    </div>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>