@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
	box-sizing: border-box;
	padding: 0 !important;

	&.sin-scroll {
		overflow: hidden;
	}

	& > div {
		box-sizing: border-box;
	}

	& .capa {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -1;
		opacity: 0;

		&.mostrar {
			z-index: 1;
			opacity: 1;
			transition: all 0.25s 0.25s ease;
		}

		&.loader {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.error {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-flow: column;
			padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
		}

		&.perfil {
			padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
			display: flex;
			flex-flow: column;

			& .indicaciones {
				width: 100%;
				height: fit-content;

				display: flex;
				flex-flow: column;
				padding-left: $espacio-0658 - $espacio-267;

				&.con-margen-propietario {
					margin-bottom: $espacio-0178 - $defecto-bottom;
				}

				&.con-margen-otro-usuario {
					margin-bottom: $espacio-0178 - $defecto-bottom;
				}

				& p {
					width: 100%;

					&.con-margen-otro-usuario {
						margin-bottom: $espacio-0178  - $defecto-bottom;
					}
				}
			}

			& .albums {
				width: 100%;
				display: flex;
				flex-flow: row;
				align-items: center;
				justify-content: center;
				margin-bottom: $espacio-0178;

				& .item-album {
					width: auto;
					height: auto;
					cursor: pointer;
				}
			}


			& .nombre-contacto-usuario {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: flex-start;
				padding-left: $espacio-0658 - $espacio-267;

				&.con-margen-otro-usuario {
					margin-bottom: $espacio-522;
				}

				& p {
					width: fit-content;
					line-height: 0.8 !important;
				}
			}
			& .tipo-contacto-usuario {
				// width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				margin-bottom: $espacio-267;
	
				& p {
					width: fit-content;
					line-height: 0.8 !important;
				}
			}

			& .boton-mis-contactos {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: $espacio-522 - $defecto-bottom 0;
			}

			& .bloque-perfil {
				width: 100%;
				padding-bottom: $espacio-522 - $defecto-bottom ;
				display: none;

				&.mostrar-bloque {
					display: flex;
					flex-flow: column;
				}

				&.ampliar-contactos {
					flex: 1;
					margin-top: $espacio-522;
					padding-bottom: 0 !important;
					overflow: hidden;
				}

				&.ampliar-noticias {
					flex: 1;
					margin-top: $espacio-522;
					padding-bottom: 0 !important;
					overflow: hidden;
				}

				&.ampliar-proyectos {
					flex: 1;
					margin-top: $espacio-522;
					padding-bottom: 0 !important;
					overflow: hidden;
				}

				& p {
					width: 100%;
					box-sizing: border-box;
					text-align: left;
					padding-left: $espacio-0658 - $espacio-267;
				}

				&.contactos-usuario {
	
					& .lista-contactos {
						width: 100%;
						height: auto;
						display: flex;
						overflow-x: hidden;
						overflow-y: auto;

						& .caja-interna {
							width: 100%;
							display: flex;

							& .item-contacto {
								width: auto;
								height: auto;
							}
						}

						& .cargando-interno {
							width: 100%;
							height: calcular(20);
							display: flex;
							align-items: center;
							justify-content: center;
							margin: calcular(1.5) 0;

							&.completo {
								margin: 0;
								width: 100%;
								height: 100%;
							}
						}
					}

					&.ampliar-contactos {

						& .lista-contactos {
							flex: 1;
							flex-flow: column;

							padding: 0 $espacio-0658 - $espacio-267;
							box-sizing: border-box;

							& .caja-interna {
								flex-flow: row wrap;

								& .item-contacto {
									margin-bottom: $espacio-0316;
									margin-right: $espacio-0178;

									&.sin-margen-derecha {
										margin-right: 0;
									}
								}
							}
						}
					}
				}

				&.noticias-usuario {
					& .lista-noticias {
						width: 100%;
						height: auto;
						display: flex;
						overflow-x: hidden;
						overflow-y: auto;

						& .caja-interna {
							width: 100%;
							display: flex;

							& .item-noticia {
								cursor: pointer;
								width: auto;
								height: auto;
								margin-right: calcular(0.71);
							}
						}

						& .cargando-interno {
							width: 100%;
							height: calcular(20);
							display: flex;
							align-items: center;
							justify-content: center;
							margin: calcular(1.5) 0;

							&.completo {
								margin: 0;
								width: 100%;
								height: 100%;
							}
						}
					}

					&.ampliar-noticias {

						& .lista-noticias {
							flex: 1;
							flex-flow: column;
							box-sizing: border-box;
							align-items: center;

							& .caja-interna {
								flex-flow: row wrap;
								width: (calcular(43.3) * 2) + $espacio-0178;

								& .item-noticia {
									margin-bottom: $espacio-0178;
									margin-right: $espacio-0178;

									&.sin-margen-derecha {
										margin-right: 0;
									}
								}
							}
						}
					}
				}

				&.proyectos-usuario {
					& .lista-proyectos {
						width: 100%;
						height: auto;
						display: flex;
						overflow-x: hidden;
						overflow-y: auto;

						& .caja-interna {
							width: 100%;
							display: flex;

							& .item-proyecto {
								width: auto;
								height: auto;
								margin-right: calcular(0.71);
								cursor: pointer;
							}
						}

						& .cargando-interno {
							width: 100%;
							height: calcular(20);
							display: flex;
							align-items: center;
							justify-content: center;
							margin: calcular(1.5) 0;

							&.completo {
								margin: 0;
								width: 100%;
								height: 100%;
							}
						}
					}

					&.ampliar-proyectos {
						position: relative;

						& .lista-proyectos {
							flex: 1;
							flex-flow: column;
							box-sizing: border-box;
							align-items: center;

							& .caja-interna {
								flex-flow: row wrap;
								width: (calcular(43.3) * 2) + $espacio-0178;

								& .item-proyecto {
									width: auto;
									height: auto;
									margin-bottom: $espacio-0178;
									margin-right: $espacio-0178;

									&.sin-margen-derecha {
										margin-right: 0;
									}
								}
							}
						}
					}
				}

				&.pensamientos-usuario {
					& .lista-pensamientos {
						width: 100%;
						box-sizing: border-box;
						padding: 0 $espacio-0658 - $espacio-267;
						cursor: pointer;
					}
					
				}

				&.estado-invitacion {
					
					& p {
						text-align: center;
					}
				}

				&.botones-estado {
					width: 100%;
					display: flex;
					flex-flow: column;
					align-items: center;
					justify-content: center;

					&.sin-margen-abajo {
						padding-bottom: 0;
					}

					& .caja-boton {
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						&.con-margen-abajo {
							padding-bottom: $espacio-522;
						}
					}

				}

				&.loader-botones-estado {
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}

::ng-deep .content-titulos{
	// padding-top: $espacio-522 - $defecto-top;
	padding-bottom: $espacio-0178 - $defecto-bottom;
	// padding-left: $espacio-0658 - $espacio-267;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss"; 

	.cuerpo {
	
		& .capa {
	
			&.error {
				padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
			}
	
			&.perfil {
				padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
	
				& .indicaciones {
					padding-left: $espacio-0658 - $espacio-267;
	
					&.con-margen-propietario {
						margin-bottom: $espacio-0178 - $defecto-bottom;
					}
	
					&.con-margen-otro-usuario {
						margin-bottom: $espacio-0178 - $defecto-bottom;
					}
	
					& p {

						&.con-margen-otro-usuario {
							margin-bottom: $espacio-0178  - $defecto-bottom;
						}
					}
				}
	
				& .albums {
					margin-bottom: $espacio-0178;
				}
	
				& .nombre-contacto-usuario {

					padding-left: $espacio-0658 - $espacio-267;
	
					&.con-margen-otro-usuario {
						margin-bottom: $espacio-522;
					}
	
					& p {
						width: fit-content;
						line-height: 0.8 !important;
					}
				}
				& .tipo-contacto-usuario {

					margin-bottom: $espacio-267;
		
					& p {
					
						line-height: 0.8 !important;
					}
				}

				& .boton-mis-contactos {
					padding: $espacio-522 - $defecto-bottom 0;
				}
	
				& .bloque-perfil {
					padding-bottom: $espacio-522 - $defecto-bottom ;
	
					&.ampliar-contactos {
						margin-top: $espacio-522;
					}
	
					&.ampliar-noticias {
						margin-top: $espacio-522;
					}
	
					&.ampliar-proyectos {
						margin-top: $espacio-522;
					}
	
					& p {
						padding-left: $espacio-0658 - $espacio-267;
					}
	
					&.contactos-usuario {
		
						& .lista-contactos {
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-contactos {
	
							& .lista-contactos {
								padding: 0 $espacio-0658 - $espacio-267;
	
								& .caja-interna {
	
									& .item-contacto {
										margin-bottom: $espacio-0316;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.noticias-usuario {
	
						& .lista-noticias {

							& .caja-interna {

								& .item-noticia {
									margin-right: calcular(0.71);
								}
							}
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-noticias {
	
							& .lista-noticias {
	
								& .caja-interna {
									width: (calcular(43.3) * 2) + $espacio-0178;
	
									& .item-noticia {
										margin-bottom: $espacio-0178;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.proyectos-usuario {
	
						& .lista-proyectos {
	
							& .caja-interna {
	
								& .item-proyecto {
									margin-right: calcular(0.71);
								}
							}
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-proyectos {
	
							& .lista-proyectos {
	
								& .caja-interna {
									width: (calcular(43.3) * 2) + $espacio-0178;
	
									& .item-proyecto {
										margin-bottom: $espacio-0178;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.pensamientos-usuario {
	
						& .lista-pensamientos {
							padding: 0 $espacio-0658 - $espacio-267;
						}
						
					}
	
					&.botones-estado {
	
						& .caja-boton {
	
							&.con-margen-abajo {
								padding-bottom: $espacio-522;
							}
						}
	
					}
				}
			}
		}
	}
	
	::ng-deep .content-titulos{
		padding-bottom: $espacio-0178 - $defecto-bottom;
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

	.cuerpo {
	
		& .capa {
	
			&.error {
				padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
			}
	
			&.perfil {
				padding:  ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
	
				& .indicaciones {
					padding-left: $espacio-0658 - $espacio-267;
	
					&.con-margen-propietario {
						margin-bottom: $espacio-0178 - $defecto-bottom;
					}
	
					&.con-margen-otro-usuario {
						margin-bottom: $espacio-0178 - $defecto-bottom;
					}
	
					& p {

						&.con-margen-otro-usuario {
							margin-bottom: $espacio-0178  - $defecto-bottom;
						}
					}
				}
	
				& .albums {
					margin-bottom: $espacio-0178;
				}
	
				& .nombre-contacto-usuario {
					padding-left: $espacio-0658 - $espacio-267;
	
					&.con-margen-otro-usuario {
						margin-bottom: $espacio-522;
					}
	
					& p {
						line-height: 0.8 !important;
					}
				}
				& .tipo-contacto-usuario {

					margin-bottom: $espacio-267;
		
					& p {
					
						line-height: 0.8 !important;
					}
				}
	
				& .boton-mis-contactos {
					padding: $espacio-522 - $defecto-bottom 0;
				}
	
				& .bloque-perfil {
					padding-bottom: $espacio-522 - $defecto-bottom ;
	
					&.ampliar-contactos {
						margin-top: $espacio-522;
					}
	
					&.ampliar-noticias {
						margin-top: $espacio-522;
					}
	
					&.ampliar-proyectos {
						margin-top: $espacio-522;
					}
	
					& p {
						padding-left: $espacio-0658 - $espacio-267;
					}
	
					&.contactos-usuario {
		
						& .lista-contactos {
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-contactos {
	
							& .lista-contactos {
								padding: 0 $espacio-0658 - $espacio-267;
	
								& .caja-interna {
	
									& .item-contacto {
										margin-bottom: $espacio-0316;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.noticias-usuario {
	
						& .lista-noticias {

							& .caja-interna {

								& .item-noticia {
									margin-right: calcular(0.71);
								}
							}
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-noticias {
	
							& .lista-noticias {
	
								& .caja-interna {
									width: (calcular(43.3) * 2) + $espacio-0178;
	
									& .item-noticia {
										margin-bottom: $espacio-0178;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.proyectos-usuario {
	
						& .lista-proyectos {
	
							& .caja-interna {
	
								& .item-proyecto {
									margin-right: calcular(0.71);
								}
							}
	
							& .cargando-interno {
								height: calcular(20);
								margin: calcular(1.5) 0;
							}
						}
	
						&.ampliar-proyectos {
	
							& .lista-proyectos {
	
								& .caja-interna {
									width: (calcular(43.3) * 2) + $espacio-0178;
	
									& .item-proyecto {
										margin-bottom: $espacio-0178;
										margin-right: $espacio-0178;
									}
								}
							}
						}
					}
	
					&.pensamientos-usuario {
	
						& .lista-pensamientos {
							padding: 0 $espacio-0658 - $espacio-267;
						}
						
					}
	
					&.botones-estado {
	
						& .caja-boton {
	
							&.con-margen-abajo {
								padding-bottom: $espacio-522;
							}
						}
	
					}
				}
			}
		}
	}
	
	::ng-deep .content-titulos{
		padding-bottom: $espacio-0178 - $defecto-bottom;
	}
}