@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

$anchoCudadrado: calcular(5.16);
$altoCudadrado: calcular(5.16);

.cuerpo {
    & .item-titulo {
        padding-top: $espacio-0316 - $defecto-top;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;

        padding-bottom: $espacio-522;
        & .titulo-principal {
            text-align: center;
        }
    }
    & .lista-permutaciones {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-flow: column;
        justify-content: center;
        & .texto-elija {
            padding-bottom: $espacio-0178;
        }
        & .item {
            display: flex;
            align-items: center;
            height: auto;
            margin-bottom: $espacio-0316;
            & .cuadrado {
                width: $anchoCudadrado;
                height: $anchoCudadrado;
                background: $blanco;
                border: 1px solid black;
                margin-right: calcular(2.16);

                & span {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
            & p.seleccionado {
                color: red;
            }
        }
    }
    & .botones-centrado {
        padding-top: $espacio-522 - $espacio-0316 - $defecto-bottom;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        align-items: center;
        & .linea-verde {
            padding-top: $espacio-522;
            padding-bottom: $espacio-522;
        }
    }
    & .mundo-inter {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 2px 2px 2px #ffc379;
        & img {
            height: $mundo-diametro;
            width: $mundo-diametro;
            margin-right: calcular(14);
        }
        & .textos {
            margin-right: calcular(12);
            position: absolute;
            white-space: pre-wrap;
            text-align: center;
        }
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";
    .cuerpo {
        & .item-titulo {
            padding-top: $espacio-0316 - $defecto-top;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
    
            padding-bottom: $espacio-522;
            & .titulo-principal {
                text-align: center;
            }
        }
        & .lista-permutaciones {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: column;
            justify-content: center;
            & .texto-elija {
                padding-bottom: $espacio-0178;
            }
            & .item {
                display: flex;
                align-items: center;
                height: auto;
                margin-bottom: $espacio-0316;
                & .cuadrado {
                    width: $anchoCudadrado;
                    height: $anchoCudadrado;
                    background: $blanco;
                    border: 1px solid black;
                    margin-right: calcular(2.16);
    
                    & span {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                & p.seleccionado {
                    color: red;
                }
            }
        }
        & .botones-centrado {
            padding-top: $espacio-522 - $espacio-0316 - $defecto-bottom;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-items: center;
            & .linea-verde {
                padding-top: $espacio-522;
                padding-bottom: $espacio-522;
            }
        }

        // Mundo
// $mundo-diametro: $ancho-pagina + calcular(3.27); // El diametro es el 100 + 3.27%
// $mundo-derecha: calcular(6.58);
// $mundo-abajo: calcular(8.16);
        & .mundo-inter {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px #ffc379;
            & img {
                height: $mundo-diametro;
                width: $mundo-diametro;
                margin-right: calcular(14);
            }
            & .textos {
                margin-right: calcular(12);
                position: absolute;
                white-space: pre-wrap;
                text-align: center;
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";
    .cuerpo {
        & .item-titulo {
            padding-top: $espacio-0316 - $defecto-top;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
    
            padding-bottom: $espacio-522;
            & .titulo-principal {
                text-align: center;
            }
        }
        & .lista-permutaciones {
            width: 100%;
            height: fit-content;
            display: flex;
            flex-flow: column;
            justify-content: center;
            & .texto-elija {
                padding-bottom: $espacio-0178;
            }
            & .item {
                display: flex;
                align-items: center;
                height: auto;
                margin-bottom: $espacio-0316;
                & .cuadrado {
                    width: $anchoCudadrado;
                    height: $anchoCudadrado;
                    background: $blanco;
                    border: 1px solid black;
                    margin-right: calcular(2.16);
    
                    & span {
                        width: 100%;
                        height: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
                & p.seleccionado {
                    color: red;
                }
            }
        }
        & .botones-centrado {
            padding-top: $espacio-522 - $espacio-0316 - $defecto-bottom;
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            flex-flow: column wrap;
            align-items: center;
            & .linea-verde {
                padding-top: $espacio-522;
                padding-bottom: $espacio-522;
            }
        }
        & .mundo-inter {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            text-shadow: 2px 2px 2px #ffc379;
            & img {
                height: $mundo-diametro;
                width: $mundo-diametro;
                margin-right: calcular(14);
             }
            & .textos {
                margin-right: calcular(12);
                position: absolute;
                white-space: pre-wrap;
                text-align: center;
            }
        }
    }
}