<app-appbar *ngIf="configuracionAppBar" #barra [configuracion]="configuracionAppBar"> </app-appbar>
<div class="cuerpo">


    <div class="lista-permutaciones">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I1
        })" class="texto-elija">
            {{ 'm6v5texto2' | translate }}
        </p>
        <div class="item" (tap)="seleccionarAccion(1)">
            <div class="cuadrado"> <span *ngIf="accionCuenta === 1"> &#x2714; </span> </div>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                    
                })">
                {{ 'm6v5texto3' | translate }}
            </p>
        </div>
        <div class="item" (tap)="seleccionarAccion(2)">
            <div class="cuadrado"> <span *ngIf="accionCuenta === 2"> &#x2714; </span> </div>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1,
                    seleccionado: accionCuenta === 2
                })">
                {{ 'm6v5texto4' | translate }}
            </p>
        </div>
        <div class="item" (tap)="seleccionarAccion(3)">
            <div class="cuadrado"> <span *ngIf="accionCuenta === 3"> &#x2714; </span> </div>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1,
                    seleccionado: accionCuenta === 3
                })">
                {{ 'm6v5texto5' | translate }}
            </p>
        </div>
        <div class="item" (tap)="seleccionarAccion(4)">
            <div class="cuadrado"> <span *ngIf="accionCuenta === 4"> &#x2714; </span> </div>
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })">
                {{ 'm6v5texto6' | translate }} 
            </p>
        </div>
    </div>


    <div class="botones-centrado">
        <app-button class="btn-buscar" [botonCompartido]="botonBuscar"> </app-button>
        <div class="linea-verde" >
            <app-linea [configuracionLinea]="confLinea"></app-linea>
        </div>
        <app-button class="btn-publicar-der" [botonCompartido]="botonPublicar"> </app-button>

    </div>

    
    <div class="item-titulo">

        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO ,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: true,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
        })" class="titulo-principal">
            {{ 'm6v5texto9' | translate }}
        </p>
    </div>
    <div class="mundo-inter" >
        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-mundo.png" alt="" />
        <div class="textos">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE ,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L14_I1
            })" class="titulo-principal">
                {{ 'm6v5texto10' | translate }}
            </p>

        </div>
    </div>
</div>

<app-toast #toast [configuracion]='confToast'></app-toast>