<app-appbar [configuracion]="confAppbar"></app-appbar>
<div
    *ngIf="params.estado"
    [ngClass]="{
        'cuerpo': true
    }"
>
    <div
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': mostrarCapaLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        [ngClass]="{
            'capa': true,
            'errordiv': true,
            'mostrar': !mostrarCapaLoader && mostrarCapaError
        }"
    >
        <div
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
        >
            {{ mensajeCapaError }}
        </div>
        <button
            (tap)="reintentar()"
            class="botonReintentar"
        >
            {{ 'text32' | translate }}
        </button>
    </div>
    <div
        *ngIf="noticia"
        [ngClass]="{
            'capa': true,
            'formulario': true,
            'mostrar': !mostrarCapaLoader && !mostrarCapaError
        }"
    >
        <app-portada-expandida 
            #portadaExpandida
            [configuracion]="confPortadaExpandida"
        ></app-portada-expandida>
        <div
        [ngClass]="{
            'contenido': true,
            'sinPaddingTop': (params.accionEntidad === AccionEntidadEnum.VISITAR)
        }"
    >
        <div
            *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
            class="aviso"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ 'm4v3texto5' | translate }}
            </p>
        </div>
        <div class="titulo">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })"
            >
                {{ 'm4v15texto5' | translate }}
            </p>
        </div>
        <div class="inputs caja a">
            <div class="fila uno">
                <app-input
                    *ngIf="inputsForm && inputsForm.length > 0 && inputsForm[0]"
                    [inputCompartido]="inputsForm[0]"
                ></app-input>
            </div>
            <div class="fila dos">
                <app-item-fecha [fecha]="noticia.fechaCreacion" [formato]="'dd/MM/yyyy'"></app-item-fecha>
            </div>
        </div>
        <div class="inputs caja b">
            <div class="fila uno">
                <app-input
                    *ngIf="inputsForm && inputsForm.length > 0 && inputsForm[1]"
                    [inputCompartido]="inputsForm[1]"
                ></app-input>
            </div>
        </div>
        <div class="inputs caja b">
            <div class="fila uno">
                <app-input
                    *ngIf="inputsForm && inputsForm.length > 0 && inputsForm[2]"
                    [inputCompartido]="inputsForm[2]"
                ></app-input>
            </div>
        </div>
        <div class="inputs caja b">
            <div class="fila uno">
                <app-input
                    *ngIf="inputsForm && inputsForm.length > 0 && inputsForm[3]"
                    [inputCompartido]="inputsForm[3]"
                ></app-input>
            </div>
        </div>
        <div
            [ngClass]="{
                'botones': true,
                'soloCompartir': true
            }"
        >
            <app-button [botonCompartido]="confBotonCompartir"></app-button>
        </div>
        <div
            *ngIf="determinarSiHayAlbumSegunTipo(CodigosCatalogoTipoAlbumEnum.AUDIOS)"
            class="audios"
            gestorEventos
       
        >
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="texto"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v15texto11' | translate }}
                </p>
            </div>
            <div class="icono">
                <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-audio-verde.svg">
            </div>
        </div>
        <div
            *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR"
            class="votar-proyecto"
        >
            <app-votar-entidad [configuracion]="confVotarEntidad"></app-votar-entidad>
        </div>
        <div class="descripcion-intro">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })"
            >
                {{ 'm4v15texto12' | translate }}
            </p>
        </div> 
        <div class="descripcion-intro-caracteres">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                })"
            >
                {{ 'm4v15texto13' | translate }}
            </p>
        </div> 
        <div class="descripcion-contexto">
            <textarea
                [readonly]="params.accionEntidad === AccionEntidadEnum.VISITAR"
                [(ngModel)]="noticia.descripcion"
                maxlength="1500"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })"
            >
                {{ noticia.descripcion }}
            </textarea>
            <div class="descripcion-contador">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ noticiaService.obtenerTextoDescripcionContador(noticia) }}
                </p>
            </div>
        </div>
        <div
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            class="proyecto-completo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ 'm4v15texto14' | translate }}
            </p>
            <div class="espacio"></div>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ 'm4v15texto15' | translate }}
            </p>
        </div>
        <div
            *ngIf="
                params.accionEntidad !== AccionEntidadEnum.VISITAR ||
                (
                    params.accionEntidad === AccionEntidadEnum.VISITAR && 
                    noticia &&
                    noticia.medias &&
                    noticia.medias.length > 0
                )
            "
            class="proyecto-completo-boton"
        >
            <input
                type="file"
                style="display: none;"
            
                accept="application/pdf"
            >
            <app-button [botonCompartido]="confBotonArticulo"></app-button>
        </div>
        <div class="botones-adicionales">
            <p
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ llaveTextoBotonesExtra | translate }}
            </p>
            <div
                *ngFor="let boton of confBotonesExtras"
                class="boton-extra"
            >
                <app-button [botonCompartido]="boton"></app-button>
            </div>
        </div>
        <div
            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
            class="publicar-boton"
        >
            <app-button [botonCompartido]="confBotonPublish"></app-button>
        </div>
        <div
            *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR"
            class="eliminar-boton"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                })"
            >
                {{ 'm4v16texto8' | translate }}
            </p>
            <div class="boton-eliminar">
                <app-button [botonCompartido]="confBotonEliminar"></app-button>
            </div>
        </div>
    </div>
    </div>
</div>