@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$icono-audio-diametro: calcular(13.10);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(3.16);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);
$borde-descripcion-espesor: calcular(0.36);

.cuerpo {
    background: $blanco;
    position: relative;
    padding: 0 !important;

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;
    
        z-index: -1;
        opacity: 0;
        box-sizing: border-box;
    
        &.mostrar {
            z-index: 1;
            opacity: 1;
        }
    
        &.loader {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
        }
    
        &.errordiv {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            box-sizing: border-box;
            padding: 0 calcular(4);
    
            & div {
                width: 100%;
                margin-bottom: calcular(2) !important;
                text-align: center;
            }
        }
    
        &.formulario {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .contenido {
                width: 100%;
                box-sizing: border-box;
                padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                &.sinPaddingTop {
                    padding: $espacio-0178 $espacio-267 0 $espacio-267;
                }

                & .aviso {
                    width: 100%;
                    margin-bottom: $espacio-0316 - $defecto-total;

                    & p {
                        text-align: center;
                    }
                }
            
                & .titulo {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0316 -$defecto-bottom !important;
            
                    & p {
                        text-align: center;
                    }
                }
            
                & .inputs {
                    width: 100%;
                    margin-bottom: $espacio-0316;
            
                    &.caja {
                        width: 100%;
                        height: fit-content;
            
                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: space-between;
            
                        & .fila {
                            width: calc((100% - #{ $espacio-0139 } ) / 2);
            
                            &.uno {
                                margin-right: $espacio-0139;
                            }
                        }
            
                        &.a {
                            & .fila.uno {
                                width: max-content;
                                margin-right: $espacio-522;
                                & input {
                                    text-align: center;
                                }
                            }
            
                            & .fila.dos {
                                width: fit-content;
                            }
                        }
            
                        &.b {
                            & .fila.uno {
                                width: 100%;
                                margin: 0 !important;
                            }
            
                            & .fila.dos {
                                display: none;
                            }
                        }
            
                        &.c {
                            & .fila input {
                                margin-bottom: 0 !important;
                            }
                        }
                    }
            
            
                    &.a {
                        & .fila {
            
                        }
                    }
            
                    &.b {
            
                    }
                }
            
                & .subtitulo {
                    width: 100%;
                    margin-bottom: $espacio-0178;
            
                    &.b {
                        & p {
                            text-align: center;
                        }
                    }
            
                    & p {
                        text-align: left;
                    }
                }
            
                & .moneda {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                }
            
                & .botones {
                    width: 100%;
                    margin: $espacio-522 0;
                    padding: 0 $espacio-0658 - $espacio-267;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.soloCompartir {
                        justify-content: center;
                    }
                }
            
                & .audios {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-522 - $defecto-top;
            
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;
            
                    & .texto {
                        margin-right: $espacio-0249;
            
                        & p {
            
                        }
                    }
            
                    & .icono {
                        width: $icono-audio-diametro;
                        height: $icono-audio-diametro;
                        border-radius: 50%;
                        
                        &  img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                & .votar-proyecto {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-178;
                }
            
                & .descripcion-intro {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 0 0 $espacio-0658 - $espacio-267;
            
                    display: flex;
                    flex-flow: column;
            
                    & p {
                        margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                    }
                }
                & .descripcion-intro-caracteres {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 0 0 $espacio-0658 - $espacio-267;
            
                    display: flex;
                    flex-flow: column;
            
                    & p {
                        margin-bottom: $espacio-0178 - $defecto-top;
                    }
                }
            
                & .descripcion-contexto {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-0316;
                    position: relative;
            
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    & textarea {
                        position: relative;
                        resize: none;
                        width: $descripcion-ancho;
                        height: fit-content;
                        min-height: $descripcion-alto-min;
                        border-radius: $descripcion-border-radio;
                        border: $borde-descripcion-espesor solid #000000;
                        padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom $descripcion-padding-right-left;
                        font-weight: normal;
                        text-align: justify;
                        outline: 0;
                        box-sizing: border-box;
            
                        font-family: "Source Sans Pro", sans-serif;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-webkit-input-placeholder {
                            // color: #eeeeee;
                            font-family: "Source Sans Pro", sans-serif;
                            color: $negro;
                        }

                        &:-moz-placeholder {
                            /* Upto Firefox 18, Deprecated in Firefox 19  */
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &:-ms-input-placeholder {
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }
                    }
            
                    & .descripcion-contador {
                        position: absolute;
                        bottom: $espacio-0178;
                        right: $espacio-267;
                    }
                }
            
                & .proyecto-completo {
                    width: 100%;
                    margin-bottom: $espacio-0178 - $defecto-top;
                    box-sizing: border-box;
            
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
            
                    & p {
                        width: 100%;
                        text-align: center;
                    }
            
                    & .espacio {
                        width: 100%;
                        height: $espacio-0178 - $defecto-top - $defecto-bottom;
                    }
                }
            
                & .proyecto-completo-boton {
                    width: 100%;
                    margin-bottom: $espacio-0316;
            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .link-descripcion {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                    box-sizing: border-box;
            
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
            
                    & p {
                        width: 100%;
                        text-align: center;
                    }
            
                    & .espacio {
                        width: 100%;
                        height: $espacio-0178;
                    }
                }

                & .photos-boton {
                    width: 100%;
                    margin-bottom: $espacio-522;
            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            
                & .publicar-boton {
                    width: 100%;
            
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .botones-adicionales {
                    width: 100%;
                    box-sizing: border-box;
                    margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                    & p {
                        text-align: center;
                        width: 100%;
                        padding: 0 $espacio-0658 - $espacio-267;
                        box-sizing: border-box;
                        margin-bottom: $espacio-178 - $defecto-bottom;
                    }

                    & .boton-extra {
                        width: 100%;
                        margin-bottom: $espacio-522;
                
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & .eliminar-boton {
                    width: 100%;
                    margin: $espacio-0316 0 0 0;

                    & p {
                        text-align: center;
                        width: 100%;
                        padding: 0 $espacio-0658 - $espacio-267;
                        box-sizing: border-box;
                        margin-bottom: $espacio-178 - $defecto-bottom;
                    }

                    & .boton-eliminar {
                        width: 100%;
                
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & .borrado-informacion {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0316 - $defecto-bottom;

                    & p {
                        text-align: center;
                    }
                }
            }
        }
    }
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $icono-audio-diametro: calcular(13.10);
    $descripcion-ancho: calcular(94.66);
    $descripcion-alto-min: calcular(95.39);
    $descripcion-border-radio: calcular(1.567);
    $descripcion-padding-top: calcular(3.16);
    $descripcion-padding-bottom: calcular(3.16);
    $descripcion-contador-padding-bottom: calcular(1.78);
    $descripcion-padding-right-left: calcular(2.67);
    $borde-descripcion-espesor: calcular(0.36);

    .cuerpo {

        .capa {
        
            &.errordiv {
                padding: 0 calcular(4);
        
                & div {
                    margin-bottom: calcular(2) !important;
                }
            }
        
            &.formulario {

                .contenido {
                    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                    &.sinPaddingTop {
                        padding: $espacio-0178 $espacio-267 0 $espacio-267;
                    }

                    & .aviso {
                        margin-bottom: $espacio-0316 - $defecto-total;
                    }
                
                    & .titulo {
                        margin-bottom: $espacio-0316 -$defecto-bottom !important;
                    }
                
                    & .inputs {
                        margin-bottom: $espacio-0316;
                
                        &.caja {
                
                            & .fila {
                                width: calc((100% - #{ $espacio-0139 } ) / 2);
                
                                &.uno {
                                    margin-right: $espacio-0139;
                                }
                            }
                
                            &.a {
                                & .fila.uno {
                                    margin-right: $espacio-522;
                                }
                            }
                        }
                    }
                
                    & .subtitulo {
                        margin-bottom: $espacio-0178;
                    }
                
                    & .moneda {
                        margin-bottom: $espacio-0178;
                    }
                
                    & .botones {
                        margin: $espacio-522 0;
                        padding: 0 $espacio-0658 - $espacio-267;
                    }
                
                    & .audios {
                        margin-bottom: $espacio-522 - $defecto-top;
                
                        & .texto {
                            margin-right: $espacio-0249;
                        }
                
                        & .icono {
                            width: $icono-audio-diametro;
                            height: $icono-audio-diametro;
                        }
                    }

                    & .votar-proyecto {
                        margin-bottom: $espacio-178;
                    }
                
                    & .descripcion-intro {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                    & .descripcion-intro-caracteres {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;
                
                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top;
                        }
                    }
                
                    & .descripcion-contexto {
                        margin-bottom: $espacio-0316;
                
                        & textarea {
                            width: $descripcion-ancho;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom $descripcion-padding-right-left;
                        }
                
                        & .descripcion-contador {
                            bottom: $espacio-0178;
                            right: $espacio-267;
                        }
                    }
                
                    & .proyecto-completo {
                        margin-bottom: $espacio-0178 - $defecto-top;
                
                        & .espacio {
                            height: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                
                    & .proyecto-completo-boton {
                        margin-bottom: $espacio-0316;
                    }

                    & .link-descripcion {
                        margin-bottom: $espacio-0178;
                
                        & .espacio {
                            height: $espacio-0178;
                        }
                    }

                    & .photos-boton {
                        margin-bottom: $espacio-522;
                    }

                    & .botones-adicionales {
                        margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }

                        & .boton-extra {
                            margin-bottom: $espacio-522;
                        }
                    }

                    & .eliminar-boton {
                        margin: $espacio-0316 0 0 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }
                    }

                    & .borrado-informacion {
                        margin-bottom: $espacio-0316 - $defecto-bottom;
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $icono-audio-diametro: calcular(13.10);
    $descripcion-ancho: calcular(94.66);
    $descripcion-alto-min: calcular(95.39);
    $descripcion-border-radio: calcular(1.567);
    $descripcion-padding-top: calcular(3.16);
    $descripcion-padding-bottom: calcular(3.16);
    $descripcion-contador-padding-bottom: calcular(1.78);
    $descripcion-padding-right-left: calcular(2.67);
    $borde-descripcion-espesor: calcular(0.36);

    .cuerpo {

        .capa {
        
            &.errordiv {
                padding: 0 calcular(4);
        
                & div {
                    margin-bottom: calcular(2) !important;
                }
            }
        
            &.formulario {

                .contenido {
                    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                    &.sinPaddingTop {
                        padding: $espacio-0178 $espacio-267 0 $espacio-267;
                    }

                    & .aviso {
                        margin-bottom: $espacio-0316 - $defecto-total;
                    }
                
                    & .titulo {
                        margin-bottom: $espacio-0316 -$defecto-bottom !important;
                    }
                
                    & .inputs {
                        margin-bottom: $espacio-0316;
                
                        &.caja {
                
                            & .fila {
                                width: calc((100% - #{ $espacio-0139 } ) / 2);
                
                                &.uno {
                                    margin-right: $espacio-0139;
                                }
                            }
                
                            &.a {
                                & .fila.uno {
                                    margin-right: $espacio-522;
                                }
                            }
                        }
                    }
                
                    & .subtitulo {
                        margin-bottom: $espacio-0178;
                    }
                
                    & .moneda {
                        margin-bottom: $espacio-0178;
                    }
                
                    & .botones {
                        margin: $espacio-522 0;
                        padding: 0 $espacio-0658 - $espacio-267;
                    }
                
                    & .audios {
                        margin-bottom: $espacio-522 - $defecto-top;
                
                        & .texto {
                            margin-right: $espacio-0249;
                        }
                
                        & .icono {
                            width: $icono-audio-diametro;
                            height: $icono-audio-diametro;
                        }
                    }

                    & .votar-proyecto {
                        margin-bottom: $espacio-178;
                    }
                
                    & .descripcion-intro {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                    & .descripcion-intro-caracteres {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;
                
                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top;
                        }
                    }
                
                    & .descripcion-contexto {
                        margin-bottom: $espacio-0316;
                
                        & textarea {
                            width: $descripcion-ancho;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom $descripcion-padding-right-left;
                        }
                
                        & .descripcion-contador {
                            bottom: $espacio-0178;
                            right: $espacio-267;
                        }
                    }
                
                    & .proyecto-completo {
                        margin-bottom: $espacio-0178 - $defecto-top;
                
                        & .espacio {
                            height: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                
                    & .proyecto-completo-boton {
                        margin-bottom: $espacio-0316;
                    }

                    & .link-descripcion {
                        margin-bottom: $espacio-0178;
                
                        & .espacio {
                            height: $espacio-0178;
                        }
                    }

                    & .photos-boton {
                        margin-bottom: $espacio-522;
                    }

                    & .botones-adicionales {
                        margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }

                        & .boton-extra {
                            margin-bottom: $espacio-522;
                        }
                    }

                    & .eliminar-boton {
                        margin: $espacio-0316 0 0 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }
                    }

                    & .borrado-informacion {
                        margin-bottom: $espacio-0316 - $defecto-bottom;
                    }
                }
            }
        }
    }
}