@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

.contenedor-stripe {
  height: calcular(7) !important;
}

.boton-pago {
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.espaciador {
  padding-top: $espacio-522;
  padding-bottom: $espacio-522;
}

.titlePago {
  text-align: center;
  padding-bottom: $espacio-0316 - $defecto-total;
}

.iconPago {
  cursor: pointer;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;

  & .img-tarjetas {
    & .texto-accept-cards {
      width: $ancho-6920;
      position: absolute;
      text-align: center;
      margin-top: $espacio-0316;
    }
  }
}

.linea-verde {
  padding-top: $espacio-522;
  padding-bottom: $espacio-522;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nombreMetodoPago {
  text-align: center;
  padding-left: $espacio-0178;
  padding-right: $espacio-0178;
  padding-bottom: $espacio-0316 - $defecto-bottom;
}

.cotenedorNombreMetodoPago {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  // height: $espacio-1512;
  box-sizing: content-box;
}

.en-construcion {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: $espacio-1512;
  box-sizing: content-box;
  padding-bottom: $espacio-522;
}

img {
  //width: 100%;
  //height: 100%;
  height: fit-content;
  width: $ancho-6920;
}

.contenedorTransparencia {
  height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  overflow-y: auto;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.container-mensaje-pendiente-pago {
  white-space: pre-line;
  cursor: default;
  width: $ancho-6920;
  background-color: $azul-pago-pendiente;
  padding-top: $espacio-0249;
  padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(2.49, false);
}

.mensaje-pendiente-pago {
  padding-left: $espacio-267;
  padding-right: $espacio-267;
  padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, true);
  text-align: center;
}

.centrar-texto {
  text-align: center;
}

.espacioMetodoPago {
  height: $espacio-0316;
}

.terminos-pago {
  color: white;
  padding-left: $espacio-267;
  padding-right: $espacio-267;
  padding-bottom: $espacio-0316 - $defecto-bottom;

  & p {
    text-align: left !important;
    padding-left: $espacio-0249;
  }
}

.letra-terminos {
  color: $txt-celeste;
}

input[type="text"] {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: $azul-base;
  font-weight: bold;
  outline: none;
  font-size: $letra-2;
  font-family: "Source Sans Pro", sans-serif;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.prueba {
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  color: $azul-base;
  font-weight: bold;
  outline: none;
  font-size: $letra-2;
  font-family: "Source Sans Pro", sans-serif;

  &:focus {
    outline: none;
  }

  &:active {
    outline: none;
  }
}

.monto-pagar {
  width: 100%;
  min-height: calcular(4);
}

.modal-monto-stripe {
  display: none;

  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .valor {
      margin-bottom: $espacio-0316 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }

    & .subtitulo {
      margin-bottom: $espacio-522 - $defecto-top;
    }

    & .moneda {
      margin-bottom: $espacio-0316 - $defecto-bottom;

      & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
          outline: 0;
        }

        &:active {
          outline: 0;
        }
      }

      & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(20ch + #{$espacio-0249 * 2});
      }
    }

    & .boton {
      display: flex;
      justify-content: center;
    }

    & .mensaje-status {
      width: 100%;
      margin: $espacio-0178 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }
  }
}

.modal-monto-paymentez {
  display: none;
  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .valor {
      margin-bottom: $espacio-0316 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }

    & .subtitulo {
      margin-bottom: $espacio-522 - $defecto-top;
    }

    & .moneda {
      margin-bottom: $espacio-0316 - $defecto-bottom;

      & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
          outline: 0;
        }

        &:active {
          outline: 0;
        }
      }

      & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(20ch + #{$espacio-0249 * 2});
      }
    }

    & .boton {
      display: flex;
      justify-content: center;
    }

    & .mensaje-status {
      width: 100%;
      margin: $espacio-0178 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }
  }
}

.modal-monto-cripto {
  display: none;
  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .valor {
      margin-bottom: $espacio-0316 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }

    & .subtitulo {
      margin-bottom: $espacio-522 - $defecto-top;
    }

    & .moneda {
      margin-bottom: $espacio-0316 - $defecto-bottom;

      & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
          outline: 0;
        }

        &:active {
          outline: 0;
        }
      }

      & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(20ch + #{$espacio-0249 * 2});
      }
    }

    & .boton {
      display: flex;
      justify-content: center;
    }

    & .mensaje-status {
      width: 100%;
      margin: $espacio-0178 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }
  }
}


// Modal continuar pago
.modal-pago-continuar {
  display: none;
  position: absolute;
  top: $item-menu-alto-2621;
  background: rgba(0, 0, 0, 0.5);
  width: $ancho-pagina;
  height: $cuerpo-default-alto;
  z-index: 200;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & .forma {
    width: 90%;
    height: fit-content;
    border-radius: calcular(1.026);
    padding: $espacio-267;
    box-sizing: border-box;
    background-color: #ffffff;
    margin-bottom: $item-menu-alto-2621;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    & p {
      white-space: pre-line;
      margin-bottom: $espacio-522 - $defecto-bottom;
      text-align: justify;
    }

    & input {
      border-radius: calcular(1.026);
      border: none;
      padding: $espacio-0178;
      box-sizing: border-box;
      width: 100%;
      margin-top: calcular(2);
      margin-bottom: calcular(2);
      font-size: $letra-2;
      background-color: $input-fondo-registro;
    }

    & .boton {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      font-size: $letra-3;
      margin-bottom: $espacio-0316 - $defecto-top;
    }

    & .error {
      width: 100%;
      margin: $espacio-0178 0;

      & p {
        text-align: center;
      }
    }

    & .status {
      width: 100%;
      margin: $espacio-0178 0;

      & p {
        text-align: center;
      }
    }
  }
}

// Modal mensaje paymentez
.modal-mensaje-paymentez {
  display: none;
  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }


    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }
  }
}

@media screen and (min-aspect-ratio: 16/10) {
  @import "../../../assets/estilos/dimensiones_16_10.scss";

  .contenedor-stripe {
    height: calcular(7) !important;
  }

  .espaciador {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }
  .titlePago {
    padding-bottom: $espacio-0316 - $defecto-total;
  }
  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }

  .linea-verde {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }
  .nombreMetodoPago {
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .espacioMetodoPago {
    height: $espacio-0316;
  }
  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;

    & p {
      text-align: left !important;
      padding-left: $espacio-0249;
    }

  }
  .cotenedorNombreMetodoPago {
    // height: $espacio-1512;
  }

  .en-construcion {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: $espacio-1512;
    box-sizing: content-box;
    padding-bottom: $espacio-522;
  }
  img {
    height: fit-content;
    width: $ancho-6920;
  }

  .contenedorTransparencia {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  }

  .container-mensaje-pendiente-pago {
    width: $ancho-6920;
    background-color: $azul-pago-pendiente;
    padding-top: $espacio-0249;
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(2.49, false);
  }

  .mensaje-pendiente-pago {
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, true);
  }

  .espacioMetodoPago {
    height: $espacio-0316;
  }
  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  input[type="text"] {
    margin: 8px 0;
    color: $azul-base;
    font-size: $letra-2;
  }

  .prueba {
    margin: 8px 0;
    font-size: $letra-2;
  }

  .monto-pagar {
    min-height: calcular(4);
  }

  .modal-monto-stripe {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }
  }
  .modal-monto-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }
  }
  .modal-monto-cripto {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }
  }

  //  Modal continuar pago
  .modal-pago-continuar {
    top: $item-menu-alto-2621;
    width: $ancho-pagina;
    height: $cuerpo-default-alto;

    & .forma {
      border-radius: calcular(1.026);
      padding: $espacio-267;
      margin-bottom: $item-menu-alto-2621;

      & p {
        white-space: pre-line;
        margin-bottom: $espacio-522 - $defecto-bottom;
        text-align: justify;
      }

      & input {
        border-radius: calcular(1.026);
        padding: $espacio-0178;
        margin-top: calcular(2);
        margin-bottom: calcular(2);
        font-size: $letra-2;
      }

      & .boton {
        width: 100%;
        font-size: $letra-3;
        margin-bottom: $espacio-0316 - $defecto-top;
      }

      & .error {
        margin: $espacio-0178 0;
      }

      & .status {
        margin: $espacio-0178 0;
      }
    }
  }

  // Modal mensaje paymentez
  .modal-mensaje-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }
    }
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  @import "../../../assets/estilos/dimensiones_16_9.scss";

  .contenedor-stripe {
    height: calcular(7) !important;
  }

  .espaciador {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }
  .titlePago {
    padding-bottom: $espacio-0316 - $defecto-total;
  }

  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }

  .linea-verde {
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
  }
  .nombreMetodoPago {
    text-align: center;
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .espacioMetodoPago {
    height: $espacio-0316;
  }
  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;

    & p {
      text-align: left !important;
      padding-left: $espacio-0249;
    }
  }
  .cotenedorNombreMetodoPago {
    // height: $espacio-1512;
  }
  .en-construcion {
    display: flex;
    align-items: center;
    justify-content: center;
    // height: $espacio-1512;
    box-sizing: content-box;
    padding-bottom: $espacio-522;
  }

  img {
    height: fit-content;
    width: $ancho-6920;
  }

  .contenedorTransparencia {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
  }

  .container-mensaje-pendiente-pago {
    width: $ancho-6920;
    background-color: $azul-pago-pendiente;
    padding-top: $espacio-0249;
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(2.49, false);
  }

  .mensaje-pendiente-pago {
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-top: calcularPaddingAfectadoPorInterlineadoTemp(3.16, true);
  }

  .espacioMetodoPago {
    height: $espacio-0316;
  }
  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  input[type="text"] {
    margin: 8px 0;
    color: $azul-base;
    font-size: $letra-2;
  }

  .prueba {
    margin: 8px 0;
    font-size: $letra-2;
  }

  .monto-pagar {
    min-height: calcular(4);
  }

  .modal-monto-stripe {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }

  }
  .modal-monto-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }

  }
  .modal-monto-cripto {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }

  }

  //  Modal continuar pago
  .modal-pago-continuar {
    top: $item-menu-alto-2621;
    width: $ancho-pagina;
    height: $cuerpo-default-alto;

    & .forma {
      border-radius: calcular(1.026);
      padding: $espacio-267;
      margin-bottom: $item-menu-alto-2621;

      & p {
        white-space: pre-line;
        margin-bottom: $espacio-522 - $defecto-bottom;
        text-align: justify;
      }

      & input {
        border-radius: calcular(1.026);
        padding: $espacio-0178;
        margin-top: calcular(2);
        margin-bottom: calcular(2);
        font-size: $letra-2;
      }

      & .boton {
        width: 100%;
        font-size: $letra-3;
        margin-bottom: $espacio-0316 - $defecto-top;
      }

      & .error {
        margin: $espacio-0178 0;
      }

      & .status {
        margin: $espacio-0178 0;
      }
    }
  }

  // Modal mensaje paymentez
  .modal-mensaje-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }
    }
  }
}


