<app-appbar [configuracion]="configuracionAppBar"></app-appbar>
<div class="centrar" *ngIf="!mostrarRespuestaCripto">
  <div class="fondoTransparente contenedorTransparencia">
    <app-lista-vertical [dataLista]="dataLista" class="centrar">
      <div class="espaciador">
        <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
            })
          " class="titlePago">
          {{ "m2v9texto2" | translate }}
        </p>
      </div>
      <div *ngFor="let item of listaMetodoPago">
        <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.TARJETA">
          <p [ngClass]="
                estiloTexto.obtenerEstilosTexto({
                  color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                  enMayusculas: false,
                  tamanoConInterlineado:
                    estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
                })
              " class="nombreMetodoPago">
            {{ item.nombre }}
          </p>
        </div>
        <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ">
          <p [ngClass]="
                estiloTexto.obtenerEstilosTexto({
                  color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                  enMayusculas: false,
                  tamanoConInterlineado:
                    estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                })
              " class="nombreMetodoPago">
            {{ item.nombre }}
          </p>
        </div>
        <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ2">
          <p [ngClass]="
                estiloTexto.obtenerEstilosTexto({
                  color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                  enMayusculas: false,
                  tamanoConInterlineado:
                    estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                })
              " class="nombreMetodoPago">
            {{ item.nombre }}
          </p>
        </div>
        <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">
          <p [ngClass]="
                estiloTexto.obtenerEstilosTexto({
                  color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                  estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                  enMayusculas: false,
                  tamanoConInterlineado:
                    estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                })
              " class="nombreMetodoPago">
            {{ item.nombre }}
          </p>
        </div>
        <div class="iconPago">
          <div class="img-tarjetas"
               *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                item.codigo == codigosCatalogos.TARJETA"
               (tap)="navegarMetodoPagoStripe(item)">
            <div class="texto-accept-cards" *ngIf="item.codigo === codigosCatalogos.TARJETA">
              <p [ngClass]="
                    estiloTexto.obtenerEstilosTexto({
                      color: estiloTexto.colorDelTexto.TEXTONEGRO,
                      estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                    })
                  ">
                {{ "m5v9texto5" | translate }}
              </p>
            </div>
            <img [src]="item.icono" alt="Imagen Método Pago">
          </div>
          <div class="img-tarjetas"
               *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                item.codigo === codigosCatalogos.PAYMENTEZ
              " (tap)="navegarMetodoPagoPaymentez(item)">
            <img [src]="item.icono" alt="Imagen Método Pago">
          </div>
          <div class="img-tarjetas"
               *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                item.codigo === codigosCatalogos.PAYMENTEZ2
              " (tap)="navegarMetodoPagoPaymentez2(item)">
            <img [src]="item.icono" alt="Imagen Método Pago">
          </div>
          <div class="img-tarjetas"
               *ngIf=" item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                item.codigo == codigosCatalogos.CRIPTOMONEDA"
               (tap)="navegarMetodoPagoCripto(item)">
            <div class="texto-accept-cards"
                 *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">
              <p [ngClass]="
                    estiloTexto.obtenerEstilosTexto({
                      color: estiloTexto.colorDelTexto.TEXTONEGRO,
                      estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL
                    })
                  ">
                {{ "m5v9texto9" | translate }}
              </p>
            </div>
            <img [src]="item.icono" alt="Imagen Método Pago">
          </div>
        </div>
        <div class="linea-verde" *ngIf="item.codigo !== metodoPagoBitcoin">
          <app-linea [configuracionLinea]="confLinea"></app-linea>
        </div>
      </div>
    </app-lista-vertical>
  </div>
</div>

<!--Modales de pago Stripe-->
<div (tap)="eventoModalStripe($event.target)" [ngClass]="{
    'modal-monto-stripe': true,
    mostrar: dataModalMontoStripePago.abierto,
    bloqueado: dataModalMontoStripePago.bloqueado
  }">
  <div class="contenido-modal">
    <div class="titulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto8" | translate }}
      </p>
    </div>
    <div class="valor">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        18€
      </p>
    </div>
    <div class="descripcion">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOCELESTE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto10" | translate }}
      </p>
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto11" | translate }}
      </p>
    </div>
    <div class="subtitulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto12" | translate }}
      </p>
    </div>
    <div class="moneda">
      <input
        [id]="idInputCantidadAPagar"
        [ngClass]="obtenerClasesInputCantidadMoneda()"
        currencyMask
        [options]="{
            prefix: '',
            thousands: '.',
            decimal: ',',
            align: 'center',
            precision: 2
          }"
        [(ngModel)]="confMonedaPickerStripe.inputCantidadMoneda.valor.valorFormateado"
        placeholder="0,00">
      <app-moneda-picker *ngIf="confMonedaPickerStripe" [configuracion]="confMonedaPickerStripe"></app-moneda-picker>
    </div>
    <div class="terminos-pago">
      <input
        [(ngModel)]="terminosPagoStripe"
        (change)="checkValueTerminosPagoStripe($event.target)"
        type="checkbox"
      >
      <p>
        {{ 'm13v1texto9' | translate}}
        <span
          class="docLegalCeleste"
          (tap)="irDocumentosLegales()">
          <a> {{'m13v1texto10' | translate }}</a>
        </span>
      </p>
    </div>
    <div class="boton">
      <app-button [botonCompartido]="confBotonMontoPagoStripe"></app-button>
    </div>
    <div
      *ngIf="dataModalMontoStripePago.error"
      [ngClass]="{
          'mensaje-status': true
        }">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_I1
            })
          ">
        {{ dataModalMontoStripePago.errorContenido || "" | translate }}
      </p>
    </div>
  </div>
</div>
<!--Modales de pago Paymentez-->
<div (tap)="eventoModalPaymentez($event.target)" [ngClass]="{
    'modal-monto-paymentez': true,
    mostrar: dataModalMontoPaymentezPago.abierto,
    bloqueado: dataModalMontoPaymentezPago.bloqueado
  }">
  <div class="contenido-modal">
    <div class="titulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto8" | translate }}
      </p>
    </div>
    <div class="valor">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        18€
      </p>
    </div>
    <div class="descripcion">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOCELESTE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto10" | translate }}
      </p>
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto11" | translate }}
      </p>
    </div>
    <div class="subtitulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto12" | translate }}
      </p>
    </div>
    <div class="moneda">
      <input
        [id]="idInputCantidadAPagar"
        [ngClass]="obtenerClasesInputCantidadMoneda()"
        currencyMask
        [options]="{
            prefix: '',
            thousands: '.',
            decimal: ',',
            align: 'center',
            precision: 2
          }"
        [(ngModel)]="confMonedaPickerPaymentez.inputCantidadMoneda.valor.valorFormateado"
        placeholder="0,00">
      <app-moneda-picker
        *ngIf="confMonedaPickerPaymentez"
        [configuracion]="confMonedaPickerPaymentez">
      </app-moneda-picker>
    </div>
    <div class="terminos-pago">
      <input
        [(ngModel)]="terminosPagoPaymentez"
        (change)="checkValueTerminosPagoPaymentez($event.target)"
        type="checkbox"
      >
      <p>
        {{ 'm13v1texto9' | translate}}
        <span
          class="docLegalCeleste"
          (tap)="irDocumentosLegales()">
          <a> {{'m13v1texto10' | translate }}</a>
        </span>
      </p>
    </div>
    <div class="boton">
      <app-button [botonCompartido]="confBotonMontoPagoPaymentez"></app-button>
    </div>
    <div
      *ngIf="dataModalMontoPaymentezPago.error"
      [ngClass]="{
          'mensaje-status': true
        }">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_I1
            })
          ">
        {{ dataModalMontoPaymentezPago.errorContenido || "" | translate }}
      </p>
    </div>
  </div>
</div>

<!--Modales de pago Cripto-->
<div (tap)="eventoModalCripto($event.target)" [ngClass]="{
    'modal-monto-cripto': true,
    mostrar: dataModalMontoCriptoPago.abierto,
    bloqueado: dataModalMontoCriptoPago.bloqueado
  }">
  <div class="contenido-modal">
    <div class="titulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto8" | translate }}
      </p>
    </div>
    <div class="valor">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        18€
      </p>
    </div>
    <div class="descripcion">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOCELESTE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto10" | translate }}
      </p>
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ "m2v9texto11" | translate }}
      </p>
    </div>
    <div class="subtitulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ "m2v9texto12" | translate }}
      </p>
    </div>
    <form [formGroup]="criptoForm">
      <div class="seleccion-cripto">
        <select formControlName="currency2">
          <option value="">{{ 'm14v1texto9' | translate}}/option>
          <option [ngValue]="item" *ngFor="let item of coinPaymentsRates">
            {{ item.name }}
          </option>
        </select>
      </div>
      <div class="moneda">
        <input
          [id]="idInputCantidadAPagar"
          [ngClass]="obtenerClasesInputCantidadMoneda()"
          currencyMask
          [options]="{
            prefix: '',
            thousands: '.',
            decimal: ',',
            align: 'center',
            precision: 2
          }"
          formControlName="cantidad"
          placeholder="0,00">
        <span>€ EUROS</span>
      </div>
    </form>
    <div class="subtitulo" *ngIf="symbolCripto && valorMonedaCripto">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL
            })
          ">
        Valor criptomoneda seleccionada Traducir: {{valorMonedaCripto}} {{symbolCripto}}
      </p>
    </div>
    <div class="terminos-pago">
      <input
        [(ngModel)]="terminosPagoCripto"
        (change)="checkValueTerminosPagoCripto($event.target)"
        type="checkbox"
      >
      <p>
        {{ 'm13v1texto9' | translate}}
        <span
          class="docLegalCeleste"
          (tap)="irDocumentosLegales()">
          <a> {{'m13v1texto10' | translate }}</a>
        </span>
      </p>
    </div>
    <div class="boton">
      <app-button [botonCompartido]="confBotonMontoPagoCripto"></app-button>
    </div>
    <div
      *ngIf="dataModalMontoCriptoPago.error"
      [ngClass]="{
          'mensaje-status': true
        }">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_I1
            })
          ">
        {{ dataModalMontoCriptoPago.errorContenido || "" | translate }}
      </p>
    </div>
  </div>

</div>
<!--Modal mensaje paymentez USD-->
<div [ngClass]="{
    'modal-mensaje-paymentez': true,
    mostrar: dataModalMensajePaymentezPago.abierto,
    bloqueado: dataModalMensajePaymentezPago.bloqueado
  }">
  <div class="contenido-modal">
    <div class="titulo">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          ">
        {{ 'text106'  | translate}}
      </p>
    </div>
    <div class="descripcion">
      <p [ngClass]="
            estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L2_I2
            })
          ">
        {{ mensajePaimentez | translate}}
      </p>
    </div>
  </div>

</div>

<!--Dialogo pago stripe form-->
<app-dialogo-contenido [data]="dataModalStripe">
  <div [formGroup]="pagoForm">
    <app-input [inputCompartido]="inputNombre"></app-input>
    <br/>
    <app-input [inputCompartido]="inputEmail"></app-input>
    <br/>
    <app-input [inputCompartido]="inputTelefono"></app-input>
    <br/>
    <app-input [inputCompartido]="inputDireccion"></app-input>
    <br/>

    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
      (change)="onChangeStripeCardEvent($event)"
    >
    </ngx-stripe-card>
    <div class="error-tarjeta">
      <span>{{ errorMessageTarjeta }}</span>
    </div>
    <br/>

    <div class="centrar">

      <button class="botondefecto" (tap)="pagarStripe()">
        {{ "m2v9texto13" | translate }}
      </button>
    </div>

  </div>

</app-dialogo-contenido>

<!-- Modal del pago continuar stripe -->
<div
  [ngClass]="{
        'modal-pago-continuar': true,
        'mostrar': mostrarModalPagoContinuarStripe
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloTexto.obtenerEstilosTexto({
                    color: estiloTexto.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1
                })">
        {{ descripcionPagoContinuarStripe | translate}}
      </p>
    </div>
    <div class="boton">
      <app-button
        *ngIf="botonContinuarPerfilesStripe"
        [botonCompartido]="botonContinuarPerfilesStripe">
      </app-button>
    </div>
  </div>
</div>
<!-- Modal del pago continuar paymentez -->
<div
  [ngClass]="{
        'modal-pago-continuar': true,
        'mostrar': mostrarModalPagoContinuarPaymentez
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloTexto.obtenerEstilosTexto({
                    color: estiloTexto.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I1
                })">
        {{ descripcionPagoContinuarPaymentez | translate}}
      </p>
    </div>
    <div class="boton">
      <app-button
        *ngIf="botonContinuarPerfilesPaymentez"
        [botonCompartido]="botonContinuarPerfilesPaymentez">
      </app-button>
    </div>
  </div>
</div>


<app-toast #toast [configuracion]="configuracionToast"></app-toast>
<app-lista-selector-tipo-moneda [configuracion]="confMonedaPickerStripe"></app-lista-selector-tipo-moneda>
<app-lista-selector-tipo-moneda [configuracion]="confMonedaPickerPaymentez"></app-lista-selector-tipo-moneda>
<app-dialogo [configuracion]="configDialoPagoPaymentezError"></app-dialogo>
<app-confirmacion-pago-cripto *ngIf="mostrarRespuestaCripto">
</app-confirmacion-pago-cripto>
