@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.publicitario {
    border: calcular(0.6) solid white;
    border-radius: calcular(2);

    & .titulo {
        font-weight: bold;
        text-align: center;
        padding: $espacio-0316 $espacio-267;
        & p {
            word-break: break-word;

        }
    }

    & .descripcion {
        padding: 0 $espacio-178 $espacio-178 $espacio-178;
        text-align: justify;
        text-justify: inter-word;
        & .texto {
            & p {
                word-break: break-word;
                white-space: pre-line;
            }
        }
    }

    & .input {
        width: 100%;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: $espacio-0249;

        & .fecha {
            box-shadow: 0px 0px calcular(0.83) 0 white inset;
            opacity: 0.85;
            width: fit-content;
            height: fit-content;
            border-radius: $interlineado-15;
            padding: calcular(1.5) $interlineado-6;
            box-sizing: border-box;
            background-color: $titulo-fecha;
            color: $blanco;
            font-size: $letra-5;
            line-height: 1;
            font-weight: bold;
        }
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .publicitario {
        border: calcular(0.6) solid white;
        border-radius: calcular(2);

        & .titulo {
            font-weight: bold;
            text-align: center;
            padding: $espacio-0316 $espacio-267;
            & p {
                word-break: break-word;
            }
        }

        & .descripcion {
            padding: 0 $espacio-178 $espacio-178 $espacio-178;
            text-align: justify;
            text-justify: inter-word;
            & .texto {
                & p {
                    word-break: break-word;
                    white-space: pre-line;
                }
            }
        }

        & .input {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0249;

            & .fecha {
                box-shadow: 0px 0px calcular(0.83) 0 white inset;
                opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding: calcular(1.5) $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-5;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .publicitario {
        border: calcular(0.6) solid white;
        border-radius: calcular(2);

        & .titulo {
            font-weight: bold;
            text-align: center;
            padding: $espacio-0316 $espacio-267;
            & p {
                word-break: break-word;
            }
        }

        & .descripcion {
            padding: 0 $espacio-178 $espacio-178 $espacio-178;
            text-align: justify;
            text-justify: inter-word;
            & .texto {
                & p {
                    word-break: break-word;
                    white-space: pre-line;
                }
            }
        }

        & .input {
            width: 100%;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: $espacio-0249;

            & .fecha {
                box-shadow: 0px 0px calcular(0.83) 0 white inset;
                opacity: 0.85;
                width: fit-content;
                height: fit-content;
                border-radius: $interlineado-15;
                padding: calcular(1.5) $interlineado-6;
                box-sizing: border-box;
                background-color: $titulo-fecha;
                color: $blanco;
                font-size: $letra-5;
                line-height: 1;
                font-weight: bold;
            }
        }
    }
}
