<div [ngClass]="obtenerClasesTitulo()">
    <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
        color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
        estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
        enMayusculas: true,
        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_I6 
    })"> 
        {{ configuracion.textoBoton1 | translate }}
    
    </p>

    <p *ngIf="configuracion.textoBoton2" [ngClass]="estiloTexto.obtenerEstilosTexto({ 
        color: estiloTexto.colorDelTexto.TEXTOBLANCO, 
        estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
        enMayusculas: true,
        tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_I6 
    })">
        {{ configuracion.textoBoton2 | translate }}
        
    </p>
</div>
