@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$anchoTitulo: calcular(40.52);
$tituloBorderRadius: calcular(1.03); // 1.03

.titulo{
    width: $anchoTitulo;
    border-radius: $tituloBorderRadius;
    text-align: center;
    padding-top: $espacio-0139 - $defecto-top;
    padding-bottom: $espacio-0139 - $defecto-bottom;
    padding-left: $espacio-0139;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    line-break: anywhere;
}

p {
    line-break: anywhere;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $anchoTitulo: calcular(40.52);
    $tituloBorderRadius: calcular(1.03); // 1.03
    
    .titulo{
        width: $anchoTitulo;
        border-radius: $tituloBorderRadius;
        padding-top: $espacio-0139 - $defecto-top;
        padding-bottom: $espacio-0139 - $defecto-bottom;
        padding-left: $espacio-0139;
        padding-right: $espacio-0139;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $anchoTitulo: calcular(40.52);
    $tituloBorderRadius: calcular(1.03); // 1.03
    
    .titulo{
        width: $anchoTitulo;
        border-radius: $tituloBorderRadius;
        padding-top: $espacio-0139 - $defecto-top;
        padding-bottom: $espacio-0139 - $defecto-bottom;
        padding-left: $espacio-0139;
        padding-right: $espacio-0139;
    }
}