<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa">
        <div class="contenido">
            <!-- worlwide projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(0)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v10texto4' | translate }} <br /> {{ 'm1v10texto5' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- country projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(1)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v10texto6' | translate }} <br /> {{ 'm1v10texto7' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- local projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(2)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v10texto8' | translate }} <br /> {{ 'm1v10texto9' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- NETWORK projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(3)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOGRISDEMO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v10texto10' | translate }} <br /> {{ 'm1v10texto11' | translate }} <br /> {{
                        'm1v10texto12' |
                        translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- news -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(4)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm1v10texto13' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- useful information for projects -->
            <div class="espacio-316">
                <div (tap)="navegarSegunMenu(5)" class="item-menu">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I4
                    })">
                        {{ 'm1v10texto14' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>
<app-dialogo [configuracion]="confDialogoInicial"></app-dialogo>