<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="centrar">
  <div class="fondoTransparente contenedorTransparencia">
    <app-lista-vertical [dataLista]="dataLista" class="centrar">
      <div class="espaciador">
        <p
          [ngClass]="
            estiloTextoServicio.obtenerEstilosTexto({
              color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL
            })
          "
          class="titlePago"
        >
          {{ "m2v9texto2" | translate }}
        </p>
      </div>
      <div *ngFor="let item of listaMetodoPago">
        <div *ngIf="item.codigo === codigosCatalogos.TARJETA">
          <app-metodo-stripe
            [item]="item"
            (navegarAtras)="navegarAtras($event)"
          ></app-metodo-stripe>
        </div>
        <div *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ">
          <app-metodo-paymentez
            [item]="item"
            (navegarAtras)="navegarAtras($event)"
          ></app-metodo-paymentez>
        </div>
        <div *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ2">
          <app-metodo-paymentez
            [item]="item"
            (navegarAtras)="navegarAtras($event)"
          ></app-metodo-paymentez>
        </div>
        <!--        <div *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">-->
        <!--          <app-metodo-cripto [item]="item"></app-metodo-cripto>-->
        <!--        </div>-->
        <div class="linea-verde" *ngIf="item.codigo !== metodoPagoCriptomoneda">
          <app-linea [configuracionLinea]="confLinea"></app-linea>
        </div>
      </div>
    </app-lista-vertical>
  </div>
</div>
