@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$ancho-album-perfil: calcular(28.39);
$ancho-portada: $portada-gaze-ancho-cortada;
$ancho-album-general: calcular(43.06);
$descripcion-perfil-alto-minimo: calcular(61.65) - ($espacio-0316 * 2);

$perfil-creado-ancho: $ancho-pagina;
$perfil-creado-padding: calcular(6.58) - calcular(2.67);
$perfil-creado-margin-top: calcular(2.06);
$perfil-creado-margin-bottom: calcular(5.22);

$perfil-normal-explicacion-alto: calcular(58.86);
$perfil-grupo-explicacion-alto: calcular(115.65);

$botones-estado-padding: calcular(3.91);

/// espacios
.espacio-0249 {
  width: 100%;
  height: $espacio-0249;
}
.espacio-0522 {
  width: 100%;
  height: $espacio-522;
}

.titulo-txt {
  color: #a9ffea !important;
}

.cuerpo {
  // background: $tranparencia-base-completo;
  position: relative;
  padding: 0 !important;
  box-sizing: border-box;
  overflow: hidden;
}

.cuerpo-error {
  height: 100vh !important;
}

.cuerpo .capa {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
  box-sizing: border-box;

  z-index: -1;
  opacity: 0;
}
.cuerpo .capa.mostrar {
  z-index: 1;
  opacity: 1;
}

.cuerpo .capa.principal {
  overflow: hidden;

  & .contenedor-contactos {
    // background: black;
    display: flex;
    flex: 1;
    overflow: hidden;
  }

  &.lista-detalle {
    display: flex;
    flex-flow: column;
  }
}
.cuerpo .capa.principal.mostrar {
  overflow-y: auto !important;
}

.cuerpo.mostrar {
  height: 100vh !important;
}
.cuerpo .capa.loader.mostrar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 26.21vw - 0.89vw) !important;
}

.cuerpo .capa.errordiv.mostrar {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.cuerpo .capa.errordiv div {
  width: 100%;
  text-align: center;
  color: #ffffff !important ;
}
.cuerpo .capa.errordiv .botonReintentar {
  margin-top: calcular(3);
  font-size: $letra-2;
  line-height: 1;
  padding: calcular(1) calcular(2);
}

.fotos {
  width: 100%;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;

  margin-bottom: $espacio-178 - $defecto-top;
}

.nombreAlbums {
  width: 100%;
  margin-bottom: $espacio-0316;

  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.nombreAlbums.perfilCreado {
  margin-bottom: 0;
}

.nombreAlbums .a {
  width: $ancho-album-perfil;
}

.nombreAlbums .b {
  width: $ancho-portada;
}

.nombreAlbums .c {
  height: 100%;
  width: $ancho-album-general;
}

.nombreAlbums .caja p {
  position: relative;
  width: 100%;
  margin: 0;
  text-align: center;
  height: fit-content;
  display: block;
}

// Descripcion perfil
.descripcion_perfil {
  text-align: center;
  width: 100%;
  min-height: $descripcion-perfil-alto-minimo;
  margin-bottom: $espacio-0316;

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

// Inputs
.inputs_formularios {
  display: none;
  width: 100%;
  display: none;
}

.inputs_formularios.mostrar {
  display: block;
}

.inputs_formularios .input {
  width: 100%;
  margin-bottom: $espacio-0249;
}

.inputs_formularios .button {
  display: flex;
  align-items: center;
  justify-content: center;
}

// Info de pago
.perfilCreado {
  display: none;
  width: 100%;
  height: auto;

  padding: 0 $perfil-creado-padding;
  margin: 0 0 $perfil-creado-margin-bottom 0;

  box-sizing: border-box;
}
.perfilCreado.mostrar {
  display: block;
}

.perfilCreado .contenido {
  width: 100%;
  height: auto;

  box-sizing: border-box;
}

.perfilCreado .contenido.grupoProfile {
  margin-top: $perfil-creado-margin-bottom;
}

.perfilCreado .contenido .explicacion {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.perfilCreado .contenido.normalProfile .explicacion {
  min-height: $perfil-normal-explicacion-alto;
}

.perfilCreado .contenido.grupoProfile .explicacion {
  min-height: $perfil-grupo-explicacion-alto;
}

.perfilCreado .contenido .explicacion p {
  width: 100%;
  text-align: center;
  padding-top: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: true);
  padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
}

.perfilCreado .contenido .explicacion div {
  width: 100%;
  text-align: center;
}

.perfilCreado .contenido.normalProfile .explicacion div {
  padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
}

.perfilCreado .contenido.normalProfile p:last-child {
  width: 100%;
  text-align: center;
}

.perfilCreado .contenido.grupoProfile .explicacion p {
  padding-top: 0;
}

.perfilCreado .contenido.grupoProfile .explicacion div {
  padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(15.22, $arriba: false);
}

.perfilCreado .contenido.grupoProfile .explicacion p:last-child {
  padding-top: 0;
  padding-bottom: 0;
  height: fit-content;
}

.perfilCreado .contenido .modale {
  width: 100%;
  min-height: 2vw;
  margin-bottom: $espacio-522;

  display: flex;
  align-items: center;
  justify-content: center;
}

::ng-deep .titulos {
  padding-left: $espacio-0658 - $espacio-267;
}

p {
  white-space: unset;
}

::ng-deep .content-titulos {
  padding-top: $espacio-522 - $defecto-top;
  padding-bottom: $espacio-0178 - $defecto-bottom;
  padding-left: $espacio-0658 - $espacio-267;
}

.paddin-actualizado {
  // padding-bottom: 4.98vw;
}

::ng-deep .subtitulo-txt-1 {
  padding-top: $espacio-0178 - $defecto-total;
}
::ng-deep .subtitulo-txt {
  padding-top: $espacio-0178 - $defecto-total;
}

.subtitulo-pd {
  padding-bottom: $espacio-0178 - $defecto-bottom;
}

.titulo-contacts {
  padding-top: $espacio-522;
  padding-bottom: $espacio-0249;
}

.actulaizar-perfil-txt {
  padding-left: $espacio-0658 - $espacio-267;
  padding-bottom: $espacio-0178 - $defecto-bottom;
}

.titulo-rectangulo {
  padding-left: $espacio-0139;
}

.btn-contactos {
  // padding-top: $espacio-522 - $espacio-0249;
  text-align: center;
  padding-top: $espacio-522 - $defecto-bottom;
}

.cuadro-pensamiento {
  padding-left: $espacio-0658 - $espacio-267;
  padding-right: $espacio-0658 - $espacio-267;
}

.titulo-no-contactos {
  padding-top: $espacio-0249;
}

.width-item {
  width: 100%;
  display: flex;
  justify-content: center;
  &.pensamiento {
    display: block;
  }
  & .titulo-resumen-perfil {
    padding-bottom: $espacio-0249;
  }
}

.item-botones {
  padding-top: $espacio-522;
}

// ---------- estilos noticias --------

.titulo-noticias {
  padding-top: $espacio-522;
}

.proyectos-contenedor {
  flex-flow: row;
  display: flex;
  flex-wrap: wrap;
}
.noticias-contenedor {
  flex-flow: row;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  height: fit-content;
  max-height: 100%;
  overflow-y: scroll;
  // flex: 1;
}
// .resumen-noticias{
//   justify-content: flex-start;
//     align-items: center;
//     // height: $cuerpo-default-alto ;//calc(31.90vw * 3 + 1.78vw);
//     width: calc(43.3vw * 2 + 1.78vw);
//     // height: calc(100vh - 59.92vh);
//     max-height: calc(100vh - 59.92vh);
//     height: fit-content;
//   // background-color: darkmagenta;

// }
.item-contedor {
  padding-right: $espacio-071;
}

.noticias {
  display: flex;
  flex: 1;
  flex-flow: column;
}
.contenedor-item-noticia {
  padding-right: $espacio-071;
}

.item-noticia {
  margin-right: $espacio-178;
  margin-bottom: $espacio-178;

  &.sin-margin-derecha {
    margin-right: 0;
  }
  &.contenedor-item-noticia {
    padding-right: 0;
  }
}

.no-more-news {
  text-align: center;
  margin-top: $espacio-522 - $espacio-178;
  width: 100%;
}

.contenedor-principal-noticias {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.lista-proyectos-padre {
  /* position: absolute; */
  display: flex;
  justify-content: center;
}

.resumen {
  display: flex;
}

@media screen and (min-aspect-ratio: "16/10") {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  $ancho-album-perfil: calcular(28.39);
  $ancho-portada: $portada-gaze-ancho-cortada;
  $ancho-album-general: calcular(43.06);
  $descripcion-perfil-alto-minimo: calcular(61.65) - ($espacio-0316 * 2);

  $perfil-creado-ancho: $ancho-pagina;
  $perfil-creado-padding: calcular(6.58) - calcular(2.67);
  $perfil-creado-margin-top: calcular(2.06);
  $perfil-creado-margin-bottom: calcular(5.22);

  $perfil-normal-explicacion-alto: calcular(58.86);
  $perfil-grupo-explicacion-alto: calcular(115.65);

  $botones-estado-padding: calcular(3.91);

  /// espacios
  .espacio-0249 {
    width: 100%;
    height: $espacio-0249;
  }
  .espacio-0522 {
    width: 100%;
    height: $espacio-522;
  }

  .titulo-txt {
    color: #a9ffea !important;
  }

  .cuerpo {
    // background: $tranparencia-base-completo;
    position: relative;
    padding: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
  }

  .cuerpo-error {
    height: 100vh !important;
  }

  .cuerpo .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
    box-sizing: border-box;

    z-index: -1;
    opacity: 0;
  }
  .cuerpo .capa.mostrar {
    z-index: 1;
    opacity: 1;
  }

  .cuerpo .capa.principal {
    overflow: hidden;

    & .contenedor-contactos {
      // background: black;
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    &.lista-detalle {
      display: flex;
      flex-flow: column;
    }
  }
  .cuerpo .capa.principal.mostrar {
    overflow-y: auto !important;
  }

  .cuerpo.mostrar {
    height: 100vh !important;
  }
  .cuerpo .capa.loader.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 26.21vw - 0.89vw) !important;
  }

  .cuerpo .capa.errordiv.mostrar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .cuerpo .capa.errordiv div {
    width: 100%;
    text-align: center;
    color: #ffffff !important ;
  }
  .cuerpo .capa.errordiv .botonReintentar {
    margin-top: calcular(3);
    font-size: $letra-2;
    line-height: 1;
    padding: calcular(1) calcular(2);
  }

  .fotos {
    width: 100%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    margin-bottom: $espacio-178 - $defecto-top;
  }

  .nombreAlbums {
    width: 100%;
    margin-bottom: $espacio-0316;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .nombreAlbums.perfilCreado {
    margin-bottom: 0;
  }

  .nombreAlbums .a {
    width: $ancho-album-perfil;
  }

  .nombreAlbums .b {
    width: $ancho-portada;
  }

  .nombreAlbums .c {
    height: 100%;
    width: $ancho-album-general;
  }

  .nombreAlbums .caja p {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: fit-content;
    display: block;
  }

  // Descripcion perfil
  .descripcion_perfil {
    text-align: center;
    width: 100%;
    min-height: $descripcion-perfil-alto-minimo;
    margin-bottom: $espacio-0316;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  // Inputs
  .inputs_formularios {
    display: none;
    width: 100%;
    display: none;
  }

  .inputs_formularios.mostrar {
    display: block;
  }

  .inputs_formularios .input {
    width: 100%;
    margin-bottom: $espacio-0249;
  }

  .inputs_formularios .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Info de pago
  .perfilCreado {
    display: none;
    width: 100%;
    height: auto;

    padding: 0 $perfil-creado-padding;
    margin: 0 0 $perfil-creado-margin-bottom 0;

    box-sizing: border-box;
  }
  .perfilCreado.mostrar {
    display: block;
  }

  .perfilCreado .contenido {
    width: 100%;
    height: auto;

    box-sizing: border-box;
  }

  .perfilCreado .contenido.grupoProfile {
    margin-top: $perfil-creado-margin-bottom;
  }

  .perfilCreado .contenido .explicacion {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .perfilCreado .contenido.normalProfile .explicacion {
    min-height: $perfil-normal-explicacion-alto;
  }

  .perfilCreado .contenido.grupoProfile .explicacion {
    min-height: $perfil-grupo-explicacion-alto;
  }

  .perfilCreado .contenido .explicacion p {
    width: 100%;
    text-align: center;
    padding-top: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: true);
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
  }

  .perfilCreado .contenido .explicacion div {
    width: 100%;
    text-align: center;
  }

  .perfilCreado .contenido.normalProfile .explicacion div {
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
  }

  .perfilCreado .contenido.normalProfile p:last-child {
    width: 100%;
    text-align: center;
  }

  .perfilCreado .contenido.grupoProfile .explicacion p {
    padding-top: 0;
  }

  .perfilCreado .contenido.grupoProfile .explicacion div {
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(15.22, $arriba: false);
  }

  .perfilCreado .contenido.grupoProfile .explicacion p:last-child {
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
  }

  .perfilCreado .contenido .modale {
    width: 100%;
    min-height: 2vw;
    margin-bottom: $espacio-522;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .titulos {
    padding-left: $espacio-0658 - $espacio-267;
  }

  p {
    white-space: unset;
  }

  ::ng-deep .content-titulos {
    padding-top: $espacio-522 - $defecto-top;
    padding-bottom: $espacio-0178 - $defecto-bottom;
    padding-left: $espacio-0658 - $espacio-267;
  }

  .paddin-actualizado {
    // padding-bottom: 4.98vw;
  }

  ::ng-deep .subtitulo-txt-1 {
    padding-top: $espacio-0178 - $defecto-total;
  }
  ::ng-deep .subtitulo-txt {
    padding-top: $espacio-0178 - $defecto-total;
  }

  .subtitulo-pd {
    padding-bottom: $espacio-0178 - $defecto-bottom;
  }

  .titulo-contacts {
    padding-top: $espacio-522;
    padding-bottom: $espacio-0249;
  }

  .actulaizar-perfil-txt {
    padding-left: $espacio-0658 - $espacio-267;
    padding-bottom: $espacio-0178 - $defecto-bottom;
  }

  .titulo-rectangulo {
    padding-left: $espacio-0139;
  }

  .btn-contactos {
    // padding-top: $espacio-522 - $espacio-0249;
    text-align: center;
    padding-top: $espacio-522 - $defecto-bottom;
  }

  .cuadro-pensamiento {
    padding-left: $espacio-0658 - $espacio-267;
    padding-right: $espacio-0658 - $espacio-267;
  }

  .titulo-no-contactos {
    padding-top: $espacio-0249;
  }

  .width-item {
    width: 100%;
    display: flex;
    justify-content: center;
    &.pensamiento {
      display: block;
    }
    & .titulo-resumen-perfil {
      padding-bottom: $espacio-0249;
    }
  }

  .item-botones {
    padding-top: $espacio-522;
  }

  // ---------- estilos noticias --------

  .titulo-noticias {
    padding-top: $espacio-522;
  }

  .proyectos-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
  }
  .noticias-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
    max-height: 100%;
    overflow-y: scroll;
    // flex: 1;
  }
  // .resumen-noticias{
  //   justify-content: flex-start;
  //     align-items: center;
  //     // height: $cuerpo-default-alto ;//calc(31.90vw * 3 + 1.78vw);
  //     width: calc(43.3vw * 2 + 1.78vw);
  //     // height: calc(100vh - 59.92vh);
  //     max-height: calc(100vh - 59.92vh);
  //     height: fit-content;
  //   // background-color: darkmagenta;

  // }
  .item-contedor {
    padding-right: $espacio-071;
  }

  .noticias {
    display: flex;
    flex: 1;
    flex-flow: column;
  }
  .contenedor-item-noticia {
    padding-right: $espacio-071;
  }

  .item-noticia {
    margin-right: $espacio-178;
    margin-bottom: $espacio-178;

    &.sin-margin-derecha {
      margin-right: 0;
    }
    &.contenedor-item-noticia {
      padding-right: 0;
    }
  }

  .no-more-news {
    text-align: center;
    margin-top: $espacio-522 - $espacio-178;
    width: 100%;
  }

  .contenedor-principal-noticias {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .lista-proyectos-padre {
    /* position: absolute; */
    display: flex;
    justify-content: center;
  }

  .resumen {
    display: flex;
  }
}

@media screen and (min-aspect-ratio: "16/9") {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  $ancho-album-perfil: calcular(28.39);
  $ancho-portada: $portada-gaze-ancho-cortada;
  $ancho-album-general: calcular(43.06);
  $descripcion-perfil-alto-minimo: calcular(61.65) - ($espacio-0316 * 2);

  $perfil-creado-ancho: $ancho-pagina;
  $perfil-creado-padding: calcular(6.58) - calcular(2.67);
  $perfil-creado-margin-top: calcular(2.06);
  $perfil-creado-margin-bottom: calcular(5.22);

  $perfil-normal-explicacion-alto: calcular(58.86);
  $perfil-grupo-explicacion-alto: calcular(115.65);

  $botones-estado-padding: calcular(3.91);

  /// espacios
  .espacio-0249 {
    width: 100%;
    height: $espacio-0249;
  }
  .espacio-0522 {
    width: 100%;
    height: $espacio-522;
  }

  .titulo-txt {
    color: #a9ffea !important;
  }

  .cuerpo {
    // background: $tranparencia-base-completo;
    position: relative;
    padding: 0 !important;
    box-sizing: border-box;
    overflow: hidden;
  }

  .cuerpo-error {
    height: 100vh !important;
  }

  .cuerpo .capa {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;
    box-sizing: border-box;

    z-index: -1;
    opacity: 0;
  }
  .cuerpo .capa.mostrar {
    z-index: 1;
    opacity: 1;
  }

  .cuerpo .capa.principal {
    overflow: hidden;

    & .contenedor-contactos {
      // background: black;
      display: flex;
      flex: 1;
      overflow: hidden;
    }

    &.lista-detalle {
      display: flex;
      flex-flow: column;
    }
  }
  .cuerpo .capa.principal.mostrar {
    overflow-y: auto !important;
  }

  .cuerpo.mostrar {
    height: 100vh !important;
  }
  .cuerpo .capa.loader.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 26.21vw - 0.89vw) !important;
  }

  .cuerpo .capa.errordiv.mostrar {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .cuerpo .capa.errordiv div {
    width: 100%;
    text-align: center;
    color: #ffffff !important ;
  }
  .cuerpo .capa.errordiv .botonReintentar {
    margin-top: calcular(3);
    font-size: $letra-2;
    line-height: 1;
    padding: calcular(1) calcular(2);
  }

  .fotos {
    width: 100%;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

    margin-bottom: $espacio-178 - $defecto-top;
  }

  .nombreAlbums {
    width: 100%;
    margin-bottom: $espacio-0316;

    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
  }
  .nombreAlbums.perfilCreado {
    margin-bottom: 0;
  }

  .nombreAlbums .a {
    width: $ancho-album-perfil;
  }

  .nombreAlbums .b {
    width: $ancho-portada;
  }

  .nombreAlbums .c {
    height: 100%;
    width: $ancho-album-general;
  }

  .nombreAlbums .caja p {
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
    height: fit-content;
    display: block;
  }

  // Descripcion perfil
  .descripcion_perfil {
    text-align: center;
    width: 100%;
    min-height: $descripcion-perfil-alto-minimo;
    margin-bottom: $espacio-0316;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  // Inputs
  .inputs_formularios {
    display: none;
    width: 100%;
    display: none;
  }

  .inputs_formularios.mostrar {
    display: block;
  }

  .inputs_formularios .input {
    width: 100%;
    margin-bottom: $espacio-0249;
  }

  .inputs_formularios .button {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  // Info de pago
  .perfilCreado {
    display: none;
    width: 100%;
    height: auto;

    padding: 0 $perfil-creado-padding;
    margin: 0 0 $perfil-creado-margin-bottom 0;

    box-sizing: border-box;
  }
  .perfilCreado.mostrar {
    display: block;
  }

  .perfilCreado .contenido {
    width: 100%;
    height: auto;

    box-sizing: border-box;
  }

  .perfilCreado .contenido.grupoProfile {
    margin-top: $perfil-creado-margin-bottom;
  }

  .perfilCreado .contenido .explicacion {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }

  .perfilCreado .contenido.normalProfile .explicacion {
    min-height: $perfil-normal-explicacion-alto;
  }

  .perfilCreado .contenido.grupoProfile .explicacion {
    min-height: $perfil-grupo-explicacion-alto;
  }

  .perfilCreado .contenido .explicacion p {
    width: 100%;
    text-align: center;
    padding-top: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: true);
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
  }

  .perfilCreado .contenido .explicacion div {
    width: 100%;
    text-align: center;
  }

  .perfilCreado .contenido.normalProfile .explicacion div {
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(5.22, $arriba: false);
  }

  .perfilCreado .contenido.normalProfile p:last-child {
    width: 100%;
    text-align: center;
  }

  .perfilCreado .contenido.grupoProfile .explicacion p {
    padding-top: 0;
  }

  .perfilCreado .contenido.grupoProfile .explicacion div {
    padding-bottom: calcularPaddingAfectadoPorInterlineadoTemp(15.22, $arriba: false);
  }

  .perfilCreado .contenido.grupoProfile .explicacion p:last-child {
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
  }

  .perfilCreado .contenido .modale {
    width: 100%;
    min-height: 2vw;
    margin-bottom: $espacio-522;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  ::ng-deep .titulos {
    padding-left: $espacio-0658 - $espacio-267;
  }

  p {
    white-space: unset;
  }

  ::ng-deep .content-titulos {
    padding-top: $espacio-522 - $defecto-top;
    padding-bottom: $espacio-0178 - $defecto-bottom;
    padding-left: $espacio-0658 - $espacio-267;
  }

  .paddin-actualizado {
    // padding-bottom: 4.98vw;
  }

  ::ng-deep .subtitulo-txt-1 {
    padding-top: $espacio-0178 - $defecto-total;
  }
  ::ng-deep .subtitulo-txt {
    padding-top: $espacio-0178 - $defecto-total;
  }

  .subtitulo-pd {
    padding-bottom: $espacio-0178 - $defecto-bottom;
  }

  .titulo-contacts {
    padding-top: $espacio-522;
    padding-bottom: $espacio-0249;
  }

  .actulaizar-perfil-txt {
    padding-left: $espacio-0658 - $espacio-267;
    padding-bottom: $espacio-0178 - $defecto-bottom;
  }

  .titulo-rectangulo {
    padding-left: $espacio-0139;
  }

  .btn-contactos {
    // padding-top: $espacio-522 - $espacio-0249;
    text-align: center;
    padding-top: $espacio-522 - $defecto-bottom;
  }

  .cuadro-pensamiento {
    padding-left: $espacio-0658 - $espacio-267;
    padding-right: $espacio-0658 - $espacio-267;
  }

  .titulo-no-contactos {
    padding-top: $espacio-0249;
  }

  .width-item {
    width: 100%;
    display: flex;
    justify-content: center;
    &.pensamiento {
      display: block;
    }
    & .titulo-resumen-perfil {
      padding-bottom: $espacio-0249;
    }
  }

  .item-botones {
    padding-top: $espacio-522;
  }

  // ---------- estilos noticias --------

  .titulo-noticias {
    padding-top: $espacio-522;
  }

  .proyectos-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
  }
  .noticias-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
    max-height: 100%;
    overflow-y: scroll;
    // flex: 1;
  }
  // .resumen-noticias{
  //   justify-content: flex-start;
  //     align-items: center;
  //     // height: $cuerpo-default-alto ;//calc(31.90vw * 3 + 1.78vw);
  //     width: calc(43.3vw * 2 + 1.78vw);
  //     // height: calc(100vh - 59.92vh);
  //     max-height: calc(100vh - 59.92vh);
  //     height: fit-content;
  //   // background-color: darkmagenta;

  // }
  .item-contedor {
    padding-right: $espacio-071;
  }

  .noticias {
    display: flex;
    flex: 1;
    flex-flow: column;
  }
  .contenedor-item-noticia {
    padding-right: $espacio-071;
  }

  .item-noticia {
    margin-right: $espacio-178;
    margin-bottom: $espacio-178;

    &.sin-margin-derecha {
      margin-right: 0;
    }
    &.contenedor-item-noticia {
      padding-right: 0;
    }
  }

  .no-more-news {
    text-align: center;
    margin-top: $espacio-522 - $espacio-178;
    width: 100%;
  }

  .contenedor-principal-noticias {
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .lista-proyectos-padre {
    /* position: absolute; */
    display: flex;
    justify-content: center;
  }

  .resumen {
    display: flex;
  }
}
