@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$altura-modal: calcular(42);

.contenedorPrincipal {
    border: $interlineado-14 solid #000000;
    border-radius: $interlineado-13;
    padding-top: $espacio-267;
    padding-left: $interlineado-2;
    padding-right: $interlineado-2;
    padding-bottom: $espacio-267;
    background-color: white;
}

.fondoModal {
    background-color: rgba(0, 0, 0, 0.6);
}

// Modal
.modal {
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    z-index: 900;
    width: $ancho-pagina;
    height: $altura-pagina;

}
.modal.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.modal.mostrar-libre {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    width: $ancho-cuadro-dialogo !important;
    height: $altura-modal;
    top: calc(50% - #{math.div($altura-modal, 2)});
    left:  calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});

}
.mostrar-info-demo{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute !important;
    width: $espacio-6388 !important;
    height: $altura-modal;
    top: calc(50% - #{math.div($altura-modal, 2)});
    left:  calc(50% - #{math.div($espacio-6388, 2)});
}

.contenedorDescripcion {
    padding-top: $espacio-0316;
    padding-bottom: $espacio-0316;
    padding-left: $interlineado-6;
    padding-right: $interlineado-6;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorDescripcionDemo {
    padding-top: $espacio-0316;
    padding-bottom: $espacio-0316;
    padding-left: $interlineado-6;
    padding-right: $interlineado-6;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dimensionesConfirmacion {
    width: $espacio-5664;
    box-sizing: border-box;
}

.dimensionesMultipleAccion {
    width: $espacio-6238;
    box-sizing: border-box;
}



.dimensionesMultipleAccionHorizontal {
    width: $espacio-5360;
    padding-top: 0 !important;
}

.dimensionesMultipleAccionDemo {
    width: $espacio-6238;
    box-sizing: border-box;
}



.dimensionesMultipleAccionHorizontalDemo {
    width: $espacio-5360;
    padding-top: 0 !important;
}

.dimensionDescripcionConfirmacion {
    font-size: $letra-4;
    //line-height: $interlineado-0178;
    height: $espacio-1981;
    box-sizing: border-box;
}

.dimensionDescripcionVertical{
    font-size: $letra-3;
    // line-height: $interlineado-2;
    // height: $espacio-1981;
    box-sizing: border-box;
    padding-top: $espacio-178 - $defecto-top;
    padding-bottom: $espacio-178 - $defecto-bottom;

}


.info-vertical.contenedorPrincipal {
    width: calcular(63.88);
    box-sizing: border-box;
    position: absolute;
    box-sizing: border-box;
    
    padding-top: $espacio-0316;
    padding-left: $espacio-178;
    padding-right: $espacio-178;
    padding-bottom: $espacio-0316;
    

}


.info-vertical-demo.contenedorPrincipal {

    width: calcular(63.88);
    box-sizing: border-box;
    position: absolute;
    box-sizing: border-box;
    
    padding-top: $espacio-0316;
    padding-left: $espacio-178;
    padding-right: $espacio-178;
    padding-bottom: $espacio-0316;
    

}


 
.mostrar-info-vertical.modal.mostrar-libre {
    transform:  translateX(-50%) translateY(-50%) rotate(-90deg);
    width: $ancho-pagina;
    left: calcular(11);
    top: calcular(50);
    justify-content: flex-start;
}

.mostrar-info-vertical-demo.modal.mostrar-libre {   
    width: $ancho-pagina !important;
    height: 100%;
    background-color: $tranparencia-base;
    top: 0;
    left: 0;
}

.dimensionDescripcionMultipleAccion {
    font-size: $letra-4;
    //line-height: $interlineado-0178;
    height: $espacio-1726;
    box-sizing: border-box;
}

.letraDescripcion {
    font-weight: bold;
    text-align: center;
    color: $azul-base;
    @include fuenteConInterlineado($letra-3, $interlineado-2);
}

.letraDescripcionDemo {
    font-weight: bold;
    text-align: center;
    color: $azul-base;
    line-height: $interlineado-2;
}

.contenedorBotonesConfirmacion {
    padding-top: $interlineado-8;
    display: flex;
    justify-content: space-between;
}

.contenedorBotonesMultipleAccion {
    padding-top: $interlineado-8;
    display: flex;
    justify-content: center;
}

.contenedorBotonesMultipleAccionHorizontal {
    padding-top: $interlineado-8;
    display: flex;
    justify-content: center;
}

.contenedorBotonesMultipleAccionHorizontalInformacion {
    display: flex;
    justify-content: center;
    margin-bottom: $espacio-267;
    &.noMargen {
        margin-bottom: 0;
    }
    & .descripcion-accion {
        box-sizing: border-box;
        padding-top: $espacio-178 - $defecto-bottom;
        padding-bottom: $espacio-178 - $defecto-bottom;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
        display: flex;
        align-items: center;
        justify-content: center;
        width: $ancho-descripcion-dialogo;
        & p{
            text-align: center;
            white-space: pre-line;
        }
    }
    & .boton-accion {
        padding-left: $espacio-178;
        width: $espacio-1310;
        height: $espacio-1310; 
        cursor: pointer;
    }   
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $altura-modal: calcular(42);

    .contenedorPrincipal {
        border: $interlineado-14 solid #000000;
        border-radius: $interlineado-13;
        padding-top: $espacio-267;
        padding-left: $interlineado-2;
        padding-right: $interlineado-2;
        padding-bottom: $espacio-267;
    }

    .modal {
        width: $ancho-pagina;
        height: $altura-pagina;
    }
    
    .modal.mostrar-libre {
        width: $ancho-cuadro-dialogo !important;
        height: $altura-modal;
        top: calc(50% - #{math.div($altura-modal, 2)});
        left:  calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});
    }

    .mostrar-info-demo{
        width: $espacio-6388 !important;
        height: $altura-modal;
        top: calc(50% - #{math.div($altura-modal, 2)});
        left:  calc(50% - #{math.div($espacio-6388, 2)});
    }

    .contenedorDescripcion {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .contenedorDescripcionDemo {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .dimensionesConfirmacion {
        width: $espacio-5664;
    }

    .dimensionesMultipleAccion {
        width: $espacio-6238;
    }

    .dimensionesMultipleAccionHorizontal {
        width: $espacio-5360;
    }

    .dimensionesMultipleAccionDemo {
        width: $espacio-6238;
    }

    .dimensionesMultipleAccionHorizontalDemo {
        width: $espacio-5360;
    }

    .dimensionDescripcionConfirmacion {
        font-size: $letra-4;
        height: $espacio-1981;
    }

    .dimensionDescripcionVertical{
        font-size: $letra-3;
        padding-top: $espacio-178 - $defecto-top;
        padding-bottom: $espacio-178 - $defecto-bottom;
    }

    .info-vertical.contenedorPrincipal {
        width: calcular(63.88);
        padding-top: $espacio-0316;
        padding-left: $espacio-178;
        padding-right: $espacio-178;
        padding-bottom: $espacio-0316;
    }


    .info-vertical-demo.contenedorPrincipal {
        width: calcular(63.88);
        padding-top: $espacio-0316;
        padding-left: $espacio-178;
        padding-right: $espacio-178;
        padding-bottom: $espacio-0316;
    }

    .mostrar-info-vertical.modal.mostrar-libre {
        width: $ancho-pagina;
        left: calcular(11);
        top: calcular(50);
    }

    .mostrar-info-vertical-demo.modal.mostrar-libre {
        width: $ancho-pagina;
    }

    .dimensionDescripcionMultipleAccion {
        font-size: $letra-4;
        height: $espacio-1726;
    }

    .letraDescripcion {
        @include fuenteConInterlineado($letra-3, $interlineado-2);
    }

    .letraDescripcionDemo {
        line-height: $interlineado-2;
    }

    .contenedorBotonesConfirmacion {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccion {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccionHorizontal {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccionHorizontalInformacion {
        margin-bottom: $espacio-267;

        & .descripcion-accion {
            padding-top: $espacio-178 - $defecto-bottom;
            padding-bottom: $espacio-178 - $defecto-bottom;
            padding-left: $interlineado-6;
            padding-right: $interlineado-6;
            background-color: $input-fondo-registro;
            border-radius: $interlineado-15;
            width: $ancho-descripcion-dialogo;
        }

        & .boton-accion {
            padding-left: $espacio-178;
            width: $espacio-1310;
            height: $espacio-1310;
        }   
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $altura-modal: calcular(42);

    .contenedorPrincipal {
        border: $interlineado-14 solid #000000;
        border-radius: $interlineado-13;
        padding-top: $espacio-267;
        padding-left: $interlineado-2;
        padding-right: $interlineado-2;
        padding-bottom: $espacio-267;
    }

    .modal {
        width: $ancho-pagina;
        height: $altura-pagina;
    }
    
    .modal.mostrar-libre {
        width: $ancho-cuadro-dialogo !important;
        height: $altura-modal;
        top: calc(50% - #{math.div($altura-modal, 2)});
        left:  calc(50% - #{math.div($ancho-cuadro-dialogo, 2)});
    }

    .mostrar-info-demo{
        width: $espacio-6388 !important;
        height: $altura-modal;
        top: calc(50% - #{math.div($altura-modal, 2)});
        left:  calc(50% - #{math.div($espacio-6388, 2)});
    }

    .contenedorDescripcion {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .contenedorDescripcionDemo {
        padding-top: $espacio-0316;
        padding-bottom: $espacio-0316;
        padding-left: $interlineado-6;
        padding-right: $interlineado-6;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .dimensionesConfirmacion {
        width: $espacio-5664;
    }

    .dimensionesMultipleAccion {
        width: $espacio-6238;
    }

    .dimensionesMultipleAccionHorizontal {
        width: $espacio-5360;
    }

    .dimensionesMultipleAccionDemo {
        width: $espacio-6238;
    }

    .dimensionesMultipleAccionHorizontalDemo {
        width: $espacio-5360;
    }

    .dimensionDescripcionConfirmacion {
        font-size: $letra-4;
        height: $espacio-1981;
    }

    .dimensionDescripcionVertical{
        font-size: $letra-3;
        padding-top: $espacio-178 - $defecto-top;
        padding-bottom: $espacio-178 - $defecto-bottom;
    }

    .info-vertical.contenedorPrincipal {
        width: calcular(63.88);
        padding-top: $espacio-0316;
        padding-left: $espacio-178;
        padding-right: $espacio-178;
        padding-bottom: $espacio-0316;
    }


    .info-vertical-demo.contenedorPrincipal {
        width: calcular(63.88);
        padding-top: $espacio-0316;
        padding-left: $espacio-178;
        padding-right: $espacio-178;
        padding-bottom: $espacio-0316;
    }

    .mostrar-info-vertical.modal.mostrar-libre {
        width: $ancho-pagina;
        left: calcular(11);
        top: calcular(50);
    }

    .mostrar-info-vertical-demo.modal.mostrar-libre {
        width: $ancho-pagina;
    }

    .dimensionDescripcionMultipleAccion {
        font-size: $letra-4;
        height: $espacio-1726;
    }

    .letraDescripcion {
        @include fuenteConInterlineado($letra-3, $interlineado-2);
    }

    .letraDescripcionDemo {
        line-height: $interlineado-2;
    }

    .contenedorBotonesConfirmacion {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccion {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccionHorizontal {
        padding-top: $interlineado-8;
    }

    .contenedorBotonesMultipleAccionHorizontalInformacion {
        margin-bottom: $espacio-267;

        & .descripcion-accion {
            padding-top: $espacio-178 - $defecto-bottom;
            padding-bottom: $espacio-178 - $defecto-bottom;
            padding-left: $interlineado-6;
            padding-right: $interlineado-6;
            background-color: $input-fondo-registro;
            border-radius: $interlineado-15;
            width: $ancho-descripcion-dialogo;
        }
        
        & .boton-accion {
            padding-left: $espacio-178;
            width: $espacio-1310;
            height: $espacio-1310;
        }   
    }
}
