@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

@mixin centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}
p {
  white-space: pre-line;
}

.contenedor-principal {
  padding: $espacio-267 $espacio-267;
}

.titulo {
  @include centrado();
}
.subTitulo {
  @include centrado();
  padding-top: $espacio-0316 - $defecto-total;
}

.fechas {
  text-align: center;
  padding-top: calcular(0.89);
  padding-bottom: $espacio-178 - $defecto-bottom;
  & .herramientas {
    width: 100%;
    box-sizing: border-box;
    @include centrado();
    & .select-fechas {
      width: fit-content;
      height: fit-content;
      border-radius: $interlineado-15;
      padding-top: $interlineado-6 -
        calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
      padding-right: $interlineado-6;
      padding-bottom: $interlineado-6 -
        calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
      padding-left: $interlineado-6;
      box-sizing: border-box;
      background-color: $titulo-fecha;
      color: $blanco;
      font-size: $letra-3;
      line-height: 1;
      font-weight: bold;
    }
  }
}
.info-de-moneda {
  @include centrado();
  flex-flow: column;
  padding-bottom: $espacio-0316 * 1.5 - $defecto-bottom;
  & .subrayado {
    text-decoration: underline;
  }
  & p {
    text-align: center;
  }
}
.item {
  padding-bottom: $espacio-522 - $defecto-bottom;
  & .titulo-azul {
    text-align: left;
  }
  & .cantidades {
    padding-top: $espacio-178 - $defecto-top;
    @include centrado();
    flex-flow: column;

    & .fechas {
      width: 100%;
      height: auto;
      @include centrado();
      & .fecha {
        // box-shadow: 0px 0px 0.83vw 0 white inset;
        // opacity: 0.85;
        width: fit-content;
        height: fit-content;
        border-radius: $interlineado-15;
        padding-top: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-right: $interlineado-6;
        padding-bottom: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-left: $interlineado-6;
        box-sizing: border-box;
        background-color: $titulo-fecha;
        color: $blanco;
        font-size: $letra-3;
        line-height: 1;
        font-weight: bold;
      }
    }
    & .valores {
      width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      & .euros {
        @include centrado();
        border: 0;
        // padding: 0 $espacio-0316;
        border-radius: calcular(1.03);
        // width: calc(3ch + #{$espacio-0249 * 2});
        width: calc(16ch + #{$espacio-178 * 2});
        height: calcular(6);
        background-color: rgba(154, 191, 226, 0.3);
      }
      & .equivalencia {
        @include centrado();
        width: 10%;
        margin-left: calcular(0.5);
        margin-right: calcular(0.5);
      }
      & .dolares {
        @include centrado();
        border: 0;
        // padding: 0 $espacio-0316;
        border-radius: calcular(1.03);
        // width: calc(3ch + #{$espacio-0249 * 2});
        width: calc(16ch + #{$espacio-178 * 2});
        height: calcular(6);
        background-color: rgba(154, 191, 226, 0.3);
      }
    }
  }
  & .cantidades-extras {
    padding-top: $espacio-178 - $defecto-top;
    @include centrado();

    & .fechas {
      height: auto;
      @include centrado();
      & .fecha {
        width: fit-content;
        height: fit-content;
        border-radius: $interlineado-15;
        padding-top: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-right: $interlineado-6;
        padding-bottom: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-left: $interlineado-6;
        box-sizing: border-box;
        // background-color: $titulo-fecha;
        color: $negro;
        font-size: $letra-2;
        line-height: 1;
        font-weight: bold;
      }
    }
    & .valores {
      //   width: 100%;
      height: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      & .euros {
        @include centrado();
        border: 0;
        border-radius: calcular(1.03);
        width: calcular(27);
        height: calcular(6);
        background-color: rgba(154, 191, 226, 0.3);
      }
      & .equivalencia {
        @include centrado();
        width: 10%;
        margin-left: calcular(0.5);
        margin-right: calcular(0.5);
      }
      & .dolares {
        @include centrado();
        border: 0;
        border-radius: calcular(1.03);
        // width: calc(10ch + #{$espacio-178 * 2});
        width: calcular(27);
        height: calcular(6);
        background-color: rgba(154, 191, 226, 0.3);
      }
    }
  }
}
.info-final {
  @include centrado();
  text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media screen and (min-aspect-ratio: "16/10") {
  @import "../../../../assets/estilos/dimensiones_16_10.scss";

  .contenedor-principal {
    padding: $espacio-267 $espacio-267;
  }

  .subTitulo {
    @include centrado();
    padding-top: $espacio-0316 - $defecto-total;
  }

  .fechas {
    padding-top: calcular(0.89);
    padding-bottom: $espacio-178 - $defecto-bottom;
    & .herramientas {
      width: 100%;
      & .select-fechas {
        width: fit-content;
        height: fit-content;
        border-radius: $interlineado-15;
        padding-top: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-right: $interlineado-6;
        padding-bottom: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-left: $interlineado-6;
        box-sizing: border-box;
        background-color: $titulo-fecha;
        color: $blanco;
        font-size: $letra-3;
        line-height: 1;
        font-weight: bold;
      }
    }
  }
  .info-de-moneda {
    padding-bottom: $espacio-0316 * 1.5 - $defecto-bottom;
  }
  .item {
    padding-bottom: $espacio-522 - $defecto-bottom;

    & .cantidades {
      padding-top: $espacio-178 - $defecto-top;
      @include centrado();
      flex-flow: column;

      & .fechas {
        width: 100%;
        height: auto;
        @include centrado();
        & .fecha {
          // box-shadow: 0px 0px 0.83vw 0 white inset;
          // opacity: 0.85;
          width: fit-content;
          height: fit-content;
          border-radius: $interlineado-15;
          padding-top: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-right: $interlineado-6;
          padding-bottom: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-left: $interlineado-6;
          box-sizing: border-box;
          background-color: $titulo-fecha;
          color: $blanco;
          font-size: $letra-3;
          line-height: 1;
          font-weight: bold;
        }
      }
      & .valores {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        & .euros {
          @include centrado();
          border: 0;
          // padding: 0 $espacio-0316;
          border-radius: calcular(1.03);
          // width: calc(3ch + #{$espacio-0249 * 2});
          width: calc(16ch + #{$espacio-178 * 2});
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
        & .equivalencia {
          @include centrado();
          width: 10%;
          margin-left: calcular(0.5);
          margin-right: calcular(0.5);
        }
        & .dolares {
          @include centrado();
          border: 0;
          // padding: 0 $espacio-0316;
          border-radius: calcular(1.03);
          // width: calc(3ch + #{$espacio-0249 * 2});
          width: calc(16ch + #{$espacio-178 * 2});
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
      }
    }
    & .cantidades-extras {
      padding-top: $espacio-178 - $defecto-top;
      @include centrado();

      & .fechas {
        height: auto;
        @include centrado();
        & .fecha {
          width: fit-content;
          height: fit-content;
          border-radius: $interlineado-15;
          padding-top: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-right: $interlineado-6;
          padding-bottom: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-left: $interlineado-6;
          box-sizing: border-box;
          // background-color: $titulo-fecha;
          color: $negro;
          font-size: $letra-2;
          line-height: 1;
          font-weight: bold;
        }
      }
      & .valores {
        //   width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        & .euros {
          @include centrado();
          border: 0;
          border-radius: calcular(1.03);
          width: calcular(27);
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
        & .equivalencia {
          @include centrado();
          width: 10%;
          margin-left: calcular(0.5);
          margin-right: calcular(0.5);
        }
        & .dolares {
          @include centrado();
          border: 0;
          border-radius: calcular(1.03);
          width: calcular(27);
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
      }
    }
  }
}

@media screen and (min-aspect-ratio: "16/9") {
  @import "../../../../assets/estilos/dimensiones_16_9.scss";

  .contenedor-principal {
    padding: $espacio-267 $espacio-267;
  }
  .subTitulo {
    @include centrado();
    padding-top: $espacio-0316 - $defecto-total;
  }

  .fechas {
    padding-top: calcular(0.89);
    padding-bottom: $espacio-178 - $defecto-bottom;
    & .herramientas {
      width: 100%;
      & .select-fechas {
        width: fit-content;
        height: fit-content;
        border-radius: $interlineado-15;
        padding-top: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-right: $interlineado-6;
        padding-bottom: $interlineado-6 -
          calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
        padding-left: $interlineado-6;
        box-sizing: border-box;
        background-color: $titulo-fecha;
        color: $blanco;
        font-size: $letra-3;
        line-height: 1;
        font-weight: bold;
      }
    }
  }
  .info-de-moneda {
    padding-bottom: $espacio-0316 * 1.5 - $defecto-bottom;
  }
  .item {
    padding-bottom: $espacio-522 - $defecto-bottom;

    & .cantidades {
      padding-top: $espacio-178 - $defecto-top;
      @include centrado();
      flex-flow: column;

      & .fechas {
        width: 100%;
        height: auto;
        @include centrado();
        & .fecha {
          // box-shadow: 0px 0px 0.83vw 0 white inset;
          // opacity: 0.85;
          width: fit-content;
          height: fit-content;
          border-radius: $interlineado-15;
          padding-top: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-right: $interlineado-6;
          padding-bottom: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-left: $interlineado-6;
          box-sizing: border-box;
          background-color: $titulo-fecha;
          color: $blanco;
          font-size: $letra-3;
          line-height: 1;
          font-weight: bold;
        }
      }
      & .valores {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        & .euros {
          @include centrado();
          border: 0;
          // padding: 0 $espacio-0316;
          border-radius: calcular(1.03);
          // width: calc(3ch + #{$espacio-0249 * 2});
          width: calc(16ch + #{$espacio-178 * 2});
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
        & .equivalencia {
          @include centrado();
          width: 10%;
          margin-left: calcular(0.5);
          margin-right: calcular(0.5);
        }
        & .dolares {
          @include centrado();
          border: 0;
          // padding: 0 $espacio-0316;
          border-radius: calcular(1.03);
          // width: calc(3ch + #{$espacio-0249 * 2});
          width: calc(16ch + #{$espacio-178 * 2});
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
      }
    }
    & .cantidades-extras {
      padding-top: $espacio-178 - $defecto-top;
      @include centrado();

      & .fechas {
        height: auto;
        @include centrado();
        & .fecha {
          width: fit-content;
          height: fit-content;
          border-radius: $interlineado-15;
          padding-top: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-right: $interlineado-6;
          padding-bottom: $interlineado-6 -
            calcularPaddingAfectadoPorInterlineadoTemp(1.39, true);
          padding-left: $interlineado-6;
          box-sizing: border-box;
          // background-color: $titulo-fecha;
          color: $negro;
          font-size: $letra-2;
          line-height: 1;
          font-weight: bold;
        }
      }
      & .valores {
        //   width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        & .euros {
          @include centrado();
          border: 0;
          border-radius: calcular(1.03);
          width: calcular(27);
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
        & .equivalencia {
          @include centrado();
          width: 10%;
          margin-left: calcular(0.5);
          margin-right: calcular(0.5);
        }
        & .dolares {
          @include centrado();
          border: 0;
          border-radius: calcular(1.03);
          width: calcular(27);
          height: calcular(6);
          background-color: rgba(154, 191, 226, 0.3);
        }
      }
    }
  }
}
