@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";


$centrado-ver-contra: calc(50% - #{math.div($ancho-6382, 2)}) ;
$ancho-ver-password: calcular(10);

.padre-input {
    position: relative;
    border-radius: $interlineado-15;

    max-height:  $alto-0782;
    &.caja-lectura-registro {
        background-color: #9399a9 ;

        & input {
            background-color: #9399a9   !important;
        }
    }

    & .ver-contrasena{
        cursor: pointer;
        background-image: url("https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/icono-password.png");
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: center;
        width: $ancho-ver-password;
        // width: 100%;
        height: 100%;
        // height: $alto-0782;
        display: flex;
        justify-content: center;
        overflow: hidden;
        position: absolute;
        right: 0;
        top: 0;
        z-index: 0;
    }

    & .lectura-registro {
        border-radius: $interlineado-15;
        background-color: transparent;
        position: absolute;
        content: " ";
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        top: 0;
        left: 0;
        overflow: hidden;

        & p {
            text-align: center;
            letter-spacing: calcular(0.05);
            white-space: nowrap;
        }

        &:hover {
            opacity: 0;
            & p {
                display: none;
            }
        }
    }
}


.registro {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;

    &::placeholder {
        color: #000;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #000;
    }

    &::-ms-input-placeholder {
        color: #000;
    }
}

.registro-nombre-contacto {
  border: 0;
  height: $alto-0782;
  padding-left: $interlineado-6;
  padding-right: $espacio-0139;
  box-sizing: border-box;
  width: 100%;
  font-size: $letra-3;
  background-color: rgb(214 178 194 / 40%);
  border-radius: $interlineado-15;

  &::placeholder {
      /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #000;
      opacity: 1; /* Firefox */
  }

  &:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #000;
  }

  &::-ms-input-placeholder {
      /* Microsoft Edge */
      color: #000;
  }
}

.registro-inhabilitado {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;

    &::placeholder {
        color: #000;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: #000;
    }

    &::-ms-input-placeholder {
        color: #000;
    }
}

.proyecto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;
    text-transform: uppercase;

    &::placeholder {
        color: $negro;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $negro;
    }

    &::-ms-input-placeholder {
        color: $negro;
    }
}

.proyecto-minuculas {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;

    &::placeholder {
        color: $negro;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $negro;
    }

    &::-ms-input-placeholder {
        color: $negro;
    }
}

.proyecto-centrado {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;

    &::placeholder {
        color: $negro;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $negro;
    }

    &::-ms-input-placeholder {
        color: $negro;
    }
}

.proyecto-minuculas-autor {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    font-weight: bold;

    &::placeholder {
        color: $negro;
        opacity: 1;
    }

    &:-ms-input-placeholder {
        color: $negro;
    }

    &::-ms-input-placeholder {
        color: $negro;
    }
}

.titulo-audio {
    border: 0;
    height: 100%;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-2;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-2;
    font-weight: bold;
    text-align: center;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $negro;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $negro;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $negro;
    }
}


.defecto {
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
}

.login {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: $ancho-pagina * 0.6386;
    font-size: $letra-3;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    outline: none;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
    }
}
.mi-cuenta {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo;
    border-radius: $interlineado-15;
    outline: none;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $blanco;
        opacity: 1; /* Firefox */
    }
    
    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
    }
    
    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
    }
}

.contador {
    width: 100%;
    height: fit-content;
    margin-top: calcular(0.5);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.contacto {
    border: 0;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    box-sizing: border-box;
    width: 100%;
    font-size: $letra-3;
    background-color: $input-fondo-registro;
    border-radius: $interlineado-15;
    // font-weight: bold;
    // text-transform: uppercase;
    color: $blanco;

    &::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        
        color: $blanco;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $blanco;
    }

    &::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $blanco;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $centrado-ver-contra: calc(50% - #{math.div($ancho-6382, 2)}) ;
    $ancho-ver-password: calcular(10);

    .padre-input {
        border-radius: $interlineado-15;

        & .lectura-registro {
            border-radius: $interlineado-15;

            & p {
                letter-spacing: calcular(0.05);
            }
        }
    }

    .ver-contrasena{
        width: $ancho-ver-password;
        // height: $alto-0782;
        height: 100%;
    }

    .registro {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

      .registro-nombre-contacto {
        border: 0;
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        box-sizing: border-box;
        width: 100%;
        font-size: $letra-3;
        background-color: rgb(214 178 194 / 40%);
        border-radius: $interlineado-15;
      
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #000;
            opacity: 1; /* Firefox */
        }
      
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #000;
        }
      
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #000;
        }
      }
    .registro-inhabilitado {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-minuculas {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-centrado {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-minuculas-autor {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .titulo-audio {
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-2;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-2;
    }


    .defecto {
        font-size: $letra-3;
    }

    .login {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        width: $ancho-pagina * 0.6386;
        font-size: $letra-3;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
    }

    .mi-cuenta {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
    }
    
    .contador {
        margin-top: calcular(0.5);
    }

    .contacto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $centrado-ver-contra: calc(50% - #{math.div($ancho-6382, 2)}) ;
    $ancho-ver-password: calcular(10);

    .padre-input {
        border-radius: $interlineado-15;

        & .lectura-registro {
            border-radius: $interlineado-15;

            & p {
                letter-spacing: calcular(0.05);
            }
        }
    }

    .ver-contrasena{
        width: $ancho-ver-password;
        height: 100%;
    }

    .registro {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .registro-nombre-contacto {
        border: 0;
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        box-sizing: border-box;
        width: 100%;
        font-size: $letra-3;
        background-color: rgb(214 178 194 / 40%);
        border-radius: $interlineado-15;
      
        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #000;
            opacity: 1; /* Firefox */
        }
      
        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: #000;
        }
      
        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: #000;
        }
      }
    .registro-inhabilitado {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-minuculas {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-centrado {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .proyecto-minuculas-autor {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }

    .titulo-audio {
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-2;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-2;
    }


    .defecto {
        font-size: $letra-3;
    }

    .login {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        width: $ancho-pagina * 0.6386;
        font-size: $letra-3;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
    }
    .mi-cuenta {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo;
        border-radius: $interlineado-15;
    }

    .contador {
        margin-top: calcular(0.5);
    }

    .contacto {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        font-size: $letra-3;
        background-color: $input-fondo-registro;
        border-radius: $interlineado-15;
    }
}
