<div 
    *ngIf="inputCompartido"
    [ngClass]="{
        'padre-input': true,
        'caja-lectura-registro': (inputCompartido.soloLecturaRegistro)
    }"
>
    <input 
        *ngIf="inputCompartido && !inputCompartido.bloquearCopy"
        id="{{ inputCompartido.id }}"
        type="{{ inputCompartido.tipo }}"
        placeholder="{{ inputCompartido.placeholder | translate }}"
        [formControl]="inputCompartido.data"
        class="{{ inputCompartido.estilo.estiloInput }} regular"
        [maxLength]="determinarCadenaMaxima()"
        (focus)="empezarEscribir()"
        (keyup)="escribiendoEnInput()"
        (blur)="dejarDeEscribir()"
        [readonly]="(inputCompartido.soloLectura) ? inputCompartido.soloLectura : false"
        autocomplete="nope"
        [max] = "currentDay"
        
    >
    <input 
        *ngIf="inputCompartido && inputCompartido.bloquearCopy "
        id="{{ inputCompartido.id }}"
        type="{{ inputCompartido.tipo }}"
        placeholder="{{ inputCompartido.placeholder | translate }}"
        [formControl]="inputCompartido.data"
        class="{{ inputCompartido.estilo.estiloInput }} regular"
        [maxLength]="determinarCadenaMaxima()"
        (focus)="empezarEscribir()"
        (keyup)="escribiendoEnInput()"
        (blur)="dejarDeEscribir()"
        [readonly]="(inputCompartido.soloLectura) ? inputCompartido.soloLectura : false"
        autocomplete="nope"
        [max] = "currentDay"
        onpaste="return false"
    >
    <div  
        *ngIf="inputCompartido && inputCompartido.contrasena" 
        [ngClass]="{'ver-contrasena': true}"
        (tap)="verContrasena()" >
    </div>
    <div
        *ngIf="inputCompartido.soloLecturaRegistro"
        class="lectura-registro"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL,
                paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
            })"  
        >
            {{ 'm2v13texto3.3' | translate}}
        </p>
    </div>
</div>


<!--error-->
<div 
    *ngIf="inputCompartido && (!inputCompartido.errorPersonalizado || inputCompartido.errorPersonalizado.length === 0)"
    class="{{ inputCompartido.estilo.estiloError }} ">
    {{ obtenerError(inputCompartido.data) }}
</div>
<!-- Error personalizado -->
<div *ngIf="inputCompartido && inputCompartido.errorPersonalizado && inputCompartido.errorPersonalizado.length > 0"
    class="{{ inputCompartido.estilo.estiloError }} ">
    {{ inputCompartido.errorPersonalizado | translate }}
</div>
<!-- Contador de caracteres -->
<div *ngIf="inputCompartido && inputCompartido.contadorCaracteres && inputCompartido.contadorCaracteres.mostrar" class="contador">
    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL,
            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
        })">
        {{ obtenerTextoContador() }}
    </p>
</div>