@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$icono-audio-diametro: calcular(13.1);
$descripcion-ancho: calcular(94.66);
$descripcion-alto-min: calcular(95.39);
$descripcion-border-radio: calcular(1.567);
$descripcion-padding-top: calcular(1.78);
$descripcion-padding-bottom: calcular(3.16);
$descripcion-contador-padding-bottom: calcular(1.78);
$descripcion-padding-right-left: calcular(2.67);
$borde-descripcion-espesor: calcular(0.36);

.cuerpo {
    background: $blanco;
    position: relative;
    padding: 0 !important;

    .capa {
        position: absolute;
        width: 100%;
        height: 100%;

        z-index: -1;
        opacity: 0;
        box-sizing: border-box;

        &.mostrar {
            z-index: 1;
            opacity: 1;
        }

        &.loader {
            display: flex;
            align-items: center;
            justify-content: center;
            background: #ffffff;
        }

        &.errordiv {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            box-sizing: border-box;
            padding: 0 calcular(4);

            & div {
                width: 100%;
                margin-bottom: calcular(2) !important;
                text-align: center;
            }
        }

        &.formulario {
            width: 100%;
            height: 100%;
            overflow-y: auto;

            & .info-propietario {
                padding-top: $espacio-0136;
                padding-left: $espacio-267;
                padding-right: $espacio-267;
                padding-bottom: $espacio-0136;
            }

            .contenido {
                width: 100%;
                box-sizing: border-box;
                padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                &.sinPaddingTop {
                    padding: $espacio-0178 $espacio-267 0 $espacio-267;
                }

                & .aviso {
                    width: 100%;
                    margin-bottom: $espacio-0316 - $defecto-total;

                    & p {
                        text-align: center;
                    }
                }

                & .titulo {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-267 - $defecto-bottom !important;

                    & p {
                        text-align: center;
                    }
                }
                & .info-un-solo-idioma {
                    width: 100%;
                    margin-bottom: $espacio-267 - $defecto-bottom !important;
                    & p {
                        text-align: center;
                    }
                }

                & .inputs {
                    width: 100%;
                    margin-bottom: $espacio-0316;

                    &.caja {
                        width: 100%;
                        height: fit-content;

                        display: flex;
                        flex-flow: row;
                        align-items: center;
                        justify-content: space-between;

                        & .fila {
                            width: calc((100% - #{$espacio-0139}) / 2);

                            &.en-visita {
                                width: 100% !important;

                                &.ancho-fijo {
                                    width: 64% !important;
                                    height: $alto-0782;
                                    box-sizing: border-box;
                                    width: 100%;
                                    background-color: $input-fondo-registro;
                                    overflow-y: hidden;
                                    overflow-x: scroll;
                                    border-radius: $interlineado-15;

                                    & p {
                                        width: fit-content !important;
                                        overflow: visible;
                                        background: none;
                                        user-select: auto !important;
                                    }
                                }

                                &.ancho-completo {
                                    width: 100% !important;
                                    height: $alto-0782;
                                    box-sizing: border-box;
                                    width: 100%;
                                    background-color: $input-fondo-registro;
                                    overflow-y: hidden;
                                    overflow-x: scroll;
                                    border-radius: $interlineado-15;

                                    & p {
                                        width: fit-content !important;
                                        overflow: visible;
                                        background: none;
                                        user-select: auto !important;
                                    }
                                }
                            }

                            &.uno {
                                margin-right: $espacio-0139;
                            }

                            & .p-input {
                                border: 0;
                                height: $alto-0782;
                                padding-left: $interlineado-6;
                                padding-right: $espacio-0139;
                                box-sizing: border-box;
                                width: 100%;
                                font-size: $letra-3;
                                background-color: $input-fondo-registro;
                                border-radius: $interlineado-15;
                                font-weight: bold;
                                text-transform: uppercase;
                                white-space: nowrap;
                                overflow-y: hidden;
                                overflow-x: auto;

                                display: flex;
                                align-items: center;
                                justify-content: flex-start;

                                &.centrado {
                                    text-align: center;
                                    justify-content: center;
                                }
                            }
                        }

                        &.a {
                            & .fila.uno {
                                width: max-content;
                                margin-right: $espacio-522;
                                & input {
                                    text-align: center;
                                }
                            }

                            & .fila.dos {
                                width: fit-content;
                            }
                        }

                        &.b {
                            & .fila.uno {
                                width: 100%;
                                margin: 0 !important;
                            }

                            & .fila.dos {
                                display: none;
                            }
                        }

                        &.c {
                            & .fila input {
                                margin-bottom: 0 !important;
                            }
                        }
                    }

                    &.a {
                        & .fila {
                        }
                    }

                    &.b {
                    }
                }

                & .subtitulo {
                    width: 100%;
                    margin-bottom: $espacio-0178;

                    &.b {
                        & p {
                            text-align: center;
                        }
                    }

                    & p {
                        text-align: left;
                    }
                }

                & .moneda {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                }

                & .botones {
                    width: 100%;
                    margin: $espacio-522 0;
                    padding: 0 $espacio-0658 - $espacio-267;
                    box-sizing: border-box;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    &.soloCompartir {
                        justify-content: center;
                    }
                }

                & .audios {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-522 - $defecto-top;
                    cursor: pointer;
                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: flex-start;

                    & .texto {
                        margin-left: $espacio-0249;

                        & p {
                        }
                    }

                    & .icono {
                        width: $icono-audio-diametro;
                        height: $icono-audio-diametro;
                        border-radius: 50%;

                        & img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                & .votar-proyecto {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-178;
                }

                & .descripcion-intro {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 0 0 $espacio-0658 - $espacio-267;

                    display: flex;
                    flex-flow: column;

                    & p {
                        margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                    }
                }
                & .descripcion-intro-caracteres {
                    width: 100%;
                    box-sizing: border-box;
                    padding: 0 0 0 $espacio-0658 - $espacio-267;

                    display: flex;
                    flex-flow: column;

                    & p {
                        margin-bottom: $espacio-0178 - $defecto-top;
                    }
                }

                & .descripcion-contexto {
                    width: 100%;
                    box-sizing: border-box;
                    margin-bottom: $espacio-0316;
                    position: relative;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .textarea-visita {
                        position: relative;
                        resize: none;
                        width: $descripcion-ancho;
                        height: $descripcion-alto-min;
                        min-height: $descripcion-alto-min;
                        border-radius: $descripcion-border-radio;
                        border: $borde-descripcion-espesor solid #000000;
                        padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom
                            $descripcion-padding-right-left;
                        font-weight: normal;
                        text-align: justify;
                        outline: 0;
                        box-sizing: border-box;
                        font-family: "Source Sans Pro", sans-serif;
                        text-align: justify;
                        overflow-y: auto;
                        white-space: pre-wrap;
                    }

                    & textarea {
                        position: relative;
                        resize: none;
                        width: $descripcion-ancho;
                        height: fit-content;
                        min-height: $descripcion-alto-min;
                        border-radius: $descripcion-border-radio;
                        border: $borde-descripcion-espesor solid #000000;
                        padding: $descripcion-padding-top $descripcion-padding-right-left $descripcion-padding-bottom
                            $descripcion-padding-right-left;
                        font-weight: normal;
                        text-align: justify;
                        outline: 0;
                        box-sizing: border-box;
                        font-family: "Source Sans Pro", sans-serif;

                        &:focus,
                        &:active {
                            outline: 0;
                        }

                        &::-webkit-input-placeholder {
                            // color: #eeeeee;
                            font-family: "Source Sans Pro", sans-serif;
                            color: $negro;
                        }

                        &:-moz-placeholder {
                            /* Upto Firefox 18, Deprecated in Firefox 19  */
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &::-moz-placeholder {
                            /* Firefox 19+ */
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }

                        &:-ms-input-placeholder {
                            // color: $negro;
                            color: $negro;
                            font-family: "Source Sans Pro", sans-serif;
                        }
                    }

                    & .descripcion-contador {
                        position: absolute;
                        bottom: $espacio-0178;
                        right: $espacio-267;
                    }
                }

                & .proyecto-completo {
                    width: 100%;
                    margin-bottom: $espacio-0178 - $defecto-top;
                    box-sizing: border-box;

                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    & p {
                        width: 100%;
                        text-align: center;
                    }

                    & .espacio {
                        width: 100%;
                        height: $espacio-0178 - $defecto-top - $defecto-bottom;
                    }
                }

                & .proyecto-completo-boton {
                    width: 100%;
                    margin-bottom: $espacio-0316;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .link-descripcion {
                    width: 100%;
                    margin-bottom: $espacio-0178;
                    box-sizing: border-box;

                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;

                    & p {
                        width: 100%;
                        text-align: center;
                    }

                    & .espacio {
                        width: 100%;
                        height: $espacio-0178;
                    }
                }

                & .photos-boton {
                    width: 100%;
                    margin-bottom: $espacio-522;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .publicar-boton {
                    width: 100%;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

                & .botones-adicionales {
                    width: 100%;
                    box-sizing: border-box;
                    margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                    & p {
                        text-align: center;
                        width: 100%;
                        padding: 0 $espacio-0658 - $espacio-267;
                        box-sizing: border-box;
                        margin-bottom: $espacio-178 - $defecto-bottom;
                    }

                    & .boton-extra {
                        width: 100%;
                        margin-bottom: $espacio-522;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & .eliminar-boton {
                    width: 100%;
                    margin: $espacio-0316 0 0 0;

                    & p {
                        text-align: center;
                        width: 100%;
                        padding: 0 $espacio-0658 - $espacio-267;
                        box-sizing: border-box;
                        margin-bottom: $espacio-178 - $defecto-bottom;
                    }

                    & .boton-eliminar {
                        width: 100%;

                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                & .borrado-informacion {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-bottom: $espacio-0316 - $defecto-bottom;

                    & p {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $icono-audio-diametro: calcular(13.1);
    $descripcion-ancho: calcular(94.66);
    $descripcion-alto-min: calcular(95.39);
    $descripcion-border-radio: calcular(1.567);
    $descripcion-padding-top: calcular(1.78);
    $descripcion-padding-bottom: calcular(3.16);
    $descripcion-contador-padding-bottom: calcular(1.78);
    $descripcion-padding-right-left: calcular(2.67);
    $borde-descripcion-espesor: calcular(0.36);

    .cuerpo {
        .capa {
            &.errordiv {
                padding: 0 calcular(4);

                & div {
                    margin-bottom: calcular(2) !important;
                }
            }

            &.formulario {

                & .info-propietario {
                    padding-top: $espacio-0136;
                    padding-left: $espacio-267;
                    padding-right: $espacio-267;
                    padding-bottom: $espacio-0136;
                }
                .contenido {
                    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                    &.sinPaddingTop {
                        padding: $espacio-0178 $espacio-267 0 $espacio-267;
                    }

                    & .aviso {
                        margin-bottom: $espacio-0316 - $defecto-total;
                    }

                    & .titulo {
                        margin-bottom: $espacio-267 - $defecto-bottom !important;
                    }
                    & .info-un-solo-idioma {
                        margin-bottom: $espacio-267 - $defecto-bottom !important;
                    }

                    & .inputs {
                        margin-bottom: $espacio-0316;

                        &.caja {
                            & .fila {
                                width: calc((100% - #{$espacio-0139}) / 2);

                                &.en-visita {
                                    &.ancho-fijo {
                                        height: $alto-0782;
                                        border-radius: $interlineado-15;
                                    }

                                    &.ancho-completo {
                                        height: $alto-0782;
                                        border-radius: $interlineado-15;
                                    }
                                }

                                &.uno {
                                    margin-right: $espacio-0139;
                                }

                                & .p-input {
                                    height: $alto-0782;
                                    padding-left: $interlineado-6;
                                    padding-right: $espacio-0139;
                                    font-size: $letra-3;
                                    background-color: $input-fondo-registro;
                                    border-radius: $interlineado-15;
                                }
                            }

                            &.a {
                                & .fila.uno {
                                    margin-right: $espacio-522;
                                }
                            }
                        }
                    }

                    & .subtitulo {
                        margin-bottom: $espacio-0178;
                    }

                    & .moneda {
                        margin-bottom: $espacio-0178;
                    }

                    & .botones {
                        margin: $espacio-522 0;
                        padding: 0 $espacio-0658 - $espacio-267;
                    }

                    & .audios {
                        margin-bottom: $espacio-522 - $defecto-top;

                        & .texto {
                            margin-left: $espacio-0249;
                        }

                        & .icono {
                            width: $icono-audio-diametro;
                            height: $icono-audio-diametro;
                        }
                    }

                    & .votar-proyecto {
                        margin-bottom: $espacio-178;
                    }

                    & .descripcion-intro {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                    & .descripcion-intro-caracteres {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top;
                        }
                    }

                    & .descripcion-contexto {
                        margin-bottom: $espacio-0316;

                        & .textarea-visita {
                            width: $descripcion-ancho;
                            height: $descripcion-alto-min;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left
                                $descripcion-padding-bottom $descripcion-padding-right-left;
                        }

                        & textarea {
                            width: $descripcion-ancho;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left
                                $descripcion-padding-bottom $descripcion-padding-right-left;
                        }

                        & .descripcion-contador {
                            bottom: $espacio-0178;
                            right: $espacio-267;
                        }
                    }

                    & .proyecto-completo {
                        margin-bottom: $espacio-0178 - $defecto-top;

                        & .espacio {
                            height: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }

                    & .proyecto-completo-boton {
                        margin-bottom: $espacio-0316;
                    }

                    & .link-descripcion {
                        margin-bottom: $espacio-0178;

                        & .espacio {
                            height: $espacio-0178;
                        }
                    }

                    & .photos-boton {
                        margin-bottom: $espacio-522;
                    }

                    & .botones-adicionales {
                        margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }

                        & .boton-extra {
                            margin-bottom: $espacio-522;
                        }
                    }

                    & .eliminar-boton {
                        margin: $espacio-0316 0 0 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }
                    }

                    & .borrado-informacion {
                        margin-bottom: $espacio-0316 - $defecto-bottom;

                        & p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $icono-audio-diametro: calcular(13.1);
    $descripcion-ancho: calcular(94.66);
    $descripcion-alto-min: calcular(95.39);
    $descripcion-border-radio: calcular(1.567);
    $descripcion-padding-top: calcular(1.78);
    $descripcion-padding-bottom: calcular(3.16);
    $descripcion-contador-padding-bottom: calcular(1.78);
    $descripcion-padding-right-left: calcular(2.67);
    $borde-descripcion-espesor: calcular(0.36);

    .cuerpo {
        .capa {
            &.errordiv {
                padding: 0 calcular(4);

                & div {
                    margin-bottom: calcular(2) !important;
                }
            }

            &.formulario {
                & .info-propietario {
                    padding-top: $espacio-0136;
                    padding-left: $espacio-267;
                    padding-right: $espacio-267;
                    padding-bottom: $espacio-0136;
                }
                .contenido {
                    padding: ($espacio-0316 - $defecto-top) $espacio-267 $espacio-522 $espacio-267;

                    &.sinPaddingTop {
                        padding: $espacio-0178 $espacio-267 0 $espacio-267;
                    }

                    & .aviso {
                        margin-bottom: $espacio-0316 - $defecto-total;
                    }

                    & .titulo {
                        margin-bottom: $espacio-267 - $defecto-bottom !important;
                    }
                    & .info-un-solo-idioma {
                        margin-bottom: $espacio-267 - $defecto-bottom !important;
                    }

                    & .inputs {
                        margin-bottom: $espacio-0316;

                        &.caja {
                            & .fila {
                                width: calc((100% - #{$espacio-0139}) / 2);

                                &.en-visita {
                                    &.ancho-fijo {
                                        height: $alto-0782;
                                        border-radius: $interlineado-15;
                                    }

                                    &.ancho-completo {
                                        height: $alto-0782;
                                        border-radius: $interlineado-15;
                                    }
                                }

                                &.uno {
                                    margin-right: $espacio-0139;
                                }

                                & .p-input {
                                    height: $alto-0782;
                                    padding-left: $interlineado-6;
                                    padding-right: $espacio-0139;
                                    font-size: $letra-3;
                                    background-color: $input-fondo-registro;
                                    border-radius: $interlineado-15;
                                }
                            }

                            &.a {
                                & .fila.uno {
                                    margin-right: $espacio-522;
                                }
                            }
                        }
                    }

                    & .subtitulo {
                        margin-bottom: $espacio-0178;
                    }

                    & .moneda {
                        margin-bottom: $espacio-0178;
                    }

                    & .botones {
                        margin: $espacio-522 0;
                        padding: 0 $espacio-0658 - $espacio-267;
                    }

                    & .audios {
                        margin-bottom: $espacio-522 - $defecto-top;

                        & .texto {
                            margin-left: $espacio-0249;
                        }

                        & .icono {
                            width: $icono-audio-diametro;
                            height: $icono-audio-diametro;
                        }
                    }

                    & .votar-proyecto {
                        margin-bottom: $espacio-178;
                    }

                    & .descripcion-intro {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }
                    & .descripcion-intro-caracteres {
                        padding: 0 0 0 $espacio-0658 - $espacio-267;

                        & p {
                            margin-bottom: $espacio-0178 - $defecto-top;
                        }
                    }

                    & .descripcion-contexto {
                        margin-bottom: $espacio-0316;

                        & .textarea-visita {
                            width: $descripcion-ancho;
                            height: $descripcion-alto-min;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left
                                $descripcion-padding-bottom $descripcion-padding-right-left;
                        }

                        & textarea {
                            width: $descripcion-ancho;
                            min-height: $descripcion-alto-min;
                            border-radius: $descripcion-border-radio;
                            border: $borde-descripcion-espesor solid #000000;
                            padding: $descripcion-padding-top $descripcion-padding-right-left
                                $descripcion-padding-bottom $descripcion-padding-right-left;
                        }

                        & .descripcion-contador {
                            bottom: $espacio-0178;
                            right: $espacio-267;
                        }
                    }

                    & .proyecto-completo {
                        margin-bottom: $espacio-0178 - $defecto-top;

                        & .espacio {
                            height: $espacio-0178 - $defecto-top - $defecto-bottom;
                        }
                    }

                    & .proyecto-completo-boton {
                        margin-bottom: $espacio-0316;
                    }

                    & .link-descripcion {
                        margin-bottom: $espacio-0178;

                        & .espacio {
                            height: $espacio-0178;
                        }
                    }

                    & .photos-boton {
                        margin-bottom: $espacio-522;
                    }

                    & .botones-adicionales {
                        margin: $espacio-0316 - $defecto-top 0 $espacio-522 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }

                        & .boton-extra {
                            margin-bottom: $espacio-522;
                        }
                    }

                    & .eliminar-boton {
                        margin: $espacio-0316 0 0 0;

                        & p {
                            padding: 0 $espacio-0658 - $espacio-267;
                            margin-bottom: $espacio-178 - $defecto-bottom;
                        }
                    }

                    & .borrado-informacion {
                        margin-bottom: $espacio-0316 - $defecto-bottom;

                        & p {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
