@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

// Elegibles
$elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
$elegibles-margin: calcular(0.8);
$elegibles-padding: calcular(1);
// Error
$error-padding: calcular(1);
// Cargando
$alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

.inputBuscador {
    &.desactivar {
        pointer-events: none;
    }

    input {
        border: 0; 
        width: 100%;
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        box-sizing: border-box;
        font-size: $letra-3;
        background-color: $input-fondo-registro;  
        border-radius: $interlineado-15;
        outline: 0;

        &.texto-bold {
            font-weight: bold;
        }

        &.margin-abajo {
            margin-bottom: $espacio-0249;
        }
        &.tipo-intercambio {
            border: 0;
            height: $alto-0782;
            padding-left: $interlineado-6;
            padding-right: $espacio-0139;
            box-sizing: border-box;
            width: $ancho-pagina * 0.6386;
            font-size: $letra-3;
            background-color: $input-fondo;
            border-radius: $interlineado-15;
            outline: none;
            color: $blanco;
            width: 100%;
            margin-bottom: $espacio-0316;
            // font-weight: bold;

            &::placeholder {
                /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $blanco;
                opacity: 1; /* Firefox */
            }

            &:-ms-input-placeholder {
                /* Internet Explorer 10-11 */
                color: $blanco;
            }

            &::-ms-input-placeholder {
                /* Microsoft Edge */
                color: $blanco;
            }
        }
    }
}

:-moz-placeholder { /* Firefox 18- */
    // margin-right: $bottom-bar-caja-icono-ancho;
    color:  #000;
    font-size: $letra-2;
 }

::-moz-placeholder {
    color:  #000;
    font-size: $letra-2;
}

::-ms-input-placeholder {
    color:  #000;
    font-size: $letra-2;
}

::-webkit-input-placeholder {
    color:  #000;
    font-size: $letra-2;
}


.buscador {
    border: 0; 
    width: 100%;
    height: $alto-0782;
    padding-left: $interlineado-6;
    padding-right: $espacio-0139;
    margin-bottom: $espacio-0249;
    box-sizing: border-box;
    font-size: $letra-3;
    background-color: $input-fondo-registro;  
    border-radius: $interlineado-15;
    outline: 0;

    &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        color:  #000;
        opacity: 1; /* Firefox */
    }

    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
        color:  #000;
    }

    &::-ms-input-placeholder { /* Microsoft Edge */
        color:  #000;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
    $elegibles-margin: calcular(0.8);
    $elegibles-padding: calcular(1);
    $error-padding: calcular(1);
    $alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

    .inputBuscador {

        input {
            height: $alto-0782;
            padding-left: $interlineado-6;
            padding-right: $espacio-0139;
            font-size: $letra-3;
            background-color: $input-fondo-registro;  
            border-radius: $interlineado-15;

            &.margin-abajo {
                margin-bottom: $espacio-0249;
            }
            &.tipo-intercambio {
                border: 0;
                height: $alto-0782;
                padding-left: $interlineado-6;
                padding-right: $espacio-0139;
                box-sizing: border-box;
                width: $ancho-pagina * 0.6386;
                font-size: $letra-3;
                border-radius: $interlineado-15;
                outline: none;
                color: $blanco;
                width: 100%;
                margin-bottom: $espacio-0316;
    
            }
        }
    }

    :-moz-placeholder {
        font-size: $letra-2;
    }

    ::-moz-placeholder {
        font-size: $letra-2;
    }

    ::-ms-input-placeholder {
        font-size: $letra-2;
    }

    ::-webkit-input-placeholder {
        font-size: $letra-2;
    }

    .buscador {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        margin-bottom: $espacio-0249;
        font-size: $letra-3;
        background-color: $input-fondo-registro;  
        border-radius: $interlineado-15;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $elegibles-alto: calc(100% - (#{ $alto-0782 } + #{ $espacio-0249 }));
    $elegibles-margin: calcular(0.8);
    $elegibles-padding: calcular(1);
    $error-padding: calcular(1);
    $alto-cargando: calc(100% - (#{ $selector-padding-tb } + #{ $alto-0782 } + #{ $espacio-0249 }));

    .inputBuscador {

        input {
            height: $alto-0782;
            padding-left: $interlineado-6;
            padding-right: $espacio-0139;
            font-size: $letra-3;
            background-color: $input-fondo-registro;  
            border-radius: $interlineado-15;

            &.margin-abajo {
                margin-bottom: $espacio-0249;
            }
            &.tipo-intercambio {
                border: 0;
                height: $alto-0782;
                padding-left: $interlineado-6;
                padding-right: $espacio-0139;
                box-sizing: border-box;
                width: $ancho-pagina * 0.6386;
                font-size: $letra-3;
                border-radius: $interlineado-15;
                outline: none;
                color: $blanco;
                width: 100%;
                margin-bottom: $espacio-0316;
    
            }
        }
    }

    :-moz-placeholder {
        font-size: $letra-2;
    }

    ::-moz-placeholder {
        font-size: $letra-2;
    }

    ::-ms-input-placeholder {
        font-size: $letra-2;
    }

    ::-webkit-input-placeholder {
        font-size: $letra-2;
    }


    .buscador {
        height: $alto-0782;
        padding-left: $interlineado-6;
        padding-right: $espacio-0139;
        margin-bottom: $espacio-0249;
        font-size: $letra-3;
        background-color: $input-fondo-registro;  
        border-radius: $interlineado-15;
    }
}
