<div [ngClass]="{ 
  'mensaje-texto': true,
  'enviado': configuracion.enviado
  }" (tap)="eventoTap(configuracion.id)">
  <p [ngClass]="
    estiloTexto.obtenerEstilosTexto({
      color: estiloTexto.colorDelTexto.TEXTONEGRO,
      estiloTexto: estiloTexto.estilosDelTexto.REGULAR,
      enMayusculas: false,
      tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_I4
    })"> {{ configuracion.contenido | translate}}
  </p>

</div>