<app-appbar [configuracion]="confAppbar"></app-appbar>

<div *ngIf="params.estado" [ngClass]="{
        'cuerpo': true,
        'con-barra-inferior': params.accionEntidad && params.accionEntidad !== AccionEntidadEnum.CREAR
    }">

    <div [ngClass]="{
        'capa': true,
        'loader': true,
        'mostrar': mostrarCapaLoader
    }">
        <app-cargando></app-cargando>
    </div>
    <div [ngClass]="{
        'capa': true,
        'errordiv': true,
        'mostrar': !mostrarCapaLoader && mostrarCapaError
    }">
        <div [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
            color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE,
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
        })">
            {{ mensajeCapaError | translate }}
        </div>
        <button (tap)="reintentar()" class="botonReintentar">
            {{ 'text32' | translate }}
        </button>
    </div>

    <div *ngIf="intercambio" id="{{ idCapaFormulario }}" [ngClass]="{
        'capa': true,
        'formulario': true,
        'mostrar': !mostrarCapaLoader && !mostrarCapaError
    }" (scroll)="scroolEnCapaFormulario()">

        <div *ngIf="params.accionEntidad && params.accionEntidad === AccionEntidadEnum.CREAR &&  listaIntercambio.lista.length > 0"
            [ngClass]="{
                'bloque-perfil': true,
                'intercambios-usuario': true,
                'mostrar-bloque': estadoPerfilParaMisIntercambios === ModoDelPerfilEnum.AMPLIAR_INTERCAMBIOS || estadoPerfilParaMisIntercambios === ModoDelPerfilEnum.DEFAULT,
                'ampliar-intercambios': estadoPerfilParaMisIntercambios === ModoDelPerfilEnum.AMPLIAR_INTERCAMBIOS
            }">
            <!-- Intercambios propietario -->
            <div class="content-titulos">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
                    {{ 'm6v8texto3' | translate }}
                </p>
            </div>

            <div class="lista-intercambios" [id]="idCapaListaIntercambios"
                (scroll)="detectarScroolEnListaIntercambios()">
                <div class="caja-interna">


                    <div *ngFor="let intercambio of listaIntercambio.lista;let i = index" [ngClass]="{
                        'item-intercambio': true,
                        'sin-margen-derecha': ((i + 1) % 2 === 0)
                    }" (tap)="eventoTapInercambio(intercambio.id)">

                        <app-item-intercambio [configuracion]="intercambio"> </app-item-intercambio>
                    </div>
                </div>
                <!-- cargando interno -->
                <div *ngIf="listaIntercambio.cargando && estadoPerfilParaMisIntercambios === ModoDelPerfilEnum.AMPLIAR_INTERCAMBIOS"
                    [ngClass]="{
                    'cargando-interno': true,
                    'completo': listaIntercambio.lista.length === 0
                }">
                    <app-cargando [diametro]="DiametroDelLoaderEnum.LOADER_BOTON_ICONO"></app-cargando>
                </div>
            </div>
        </div>

        <div class="contenido-formulario">
            <div class="fecha-publicacion" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                    {{ 'm6v9texto2' | translate }}
                </p>
                <app-item-fecha [fecha]="intercambio.fechaCreacion" [formato]="'dd/MM/yyyy'"></app-item-fecha>
            </div>


            <div class="titulo-intercambio" *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                    {{ 'm6v8texto4' | translate }}
                </p>
            </div>
            <div class="info-propietario" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR">

                <app-item-lista-contactos [configuracion]="infoPropietarioIntercambio"></app-item-lista-contactos>
            </div>

            <app-portada-expandida #portadaExpandida [configuracion]="confPortadaExpandida"></app-portada-expandida>
            <div [ngClass]="{
                        'contenido': true,
                        'sinPaddingTop': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                    }">

                <div *ngIf="
                        params.accionEntidad === AccionEntidadEnum.VISITAR &&
                        validarSiHayMediasEnElAlbum()
                    " class="aviso">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                        {{ 'm4v1texto6' | translate }}
                    </p>
                </div>
                <div class="inputs caja a">
                    <div [ngClass]="{
                            'fila': true,
                            'uno': true,
                            'ancho-fijo': true,
                            'en-visita': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                        }">
                        <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR" class="p-input centrado">
                            {{ intercambio.tituloCorto }}
                        </p>
                        <app-input *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO_CORTO)"></app-input>
                    </div>

                </div>
                <div class="inputs caja b">
                    <div [ngClass]="{
                            'fila': true,
                            'uno': true,
                            'ancho-completo': (params.accionEntidad === AccionEntidadEnum.VISITAR),
                            'en-visita': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                        }">
                        <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR" class="p-input">
                            {{ intercambio.titulo }}
                        </p>
                        <app-input *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.TITULO)"></app-input>
                    </div>
                </div>
                <div class="inputs caja b">
                    <div [ngClass]="{
                            'fila': true,
                            'uno': true,
                            'ancho-completo': (params.accionEntidad === AccionEntidadEnum.VISITAR),
                            'en-visita': (params.accionEntidad === AccionEntidadEnum.VISITAR)
                        }">
                        <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR" class="p-input email">
                            {{ intercambio.email }}
                        </p>
                        <app-input *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                            [inputCompartido]="obtenerInputSegunKey(InputKeyEnum.EMAIL)"></app-input>
                    </div>
                </div>
                <div class="inputs caja c">
                    <div [ngClass]="{
                        'fila': true,
                        'uno': true,
                        'completa': false
                    }">
                        <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR" class="p-input">
                            {{ intercambio.direccion.pais.nombre }}
                        </p>
                        <app-selector *ngIf="confSelector && params.accionEntidad !== AccionEntidadEnum.VISITAR"
                            #selectorPaises [configuracion]="confSelector"></app-selector>
                    </div>

                    <div class="fila dos">
                        <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR " class="p-input">
                            {{ intercambio.direccion.localidad.nombre }}
                        </p>
                        <app-buscador-modal *ngIf="confBuscador && params.accionEntidad !== AccionEntidadEnum.VISITAR"
                            #buscadorLocalidades [configuracion]="confBuscador">
                        </app-buscador-modal>
                    </div>
                </div>
                <div class="inputs caja d">
                    <div [ngClass]="{
                        'fila': true,
                        'uno': true,
                        'completa': true
                    }">
                        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTO_ROJO_INTERCAMBIO_POR,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })" *ngIf="params.accionEntidad != AccionEntidadEnum.VISITAR ">
                            {{ codigoIntercambioInicial | translate }}
                        </p>
                        
                        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTO_ROJO_INTERCAMBIO_POR,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR ">
                            {{ codigoAIntercambiarVisitar }} 
                        </p>
                    </div>

                </div>
                <div class="inputs caja e">
                    <div [ngClass]="{
                        'fila': true,
                        'uno': true,
                        'completa': true
                    }">
                        <!-- <p *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR " class="p-input">
                            {{ codigoAIntercambiar }}
                        </p > -->
<!-- 
                        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR ">
                            {{ codigoAIntercambiar }} 
                        </p> -->
                        <select name="miselect2" [(ngModel)]="codigoAIntercambiar"
                            *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR" title="codigoAIntercambiar">
                            <!-- <option [value]=" '' " disabled selected>{{nombreCodigoAIntercambiarDelIntercambio | translate}}
                            </option> -->
                            <option [value]=" '' " disabled selected hidden>{{nombreCodigoAIntercambiarDelIntercambio | translate}}</option>

                            <option [value]="item.codigo" *ngFor="let item of codigosTipoIntercambio">{{item.nombre}}
                            </option>
                        </select>
                        <!-- <select name="miselect1" [(ngModel)]="codigoIntercambioInicial">
    
                            <option selected>{{codigoIntercambioInicial}}</option>
                        </select> -->

                    </div>

                </div>
                <div *ngIf="determinarSiHayAlbumSegunTipo(codigosCatalogoTipoAlbumEnum.AUDIOS)" class="audios"
                    (tap)="irAlAlbumAudios()">

                    <div class="icono">
                        <img title="iconoAudioVerde"
                            src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-audio-verde.svg">
                    </div>
                    <div *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR" class="texto">
                        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })">
                            {{ 'm4v5texto20' | translate }}
                        </p>
                    </div>
                </div>
                <div [ngClass]="{
                                'descripcion-intro': true,
                                'con-margen-abajo': params.accionEntidad === AccionEntidadEnum.VISITAR
                            }">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                            })" class="interlineado1">
                        {{ 'm6v8texto16' | translate }}
                    </p>
                    <p *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                            })" class="interlineado2">
                        {{ 'm6v8texto17' | translate }}
                    </p>
                    <p *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                            })" class="interlineado3">
                        {{ 'm6v8texto18' | translate }}
                    </p>
                </div>
                <div class="descripcion-contexto">
                    <div *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR" [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                            })" class="textarea-visita">
                        {{ intercambio.descripcion }}
                    </div>
                    <textarea *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                        [readonly]="params.accionEntidad === AccionEntidadEnum.VISITAR"
                        [(ngModel)]="intercambio.descripcion" maxlength="1000"
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                            })">
                            {{ intercambio.descripcion }}
                        </textarea>
                    <div class="descripcion-contador" *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR">
                        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                    enMayusculas: false,
                                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                                })">
                            {{ intercambioService.obtenerTextoDescripcionContador(intercambio) }}
                        </p>
                    </div>
                </div>
                <div *ngIf="confMapa" class="textoMapa">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })" class="interlineadoMapa" *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR">
                        {{ 'm6v8texto21' | translate }}
                    </p>
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                        })" class="interlineadoMapa" *ngIf="params.accionEntidad === AccionEntidadEnum.VISITAR">
                        {{ 'm6v8texto21.1' | translate }}
                    </p>
                </div>
                <div class="mapa" *ngIf="confMapa" >
                    <app-mapa #mapa [configuracion]="confMapa"></app-mapa>
                </div>

                <div *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR" class="publicar-boton">
                    <app-button [botonCompartido]="confBotonPublish"></app-button>
                </div>
                <div *ngIf="params.accionEntidad === AccionEntidadEnum.ACTUALIZAR" class="texto-estado">
                    <p *ngIf="
                            intercambio && 
                            intercambio.status.codigo === codigosCatalogoEstatusIntercambio.HABILITADA
                        " [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm6v8texto24' | translate }}
                    </p>
                    <p *ngIf="
                            intercambio && 
                            intercambio.status.codigo === codigosCatalogoEstatusIntercambio.DESHABILITADA
                        " [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2,
                            paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
                        })">
                        {{ 'm6v8texto25' | translate }}
                    </p>
                </div>
                <div *ngIf="mostrarBotonesEstadoIntercambio()" class="botonesEstado">
                    <app-button
                        *ngIf="intercambio && intercambio.status.codigo === codigosCatalogoEstatusIntercambio.DESHABILITADA"
                        [botonCompartido]="confBotonDeshabilitar"></app-button>
                    <app-button
                        *ngIf="intercambio && intercambio.status.codigo === codigosCatalogoEstatusIntercambio.HABILITADA"
                        [botonCompartido]="confBotonHabilitar"></app-button>
                    <app-button [botonCompartido]="confBotonEliminar"></app-button>
                </div>

                <div *ngIf="params.accionEntidad && params.accionEntidad !== AccionEntidadEnum.CREAR"
                    class="linea-comentarios">
                    <app-linea [configuracionLinea]="confLineaComentarios"></app-linea>
                </div>
                <div *ngIf="params && params.accionEntidad !== AccionEntidadEnum.CREAR" [ngClass]="{
                    'total-comentarios': true
                }">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                    })">
                        {{ 'm4v6texto31' | translate }}
                    </p>
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                    })">
                        {{ ' ' + indicadorTotalComentarios.total || 0 }}
                    </p>
                </div>
                <!-- Responder a una persona -->
                <div *ngIf="params.accionEntidad && params.accionEntidad !== AccionEntidadEnum.CREAR && listaDeFechas.length >0 "
                    class="borrado-informacion">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })">
                        {{ 'm4v1texto28' | translate }}
                    </p>
                </div>
                <!-- Lista de comentarios -->
                <div class="lista-comentarios">
                    <div *ngFor="let fecha of listaDeFechas" class="grupo-fecha">
                        <div class="contenedor-fecha">
                            <app-item-fecha [fecha]="fecha" [formato]="formatoFecha"></app-item-fecha>
                        </div>
                        <div *ngFor="let comentario of listaConfiguracionComentarios; trackBy: trackByFn"
                            class="contenedor-comentarios">
                            <app-comentario *ngIf="comenFireService.compararFechas(fecha, comentario.fecha)"
                                [configuracion]="comentario"></app-comentario>
                        </div>
                    </div>
                    <div *ngIf="!puedeCargarMas" class="loader-comentarios">
                        <app-cargando></app-cargando>
                    </div>
                  
                </div>
            </div>
        </div>


    </div>

</div>


<app-barra-inferior-inline *ngIf="params.accionEntidad !== AccionEntidadEnum.CREAR" [configuracion]="confBarraInferior">
</app-barra-inferior-inline>
<app-lista-selector *ngIf="confSelector" #selectorPaisesLista [configuracion]="confSelector"></app-lista-selector>
<app-lista-buscador-modal *ngIf="confBuscador" #buscadorLocalidadesLista [configuracion]="confBuscador">
</app-lista-buscador-modal>
<app-toast #toast [configuracion]='confToast'></app-toast>
<app-dialogo [configuracion]="confDialogoSalida"></app-dialogo>
<app-dialogo [configuracion]="confDialogoHabilitar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoDeshabilitar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminar"></app-dialogo>
<app-dialogo [configuracion]="confDialogoSalida"></app-dialogo>
<app-dialogo [configuracion]="confDialogoEliminarComentario"></app-dialogo>
<app-imagen-patanlla-completa *ngIf="confImagenPantallaCompleta" [configuracion]="confImagenPantallaCompleta">
</app-imagen-patanlla-completa>
<app-done [configuracion]="confDone"></app-done>