@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$diametro: calcular(91.09);
$altura: calcular(5);

.cuerpo-circulo {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;

	width: 100vw;
	height: 100vh;

	display: none;
	background: rgba(0, 0, 0, 0.5);

	&.mostrar {
		display: flex;
		justify-content: center;
	}

	& .tercio-enrutador {
		width: $ancho-pagina * 3;
		height: 100vh;

		display: flex;
		justify-content: center;

		& .tercio {
			width: $ancho-pagina;
			height: 100vh;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			padding-top: $appbar-alto-default;

			& .contenedor-circulo {
				width: 100%;
				height: fit-content;
				display: flex;
				justify-content: center;

				& .circulo {
					height: $diametro;
					width: $diametro;
					// margin-top: $altura;
					// background-color: #05637c;
					border-radius: 50%;
					display: block;

					& .arriba {
						height: calcular(29.34);
						width: 100%;
						display: flex;
						flex-flow: row;
						justify-content: space-between;
						align-items: flex-end;

						& .mano-izq {
							background: $mano-izquierda;
							height: calcular(15.2);
							width: calcular(27.54);
							background-repeat: no-repeat;
							z-index: 40;
							margin-left: calcular(10.21);
						}

						& .mano-der {
							background: $mano-derecha;
							height: calcular(15.2);
							width: calcular(27.54);
							background-repeat: no-repeat;
							z-index: 40;
							margin-right: calcular(10.21);
						}
					}

					& .centro {
						height: calcular(29.71);
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;
						flex-flow: column;
						// margin-left: 20%;
						& p {
							text-align: center;
						}
					}

					& .abajo {
						height: calcular(32.04);
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						& .mano-aba {
							background: $mano-abajo;
							height: calcular(28.65);
							width: calcular(20.53);
							background-repeat: no-repeat;
							z-index: 40;
						}
					}
				}
			}
		}
	}
}

@media screen and (min-aspect-ratio: "16/10") {
	@import "../../../../assets/estilos/dimensiones_16_10.scss";

	$diametro: calcular(91.09);
	$altura: calcular(5);

	.cuerpo-circulo {
		& .tercio-enrutador {
			width: ($ancho-pagina * 3) + ($espacio-entre-tercios * 2);

			& .tercio {
				width: $ancho-pagina;
				padding-top: $appbar-alto-default;

				& .contenedor-circulo {
					& .circulo {
						height: $diametro;
						width: $diametro;
						// margin-top: $altura;

						& .arriba {
							height: calcular(29.34);

							& .mano-izq {
								background: $mano-izquierda;
								height: calcular(15.2);
								width: calcular(27.54);
								background-repeat: no-repeat;
								margin-left: calcular(10.21);
								cursor: pointer;
							}

							& .mano-der {
								background: $mano-derecha;
								height: calcular(15.2);
								width: calcular(27.54);
								background-repeat: no-repeat;
								margin-right: calcular(10.21);
								cursor: pointer;
							}
						}

						& .centro {
							height: calcular(29.71);
						}

						& .abajo {
							height: calcular(32.04);

							& .mano-aba {
								background: $mano-abajo;
								height: calcular(28.65);
								width: calcular(20.53);
								background-repeat: no-repeat;
								cursor: pointer;
							}
						}
					}
				}
			}
		}
	}
}

@media screen and (min-aspect-ratio: "16/9") {
	@import "../../../../assets/estilos/dimensiones_16_9.scss";

	$diametro: calcular(91.09);
	$altura: calcular(5);

	.cuerpo-circulo {
		& .tercio-enrutador {
			width: ($ancho-pagina * 3) + ($espacio-entre-tercios * 2);

			& .tercio {
				width: $ancho-pagina;
				padding-top: $appbar-alto-default;

				& .contenedor-circulo {
					& .circulo {
						height: $diametro;
						width: $diametro;
						// margin-top: $altura;

						& .arriba {
							height: calcular(29.34);

							& .mano-izq {
								background: $mano-izquierda;
								height: calcular(15.2);
								width: calcular(27.54);
								background-repeat: no-repeat;
								margin-left: calcular(10.21);
							}

							& .mano-der {
								background: $mano-derecha;
								height: calcular(15.2);
								width: calcular(27.54);
								background-repeat: no-repeat;
								margin-right: calcular(10.21);
							}
						}

						& .centro {
							height: calcular(29.71);
						}

						& .abajo {
							height: calcular(32.04);

							& .mano-aba {
								background: $mano-abajo;
								height: calcular(28.65);
								width: calcular(20.53);
								background-repeat: no-repeat;
							}
						}
					}
				}
			}
		}
	}
}
