<div 
    *ngIf="configuracion"
    [ngClass]="{
        'cuerpo-circulo': true,
        'mostrar': (configuracion.mostrar)

    }" 
    (tap)="clickEnContenedorCirculo($event.target)"
>
    <div 
        [ngClass]="{
            'tercio-enrutador': true,
            'alinear-centro': true
        }"
    >
        <div class="tercio">
            <div class="contenedor-circulo">
                <div 
                    [ngClass]="{
                        'circulo': true
                    }" 
                    [ngStyle]="obtenerClasesCirculo()"
                >
                    <div class="arriba">
                        <div 
                            class="mano-izq" 
                            (tap)="clickIzquierdo()"
                        ></div>
                        <div 
                            class="mano-der"
                            (tap)="clickDerecha()"
                        ></div>
                    </div>
                    <div class="centro">
                        <p 
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                            })"
                        >
                            {{ 'fwtexto1' | translate }}
                        </p>
                        <p 
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                            })"
                        >
                            {{ 'fwtexto2' | translate }}
                        </p>
                        <p 
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I4
                            })"
                        >
                            {{ 'fwtexto3' | translate }}
                        </p>
                        <p 
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I4
                            })"
                        >
                            ({{ 'fwtexto4' | translate }})
                        </p>
                    </div>
                    <div class="abajo">
                        <div 
                            class="mano-aba" 
                            (tap)="clickAbajo()"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>