<div [ngClass]="obtenerContenidoDefault()" *ngIf="configuracion">
    <div [ngClass]="{
        'capa': true,
        'loader': true,
        'mostrar': configuracion?.loader 
    }">
        <app-cargando></app-cargando>
    </div>
    <div [ngClass]="{ 
        'capa': true,
        'error': true, 
        'mostrar': configuracion.error  &&  !configuracion.loader
    }">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
        color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
        enMayusculas: false,
        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2,
        paddingIzqDerDelTexto: estiloDelTextoServicio.paddingIzqDerDelTexto.PADDING_0
    })">
            {{ 'text13' | translate }}
        </p>
        <button (click)="reintentar()">Reintentar</button>
    </div>

    <div [ngClass]="{
        'capa': true,
        'contenido-general': true,
        'mostrarContenido':  !configuracion.loader && !configuracion.error
    }">
        <div class="width-item">
            <app-item-circulo [configuracion]="configuracion.configCirculoFoto"></app-item-circulo>

        </div>
        <div class="titulo-perfil">
            <p [ngClass]="
              estiloTexto.obtenerEstilosTexto({
                color: estiloTexto.colorDelTexto.TEXTOAMARILLOMEDIO,
                estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
              })
            ">
                {{configuracion.titulo | uppercase}}
            </p>

        </div>
        <div class="titulo-mis-reflex">

            <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                color: estiloTexto.colorDelTexto.TEXTOAMARILLOTITULOPENSA, 
                estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"> {{ 'm6v2texto6' | translate  }}
            </p> 
        </div>

        <div class="width-item pensamiento">

            <app-pensamiento-compartido [pensamientoCompartido]="configuracion.configuracionPensamiento"
                [dataLista]="configuracion.confDataListaPensamientos ">
            </app-pensamiento-compartido>

        </div>


        <!-- <div *ngFor="let item of configuracion.botones" class="item-botones width-item">
            <app-button [botonCompartido]=item> </app-button>
        </div> -->

        <div
            *ngIf="configuracion.sonContactos"
            class="width-item es-mi-contacto con-margen-top"
        >
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                color: estiloTexto.colorDelTexto.TEXTOVERDEBASE, 
                estiloTexto: estiloTexto.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL 
            })"> {{ 'm3v5texto3' | translate  }}
            </p> 
        </div>
        <div class="width-item botonAbrir con-margen-top">
            <app-button [botonCompartido]=configuracion.botones[0]> </app-button>
        </div> 
        <div class="width-item botonCerrar">
            <app-button [botonCompartido]=configuracion.botones[1]> </app-button>
        </div>
    </div>



</div>