<div
  *ngIf="
    item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
    item.codigo == codigosCatalogos.PAYMENTEZ
  "
>
  <div class="cotenedorMetodoPago">
    <div class="title-metodo">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: false,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
          })
        "
      >
        {{ item.nombre }}
      </p>
    </div>
  </div>
  <div class="iconPago">
    <div
      class="img-tarjetas"
      *ngIf="
        item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
        item.codigo == codigosCatalogos.PAYMENTEZ
      "
      (tap)="navegarMetodoPagoPaymentez(item)"
    >
      <div
        class="texto-accept-cards"
        *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ"
      >
        <p
          [ngClass]="
            estiloTextoServicio.obtenerEstilosTexto({
              color: estiloTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          "
        >
          {{ "m5v9texto5" | translate }}
        </p>
      </div>
      <img [src]="item.icono" alt="Imagen Método Pago" />
    </div>
  </div>
</div>

<div
  *ngIf="
    item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
    item.codigo == codigosCatalogos.PAYMENTEZ2
  "
>
  <div class="cotenedorMetodoPago">
    <div class="title-metodo">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: false,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
          })
        "
      >
        {{ item.nombre }}
      </p>
    </div>
  </div>
  <div class="iconPago">
    <div
      class="img-tarjetas"
      *ngIf="
        item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
        item.codigo == codigosCatalogos.PAYMENTEZ2
      "
      (tap)="navegarMetodoPagoPaymentez2(item)"
    >
      <div
        class="texto-accept-cards"
        *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ2"
      >
        <p
          [ngClass]="
            estiloTextoServicio.obtenerEstilosTexto({
              color: estiloTextoServicio.colorDelTexto.TEXTONEGRO,
              estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: true,
              tamanoConInterlineado:
                estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })
          "
        >
          {{ "m5v9texto5" | translate }}
        </p>
      </div>
      <img [src]="item.icono" alt="Imagen Método Pago" />
    </div>
  </div>
</div>

<div
  (tap)="eventoModalPaymentez($event.target)"
  [ngClass]="{
    'modal-monto-paymentez': true,
    mostrar: dataModalMontoPaymentezPago.abierto,
    bloqueado: dataModalMontoPaymentezPago.bloqueado
  }"
>
  <div class="contenido-modal">
    <div class="descripcion">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOCELESTE,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L2_I2
          })
        "
      >
        {{ "m12v1texto1" | translate }}
      </p>
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTextoServicio.estilosDelTexto.SEMI_BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L2_I2
          })
        "
      >
        {{ "m12v1texto2" | translate }}
      </p>
    </div>
    <div class="subtitulo">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
          })
        "
      >
        {{ "m12v1texto3" | translate }}
      </p>
    </div>
    <div class="moneda">
      <input
        [id]="idInputCantidadAPagarPaymentez"
        [ngClass]="obtenerClasesInputCantidadMoneda()"
        currencyMask
        [options]="{
          prefix: '',
          thousands: '.',
          decimal: ',',
          align: 'center',
          precision: 2
        }"
        [(ngModel)]="
          confMonedaPickerPaymentez.inputCantidadMoneda.valor.valorFormateado
        "
        placeholder="0,00"
      />
      <app-moneda-picker
        *ngIf="confMonedaPickerPaymentez"
        [configuracion]="confMonedaPickerPaymentez"
      >
      </app-moneda-picker>
    </div>
    <div class="terminos-pago">
      <input
        title="checkBoxTerminos"
        [(ngModel)]="terminosPagoPaymentez"
        (change)="checkValueTerminosPagoPaymentez($event.target)"
        type="checkbox"
      />
      <p>
        {{ "m13v1texto9" | translate }}
        <span class="docLegalCeleste" (tap)="irDocumentosLegales()">
          <a> {{ "m13v1texto10" | translate }}</a>
        </span>
      </p>
    </div>
    <div class="boton">
      <app-button [botonCompartido]="confBotonMontoPagoPaymentez"></app-button>
    </div>
    <div
      *ngIf="dataModalMontoPaymentezPago.error"
      [ngClass]="{
        'mensaje-status': true
      }"
    >
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: false,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L3_I1
          })
        "
      >
        {{ dataModalMontoPaymentezPago.errorContenido || "" | translate }}
      </p>
    </div>
  </div>
</div>

<!--Modal mensaje paymentez USD-->
<div
  [ngClass]="{
    'modal-mensaje-paymentez': true,
    mostrar: dataModalMensajePaymentezPago.abierto,
    bloqueado: dataModalMensajePaymentezPago.bloqueado
  }"
>
  <div class="contenido-modal">
    <div class="titulo">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
          })
        "
      >
        {{ "text106" | translate }}
      </p>
    </div>
    <div class="descripcion">
      <p
        [ngClass]="
          estiloTextoServicio.obtenerEstilosTexto({
            color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTextoServicio.estilosDelTexto.SEMI_BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTextoServicio.tamanoDeTextoConInterlineado.L2_I2
          })
        "
      >
        {{ mensajePaimentez | translate }}
      </p>
    </div>
  </div>
</div>

<app-done [configuracion]="confDone"></app-done>
<app-toast #toast [configuracion]="configuracionToast"></app-toast>
<app-lista-selector-tipo-moneda
  [configuracion]="confMonedaPickerPaymentez"
></app-lista-selector-tipo-moneda>
<app-dialogo [configuracion]="configDialoPagoPaymentezError"></app-dialogo>
