<!-- Alert test conection -->
<div class="modal-messages-conection" *ngIf="!networkStatus">
  <div class="error-box">
    <!-- <div class="shadow move">{{ 'text95' | translate }}</div> -->
    <div class="message">
      <h1 class="alert"> {{ 'text95' | translate }}</h1>
    </div>
  </div>
</div>
<!-- Contendor Principal -->
<div class="body-principal">
  <div class="contenedor-router" *ngIf="networkStatus">
    <router-outlet></router-outlet>
  </div>
</div>
