@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

// Perfil
$perfil-espesor: calcular(0.24);
$perfil-tamano-ancho: calcular(43.06);
$perfil-tamano-alto: calcular(30.66);

// Perfil - Esquinas
$esquina-diametro: calcular(4.71);
$esquina-margen: $perfil-espesor * -1;

// Album mini
$album-mini-tamano-ancho: calcular(43.3);
$album-mini-tamano-alto: calcular(30.9);

// Album preview
$album-preview-tamano-ancho: $ancho-pagina;
$album-preview-tamano-alto: calcular(71.3626);
// Album preview descripcion
$padding-descripcion: calcular(2.67);
$margin-descripcion: $interlineado-2;
$ancho-descripcion: $album-preview-tamano-ancho - ($padding-descripcion * 2);
$border-descripcion-ancho: calcular(63.86);
$border-descripcion-alto: calcular(0.71);
$margen-descripcion-linea: $espacio-01245; // 2.49 divido para 2
// Album preview editando descripcion
$capa-border-rojo-espesor-borde: calcular(1.19);
$capa-border-rojo-ancho: $album-preview-tamano-ancho - ($capa-border-rojo-espesor-borde * 2);
$capa-border-rojo-alto: $album-preview-tamano-alto - ($capa-border-rojo-espesor-borde * 2);
$capa-border-rojo-cancelar-ancho: $album-preview-tamano-ancho;
$capa-border-rojo-cancelar-alto: calcular(8.86);
$capa-border-rojo-cancelar-padding-izquierdo: calcular(5.22);
$capa-border-rojo-cancelar-mensaje-ancho: calcular(79.34);
$capa-border-rojo-cancelar-mensaje-margen-derecha: calcular(3.16);
$capa-border-rojo-cancelar-mensaje-margen-fondo: rgba(55, 73, 98, 0.8);
// Album preview con icono expandir
$expandir-icono-margen: calcular(2.67);


.itemRectangulo {
    position: relative;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    background: #ffffff;
    touch-action: auto;
}

.itemRectangulo.perfil {
    width: $perfil-tamano-ancho;
    height: $perfil-tamano-alto;
    border: $perfil-espesor solid $color-borde-rectangulos;
}

.itemRectangulo.perfilRegistro {
    width: $perfil-tamano-ancho;
    height: $perfil-tamano-alto;
    border: $perfil-espesor solid $color-borde-rectangulos;
}

.itemRectangulo.albumMini {
    width: $album-mini-tamano-ancho;
    height: $album-mini-tamano-alto;
}

.itemRectangulo.albumPreview {
    width: $album-preview-tamano-ancho;
    height: $album-preview-tamano-alto;
}

.itemRectangulo .esquina {
    display: none;
    position: absolute;
    
    width: $esquina-diametro;
    height: $esquina-diametro;

    background-image: $forma-equina-album-naranja;
    background-size: 100% 100%;
    background-repeat: no-repeat;

    &.blanco {
        // background-image: $forma-equina-album-blanca;
    }
}

.itemRectangulo .esquina.mostrar {
    display: block;
    z-index: 300;
}

.itemRectangulo .esquina.a {
    top: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(270deg);
}

.itemRectangulo .esquina.b {
    top: $esquina-margen;
    right: $esquina-margen;
}

.itemRectangulo .esquina.c {
    bottom: $esquina-margen;
    left: $esquina-margen;
    transform: rotate(180deg);
}

.itemRectangulo .esquina.d {
    bottom: $esquina-margen;
    right: $esquina-margen;
    transform: rotate(450deg);
}

.itemRectangulo .textoBoton {
    & p {
        @include fuenteConInterlineado($letra-3, $interlineado-2);
        font-weight: bold;
        text-align: center;
        user-select: none;
        white-space: pre-line;
        word-break: break-word;
    }

    &.conopacidad {
        & p {
            text-shadow: $sombraTextoBlanca;
        }
    }
    
}

// Descripcion del item
.itemDescripcion {
    width: $ancho-descripcion;
    margin: $margin-descripcion 0;
    padding: 0 $padding-descripcion;

    display: none;
    align-items: center;
    flex-flow: column;
}
.itemDescripcion.mostrar {
    display: flex;
}
.itemDescripcion p {
    text-align: center;
    margin: 0;
}
.itemDescripcion .linea {
    background-color: $verde-base;
    width: $border-descripcion-ancho;
    height: $border-descripcion-alto;
    margin-top: $margen-descripcion-linea;
}

// Capas - albumMini
.capa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    box-sizing: border-box;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.capa.mostrar {
    display: flex;

    &.textoBoton {
        align-items: center;
        justify-content: center;
    }
}

.itemRectangulo.albumPreview .capa {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover;
}

// Capa - albumPreview
.capa.dos {
    width: $capa-border-rojo-ancho;
    height: $capa-border-rojo-alto;

    border: $capa-border-rojo-espesor-borde solid $rojo-base;
}

.capa.dos .cancelar {
    position: absolute;
    bottom: 0;
    left: $capa-border-rojo-espesor-borde * -1;

    width: $capa-border-rojo-cancelar-ancho;
    height: $capa-border-rojo-cancelar-alto;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: center;
    padding-left: 0;
}

.capa.dos .cancelar .mensaje {
    background-color: $capa-border-rojo-cancelar-mensaje-margen-fondo;

    display: flex;
    align-items: center;
    justify-content: center;

    width: $capa-border-rojo-cancelar-mensaje-ancho;
    height: $capa-border-rojo-cancelar-alto;
    box-sizing: border-box;
    overflow: hidden;
}

.capa.dos .cancelar .mensaje p {
    padding: $interlineado-1 0;
    height: 100%;
    box-sizing: border-box;

    margin: 0;
    text-align: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

.capa.dos .cancelar img {
    width: $diametro-x-blanca;
    height: $diametro-x-blanca;
}

// Capa Album preview expandir foto
// Capa - albumPreview
.capa.tres {
    width: $album-preview-tamano-ancho;
    height: $album-preview-tamano-alto;
}

.capa.tres.mostrar {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.capa.tres img {
    width: $diametro-x-blanca;
    height: $diametro-x-blanca;

    margin-right: $expandir-icono-margen;
    margin-bottom: $expandir-icono-margen;
}



// Capa loader
.capa.loader {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

// Capa imagen de fondo
.capa.imagenFondo {
    
}

// Capa Opacidad
.capa.opacidad {
    
}

$modal-origen-foto-ancho: $ancho-pagina;
$modal-origen-foto-alto: calcular(24);
$modal-origen-foto-opcion-padding: calcular(2);
$modal-origen-foto-opcion-alto: calcular(8);
$modal-origen-foto-opcion-caja-padding: calcular(4);
$modal-origen-foto-opcion-imagen-margin-der: calcular(3);

// Modal origen foto
.modalOrigenFoto {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    width: $modal-origen-foto-ancho;
    height: $altura-pagina;
    top: 0;
    margin-left: calcular(3.9) * -1;
    z-index: 300;    
}
.modalOrigenFoto.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalOrigenFoto .caja {
    background: #ffffff;
    border-radius: calcular(1.16);
    width: calcular(70);
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.modalOrigenFoto .caja .opcion {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;

    padding: $modal-origen-foto-opcion-padding $espacio-267;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    cursor: pointer;

}
.modalOrigenFoto .caja .opcion img {
    height: $modal-origen-foto-opcion-alto;
    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
    object-fit: cover;
}
.modalOrigenFoto .caja .opcion p {
    font-weight: 500;
}

// Barra inferior
.barrainferior {
    width: $bottom-bar-ancho;
    height: $bottom-bar-alto;
    background: $tranparencia-base;

    border-top: $bottom-bar-border-top solid $celeste-base;

    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 0 calcular(1.39) 0 calcular(2.67);
    pointer-events: none;
    box-sizing: border-box;
    margin-top: $margin-descripcion * -1;

    &.activa > * {
        pointer-events: auto;
    }

    & .cajablanca {
        width: $bottom-bar-caja-ancho;
        height: $bottom-bar-caja-alto;
        border-radius: $bottom-bar-caja-borde-radio;
        background: #ffffff;
    
        display: flex;
        flex-flow: row;
        align-items: center;
    
        margin-right: calcular(1.39);

        & .icono {
            width: $bottom-bar-caja-icono-ancho;
            border-top-left-radius: $bottom-bar-caja-borde-radio;
            border-bottom-left-radius: $bottom-bar-caja-borde-radio;
            height: 100%;
        
            display: flex;
            align-items: center;
            justify-content: center;

            & .iconotexto {
                width: $bottom-bar-caja-icono-texto-ancho;
                height: $bottom-bar-caja-icono-texto-alto;
            }
        }

        & input {
            width: calc(100% - #{ $bottom-bar-caja-icono-ancho });
            height: 100%;
        
            border: none;
            box-sizing: border-box;
            border-top-right-radius: $bottom-bar-caja-borde-radio;
            border-bottom-right-radius: $bottom-bar-caja-borde-radio;
            padding: 0 $espacio-0178;
            outline: 0;
        
            font-size: $letra-2;
            line-height: 80%;
            font-style: italic;
        
            &::placeholder {
                text-transform: lowercase;
            }
        
            &:focus {
                outline: 0;
            }
            &:active {
                outline: 0;
            }

            &.completo {
                width: 100%;
                border-top-left-radius: $bottom-bar-caja-borde-radio;
                border-bottom-left-radius: $bottom-bar-caja-borde-radio;
            }
        }
    }

    & .boton {
        width: $bottom-bar-boton-diametro;
        height: $bottom-bar-boton-diametro;
        cursor: pointer;

        & img {
            width: 100%;
            height: 100%;
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    // Perfil
    $perfil-espesor: calcular(0.24);
    $perfil-tamano-ancho: calcular(43.06);
    $perfil-tamano-alto: calcular(30.66);

    // Perfil - Esquinas
    $esquina-diametro: calcular(4.71);
    $esquina-margen: $perfil-espesor * -1;

    // Album mini
    $album-mini-tamano-ancho: calcular(43.3);
    $album-mini-tamano-alto: calcular(30.9);

    // Album preview
    $album-preview-tamano-ancho: $ancho-pagina;
    $album-preview-tamano-alto: calcular(71.3626);
    // Album preview descripcion
    $padding-descripcion: calcular(2.67);
    $margin-descripcion: $interlineado-2;
    $ancho-descripcion: $album-preview-tamano-ancho - ($padding-descripcion * 2);
    $border-descripcion-ancho: calcular(63.86);
    $border-descripcion-alto: calcular(0.71);
    $margen-descripcion-linea: $espacio-01245; // 2.49 divido para 2
    // Album preview editando descripcion
    $capa-border-rojo-espesor-borde: calcular(1.19);
    $capa-border-rojo-ancho: $album-preview-tamano-ancho - ($capa-border-rojo-espesor-borde * 2);
    $capa-border-rojo-alto: $album-preview-tamano-alto - ($capa-border-rojo-espesor-borde * 2);
    $capa-border-rojo-cancelar-ancho: $album-preview-tamano-ancho;
    $capa-border-rojo-cancelar-alto: calcular(8.86);
    $capa-border-rojo-cancelar-padding-izquierdo: calcular(5.22);
    $capa-border-rojo-cancelar-mensaje-ancho: calcular(79.34);
    $capa-border-rojo-cancelar-mensaje-margen-derecha: calcular(3.16);
    $capa-border-rojo-cancelar-mensaje-margen-fondo: rgba(55, 73, 98, 0.8);
    // Album preview con icono expandir
    $expandir-icono-margen: calcular(2.67);

    .itemRectangulo.perfil {
        width: $perfil-tamano-ancho;
        height: $perfil-tamano-alto;
        border: $perfil-espesor solid $color-borde-rectangulos;
    }

    .itemRectangulo.perfilRegistro {
        width: $perfil-tamano-ancho;
        height: $perfil-tamano-alto;
        border: $perfil-espesor solid $color-borde-rectangulos;
    }

    .itemRectangulo.albumMini {
        width: $album-mini-tamano-ancho;
        height: $album-mini-tamano-alto;
    }

    .itemRectangulo.albumPreview {
        width: $album-preview-tamano-ancho;
        height: $album-preview-tamano-alto;
    }

    .itemRectangulo .esquina {
        width: $esquina-diametro;
        height: $esquina-diametro;
        background-image: $forma-equina-album-naranja;
        background-size: 100% 100%;
    }

    .itemRectangulo .esquina.a {
        top: $esquina-margen;
        left: $esquina-margen;
        transform: rotate(270deg);
    }

    .itemRectangulo .esquina.b {
        top: $esquina-margen;
        right: $esquina-margen;
    }

    .itemRectangulo .esquina.c {
        bottom: $esquina-margen;
        left: $esquina-margen;
    }

    .itemRectangulo .esquina.d {
        bottom: $esquina-margen;
        right: $esquina-margen;
    }

    .itemRectangulo .textoBoton {
        & p {
            @include fuenteConInterlineado($letra-3, $interlineado-2);
        }
    }

    // Descripcion del item
    .itemDescripcion {
        width: $ancho-descripcion;
        margin: $margin-descripcion 0;
        padding: 0 $padding-descripcion;
    }

    .itemDescripcion .linea {
        background-color: $verde-base;
        width: $border-descripcion-ancho;
        height: $border-descripcion-alto;
        margin-top: $margen-descripcion-linea;
    }

    .capa.dos {
        width: $capa-border-rojo-ancho;
        height: $capa-border-rojo-alto;
        border: $capa-border-rojo-espesor-borde solid $rojo-base;
    }

    .capa.dos .cancelar {
        left: $capa-border-rojo-espesor-borde * -1;
        width: $capa-border-rojo-cancelar-ancho;
        height: $capa-border-rojo-cancelar-alto;
    }

    .capa.dos .cancelar .mensaje {
        background-color: $capa-border-rojo-cancelar-mensaje-margen-fondo;
        width: $capa-border-rojo-cancelar-mensaje-ancho;
        height: $capa-border-rojo-cancelar-alto;
    }

    .capa.dos .cancelar .mensaje p {
        padding: $interlineado-1 0;
    }

    .capa.dos .cancelar img {
        width: $diametro-x-blanca;
        height: $diametro-x-blanca;
    }

    .capa.tres {
        width: $album-preview-tamano-ancho;
        height: $album-preview-tamano-alto;
    }

    .capa.tres img {
        width: $diametro-x-blanca;
        height: $diametro-x-blanca;
        margin-right: $expandir-icono-margen;
        margin-bottom: $expandir-icono-margen;
    }

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;
    }

    .modalOrigenFoto .caja {
        border-radius: calcular(1.16);
        width: calcular(70);
    }

    .modalOrigenFoto .caja .opcion {
        padding: $modal-origen-foto-opcion-padding $espacio-267;
    }

    .modalOrigenFoto .caja .opcion img {
        height: $modal-origen-foto-opcion-alto;
        margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
    }

    // Barra inferior
    .barrainferior {
        width: $bottom-bar-ancho;
        height: $bottom-bar-alto;
        background: $tranparencia-base;
        border-top: $bottom-bar-border-top solid $celeste-base;
        padding: 0 calcular(1.39) 0 calcular(2.67);
        margin-top: $margin-descripcion * -1;

        & .cajablanca {
            width: $bottom-bar-caja-ancho;
            height: $bottom-bar-caja-alto;
            border-radius: $bottom-bar-caja-borde-radio;    
            margin-right: calcular(1.39);

            & .icono {
                width: $bottom-bar-caja-icono-ancho;
                border-top-left-radius: $bottom-bar-caja-borde-radio;
                border-bottom-left-radius: $bottom-bar-caja-borde-radio;

                & .iconotexto {
                    width: $bottom-bar-caja-icono-texto-ancho;
                    height: $bottom-bar-caja-icono-texto-alto;
                }
            }

            & input {
                width: calc(100% - #{ $bottom-bar-caja-icono-ancho });
                border-top-right-radius: $bottom-bar-caja-borde-radio;
                border-bottom-right-radius: $bottom-bar-caja-borde-radio;
                padding: 0 $espacio-0178;
            
                font-size: $letra-2;

                &.completo {
                    border-top-left-radius: $bottom-bar-caja-borde-radio;
                    border-bottom-left-radius: $bottom-bar-caja-borde-radio;
                }
            }
        }

        & .boton {
            width: $bottom-bar-boton-diametro;
            height: $bottom-bar-boton-diametro;
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    // Perfil
    $perfil-espesor: calcular(0.24);
    $perfil-tamano-ancho: calcular(43.06);
    $perfil-tamano-alto: calcular(30.66);

    // Perfil - Esquinas
    $esquina-diametro: calcular(4.71);
    $esquina-margen: $perfil-espesor * -1;

    // Album mini
    $album-mini-tamano-ancho: calcular(43.3);
    $album-mini-tamano-alto: calcular(30.9);

    // Album preview
    $album-preview-tamano-ancho: $ancho-pagina;
    $album-preview-tamano-alto: calcular(71.3626);
    // Album preview descripcion
    $padding-descripcion: calcular(2.67);
    $margin-descripcion: $interlineado-2;
    $ancho-descripcion: $album-preview-tamano-ancho - ($padding-descripcion * 2);
    $border-descripcion-ancho: calcular(63.86);
    $border-descripcion-alto: calcular(0.71);
    $margen-descripcion-linea: $espacio-01245; // 2.49 divido para 2
    // Album preview editando descripcion
    $capa-border-rojo-espesor-borde: calcular(1.19);
    $capa-border-rojo-ancho: $album-preview-tamano-ancho - ($capa-border-rojo-espesor-borde * 2);
    $capa-border-rojo-alto: $album-preview-tamano-alto - ($capa-border-rojo-espesor-borde * 2);
    $capa-border-rojo-cancelar-ancho: $album-preview-tamano-ancho;
    $capa-border-rojo-cancelar-alto: calcular(8.86);
    $capa-border-rojo-cancelar-padding-izquierdo: calcular(5.22);
    $capa-border-rojo-cancelar-mensaje-ancho: calcular(79.34);
    $capa-border-rojo-cancelar-mensaje-margen-derecha: calcular(3.16);
    $capa-border-rojo-cancelar-mensaje-margen-fondo: rgba(55, 73, 98, 0.8);
    // Album preview con icono expandir
    $expandir-icono-margen: calcular(2.67);

    .itemRectangulo.perfil {
        width: $perfil-tamano-ancho;
        height: $perfil-tamano-alto;
        border: $perfil-espesor solid $color-borde-rectangulos;
    }

    .itemRectangulo.perfilRegistro {
        width: $perfil-tamano-ancho;
        height: $perfil-tamano-alto;
        border: $perfil-espesor solid $color-borde-rectangulos;
    }

    .itemRectangulo.albumMini {
        width: $album-mini-tamano-ancho;
        height: $album-mini-tamano-alto;
    }

    .itemRectangulo.albumPreview {
        width: $album-preview-tamano-ancho;
        height: $album-preview-tamano-alto;
    }

    .itemRectangulo .esquina {
        width: $esquina-diametro;
        height: $esquina-diametro;
        background-image: $forma-equina-album-naranja;
        background-size: 100% 100%;
    }

    .itemRectangulo .esquina.a {
        top: $esquina-margen;
        left: $esquina-margen;
        transform: rotate(270deg);
    }

    .itemRectangulo .esquina.b {
        top: $esquina-margen;
        right: $esquina-margen;
    }

    .itemRectangulo .esquina.c {
        bottom: $esquina-margen;
        left: $esquina-margen;
    }

    .itemRectangulo .esquina.d {
        bottom: $esquina-margen;
        right: $esquina-margen;
    }

    .itemRectangulo .textoBoton {
        & p {
            @include fuenteConInterlineado($letra-3, $interlineado-2);
        }
    }

    // Descripcion del item
    .itemDescripcion {
        width: $ancho-descripcion;
        margin: $margin-descripcion 0;
        padding: 0 $padding-descripcion;
    }

    .itemDescripcion .linea {
        background-color: $verde-base;
        width: $border-descripcion-ancho;
        height: $border-descripcion-alto;
        margin-top: $margen-descripcion-linea;
    }

    .capa.dos {
        width: $capa-border-rojo-ancho;
        height: $capa-border-rojo-alto;
        border: $capa-border-rojo-espesor-borde solid $rojo-base;
    }

    .capa.dos .cancelar {
        left: $capa-border-rojo-espesor-borde * -1;
        width: $capa-border-rojo-cancelar-ancho;
        height: $capa-border-rojo-cancelar-alto;
    }

    .capa.dos .cancelar .mensaje {
        background-color: $capa-border-rojo-cancelar-mensaje-margen-fondo;
        width: $capa-border-rojo-cancelar-mensaje-ancho;
        height: $capa-border-rojo-cancelar-alto;
    }

    .capa.dos .cancelar .mensaje p {
        padding: $interlineado-1 0;
    }

    .capa.dos .cancelar img {
        width: $diametro-x-blanca;
        height: $diametro-x-blanca;
    }

    .capa.tres {
        width: $album-preview-tamano-ancho;
        height: $album-preview-tamano-alto;
    }

    .capa.tres img {
        width: $diametro-x-blanca;
        height: $diametro-x-blanca;
        margin-right: $expandir-icono-margen;
        margin-bottom: $expandir-icono-margen;
    }

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;
    }

    .modalOrigenFoto .caja {
        border-radius: calcular(1.16);
        width: calcular(70);
    }

    .modalOrigenFoto .caja .opcion {
        padding: $modal-origen-foto-opcion-padding $espacio-267;
    }

    .modalOrigenFoto .caja .opcion img {
        height: $modal-origen-foto-opcion-alto;
        margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
    }

    // Barra inferior
    .barrainferior {
        width: $bottom-bar-ancho;
        height: $bottom-bar-alto;
        background: $tranparencia-base;
        border-top: $bottom-bar-border-top solid $celeste-base;
        padding: 0 calcular(1.39) 0 calcular(2.67);
        margin-top: $margin-descripcion * -1;

        & .cajablanca {
            width: $bottom-bar-caja-ancho;
            height: $bottom-bar-caja-alto;
            border-radius: $bottom-bar-caja-borde-radio;    
            margin-right: calcular(1.39);

            & .icono {
                width: $bottom-bar-caja-icono-ancho;
                border-top-left-radius: $bottom-bar-caja-borde-radio;
                border-bottom-left-radius: $bottom-bar-caja-borde-radio;

                & .iconotexto {
                    width: $bottom-bar-caja-icono-texto-ancho;
                    height: $bottom-bar-caja-icono-texto-alto;
                }
            }

            & input {
                width: calc(100% - #{ $bottom-bar-caja-icono-ancho });
                border-top-right-radius: $bottom-bar-caja-borde-radio;
                border-bottom-right-radius: $bottom-bar-caja-borde-radio;
                padding: 0 $espacio-0178;
            
                font-size: $letra-2;

                &.completo {
                    border-top-left-radius: $bottom-bar-caja-borde-radio;
                    border-bottom-left-radius: $bottom-bar-caja-borde-radio;
                }
            }
        }

        & .boton {
            width: $bottom-bar-boton-diametro;
            height: $bottom-bar-boton-diametro;
        }
    }
}