<div 
    *ngIf="configuracion"
    id="{{ 'itemRectangularCanvas' + configuracion.idInterno }}"
    [ngClass]="itemMetodos.obtenerClasesParaItemRectangular(configuracion)"
    gestorEventos
    (eventoTap)="tap()"
    (dobleTap)="dobletap()"
    (press)="press()"
>
    <img
        [ngClass]="{
            'capa': true,
            'imagenFondo': true,
            'mostrar': !configuracion.mostrarLoader && configuracion.urlMedia.length > 0 
        }"
        [src]="configuracion.urlMedia"
        (load)="siImagenEstaCargada($event)"
        alt=""
    >
    <div
        [ngClass]="{
            capa: true,
            textoBoton: true,
            mostrar: configuracion.mostrarBoton,
            conopacidad: (configuracion.botonConCapaDeOpacidad)
        }"
    > 
        <p>{{ configuracion.textoBoton }}</p>
    </div>
    <!-- Loader -->
    <div
        [ngClass]="{
            'capa': true,
            'loader': true,
            'mostrar': configuracion.mostrarLoader
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <input
        #inputFile
        type="file"
        id="{{ 'itemRectangularInputFile' + configuracion.idInterno }}"
        class="hide"
        accept="image/*"
        (tap)="inputFile.value = null"
        (change)="cambioEnInputTipoFile($event.target.files)"
    />
    <!-- Esquinas -->
    <div
        *ngFor="let item of bordesEsquinas; let i = index"
        [ngClass]="itemMetodos.obtenerClasesBordesEnLasEsquinasBeta(i, configuracion.usoDelItem, configuracion.usarMarcosDeConfiguracion)"
    ></div>
    <!-- Capa Marco Seleccionada - ALBUMPREVIEW -->
    <div
        [ngClass]="itemMetodos.obtenerClasesCapaConBordeRojo(configuracion.mostrarCapaImagenSeleccionadaConBorde)"
    >
        <div class="cancelar">
            <!-- <div class="mensaje">
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I2
                    })"
                >
                    {{ configuracion.textoCerrarEditarDescripcion | translate }}
                </p>
            </div> -->
        </div>
    </div>
    <!-- Capa Preview con boton de expandir - ALBUMPREVIEW -->
    <div
        [ngClass]="itemMetodos.obtenerClasesCapaConIconoExpandir(configuracion.usoDelItem, configuracion.mostrarIconoExpandirFoto)"
    >
        <img 
        gestorEventos
        (eventoTap)="ampliarFotoTap()"

        src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-ampliar-foto.svg" alt="">
    </div>
    <!-- Capa opacidad a, b, c segun especificaciones -->
    <div [ngClass]="itemMetodos.obtenerClasesCapaOpacidad(configuracion.capaOpacidad)"></div>
</div>
<div 
    *ngIf="configuracion"
    [ngClass]="itemMetodos.obtenerClasesItemDescripcion(configuracion.usoDelItem)"
>
    <!-- Ocultar segun configuracion opcionesl de mostrar o no barra inferior -->
    <p
        *ngIf="!configuracion.barraInferior || !configuracion.barraInferior.mostrar"
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
            estiloTexto: estiloDelTextoServicio.estilosDelTexto.ITALIC,
            enMayusculas: false,
            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I4
        })"
    > 
        {{ configuracion.descripcion }}
    </p>
    <!-- Mostrar barra inferior para editar descripcion -->
    <div 
        *ngIf="
            configuracion.barraInferior && 
            configuracion.barraInferior.mostrar
        "
        [ngClass]="{
            'barrainferior': true,
            'activa': true
        }"
    >
        <div
            class="cajablanca"
        >
            <div
                *ngIf="configuracion.barraInferior.configuracion.mostrarIconoTexto"
                class="icono"
                (tap)="empezarAEscribirEnInputParaDescripcion()"
                
            >
                <img class="iconotexto" src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-icono-editar-texto.svg" alt="">
            </div>
            <input
                id="input_desc_album_general"
                type="text"
                maxlength="105"
                [placeholder]="configuracion.barraInferior.configuracion.placeholder"
                [(ngModel)]="configuracion.barraInferior.configuracion.contenido"
                (keyup.enter)="actualizarDescripcion()"
                (focus)="empezarAEscribirEnInputParaDescripcion()"
                (blur)="dejarDeEscribirEnInputParaDescripcion()"
                [ngClass]="{
                    'completo': !configuracion.barraInferior.configuracion.mostrarIconoTexto
                }"
            >
        </div>
        <div
            class="boton"
            (tap)="actualizarDescripcion()"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-circular-amarilla.svg" alt="">
        </div>
    </div>
    <div class="linea"></div>
</div>
<!-- Modal elegir opcion foto -->
<div
    [ngClass]="{ 
        'modalOrigenFoto': true,
        'mostrar': confModalOrigenFoto.mostrar
    }"
    (tap)="cerrarModalOrigenFoto($event)"
>
    <div class="caja">
        <div
            class="opcion"
            (tap)="eventoEnModalOrigenFoto(0)"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-camara-origen-foto.svg" alt="">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
            {{ 'text79' | translate }}
            </p>
        </div>
        <div
            class="opcion"
            (tap)="eventoEnModalOrigenFoto(1)"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-galeria-origen-foto.svg" alt="">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
            {{ 'text80' | translate }}
            </p>
        </div>
    </div>
</div>