<div
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarModal
    }"
>
    <div
        [ngClass]="{
            'caja': true,
            'box': true,
            'mostrar': true
        }"
    >
        <div class="botones">
            <div
            *ngIf="!configuracion.mensajeError.mostrarError && !configuracion.mostrarLoader"
                class="botonDone"
                (tap)="getCropImage()"
            ></div>
            <div
                *ngIf="!configuracion.mostrarLoader"
                class="cerrarCropper"
                (tap)="cerrarCropper()"
            ></div>
        </div>
        <div class="contenedor-cropper">
            <image-cropper
                #crop
                *ngIf="configuracion.imageURL !== null"
                style="--cropper-overlay-color:'#000';--cropper-outline-color:'#000'"
                [imageURL]="configuracion?.imageURL"
                [imageFile]="configuracion?.imageFile"
                [maintainAspectRatio]="true"
                [aspectRatio]="1/1"
                [roundCropper]="true"
                [resizeToWidth]="200"
                [resizeToHeight]="200"
                [cropperMinWidth]="100"
                [cropperMinHeight]="100"
                [autoCrop]="false"
                [onlyScaleDown]="true"
                format="jpeg"
                (imageCropped)="imageCropped($event)"
                (imageLoaded)="imageLoaded()"
                (cropperReady)="cropperReady()"
                (loadImageFailed)="loadImageFailed()"
            ></image-cropper>
        </div>
    </div>
    <div
        [ngClass]="{
            'loader': true,
            'box': true,
            'mostrar': configuracion.mostrarLoader && !configuracion.mensajeError.mostrarError
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        [ngClass]="{
            'error': true,
            'box': true,
            'mostrar': !configuracion.mostrarLoader && configuracion.mensajeError.mostrarError
        }"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2 
            })"
        >
            {{ configuracion.mensajeError.contenido | translate }}
        </p>
    </div>
</div>

