<div *ngIf="divPensamiento!==undefined || divPensamiento!==null" class="pensamientoCompar">
    <div class="{{divPensamiento}}">
        <div *ngIf="pensamientoCompartido && pensamientoCompartido.tituloPensamiento">
            <p class="boldSombra letra-2-con-interlineado-igual txt-blanco">
                {{ pensamientoCompartido.tituloPensamiento | translate }}
            </p>
            <div class="div178">
            </div>
        </div>
        <div   class="{{tamanoSvg}}">
            <div class="svg" *ngIf="pensamientoCompartido.tipoPensamiento === tipoPensamientos.PENSAMIENTO_PERFIL ||
                  pensamientoCompartido.tipoPensamiento === tipoPensamientos.PENSAMIENTO_ALEATORIO || 
                  pensamientoCompartido.tipoPensamiento === tipoPensamientos.PENSAMIENTO_RESUMEN_CON_TITULO">
                <svg  viewBox="0 0 1467.23 1480.94" style="enable-background:new 0 0 1467.23 1480.94;" xml:space="preserve"
                preserveAspectRatio="none">
                <style type="text/css">
                    .st0 {
                        fill: none;
                        stroke: #020000;
                        stroke-width: 18;
                        stroke-miterlimit: 10;
                    }
    
                    .st1 {
                        fill: #ffffff;
                        stroke: #D8A933;
                        stroke-width: 18;
                        stroke-miterlimit: 10;
                    }
    
                    .st2 {
                        fill: none;
                        stroke: #DC0A11;
                        stroke-width: 18;
                        stroke-miterlimit: 10;
                    }
    
                    .st3 {
                        fill: #00466D;
                    } 
                </style>
                <path class="st1" d="M1460.73,266.52V204.2c0-109.19-71.39-197.7-159.46-197.7L592.88,78.09L165.95,6.5
           C77.89,6.5,6.5,95.01,6.5,204.2v61.82v948.41v62.32c0,109.19,71.39,197.7,159.46,197.7l708.39-71.59l426.93,71.59
           c88.07,0,159.45-88.51,159.45-197.7v-61.82V266.52z" />
           
            </svg>
            </div>
            <div *ngIf="pensamientoCompartido" class="{{pensamientoCompartido.tipoPensamiento}} centrarHorizontal
                 contenido-pensamientos">
                <div *ngIf="pensamientoCompartido.subtitulo">
                    <ng-content>
                    </ng-content>
                </div>
                <app-lista-vertical *ngIf="pensamientoCompartido.esLista; else noLista" [dataLista]='dataLista'>
                    <div *ngIf="dataLista.lista && dataLista.lista.length>0; else listaVacia">
                        <div *ngFor='let pensamiento of dataLista.lista; let i=index'>
                            <app-item-pensamiento (press)="eventoClickLargo(i, pensamiento)"
                                [estilo]="pensamientoCompartido.configuracionItem.estilo"
                                [configuracionItem]='configurarDatos(i,pensamiento)'></app-item-pensamiento>
                        </div>
                    </div>
                    <ng-template #listaVacia>
                     
                        <div class="centrado ">
                            <p  [ngClass]="estiloTexto.obtenerEstilosTexto({ 
                                color: estiloTexto.colorDelTexto.TEXTOGRISDEMO, 
                                estiloTexto: estiloTexto.estilosDelTexto.BOLD, 
                                enMayusculas: true,
                                tamanoConInterlineado: estiloTexto.tamanoDeTextoConInterlineado.L2_IGUAL
                            })">
                            {{ internacionalizacionNegocio.obtenerTextoSincrono('m3v1texto18') }}
                                 
                            </p>
                        </div>
                    </ng-template>
                </app-lista-vertical>
                <ng-template #noLista>
                    <app-item-pensamiento [estilo]="pensamientoCompartido.configuracionItem.estilo"
                        [configuracionItem]='dataPensamiento'></app-item-pensamiento>
                </ng-template>
                <label *ngIf="error" class="error italic txt-rojo-base divError centrarVerticalmente">{{error}}</label>
            </div>
        </div>       
    </div>
</div>