@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';
@import '../../../../assets/estilos/imagenes.scss';


$height-svg-pensamiento: calcular(41.43);
$width-svg-pensamiento: calcular(63.82);
$tamano-fijo: calcular(77.426);

.forma-contenedor-pensamiento-login{
    height: fit-content;
    width: 100%;
    position: relative;
    & .svg{
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
    }
    & svg {
        width: 100%;
        height: 100%;
    }
}

.forma-contenedor-pensamiento-perfil{
    height: $tamano-fijo;
    width: 100%;
    position: relative;
    & .svg{
        position: absolute;
        z-index: 0;
        height: 100%;
        width: 100%;
    }
    & svg {
        width: 100%;
        height: 100%;
    }
   
}

.contenido-pensamientos{
    // cursor: pointer;
    position: relative;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;

}

.div249{
    width: 100%;
    height: $interlineado-4;
}

.div178{
    width: 100%;
    height: $espacio-0178 - $defecto-bottom;

}
.divPensamientoAleatorio{
    padding-bottom: $interlineado-10;    
    box-sizing: border-box;
    width: $ancho-pagina*0.6382;
}

.divFormasPensamientoAmarillo{    
    background-image: $forma-amarilla-pensamientos;    
    background-repeat: no-repeat;
    background-size: 100% 98%;
}
.divFormasPensamientoRojo{
    background-image: $forma-roja-pensamientos;
    background-repeat: no-repeat;
    background-size: 100% 98%;
}

.divFormasPensamiento{
    background-image: $forma-ambos-pensamientos;    
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.tamanoPensamientoAleatorio{
    width: 100%;
    min-height: calcular(41.43);
    height: fit-content;
    padding-top: $espacio-677;    
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-677 - $espacio-0249;  
    box-sizing: border-box;
    display: flex;
    align-items: center;
}
.tamanoPensamiento{    
    height: calcular(131.8643);    
    padding: calcular(5.84) calcular(9.03) calcular(52.8543) calcular(3.45);
    box-sizing: border-box;
}

.tamanioFijo{
    height: $tamano-fijo;
    width: 100%;
    padding-top: $espacio-522;   
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    box-sizing: border-box;
}

.tamanoPensamientoPrivado{
    height: calcular(131.8643);    
    padding: calcular(6.84) ($espacio-267 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78)+ $espacio-0658);
    box-sizing: border-box;
}

.tamanoPensamientoTituloResumen{
    height: calc(#{(calcular(87.85))} - #{($espacio-0249 + $espacio-0516)});
    padding-top: $espacio-09212;    
    padding-left: $espacio-267;
    padding-right: $espacio-267;
  
    padding-bottom: $espacio-09212;  
    box-sizing: border-box;
} 

.divPensamientoFormaAmarilla{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 0 0 $espacio-0658;
}

.divPensamientoFormaRoja{
    width: $ancho-pagina - $espacio-0658;       
    height: 100%;    
    padding: 0 $espacio-0658 0 0;
}

.divError{
    height: calcular(41.43)-($espacio-677*2)
}

.centrado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $height-svg-pensamiento: calcular(41.43);
    $width-svg-pensamiento: calcular(63.82);
    $tamano-fijo: calcular(77.426);

    .forma-contenedor-pensamiento-perfil{
        height: $tamano-fijo;
    }

    .div249{
        height: $interlineado-4;
    }

    .div178{
        height: $espacio-0178 - $defecto-bottom;
    }

    .divPensamientoAleatorio{
        padding-bottom: $interlineado-10;
        width: $ancho-pagina*0.6382;
    }

    .divFormasPensamientoAmarillo{    
        background-image: $forma-amarilla-pensamientos;    
        cursor: pointer;
    }

    .divFormasPensamientoRojo{
        background-image: $forma-roja-pensamientos;
        cursor: pointer;
    }

    .divFormasPensamiento{
        background-image: $forma-ambos-pensamientos;
    }

    .tamanoPensamientoAleatorio{
        min-height: calcular(41.43);
        padding-top: $espacio-677;    
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-677 - $espacio-0249;  
    }

    .tamanoPensamiento{    
        height: calcular(131.8643);    
        padding: calcular(5.84) calcular(9.03) calcular(52.8543) calcular(3.45);
    }

    .tamanioFijo{
        height: $tamano-fijo;
        padding-top: $espacio-522;   
        padding-left: $espacio-267;
        padding-right: $espacio-267;
    }

    .tamanoPensamientoPrivado{
        height: calcular(131.8643);    
        padding: calcular(6.84) ($espacio-267 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78)+ $espacio-0658);
    }

    .tamanoPensamientoTituloResumen{
        height: calc(#{(calcular(87.85))} - #{($espacio-0249 + $espacio-0516)});
        padding-top: $espacio-09212;    
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-09212;
    } 

    .divPensamientoFormaAmarilla{
        width: $ancho-pagina - $espacio-0658;
        padding: 0 0 0 $espacio-0658;
    }

    .divPensamientoFormaRoja{
        width: $ancho-pagina - $espacio-0658;
        padding: 0 $espacio-0658 0 0;
    }

    .divError{
        height: calcular(41.43)-($espacio-677*2)
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $height-svg-pensamiento: calcular(41.43);
    $width-svg-pensamiento: calcular(63.82);
    $tamano-fijo: calcular(77.426);

    .forma-contenedor-pensamiento-perfil{
        height: $tamano-fijo;
    }

    .div249{
        height: $interlineado-4;
    }

    .div178{
        height: $espacio-0178 - $defecto-bottom;
    }

    .divPensamientoAleatorio{
        padding-bottom: $interlineado-10;
        width: $ancho-pagina*0.6382;
    }

    .divFormasPensamientoAmarillo{    
        background-image: $forma-amarilla-pensamientos;    
    }

    .divFormasPensamientoRojo{
        background-image: $forma-roja-pensamientos;
    }

    .divFormasPensamiento{
        background-image: $forma-ambos-pensamientos;
    }

    .tamanoPensamientoAleatorio{
        min-height: calcular(41.43);
        padding-top: $espacio-677;    
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-677 - $espacio-0249;  
    }

    .tamanoPensamiento{    
        height: calcular(131.8643);    
        padding: calcular(5.84) calcular(9.03) calcular(52.8543) calcular(3.45);
    }

    .tamanioFijo{
        height: $tamano-fijo;
        padding-top: $espacio-522;   
        padding-left: $espacio-267;
        padding-right: $espacio-267;
    }

    .tamanoPensamientoPrivado{
        height: calcular(131.8643);    
        padding: calcular(6.84) ($espacio-267 + calcular(0.78)) (calcular(131.8643) - calcular(87.85) + calcular(6.84)) ($espacio-267 + calcular(0.78)+ $espacio-0658);
    }

    .tamanoPensamientoTituloResumen{
        height: calc(#{(calcular(87.85))} - #{($espacio-0249 + $espacio-0516)});
        padding-top: $espacio-09212;    
        padding-left: $espacio-267;
        padding-right: $espacio-267;
        padding-bottom: $espacio-09212;
    } 

    .divPensamientoFormaAmarilla{
        width: $ancho-pagina - $espacio-0658;
        padding: 0 0 0 $espacio-0658;
    }

    .divPensamientoFormaRoja{
        width: $ancho-pagina - $espacio-0658;
        padding: 0 $espacio-0658 0 0;
    }

    .divError{
        height: calcular(41.43)-($espacio-677*2)
    }
}