<div [ngClass]="{
        'modalOrigenFoto': true,
        'mostrar': configuracion.mostrar
    }" (tap)="cerrarModalOrigenFoto($event)">
    <div class="caja">
        <div
            class="opcion"
            (tap)="eventoTapVideo()"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-camara-origen-foto.svg" alt="">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
            {{ 'text91' | translate }}
            </p>
        </div>
        <div 
            class="opcion"
            (tap)="eventoTapItemOrigenCamara()"
        >
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-camara-origen-foto.svg">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })"
            >
            {{ 'text79' | translate }}
            </p>
        </div>
     
    </div>
    <!-- <div class="caja">
        <div class="opcion" (tap)="eventoTapItemOrigenCamara()">
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-camara-origen-foto.svg">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })">
                {{ 'text79' | translate }}
            </p>
        </div>
        <div class="opcion" (tap)="eventoTapItemOrigenGaleria()">
            <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-galeria-origen-foto.svg">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL 
                })">
                {{ 'text80' | translate }}
            </p>
        </div>
    </div> -->
</div>