@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

$modal-origen-foto-ancho: $ancho-pagina;
$modal-origen-foto-alto: calcular(24);
$modal-origen-foto-opcion-padding: calcular(2);
$modal-origen-foto-opcion-alto: calcular(8);
$modal-origen-foto-opcion-caja-padding: calcular(4);
$modal-origen-foto-opcion-imagen-margin-der: calcular(3);

// Modal origen foto
.modalOrigenFoto {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: absolute;
    width: $modal-origen-foto-ancho;
    height: $altura-pagina;
    top: 0;
    z-index: 999;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .caja {
        background: #ffffff;
        border-radius: calcular(1.16);
        width: calcular(70);
        height: fit-content;
    
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: column;

        .opcion {
            display: flex;
            flex-flow: row;
            box-sizing: border-box;
        
            padding: $modal-origen-foto-opcion-padding $espacio-267;
        
            width: 100%;
            height: fit-content;
        
            display: flex;
            align-items: center;
            justify-content: flex-start;
            flex-flow: row;
            cursor: pointer;

            &:first-child {
                border-top-left-radius: calcular(1.16);
                border-top-right-radius: calcular(1.16);
            }

            &:last-child {
                border-bottom-left-radius: calcular(1.16);
                border-bottom-right-radius: calcular(1.16);
            }

            &:hover {
                background: #eee;
            }

            & img {
                height: $modal-origen-foto-opcion-alto;
                margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
            }

            & p {
                font-weight: 500;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;

        & .caja {
            border-radius: calcular(1.16);
            width: calcular(70);

            .opcion {
                padding: $modal-origen-foto-opcion-padding $espacio-267;

                &:first-child {
                    border-top-left-radius: calcular(1.16);
                    border-top-right-radius: calcular(1.16);
                }

                &:last-child {
                    border-bottom-left-radius: calcular(1.16);
                    border-bottom-right-radius: calcular(1.16);
                }

                & img {
                    height: $modal-origen-foto-opcion-alto;
                    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;

        & .caja {
            border-radius: calcular(1.16);
            width: calcular(70);

            .opcion {
                padding: $modal-origen-foto-opcion-padding $espacio-267;

                &:first-child {
                    border-top-left-radius: calcular(1.16);
                    border-top-right-radius: calcular(1.16);
                }

                &:last-child {
                    border-bottom-left-radius: calcular(1.16);
                    border-bottom-right-radius: calcular(1.16);
                }

                & img {
                    height: $modal-origen-foto-opcion-alto;
                    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
                }
            }
        }
    }
}