<div *ngIf="!colorBuscadorProyectos" class="divFecha bold letra-3-con-interlineado-igual centrar">
    {{fecha | date: (formato)? formato : "dd/MM/yyyy"}}
</div>

<div *ngIf="colorBuscadorProyectos" class="divFechaColor bold letra-3-con-interlineado-igual centrar">
    {{fecha | date: (formato)? formato : "dd/MM/yyyy"}}
</div>