@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

.divFecha{
    width: fit-content;
    height: fit-content;
    border-radius: $interlineado-15;
    //padding: $interlineado-6;
    //padding: $interlineado-6 $interlineado-6 $interlineado-6 $interlineado-6;
    padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;    
    box-sizing: border-box;
    background-color: $titulo-fecha;
    color: $blanco;
}

.divFechaColor{
    width: fit-content;
    height: fit-content;
    border-radius: $interlineado-15;
    //padding: $interlineado-6;
    //padding: $interlineado-6 $interlineado-6 $interlineado-6 $interlineado-6;
    padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;    
    box-sizing: border-box;
    background-color: $input-fondo;
    color: $blanco;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .divFecha{
        border-radius: $interlineado-15;
        padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;    
    }

    .divFechaColor{
        border-radius: $interlineado-15;
        padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    
    .divFecha{
        border-radius: $interlineado-15;
        padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;    
    }

    .divFechaColor{
        border-radius: $interlineado-15;
        padding: ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6 ($interlineado-6 - calcularPaddingAfectadoPorInterlineadoTemp(1.39,true)) $interlineado-6;
    }
}