@import "../../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../../assets/estilos/colores.scss";

img {
  width: 100%;
  height: 100%;
}

.cotenedorMetodoPago {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: content-box;
}

.title-metodo {
  text-align: center;
  padding-left: $espacio-0178;
  padding-right: $espacio-0178;
  padding-bottom: $espacio-0316 - $defecto-bottom;
}

.iconPago {
  cursor: pointer;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;

  & .img-tarjetas {
    & .texto-accept-cards {
      width: $ancho-6920;
      position: absolute;
      text-align: center;
      margin-top: $espacio-0316;
    }
  }
}


@media screen and (min-aspect-ratio: 16/10) {
  @import "../../../../../../assets/estilos/dimensiones_16_10.scss";
  .cotenedorMetodoPago {
    // height: $espacio-1512;
  }

  .title-metodo {
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }

}

@media screen and (min-aspect-ratio: 16/9) {
  @import "../../../../../../assets/estilos/dimensiones_16_9.scss";

  .cotenedorMetodoPago {
    // height: $espacio-1512;
  }

  .title-metodo {
    text-align: center;
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }
}
