@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.cuerpo {
    position: relative;
    margin: 0 auto;
    padding: 0 !important;

    & .capas {
        position: relative;
        width: 100%;
        height: calc(100% - (#{$bottom-bar-alto + $espesor-012}));

        display: flex;
        align-items: center;
        justify-content: center;

        &.sin-bottom-bar {
            height: 100%;
        }

        & .capa {
            position: absolute;
            background-color: $tranparencia-base;
            width: $ancho-6920;
            height: 100%;
            box-sizing: border-box;

            display: none;

            &.mostrar {
                display: flex;
            }

            &.principal {
                padding: 0 $espacio-267 $espacio-522 $espacio-267;

                &.mostrar {
                    display: flex;
                    flex-flow: column;
                }

                & .titulo {

                    width: 100%;
                    min-height: calcular(27.58);

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-flow: column;
                    padding-top: $espacio-0316 - $defecto-top;
                    padding-bottom: $espacio-0316 - $defecto-bottom;
                    & p {
                        max-width: 50ch;
                        text-align: center;

                        &:nth-child(1) {
                            margin-top: $espacio-178 - $defecto-total;
                            // background-color: green;
                        }
                        &:nth-child(2) {
                            margin-top: $espacio-178 - $defecto-total;
                            // background-color: blue;
                        }
                    }
                }

                & .divisor {
                    &.modo-visita {
                        width: 100%;
                        height: $espacio-522;
                    }

                    & p {
                        text-align: center;
                        // width: 100%;
                        white-space: pre-line;
                        &:nth-child(2) {
                            margin-top: $espacio-522 - $defecto-top;
                            // background-color: blue;
                            // padding-left: calcular(4.91);
                            // padding-right: calcular(4.91);
                        }

                        &:nth-child(3) {
                            margin-top: $espacio-178 - $defecto-total;
                            margin-bottom: ($espacio-522 + $espacio-0316) - $defecto-bottom;
                        }
                    }

                    // & .espacio-informacion {
                    //     padding-left: calcular(3.91);
                    //     padding-right: calcular(3.91);

                    // }
                }

                & .audios {
                    display: flex;
                    flex: 1;
                    width: 100%;
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;
                    scroll-behavior: smooth;
                    overflow-anchor: none;
                    flex-flow: column;

                    & .item-audio {
                        width: 100%;
                        height: fit-content;
                        margin-bottom: $espacio-522;
                    }

                    & .cuadro-submit{
                        // height: 10vw;
                        // width: 10vw;
                        // background-color: red;
                        height: fit-content;
                        width: 100%;
                        padding-top: $espacio-522 - $espacio-0316;
                        // padding-bottom: $espacio-522;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-flow: column;
                        & .espacio-entre-texto-guardado{
                            height: $espacio-0178 - $defecto-total;
                        }
                        & p{
                            text-align: center;
                        }
                    }

                    & .no-items {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    & .linea-blanca{
        position: relative;
        z-index: 10;
    }
    &  .barra-inferior{
        background-color: red !important;
        height: 100%;
        width: 100%;
        z-index: 10;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .cuerpo {
        & .capas {
            height: calc(100% - (#{$bottom-bar-alto + $espesor-012}));

            & .capa {
                background-color: $tranparencia-base;
                width: $ancho-6920;

                &.principal {
                    padding: 0 $espacio-267 $espacio-522 $espacio-267;

                    & .titulo {
                        min-height: calcular(27.58);
                        padding-top: $espacio-0316 - $defecto-top;
                        padding-bottom: $espacio-0316 - $defecto-bottom;

                        & p {
                            &:nth-child(1) {
                                margin-top: $espacio-178 - $defecto-total;
                            }

                            &:nth-child(2) {
                                margin-top: $espacio-178 - $defecto-total;
                            }
                        }
                    }

                    & .divisor {
                        &.modo-visita {
                            height: $espacio-522;
                        }

                        & p {
                            &:nth-child(2) {
                                margin-top: $espacio-522 - $defecto-top;
                            }

                            &:nth-child(3) {
                                margin-top: $espacio-178 - $defecto-total;
                                margin-bottom: ($espacio-522 + $espacio-0316) - $defecto-bottom;
                            }
                        }
                    }

                    & .audios {
                        & .item-audio {
                            margin-bottom: $espacio-522;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .cuerpo {
        & .capas {
            height: calc(100% - (#{$bottom-bar-alto + $espesor-012}));

            & .capa {
                background-color: $tranparencia-base;
                width: $ancho-6920;

                &.principal {
                    padding: 0 $espacio-267 $espacio-522 $espacio-267;

                    & .titulo {
                        min-height: calcular(27.58);
                        padding-top: $espacio-0316 - $defecto-top;
                        padding-bottom: $espacio-0316 - $defecto-bottom;

                        & p {
                            &:nth-child(1) {
                                margin-top: $espacio-178 - $defecto-total;
                            }

                            &:nth-child(2) {
                                margin-top: $espacio-178 - $defecto-total;
                            }
                        }
                    }

                    & .divisor {
                        &.modo-visita {
                            height: $espacio-522;
                        }

                        & p {
                            &:nth-child(2) {
                                margin-top: $espacio-522 - $defecto-top;
                            }

                            &:nth-child(3) {
                                margin-top: $espacio-178 - $defecto-total;
                                margin-bottom: ($espacio-522 + $espacio-0316) - $defecto-bottom;
                            }
                        }
                    }

                    & .audios {
                        & .item-audio {
                            margin-bottom: $espacio-522;
                        }
                    }
                }
            }
        }
    }
}
