<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="cuerpo">
    <div
        [ngClass]="{
            'capas': true,
            'sin-bottom-bar': params.accionEntidad === AccionEntidadEnum.VISITAR
        }"
    >
        <div
            [ngClass]="{
                'capa': true,
                'principal': true,
                'mostrar': true
            }"
        >
            <div
                *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                class="titulo"
            >
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                    })"
                >
                    {{ 'm4v7texto2' | translate }}

                </p>
                <p
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                    })"
                >
                    {{ 'm4v7texto3' | translate }}
                </p>
            </div>
            <div
                [ngClass]="{
                    'divisor': true,
                    'modo-visita': params.accionEntidad === AccionEntidadEnum.VISITAR
                }"
            >
                <app-linea
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    [configuracionLinea]="confLineaVerde"
                ></app-linea>
                <p
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                    class="espacio-informacion"
                >
                    {{ 'm4v7texto4' | translate }}
                </p>
                <p
                    *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                    })"
                >
                    {{ 'm4v7texto5' | translate }}
                </p>
            </div>
            <!-- Audios -->
            <div
                class="audios"
                id="listaDeAudios"
            >
                <div
                    class="item-audio"
                    *ngFor="let conf of listaConfAudioReproductor"
                >
                    <app-audio-reproductor [configuracion]="conf"></app-audio-reproductor>
                </div>
                <div
                        *ngIf="
                        album.media.length > 0 &&
                        params.accionEntidad !== AccionEntidadEnum.VISITAR
                    "
                    class="cuadro-submit"
                    >
                        <!-- <app-button [botonCompartido]='confBotonSubmit'></app-button> -->
                        <p
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                            })"
                        >
                            {{ 'm4v7texto6.1' | translate }}
                        </p>
                        <div class="espacio-entre-texto-guardado"></div>
                        <p
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                                color: estiloDelTextoServicio.colorDelTexto.TEXTO_AVISO_GUAR_AUTO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                                enMayusculas: true,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                            })"
                        >
                            {{ 'm4v7texto6.2' | translate }}
                        </p>
                    </div>
                <!-- <div
                    *ngIf="listaConfAudioReproductor.length === 0"
                    class="no-items"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ 'text13' | translate }}
                    </p>
                </div> -->
            </div>
        </div>
    </div>
    <div class="linea-blanca">
        <app-linea
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        [configuracionLinea]="confLineaBlanca"
    ></app-linea>
    </div>

    <app-barra-inferior-inline class="barra-inferior"
        *ngIf="params.accionEntidad !== AccionEntidadEnum.VISITAR"
        [configuracion]="confBarraInferior"
    ></app-barra-inferior-inline>
</div>
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-modal-titulo-audio [configuracion]="confModalTituloAudio"></app-modal-titulo-audio>
<app-done [configuracion]="confDone"></app-done>
