@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'), url(./source-sans-pro/Source-Sans-Pro-Light.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Light.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Light.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(./source-sans-pro/Source-Sans-Pro-Regular.eot);
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'), local('Source Sans Pro'), url(./source-sans-pro/Source-Sans-Pro-Regular.svg#SourceSansPro) format('svg'), url(./source-sans-pro/Source-Sans-Pro-Regular.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Regular.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Regular.woff2) format('woff2'), url(./source-sans-pro/Source-Sans-Pro-Regular.eot?#iefix) format('embedded-opentype');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'), url(./source-sans-pro/Source-Sans-Pro-Bold.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Bold.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Bold.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'), url(./source-sans-pro/Source-Sans-Pro-Black.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Black.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Black.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'), url(./source-sans-pro/Source-Sans-Pro-Light-Italic.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Light-Italic.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Light-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'), url(./source-sans-pro/Source-Sans-Pro-Italic.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Italic.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'), url(./source-sans-pro/Source-Sans-Pro-Bold-Italic.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Bold-Italic.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Bold-Italic.woff2) format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'), url(./source-sans-pro/Source-Sans-Pro-Black-Italic.ttf) format('truetype'), url(./source-sans-pro/Source-Sans-Pro-Black-Italic.woff) format('woff'), url(./source-sans-pro/Source-Sans-Pro-Black-Italic.woff2) format('woff2');
}

