<div class="pagar-cripto" *ngIf="coinpayments">
  <h2>{{ "m14v1texto1" | translate }}</h2>
  <div class="qr-coinpaiments">
    <img [src]="coinpayments.qrcode_url" alt="qr pago" />
  </div>
  <div class="informacion-pago">
    <div class="contador-container">
      <span class="title-informacion">{{ "m14v1texto3" | translate }} </span>
      <div class="contador">
        <countdown [config]="{ leftTime: coinpayments.timeout }"> </countdown>
      </div>
    </div>
    <div class="monto-pagar">
      <span class="title-monto"> {{ "m14v1texto4" | translate }}</span>
      <div class="monto">
        <span>
          {{ coinpayments.amount }}
        </span>
      </div>
    </div>
    <div class="direccion-pago">
      <span class="title-direccion"> {{ "m14v1texto5" | translate }} </span>
      <div [ngClass]="isCopied ? 'direccion direccion-copiada' : 'direccion'">
        <div class="copiar-direccion-codigo">{{ coinpayments.address }}</div>
        <ng-container *ngIf="isCopied; else elseTemplateCopied">
          <div class="direccion-copiada-title">
            {{ "m14v1texto6" | translate }}
          </div>
        </ng-container>
        <ng-template #elseTemplateCopied>
          <div
            (cbOnSuccess)="copied($event)"
            ngxClipboard
            [cbContent]="coinpayments.address"
          >
            <div class="copiar-direccion">{{ "m14v1texto7" | translate }}</div>
          </div>
        </ng-template>
      </div>
    </div>
  </div>
  <div class="boton-continuar">
    <app-button [botonCompartido]="confBoton"></app-button>
  </div>
</div>
