.pagar-cripto {
  color: #e6fbf8;
  display: flex;
  flex-direction: column;

  & h3 {
    text-align: center;
  }

  & .qr-coinpaiments {
    display: flex;
    justify-content: center;

    & img {
      width: 80%;
      height: 80%;
    }
  }

  & .informacion-pago {
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;

    & .title-informacion {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 16px;

    }

    & .contador {
      padding-top: 5px;
      font-size: 24px;
    }

    & .direccion-pago {
      margin-top: 10px;
      margin-bottom: 15px;

      & .direccion-copiada {
        margin-top: 5px;
        border: 2px solid green;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;
        color: green !important;
        font-size: 14px;
      }

      & .direccion {
        margin-top: 5px;
        border: 2px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 98%;

        .copiar-direccion-codigo {
          margin-top: 5px;
          margin-bottom: 5px;
          width: 90%;
          display: flex;
          justify-content: center;
          font-size: 14px;
        }

        .copiar-direccion {
          width: 90%;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

        .direccion-copiada-title {
          display: inline-block;
          font-size: 19px;
        }
      }

    }
  }
}


