@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

.cuerpo {
    padding: 0 !important;

    & .padre-item {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & p {
            white-space: pre-line !important;
        }

        & .item {
            background-color: $tranparencia-base;


            &.item-completo {
                width: 100%;
                padding: $espacio-522 - $defecto-top $espacio-267 $espacio-522 - $defecto-bottom $espacio-267;
                box-sizing: border-box;

                & p {
                    width: 100%;
                    white-space: pre-wrap;
                    text-align: center;
                }

                & .separador {
                    width: 100%;

                    &.alto522 {
                        height: $espacio-522 + $espacio-0178 - $defecto-total ;
                    }
                }

                &.justificado {
                    & p {
                        text-align: justify;
                    }
                }
            }
            
            &.item-titulo {
                width: $ancho-6916;
                height: calcular(37.73);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-flow: column;

                &.activo {
                    justify-content: flex-end;
                    padding-bottom: $espacio-522;
                }

                & p {
                    text-align: center;
                    margin-bottom: $espacio-0249 - $defecto-bottom;
                }

                & .icono {
                    background-image: url('https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-verde-desplegable.svg');
                    height: $espacio-0518;
                    width: $espacio-0875;

                    &.abierto {
                        transform: rotateX(180deg);
                    }
                }
            }
        }
    }

    & .contenedor-linea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & .color {
            width: $ancho-6916;
            background-color: $tranparencia-base;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    .cuerpo {
        & .padre-item {
            & .item {
                &.item-completo {
                    padding: $espacio-522 - $defecto-top $espacio-267 $espacio-522 - $defecto-bottom $espacio-267;
    
                    & .separador {
                        &.alto522 {
                            height: $espacio-522 + $espacio-0178 - $defecto-total ;
                        }
                    }
                }
                
                &.item-titulo {
                    width: $ancho-6916;
                    height: calcular(37.73);
    
                    &.activo {
                        padding-bottom: $espacio-522;
                    }
    
                    & p {
                        margin-bottom: $espacio-0249 - $defecto-bottom;
                    }
    
                    & .icono {
                        height: $espacio-0518;
                        width: $espacio-0875;
                    }
                }
            }
        }
    
        & .contenedor-linea {
            & .color {
                width: $ancho-6916;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    .cuerpo {
        & .padre-item {
            & .item {
                &.item-completo {
                    padding: $espacio-522 - $defecto-top $espacio-267 $espacio-522 - $defecto-bottom $espacio-267;
    
                    & .separador {
                        &.alto522 {
                            height: $espacio-522 + $espacio-0178 - $defecto-total ;
                        }
                    }
                }
                
                &.item-titulo {
                    width: $ancho-6916;
                    height: calcular(37.73);
    
                    &.activo {
                        padding-bottom: $espacio-522;
                    }
    
                    & p {
                        margin-bottom: $espacio-0249 - $defecto-bottom;
                    }
    
                    & .icono {
                        height: $espacio-0518;
                        width: $espacio-0875;
                    }
                }
            }
        }
    
        & .contenedor-linea {
            & .color {
                width: $ancho-6916;
            }
        }
    }
}