@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';
@import '../../../../assets/estilos/imagenes.scss';

$width-cruz: calcular(3.5);
$height-cruz: calcular(3.5);

.div249{                                
    width: 100%;
    height: $interlineado-4;
}
.textPensamiento{
    width: 100%;
    padding-top: $espacio-0166 - $defecto-top;
    padding-bottom: $espacio-0316 - $defecto-bottom;   
    // min-height: calcular(41.43)-($espacio-677*2) - $letra-3 - $interlineado-6 -$interlineado-6;
    //($ancho-pagina*0.4143)-($espacio-677*2)- $letra-3 - $interlineado-6 -$interlineado-6;
    height: fit-content;
    box-sizing: border-box;
    display: flex;
    align-items: center;
   
    
}
.copiable{
    user-select: text;
}
.textPensamientoLista{
    cursor: pointer;
    width: 100%;
    padding-top: $espacio-0166 - $defecto-top;
    padding-bottom: $espacio-0316 - $defecto-bottom;
    box-sizing: border-box;
}
.divFechaX{
    width: 100%;
    height: fit-content;    
    display: flex;
    //align-items: center;
    //flex-flow: row;
}
.divFecha{
    width: fit-content;
    height: fit-content;
    float: left;
}
.divX{
    cursor: pointer;
    background-image: $cruz-negra-borrar;
    width: $width-cruz;
    height: $height-cruz;    
    margin-left: $interlineado-10 +$interlineado-10;
    box-sizing: border-box;
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $width-cruz: calcular(3.5);
    $height-cruz: calcular(3.5);

    .div249{                                
        height: $interlineado-4;
    }
    .textPensamiento{
        padding-top: $espacio-0166 - $defecto-top;
        padding-bottom: $espacio-0316 - $defecto-bottom;
    }

    .textPensamientoLista{
        padding-top: $espacio-0166 - $defecto-top;
        padding-bottom: $espacio-0316 - $defecto-bottom;
    }


    .divX{
        background-image: $cruz-negra-borrar;
        width: $width-cruz;
        height: $height-cruz;    
        margin-left: $interlineado-10 +$interlineado-10;
    }

}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $width-cruz: calcular(3.5);
    $height-cruz: calcular(3.5);

    .div249{                                
        height: $interlineado-4;
    }
    .textPensamiento{
        padding-top: $espacio-0166 - $defecto-top;
        padding-bottom: $espacio-0316 - $defecto-bottom;
    }

    .textPensamientoLista{
        padding-top: $espacio-0166 - $defecto-top;
        padding-bottom: $espacio-0316 - $defecto-bottom;
    }


    .divX{
        background-image: $cruz-negra-borrar;
        width: $width-cruz;
        height: $height-cruz;    
        margin-left: $interlineado-10 +$interlineado-10;
    }
}
 