@use "sass:math";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/estiloColor.scss";

.fondo-transparente {
    // position: absolute;
    width: 100%;
    height: $cuerpo-default-alto;
    // background-color: $tranparencia-base;
    left: calc(50% - #{math.div($ancho-6382, 2)});
    z-index: 2;
    overflow-y: auto;
}

.contenedor-compras {
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    text-align: center;
    padding-bottom: $espacio-522;
}

.lineaVerde {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
}

.item-titulo {
    padding-left: $espacio-0658;
    padding-right: $espacio-0658;
    height: $espacio-2758;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-end;

    // background: blueviolet;
}

.item {
    padding-left: $espacio-0658;
    padding-right: $espacio-0658;
    // height: $item-menu-alto-4255;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.titulo-principal {
    align-self: center;
    align-items: center;
    height: 100%;
    /* background: aquamarine; */
    display: flex;
}

.titulo-item {
    text-align: center;
    font-size: $letra-6;
    color: $blanco;
    font-weight: bold;
    padding-bottom: $espacio-522;
}

.botones-centrado {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    /* background: aliceblue; */
    width: fit-content;
    height: fit-content;
    &.botones-izquierda {
        align-items: flex-start;
    }
}

.btn-buscar {
    padding-right: $espacio-0316;
}

.btn-publicar {
    padding-left: $espacio-522;
}

.botones-izquierda {
    display: flex;
    flex-flow: row;
}

.lista-buscadores {
    text-align: left;
    // background: blue;
    width: 100%;
    height: fit-content;
    color: white;
    margin: 0;
    padding-inline-start: 20px;
    padding-bottom: $espacio-522;
    font-size: 2.22vw;
}

ul > li {
    padding-top: $espacio-522 - $defecto-bottom;
}

::ng-deep .ancho-6386.forzarAlFinal {
    left: unset !important;
}

a {
    color: $blanco;
    text-decoration: none;
}
