@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.menu-principal {
    position: relative;
    width: $cuerpo-default-ancho;
    height: $cuerpo-default-alto;

    & .capa {
        width: 100%;
        height: 100%;
        overflow-x: visible;
        overflow-y: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        & .contenido {
            width: $ancho-6916;
            height: 100%;
            overflow-y: auto;

            & .espacio-316 {
                padding-top: $espacio-0316;
                padding-bottom: $espacio-0316;
                background-color: $tranparencia-base;
                & .item-menu {
                    width: 100%;
                    height: $item-menu-alto-3773 - $espacio-0316 * 2;
                    box-sizing: border-box;
                    padding: $espacio-267 $espacio-267;
                    cursor: pointer;
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                    justify-content: center;
                    & .info-dialogo {
                        margin-top: -$item-menu-alto-3773;
                    }
                    & p {
                        text-align: center;
                        width: 100%;
                    }
                    &.deshabilitar {
                        pointer-events: none;
                    }
                }
            }

            & .linea-verde {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .menu-principal {
        width: $cuerpo-default-ancho;
        height: $cuerpo-default-alto;
    
        & .capa {
    
            & .contenido {
                width: $ancho-6916;
    
                & .espacio-316 {
                    padding-top: $espacio-0316;
                    padding-bottom: $espacio-0316;

                    & .item-menu {
                        height: $item-menu-alto-3773 - $espacio-0316 * 2;
                        padding: $espacio-267 $espacio-267;
                        
                        & .info-dialogo {
                            margin-top: -$item-menu-alto-3773;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .menu-principal {
        width: $cuerpo-default-ancho;
        height: $cuerpo-default-alto;
    
        & .capa {
    
            & .contenido {
                width: $ancho-6916;
    
                & .espacio-316 {
                    padding-top: $espacio-0316;
                    padding-bottom: $espacio-0316;

                    & .item-menu {
                        height: $item-menu-alto-3773 - $espacio-0316 * 2;
                        padding: $espacio-267 $espacio-267;
                        
                        & .info-dialogo {
                            margin-top: -$item-menu-alto-3773;
                        }
                    }
                }
            }
        }
    }
}