@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/imagenes.scss";

.cuerpo {
    // display: flex;
    // flex-flow: column;
    padding: 0 !important;

    & .contenedor-item {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: fit-content;

        & .capa-corazon {
            position: absolute;
            z-index: -1;
            width: 100%;
            height: 100%;
            display: none;

            &.mostrar {
                display: flex;
                align-items: flex-start;
                z-index: 9;
            }

            & .corazon {
                width: calc((100% - #{ calcular(69.16) }) / 2);
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                & img {
                    width: calcular(7);
                    height: calcular(7);
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";

    .cuerpo {
        & .contenedor-item {
            & .capa-corazon {
                & .corazon {
                    width: calc((100% - #{ calcular(69.16) }) / 2);

                    & img {
                        width: calcular(7);
                        height: calcular(7);
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../assets/estilos/dimensiones_16_9.scss";

    .cuerpo {
        & .contenedor-item {
            & .capa-corazon {
                & .corazon {
                    width: calc((100% - #{ calcular(69.16) }) / 2);

                    & img {
                        width: calcular(7);
                        height: calcular(7);
                    }
                }
            }
        }
    }
}
