<app-imagen-mundo></app-imagen-mundo>
<div
  [ngClass]="{
    tercio: true,
    'sobre-mundo': true
  }"
>
  <app-appbar [configuracion]="confAppBar"></app-appbar>
  <app-linea *ngIf="mostrarLinea" [configuracionLinea]="confLinea"></app-linea>
  <div
    class="cuerpo"
    id="contenedorListaMenuPrincipal"
    (scroll)="scroolEnContenedor()"
  >
    <app-dialogo [configuracion]="confDialogoConstruccion"></app-dialogo>
    <app-portada-gaze
      #portadaGazeComponent
      [configuracionPortada]="confPortada"
    ></app-portada-gaze>
    <app-lista-vertical class="centrar" [dataLista]="dataLista">
      <div class="contenedor-item" *ngFor="let item of listaMenu">
        <div
          [ngClass]="{
            'capa-corazon': true,
            mostrar: item.mostrarCorazon
          }"
        >
          <div class="corazon">
            <img
              src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/corazon-desea-contactarse.svg"
            />
          </div>
        </div>
        <app-item-menu
          [configuracionItem]="prepararItemMenu(item)"
        ></app-item-menu>
      </div>
      <div class="contenedor-item">
        <app-item-menu
          *ngIf="itemSubMenu3Puntos"
          [configuracionItem]="prepararItemSubMenu(itemSubMenu3Puntos)"
        ></app-item-menu>
      </div>
      <div class="contenedor-item">
        <app-item-menu
          *ngIf="itemMenuMultipleAccion"
          [configuracionItem]="
            prepararItemsParaMenuMultipleAccion(itemMenuMultipleAccion)
          "
        ></app-item-menu>
      </div>
    </app-lista-vertical>
    <app-dialogo [configuracion]="confDialogoLateral"></app-dialogo>
  </div>
</div>
