<div
    *ngIf="configuracion"
    class="comentario"
>
    <div
        [ngClass]="{
            'perfil': true,
            'esPropietario': configuracion.esPropietario,
            'couatorSeleccionado': (configuracion.couatorSeleccionado)
        }"
        (tap)="eventoTapEnPerfil()"
    >
        <div class="foto">
            <app-item-circulo
                *ngIf="configuracion.itemCirculo"
                [configuracion]="configuracion.itemCirculo"
            ></app-item-circulo>
        </div>
        <div
            *ngIf="configuracion.coautor"
            class="data"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                {{ configuracion.coautor.nombreContacto }}
            </p>
        </div>
    </div>
    <div
        *ngFor="let item of configuracion.comentarios;let i = index; trackBy: trackByFn"
        [ngClass]="{
            'contenido': true
        }"
    >
        <div
            [ngClass]="{
                'hora-comentario': true,
                'esPropietario': configuracion.esPropietario
            }"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                })"
            >
            {{ obtenerFechaEnFormatoDate(item.comentario.fechaCreacionFirebase) | date:'HH:mm'}} {{'m3v10texto5' | translate}}
            </p>
        </div>
        <div
            [ngClass]="{
                'sub-contenedor': true,
                'con-perfil-respuesta': (item.idPerfilRespuesta && item.idPerfilRespuesta !== null)
            }"
        >
            <div
                *ngIf="item.idPerfilRespuesta && item.idPerfilRespuesta !== null"
                class="perfil-respuesta"
            >
                <div class="foto">
                    <app-item-circulo
                        *ngIf="item.itemCirculo && item.itemCirculo !== null"
                        [configuracion]="item.itemCirculo"
                    ></app-item-circulo>
                </div>
                <div
                    class="data"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                            enMayusculas: true,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                        })"
                    >
                        {{ item.idPerfilRespuesta.nombreContacto }}
                    </p>
                </div>   
            </div>
            <div
                [ngClass]="{
                    'esquema-comentario': true,
                    'esPropietario': configuracion.esPropietario,
                    'ultimo-comentario': i === configuracion.comentarios.length - 1 
                }"
            >
                <div
                    *ngIf="item.comentario.traducciones && item.comentario.traducciones.length > 0"
                    [ngClass]="{
                        'texto': true,
                        'esRespuesta': (item.idPerfilRespuesta && item.idPerfilRespuesta !== null)
                    }"
                    [ngStyle]="obtenerEstilosParaContendorDelTexto(
                        item.comentario.coautor.configuraciones,
                        item.idPerfilRespuesta
                    )" 
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                        })"
                    >
                        {{ configurarTextoDelComentario(item.comentario) }}
                    </p>
                </div>
                <div
                    *ngIf="item.comentario.adjuntos && item.comentario.adjuntos.length > 0"
                    [ngClass]="{
                        'adjunto': true
                    }"
                >
                    <app-audio-reproductor
                        [configuracion]="obtenerConfiguracionPorId(item.comentario.id)"
                    ></app-audio-reproductor>
                </div>
                <div class="contenedor-img-comentario-proyecto"
                    *ngIf="configuracion.puedeBorrar"
                    class="boton-eliminar"
                    (tap)="eventoEliminarComentario(item.comentario)"
                >
                    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/cruz-negra-borrar.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
