@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.comentario {
    width: 100%;
    min-height: calcular(4);

    & .perfil {
        width: 100%;
        box-sizing: border-box;

        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: flex-start;

        &.couatorSeleccionado {
            background-color: $tranparencia-reenvio-mensaje;
        }

        &.esPropietario {
            flex-flow: row-reverse;
            justify-content: flex-end;

            & .foto {
                margin-left: $espacio-0316;
                margin-right: 0 !important;
            }

            & .data {
                & p {
                    text-align: right !important;
                }
            }
        }

        & .foto {
            margin-right: $espacio-0316;
        }

        & .data {
            width: calc(100% - #{ calcular(20) });
            overflow: hidden;
            display: flex;
            flex-flow: row wrap;
            align-items: center;
            justify-content: flex-start;

            & p {
                width: 100%;
            }
        }
    }

    & .contenido {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        flex-flow: column;
        align-items: center;

        & .hora-comentario {
            margin: $espacio-0139 - $defecto-top 0 $espacio-0139 - $defecto-bottom 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            box-sizing: border-box;
            padding-left: $espacio-267;

            & p {
                text-align: left;
                width: 100%;
            }

            &.esPropietario {
                padding-right: $espacio-267;
                padding-left: 0;

                & p {
                    text-align: right;
                }
            }
        }

        & .sub-contenedor {
            width: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;

            &.con-perfil-respuesta {
                background-color: $tranparencia-reenvio-mensaje-dos;
            }

            & .perfil-respuesta {
                width: 100%;
                box-sizing: border-box;
        
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: flex-start;
        
                & .foto {
                    margin-right: $espacio-0316;
                }
        
                & .data {
                    width: calc(100% - #{ calcular(20) });
                    overflow: hidden;
                    display: flex;
                    flex-flow: row wrap;
                    align-items: center;
                    justify-content: flex-start;
        
                    & p {
                        width: 100%;
                    }
                }
            }

            & .esquema-comentario {
                width: 100%;
                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: flex-start;
                margin-bottom: $espacio-0249;

                &.esPropietario {
                    flex-flow: row-reverse;
                    justify-content: flex-start;

                    & .texto {
                        & p {
                            text-align: left;
                        }
                    }
                }

                &.ultimo-comentario {
                    margin-bottom: 0;
                }

                & .texto {
                    max-width: calc(100% - #{ calcular(13.42) });
                    width: fit-content;
                    box-sizing: border-box;
                    padding: calcular(0.7) $espacio-0178 calcular(1.1) $espacio-0178 + calcular(0.2);
                    height: fit-content;
                    border-radius: calcular(1.03);

                    &.esRespuesta {
                        background-color: $azul-base !important;

                        & p {
                            color: #fff !important;
                        }
                    }

                    & p {
                        width: 100%;
                    }
                }

                & .adjunto {
                    width: calc(100% - #{ calcular(15.42) });
                    box-sizing: border-box;
                }

                & .boton-eliminar {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;
                    width: calcular(15.42);

                    & img {
                        cursor: pointer;
                        width: calcular(3.5);
                        height: calcular(3.5);
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .comentario {
        min-height: calcular(4);
    

        & .perfil {     
            &.esPropietario {  
                & .foto {
                    margin-left: $espacio-0316;
                }           
            }
    
            & .foto {
                margin-right: $espacio-0316;
            }
            & .data {
                width: calc(100% - #{ calcular(20) });
                & p {
                    width: 100%;
                }
            }
        }
    
        & .contenido {
    
            & .hora-comentario {
                margin: $espacio-0139 - $defecto-top 0 $espacio-0139 - $defecto-bottom 0;
                padding-left: $espacio-267;
    
                &.esPropietario {
                    padding-right: $espacio-267;
                }
            }
    
            & .sub-contenedor {

                &.con-perfil-respuesta {
                    background-color: $tranparencia-reenvio-mensaje-dos;
                }
    
                & .perfil-respuesta {
            
                    & .foto {
                        margin-right: $espacio-0316;
                    }
            
                    & .data {
                        width: calc(100% - #{ calcular(20) });
                    }
                }
    
                & .esquema-comentario {
                    margin-bottom: $espacio-0249;
    
                    & .texto {
                        max-width: calc(100% - #{ calcular(13.42) });
                        padding: calcular(0.7) $espacio-0178 calcular(1.1) $espacio-0178 + calcular(0.2);
                        border-radius: calcular(1.03);
                    }
    
                    & .adjunto {
                        width: calc(100% - #{ calcular(15.42) });
                    }
    
                    & .boton-eliminar {
                        width: calcular(15.42);
    
                        & img {
                            width: calcular(3.5);
                            height: calcular(3.5);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .comentario {
        min-height: calcular(4);
    
        & .perfil {     
            &.esPropietario {  
                & .foto {
                    margin-left: $espacio-0316;
                }           
            }
    
            & .foto {
                margin-right: $espacio-0316;
            }
            & .data {
                width: calc(100% - #{ calcular(20) });
                & p {
                    width: 100%;
                }
            }
        }
    
        & .contenido {
    
            & .hora-comentario {
                margin: $espacio-0139 - $defecto-top 0 $espacio-0139 - $defecto-bottom 0;
                padding-left: $espacio-267;
    
                &.esPropietario {
                    padding-right: $espacio-267;
                }
            }
    
            & .sub-contenedor {

                &.con-perfil-respuesta {
                    background-color: $tranparencia-reenvio-mensaje-dos;
                }
    
                & .perfil-respuesta {
            
                    & .foto {
                        margin-right: $espacio-0316;
                    }
            
                    & .data {
                        width: calc(100% - #{ calcular(20) });
                    }
                }
    
                & .esquema-comentario {
                    margin-bottom: $espacio-0249;
    
                    & .texto {
                        max-width: calc(100% - #{ calcular(13.42) });
                        padding: calcular(0.7) $espacio-0178 calcular(1.1) $espacio-0178 + calcular(0.2);
                        border-radius: calcular(1.03);
                    }
    
                    & .adjunto {
                        width: calc(100% - #{ calcular(15.42) });
                    }
    
                    & .boton-eliminar {
                        width: calcular(15.42);
    
                        & img {
                            width: calcular(3.5);
                            height: calcular(3.5);
                        }
                    }
                }
            }
        }
    }
}