<div
    *ngIf="configuracion"
    [ngClass]="{
        'imagen-completa': true,
        'mostrar': configuracion.mostrar
    }"
>
    <div class="cuerpo">
        <div
            [ngClass]="{
                'capa': true,
                'loader': true,
                'mostrar': configuracion.mostrarLoader
            }"
        >
            <app-cargando></app-cargando>
        </div>
        <div
            [ngClass]="{
                'capa': true,
                'imagen': true,
                'mostrar': !configuracion.mostrarLoader && configuracion.urlMedia && configuracion.urlMedia.length > 0
            }"
        >
            <div
              class="boton-cerrar"
              (tap)="eventoTapBotonCerrar()"
            >
              <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-boton-cancelar.svg" alt=""/>
            </div>
            <div
                class="boton-descargar"
                (tap)="eventoTapBotonDescagar()"
            >
                <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/icons/icon-boton-descargar.svg" alt=""/>
            </div>
            <div class="contenedor-imagen">
              <img
                [src]="configuracion.urlMedia"
                (load)="siImagenEstaCargada($event)"
                alt=""
              />
            </div>
        </div>

    </div>

</div>
