@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

.imagen-completa {
	position: fixed;
	width: 100vw;
	height: 100vh;
	z-index: 999;
	top: 0;
	left: 0;
	background: #000;
	display: none;
	align-items: center;
	justify-content: center;


	& .cuerpo {
		// background: $tranparencia-base;
		position: absolute;
		padding: 0 !important;
		top: 0;
		left: 0;
		box-sizing: border-box;
		overflow: hidden;
		z-index: 2;
		width: 100%;
		height: 100%;

	}

	&.mostrar {
		display: flex;
	}

	& .capa {
		position: absolute;
		z-index: 0;
		opacity: 0;

		&.mostrar {
			opacity: 1;
			z-index: 1;
		}

		&.loader {
			width: 100%;
			height: 100%;
			box-sizing: border-box;

			display: flex;
			align-items: center;
			justify-content: center;
		}

		&.imagen {
			width: 100%;
			height: 100%;
			box-sizing: border-box;
			position: relative;

			display: flex;
			align-items: center;
			justify-content: center;

			& .boton-cerrar {
				position: absolute;
				z-index: 1;
				top: calcular(3.5);
				

				height: calcular(9);
				width: calcular(9);

				background: #000;
				border-radius: 50%;
				cursor: pointer;


				& img {
					width: 100%;
					height: 100%;
				}
			}

			& .boton-descargar {
				position: absolute;
				z-index: 1;
				top: calcular(3.5);
				margin-left: calcular(25);
				

				height: calcular(9);
				width: calcular(9);

				background: #000;
				border-radius: 50%;
				cursor: pointer;


				& img {
					width: 100%;
					height: 100%;
				}
			}

			& .contenedor-imagen {
				top: calcular(14.5);
				left: 0;
				position: absolute;
				z-index: -1;

				width: 100%;
				height: 100%;

				display: flex;
				align-items: center;
				justify-content: center;

				& img {
					width: auto;
					height: auto;
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}

// @media (orientation: portrait) {
// 	.imagen-completa {

// 		& .capa {

// 			&.imagen {

// 				& .boton-cerrar {
// 					top: calcular(3.5);
// 					
// 					height: calcular(12);
// 					width: calcular(12);
// 				}
// 			}
// 		}
// 	}
// }

// @media (orientation: landscape) {
// 	.imagen-completa {

// 		& .capa {

// 			&.imagen {

// 				& .boton-cerrar {
// 					top: calcular(1.5);
// 					right: calcular(1.5);
// 					height: calcular(4);
// 					width: calcular(4);
// 				}
// 			}
// 		}
// 	}
// }

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss"; 

	.imagen-completa {
	
		& .capa {
	
			&.imagen {
	
				& .boton-cerrar {
					top: calcular(3.5);
					
	
					height: calcular(9);
					width: calcular(9);
				}
				& .boton-descargar {
					top: calcular(3.5);
					margin-left: calcular(25);
					height: calcular(9);
					width: calcular(9);
				}
				& .contenedor-imagen {
					top: calcular(14.5);
				}
			}
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

	.imagen-completa {
	
		& .capa {
	
			&.imagen {
	
				& .boton-cerrar {
					top: calcular(3.5);

					height: calcular(9);
					width: calcular(9);
				}
				& .boton-descargar {
					top: calcular(3.5);
					margin-left: calcular(25);
					height: calcular(9);
					width: calcular(9);
				}
				& .contenedor-imagen {
					top: calcular(14.5);
				}
			}
		}
	}
}