<div
    *ngIf="configuracion"
    [ngClass]="{
        'modal': true,
        'mostrar': configuracion.mostrarModal
    }"
>
    <div
        [ngClass]="{
            'caja': true,
            'box': true,
            'mostrar': true
        }"
    >
        <div class="botones">
            <div
                *ngIf="multipleWebcamsAvailable && !configuracion.mensajeError.mostrarError && !configuracion.mostrarLoader"
                class="girarCamara"
                (tap)="showNextWebcam(true)"
            ></div>
            <div
                *ngIf="!configuracion.mensajeError.mostrarError && !configuracion.mostrarLoader"
                class="tomarFoto sombraCaja"
                (tap)="triggerSnapshot()"
            ></div>
            <div
                *ngIf="!configuracion.mostrarLoader"
                class="cerrarCamara"
                (tap)="cerrarCamara()"
            ></div>
        </div>
        <div class="contenedor-camara">
            <webcam 
                *ngIf="configuracion && configuracion.mostrarModal && !configuracion.mensajeError.mostrarError && !configuracion.mostrarLoader"
                [height]="anchoCamara"
                [width]="altoCamara"
                [trigger]="triggerObservable"
                (imageCapture)="handleImage($event)"
                [allowCameraSwitch]="allowCameraSwitch"
                [switchCamera]="nextWebcamObservable"
                [imageQuality]="1"
                (cameraSwitched)="cameraWasSwitched($event)"
                (initError)="errorEnCamara($event)"
            ></webcam>
        </div>
    </div>
    <div
        [ngClass]="{
            'loader': true,
            'box': true,
            'mostrar': configuracion && configuracion.mostrarLoader && !configuracion.mensajeError.mostrarError
        }"
    >
        <app-cargando></app-cargando>
    </div>
    <div
        [ngClass]="{
            'error': true,
            'box': true,
            'mostrar': configuracion && configuracion.mensajeError.mostrarError
        }"
    >
        <p
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOLACRE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2 
            })"
        >
            {{ configuracion.mensajeError.contenido | translate }}
        </p>
    </div>
</div>
