<app-appbar *ngIf="configuracionAppBar" [configuracion]="configuracionAppBar"></app-appbar>
<div *ngIf="cargando;else presentar" class="tranparencia-base cuerpo centrar">
    <app-cargando></app-cargando>
</div>
<ng-template #presentar>
    <div class="contenidoGeneral">
        <div class="contenidoPensamientos">
            <div class="centrarText div230Caracteres">
                <p class="txt-azul-base bold letra-3-con-interlineado-2">{{ 'm6v1texto2' | translate | uppercase}}</p>
                <div class="div249"></div>
                <p class="txt-rojo-base regular letra-2-con-interlineado-2 ">{{ 'm6v1texto3' | translate | uppercase}}
                </p>
            </div>
            <div class="padding267 centrar">
                <div *ngIf="botonPublico" class="divBoton">
                    <app-button class="centrar" [botonCompartido]='botonPublico'></app-button>
                </div>
                <div class="div1542"></div>
                <div *ngIf="botonPrivado" class="divBoton">
                    <app-button class="centrar" [botonCompartido]='botonPrivado'></app-button>
                </div>
            </div>
            <!--<app-crear-pensamiento [estadosPensamiento]='estadosPensamiento'>
            </app-crear-pensamiento>-->
            <div class="cuerpoPensamiento centrar2">
                <div *ngIf="esPublico; else privado">
                    <div class="divIndicacionesPensamientos" *ngIf="mostrarTitulosPublico">
                        <p class="bold letra-3-con-interlineado-igual txt-amarillo-titulu-pensa centrarText"> 
                            {{ 'm6v2texto6' | translate | uppercase}}</p> 
                        <div class="div3161"></div>
                        <p class="bold letra-1-con-interlineado-1 centrarText">
                            {{ 'm6v2texto7' | translate | uppercase}} <span class="letra-2-con-interlineado-1">2</span>
                            {{ 'm6v2texto8' | translate | uppercase}}</p>
                        <!-- <p class="bold letra-1-con-interlineado-1 centrarText ">
                            {{ 'm6v2texto7' | translate | uppercase}}</p> -->
                        <div class="div178"></div>
                        <p class="bold letra-1-con-interlineado-1 txt-rojo-base  centrarText">
                            {{ 'm6v2texto9' | translate | uppercase}}</p>
                        <div class="div3162"></div>
                    </div>
                    <app-pensamiento-compartido #pensamientoCompartidoComponent (unClick)='unClick($event)'
                        (dobleClick)='dobleClick($event)' (clickLargo)='clickLargo($event)'
                        [pensamientoCompartido]='pensamientoCompartido' [dataLista]='dataListaPublico'>
 
                    </app-pensamiento-compartido>
                </div>
                <ng-template #privado>
                    <div class="divIndicacionesPensamientos">
                        <p class="bold letra-3-con-interlineado-igual txt-rojo-base centrarText">
                            {{ 'm6v3texto6' | translate | uppercase}}</p>
                        <div class="div3161"></div>
                        <!-- <p class="bold letra-1-con-interlineado-1 centrarText">
                            {{ 'm6v3texto7' | translate | uppercase}}</p> -->

                        <p class="bold letra-1-con-interlineado-1 centrarText">
                            {{ 'm6v3texto7' | translate | uppercase}} <span class="letra-2-con-interlineado-1">2</span>
                            {{ 'm6v3texto8' | translate | uppercase}}</p>
                        <div class="div178"></div>
                        <p class="bold letra-1-con-interlineado-1 txt-rojo-base  centrarText">
                            {{ 'm6v3texto9' | translate | uppercase}}</p>
                        <div class="div3162"></div>
                    </div>
                    <app-pensamiento-compartido (unClick)='unClick($event)' (dobleClick)='dobleClick($event)'
                        (clickLargo)='clickLargo($event)' [pensamientoCompartido]='pensamientoCompartido'
                        [dataLista]='dataListaPrivado'>

                    </app-pensamiento-compartido>
                </ng-template>
            </div>
            <app-toast #toast [configuracion]='configuracionToast'></app-toast>
        </div>
        <app-barra-inferior-inline [configuracion]="confBarraInferior"></app-barra-inferior-inline>
    </div>
</ng-template>