<div [id]="localCallId" [ngClass]="{ 'local': true, 'llamada': true }">

    <div class="items-llamada">
        <div [ngClass]="{'svg-ignorar-llamada': true, 'ocultar': ocultarCancelar}" 
            (tap)="cancelarLlamada()">
        </div>
    </div>

</div>

<div *ngFor="let callId of remoteCalls" [id]="callId" class="remote">
   

    <div class="items-llamada">
        <!-- <div [ngClass]="{'cronometro': true, 'ocultar': ocultarCrono}">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I1
                            })">
                <span id="horas" [innerHTML]="contador_h"></span> :
                <span id="minutos" [innerHTML]="contador_m"></span> :
                <span id="segundos" [innerHTML]="contador_s" ></span>
            </p>
        </div> -->
        <div [ngClass]="{'svg-ignorar-llamada': true, 'ocultar': ocultarCancelar}" 
            (tap)="cancelarLlamada()"></div>
    </div>
</div>