@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";

$mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

.tercio {
    background: transparent !important;
    margin: 0 !important;
}

.listaMenu {
    height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    overflow-y: auto;
    width: 100%;
    box-sizing: border-box;
}

.espacioInput {
    height: $espacio-0316;
}

.letradefecto{
    font-size: calcular(4.8) !important;
    text-align: justify;
}
.centrar{
    margin-top: $espacio-0316;
}
.separacion-inputs{
    width: 100%;
    height: $espacio-0316;
}
.links {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: calcular(3) 0;
    box-sizing: border-box;

    & a {
        text-decoration: none;
        width: 100%;
        font-size: calcular(4);
        cursor: pointer;
        text-align: center;

        &:nth-child(1) {
            margin-bottom: calcular(1);
        }
        &:nth-child(2) {
            margin-bottom: calcular(1);
        }
        &:nth-child(3) {
            margin-bottom: calcular(1);
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
	@import "../../../assets/estilos/dimensiones_16_10.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .listaMenu {
        height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    }

    .espacioInput {
        height: $espacio-0316;
    }
    .letradefecto{
        font-size: calcular(4.8) !important;
        text-align: justify;
        user-select: text !important;
    }
    .centrar{
        margin-top: $espacio-0316;
    }
    .separacion-inputs{
        width: 100%;
        height: $espacio-0316;
    }
    .links {
        padding: calcular(3) 0;

        & a {
            font-size: calcular(4);

            &:nth-child(1) {
                margin-bottom: calcular(1);
            }
            &:nth-child(2) {
                margin-bottom: calcular(1);
            }
            &:nth-child(3) {
                margin-bottom: calcular(1);
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
	@import "../../../assets/estilos/dimensiones_16_9.scss";

    $mitad-item-6920: calc((100% - #{$item-menu-ancho-6920}) / 2);

    .listaMenu {
        height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
    }

    .espacioInput {
        height: $espacio-0316;
    }

    .letradefecto{
        font-size: calcular(4.8) !important;
        text-align: justify;
    }
    .centrar{
        margin-top: $espacio-0316;
    }
    .separacion-inputs{
        width: 100%;
        height: $espacio-0316;
    }
    .links {
        padding: calcular(3) 0;

        & a {
            font-size: calcular(4);

            &:nth-child(1) {
                margin-bottom: calcular(1);
            }
            &:nth-child(2) {
                margin-bottom: calcular(1);
            }
            &:nth-child(3) {
                margin-bottom: calcular(1);
            }
        }
    }
}