<app-imagen-mundo></app-imagen-mundo>
<div class="tercio">
    <app-appbar [configuracion]="confAppBar"></app-appbar>
    <div class="listaMenu">
        <div class="fondo-transparente"></div>
        <!-- Instrucciones -->
        <app-item-menu-perfiles 
            [configuracionItem]="prepareItemInstrucciones()"
        ></app-item-menu-perfiles>
        <!-- Tipo de perfil -->
        <app-item-menu-perfiles 
            *ngFor="let item of listaTipoPerfil"
            [configuracionItem]="prepararItemTipoPerfil(item)"
        ></app-item-menu-perfiles>
        <!-- Item informacion -->
        <app-item-menu-perfiles 
            *ngIf="itemInformacion" [configuracionItem]="prepareItemInformacion(itemInformacion)"
        ></app-item-menu-perfiles>
    </div>
</div>
<!-- Modal de terminos y condiciones -->
<app-modal-inferior 
    [data]="confModalTerminosCondiciones"
>
    <p
        class="letradefecto"
    >
        {{ 'text25' | translate }}

    </p>
    <p
        class="letradefecto"
    >
        {{ 'text26' | translate }}
    </p>
    <div class="centrar">
        <input [(ngModel)]="isChecked" (change)="checkValue($event.target)" type="checkbox"/>
        <!-- <p class="letradefecto">{{ 'm13v1texto7' | translate}} <span><a href="https://gazelook.com/politicas"> {{'m13v1texto8' | translate }}</a> </span> </p> -->
        <p class="letradefecto">{{ 'm13v1texto7' | translate}} <span class="docLegal" (tap)="irDocumentosLegales()" ><a  > {{'m13v1texto8' | translate }}</a> </span> </p>
    </div>
    <div [formGroup]="menorEdadForm">
        <!-- <app-input
            [inputCompartido]='confInputNombresResponsable'
        ></app-input>
        <div class="separacion-inputs"> </div>
        <app-input 
            [inputCompartido]='confInputCorreoResponsable'
        ></app-input>
        <br> -->
        <div class="centrar">
            <button class="botondefecto" disabled *ngIf="!isChecked">
                {{ 'm13v1texto11' | translate }}
            </button>
            <button class="botondefecto" (tap)="aceptarTerminosCondicionesMenorEdad()" *ngIf="isChecked">
                {{ 'm13v1texto11' | translate }}
            </button>
        </div>
    </div>
    <!-- <div class="links">
        <a
            class="letradefecto"
        
            target="_blank"
        >
            {{'m2v11texto25' | translate}}
        </a>
        <a
            class="letradefecto"
        
            target="_blank"
        >
            {{'m2v11texto26' | translate}}
        </a>
        <a
                class="letradefecto"
            
                target="_blank"
            >
                {{'m2v11texto26.2' | translate}}
            </a>
        <a
            class="letradefecto"

            target="_blank"
        >
            {{'m2v11texto26.1' | translate}}
        </a>
    </div> -->
</app-modal-inferior>
<app-toast #toast [configuracion]="confToast"></app-toast>