@import "../../../assets/estilos/dimensiones.scss";
@import "../../../assets/estilos/colores.scss";
@import "../../../assets/estilos/imagenes.scss";

.cuerpo {
    margin-top: $espacio-0249;
    padding-bottom: $espacio-522 + $espacio-0249;
    background-image: #{$fondo-anuncio-arbol};
    background-position: center;
    background-repeat: no-repeat;

    & .linea-verde {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: ($espacio-522 + $espacio-0136) 0 ($espacio-522 + $espacio-0136) 0;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../assets/estilos/dimensiones_16_10.scss";
    .cuerpo {
        margin-top: $espacio-0249;
        padding-bottom: $espacio-522 + $espacio-0249;
        background-image: #{$fondo-anuncio-arbol};
        background-position: center;
        background-repeat: no-repeat;
    
        & .linea-verde {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: ($espacio-522 + $espacio-0136) 0 ($espacio-522 + $espacio-0136) 0;
        }
    }
}


@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../assets/estilos/dimensiones_16_9.scss";
    .cuerpo {
        margin-top: $espacio-0249;
        padding-bottom: $espacio-522 + $espacio-0249;
        background-image: #{$fondo-anuncio-arbol};
        background-position: center;
        background-repeat: no-repeat;
    
        & .linea-verde {
            display: flex;
            align-items: center;
            justify-content: center;
            margin: ($espacio-522 + $espacio-0136) 0 ($espacio-522 + $espacio-0136) 0;
        }
    }
}
