<app-appbar [configuracion]="confAppBar"></app-appbar>
<div [id]="idCapaCuerpo" [ngClass]="{
        'cuerpo': true,
        'conLoader': mostrarCapaLoader && !mostrarCapaError,
        'conError': !mostrarCapaLoader && mostrarCapaError,
        'sinElementos': !mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length === 0
    }" (scroll)="scroolEnCapaCuerpo()">

    <div class="caja d">
        <div class="filab">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
                <!-- {{ codigoIntercambioInicial }} {{ ':' }} -->
                {{ tipoIntercambioPrincipal | translate}}
            </p>
        </div>

    </div>
    <div class="caja d">
        <div class="filac">
            <select name="miselect2" [(ngModel)]="codigoAIntercambiarB">
                <option [value]=" '' " disabled selected hidden>{{'m6v6texto10' | translate}}</option>
                <option [value]="item.codigo" *ngFor="let item of codigosTipoIntercambio">{{item.nombre}}
                </option>
            </select>
        </div>
    </div>
    <div class="texto-elija">
        <!-- <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
            {{ 'm6v6texto2' | translate }}
        </p> -->
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })">
            {{ 'm6v6texto2.1' | translate }}
        </p>

    </div>
    <div class="inputs-buscador">
        <div class="caja a">
            <input type="text" [placeholder]="'m6v6texto3' | translate" class="input-tema" [(ngModel)]="tituloBuscador">
        </div>
        <div class="caja b">
            <div class="fila">
                <app-selector *ngIf="confSelector" #selectorPaises [configuracion]="confSelector"></app-selector>
            </div>
            <div class="fila">
                <app-buscador-modal *ngIf="confBuscador" #buscadorLocalidades [configuracion]="confBuscador">
                </app-buscador-modal>
            </div>
        </div>



        <div *ngIf="!puedeCargarMas || mostrarCapaLoader" class="encarga">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })">
                {{ 'text11' | translate }}
            </p>
        </div>

        <div *ngIf="puedeCargarMas && !mostrarCapaLoader" class="fechas">
            <div class="titulo">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                    {{ 'm6v6texto11' | translate }}
                </p>
            </div>
            <div class="herramientas">
                <div class="input">
                    <input type="date" [(ngModel)]="fechaInicial" id="inputFechaInicial" (change)="cambioDeFecha(0)"
                        [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }" min="2020-09-01">
                    <div class="fecha">
                        {{ fechaInicial | date:'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="to">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })">
                        {{ 'm5v17texto4' | translate }}
                    </p>
                </div>
                <div class="input">
                    <input type="date" [(ngModel)]="fechaFinal" id="inputFechaFinal" (change)="cambioDeFecha(1)"
                        [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }" [max]="currentDay">
                    <div class="fecha">
                        {{ fechaFinal | date:'dd/MM/yyyy' }}
                    </div>
                </div>
            </div>

        </div>

    </div>
    <div class="boton-buscar">
        <app-button [botonCompartido]="confBotonBuscar"></app-button>
    </div>
    <div class="linea-verde" *ngIf="mostrarLineaVerde">
        <app-linea [configuracionLinea]="confLineaintercambio"></app-linea>
    </div>



    <div class="titulo-lista">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })">
            {{ 'm5v3texto5' | translate }}
        </p>
    </div>
    <div *ngIf="mostrarCapaLoader && !mostrarCapaError" class="loader">
        <app-cargando></app-cargando>
    </div>
    <div *ngIf="!mostrarCapaLoader && mostrarCapaError" class="error">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })">
            {{ 'text37' | translate }}
        </p>
    </div>
    <div *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length === 0" class="noitems">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })">
            {{ 'text13' | translate }}
        </p>
    </div>
    <div *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length > 0" class="contenedor-lista">
        <div class="lista-proyectos">
            <div *ngFor="let item of this.listaIntercambio.lista;let i = index" class="caja-item">
                <app-item-proyectos-noticias [configuracion]="item"></app-item-proyectos-noticias>
                <div *ngIf="i === 0 || i % 2 === 0" class="separador-vertircal"></div>
            </div>
        </div>
        <div *ngIf="!puedeCargarMas && !mostrarCapaLoader && !mostrarCapaError" class="loader-interno">
            <app-cargando></app-cargando>
        </div>
    </div>
</div>
<!-- <div [id]="idCapaCuerpo" [ngClass]="{
        'cuerpo': true,
        'conLoader': mostrarCapaLoader && !mostrarCapaError,
        'conError': !mostrarCapaLoader && mostrarCapaError,
        'sinElementos': !mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length === 0
    }" (scroll)="scroolEnCapaCuerpo()">

    <div class="texto-elija">
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
            {{ 'm6v6texto2' | translate }}
        </p>
        <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
            })">
            {{ 'm6v6texto2.1' | translate }}
        </p>

    </div>
    <div class="inputs-buscador">
        <div class="caja a">
            <input type="text" [placeholder]="'m6v6texto3' | translate" class="input-tema" [(ngModel)]="tituloBuscador">
        </div>
        <div class="caja b">
            <div class="fila">
                <app-selector *ngIf="confSelector" #selectorPaises [configuracion]="confSelector"></app-selector>
            </div>
            <div class="fila">
                <app-buscador-modal *ngIf="confBuscador" #buscadorLocalidades [configuracion]="confBuscador">
                </app-buscador-modal>
            </div>
        </div>
        <div class="caja d">
            <div class="filab">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">

                    {{ tipoIntercambioPrincipal | translate}}
                </p>
            </div>

        </div>
        <div class="caja d">
            <div class="filac">
                <select name="miselect2" [(ngModel)]="codigoAIntercambiarB">
                    <option [value]=" '' " disabled selected hidden>{{'m6v6texto10' | translate}}</option>
                    <option [value]="item.codigo" *ngFor="let item of codigosTipoIntercambio">{{item.nombre}}
                    </option>
                </select>
            </div>
        </div>



        <div *ngIf="!puedeCargarMas || mostrarCapaLoader" class="encarga">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })">
                {{ 'text11' | translate }}
            </p>
        </div>

        <div *ngIf="puedeCargarMas && !mostrarCapaLoader" class="fechas">
            <div class="titulo">
                <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                })">
                    {{ 'm6v6texto11' | translate }}
                </p>
            </div>
            <div class="herramientas">
                <div class="input">
                    <input type="date" [(ngModel)]="fechaInicial" id="inputFechaInicial" (change)="cambioDeFecha(0)"
                        [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }" min="2020-09-01">
                    <div class="fecha">
                        {{ fechaInicial | date:'dd/MM/yyyy' }}
                    </div>
                </div>
                <div class="to">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })">
                        {{ 'm5v17texto4' | translate }}
                    </p>
                </div>
                <div class="input">
                    <input type="date" [(ngModel)]="fechaFinal" id="inputFechaFinal" (change)="cambioDeFecha(1)"
                        [ngClass]="{
                        'sinEventos': (!puedeCargarMas || mostrarCapaLoader)
                    }" [max]="currentDay">
                    <div class="fecha">
                        {{ fechaFinal | date:'dd/MM/yyyy' }}
                    </div>
                </div>
            </div>

        </div>
        <div class="boton-buscar">
            <app-button [botonCompartido]="confBotonBuscar"></app-button>
        </div>
        <div class="linea-verde" *ngIf="mostrarLineaVerde">
            <app-linea [configuracionLinea]="confLineaintercambio"></app-linea>
        </div>

        <div class="titulo-lista">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
            })">
                {{ 'm5v3texto5' | translate }}
            </p>
        </div>
        <div *ngIf="mostrarCapaLoader && !mostrarCapaError" class="loader">
            <app-cargando></app-cargando>
        </div>
        <div *ngIf="!mostrarCapaLoader && mostrarCapaError" class="error">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })">
                {{ 'text37' | translate }}
            </p>
        </div>
        <div *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length === 0" class="noitems">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: false,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })">
                {{ 'text13' | translate }}
            </p>
        </div>
        <div *ngIf="!mostrarCapaLoader && !mostrarCapaError && listaIntercambio.lista.length > 0"
            class="contenedor-lista">
            <div class="lista-proyectos">
                <div *ngFor="let item of this.listaIntercambio.lista;let i = index" class="caja-item">
                    <app-item-intercambio [configuracion]="item"> </app-item-intercambio>
                    <div *ngIf="i === 0 || i % 2 === 0" class="separador-vertircal"></div>
                </div>
            </div>
            <div *ngIf="!puedeCargarMas && !mostrarCapaLoader && !mostrarCapaError" class="loader-interno">
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div> -->
<app-toast #toast [configuracion]="confToast"></app-toast>
<app-lista-selector *ngIf="confSelector" #selectorPaisesLista [configuracion]="confSelector"></app-lista-selector>
<app-lista-buscador-modal *ngIf="confBuscador" #buscadorLocalidadesLista [configuracion]="confBuscador">
</app-lista-buscador-modal>