@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets//estilos/colores.scss";

$tranparencia-mensaje: rgba(3, 27, 39, 0.33);
$tranparencia-mensaje-oscuro: rgba(3, 27, 39, 0.33);

.capa-portada {
    position: relative;
    width: calc(100% - (#{ $border-tercios * 2 }));
    left: $border-tercios;
    height: 100%;
    transition: $transicion-contenido;


    &.ocultar {
        opacity: 0 !important;
    }
    
    & img {
        position: absolute;
        z-index: 0;
        top: 0;
        left: 0;

        width: calc(100% - (#{ $border-tercios * 2 }));
        left: $border-tercios;
        height: 100%;
    }

    & .texto {
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
        width: calc(100% - (#{ calcular(19) }));
        margin-left: calcular(10);
        margin-bottom: ($espacio-522 * 7) - $espacio-0178 - $defecto-bottom;
        background-color: $tranparencia-mensaje;
        padding-top: $espacio-0178 - $defecto-top;
        padding-bottom: $espacio-0178 - $defecto-bottom;
        padding-right: $espacio-0178;
        padding-left: $espacio-0178;
      
        &.textoEspecial {
            & p {
                text-shadow: 2.5px 1.5px 0px black !important;       
            }
        }

        & p {
            text-align: center;
            white-space: pre-line;
            font-size: $letra-3 !important;
        }
    }

    & .centrado {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        box-sizing: border-box;
        width: calc(100% - (#{ calcular(19) }));
        margin-left: calcular(10);
        margin-top: ($espacio-522 * 2) - $espacio-0178 - $defecto-top;
        background-color: $tranparencia-mensaje-oscuro ;
        padding-top: $espacio-0178 - $defecto-top;
        padding-bottom: $espacio-0178 - $defecto-bottom;
        padding-right: $espacio-0178;
        padding-left: $espacio-0178;
        & p {
            text-align: center;
            white-space: pre-line;
            font-size: $letra-3 !important;
        }


    }
}

.gif {
    position: relative;
    width: calc(100% - (#{ $border-tercios * 2 }));
    left: $border-tercios;
    height: auto;
    transition: $transicion-contenido;

    &.ocultar {
        opacity: 0 !important;
    }

    & img {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";
    
    .capa-portada {
        width: calc(100% - (#{ $border-tercios * 2 }));
        left: $border-tercios;

        & .img {
            width: calc(100% - (#{ $border-tercios * 2 }));
            left: $border-tercios;
        }

        & .texto {
            width: calc(100% - (#{ calcular(19) }));
            margin-left: calcular(10);
            margin-bottom: ($espacio-522 * 7) - $espacio-0178 - $defecto-bottom;
            background-color: $tranparencia-mensaje;
            padding-top: $espacio-0178 - $defecto-top;
            padding-bottom: $espacio-0178 - $defecto-bottom;
            padding-right: $espacio-0178;
            padding-left: $espacio-0178;
            & p {
                font-size: $letra-3 !important;
            }
            
        }
        & .centrado {
            width: calc(100% - (#{ calcular(17) }));
            margin-left: calcular(8);
            margin-top: $espacio-522 * 2;
            background-color: $tranparencia-mensaje-oscuro;
            padding-top: $espacio-0178 - $defecto-top;
            padding-bottom: $espacio-0178 - $defecto-bottom;
            padding-right: $espacio-0178;
            padding-left: $espacio-0178;
            & p {
                font-size: $letra-3 !important;
            }
        }
    }

    .gif {
        width: calc(100% - (#{ $border-tercios * 2 }));
        left: $border-tercios;
    }
}


@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";
    
    .capa-portada {
        width: calc(100% - (#{ $border-tercios * 2 }));
        left: $border-tercios;

        & .img {
            width: calc(100% - (#{ $border-tercios * 2 }));
            left: $border-tercios;
        }
        & .texto {
            width: calc(100% - (#{ calcular(19) }));
            margin-left: calcular(10);
            margin-bottom: ($espacio-522 * 7) - $espacio-0178 - $defecto-bottom;
            background-color: $tranparencia-mensaje;
            padding-top: $espacio-0178 - $defecto-top;
            padding-bottom: $espacio-0178 - $defecto-bottom;
            padding-right: $espacio-0178;
            padding-left: $espacio-0178;
            & p {
                font-size: $letra-3 !important;
            }
            
        }
        & .centrado {
            width: calc(100% - (#{ calcular(17) }));
            margin-left: calcular(8);
            margin-top: $espacio-522 * 2;
            background-color: $tranparencia-mensaje-oscuro;
            padding-top: $espacio-0178 - $defecto-top;
            padding-bottom: $espacio-0178 - $defecto-bottom;
            padding-right: $espacio-0178;
            padding-left: $espacio-0178;
            & p {
                font-size: $letra-3 !important;
            }
        }
    }

    .gif {
        width: calc(100% - (#{ $border-tercios * 2 }));
        left: $border-tercios;
    }
}