<div
    *ngIf="
        (configuracion.esIzquierdo && !variablesGlobales.animacion.mostrarGifUno) ||
        (!configuracion.esIzquierdo && !variablesGlobales.animacion.mostrarGifDos)
    "
    [ngClass]="{
        'capa-portada': true,
        'ocultar': variablesGlobales.animacion.ocultarPortadas
    }"
>
    <img [src]="configuracion.urlImagen" />
    <div
        [ngClass]="{
            'texto': (!configuracion.vaCentrado),
            'textoEspecial': (configuracion.textoEspecial),
            'centrado': (configuracion.vaCentrado)
        }"
    >
            <p
            *ngIf="configuracion.vaCentrado"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I16
            })"
        >
            {{ configuracion.llaveTexto | translate }}
        </p>
        <p
            *ngIf="!configuracion.textoEspecial && !configuracion.vaCentrado"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I14
            })"
        >
            {{ configuracion.llaveTexto | translate }}
        </p>
        <p
            *ngIf="configuracion.textoEspecial && !configuracion.vaCentrado"
            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRAMENU, 
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I14
            })"
        >
            {{ configuracion.llaveTexto | translate }}
        </p>
    </div>
</div>
<div
    *ngIf="
        (configuracion.esIzquierdo && variablesGlobales.animacion.mostrarGifUno) ||
        (!configuracion.esIzquierdo && variablesGlobales.animacion.mostrarGifDos)
    "
    [ngClass]="{
        'gif': true,
        'ocultar': variablesGlobales.animacion.ocultarPortadas
    }"
>
    <img
        [src]="configuracion.urlGif"
        (load)="siImagenEstaCargada($event)"
    />
</div>
