
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/imagenes.scss";
@import "../../../../assets/estilos/colores.scss";

.contenido-camara {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 900;

  
    // margin-top: $appbar-alto-mini + $espesor-071;
    padding-top: $appbar-alto-mini + $espesor-071;
    // background-color: blanchedalmond;
    background: rgba(0, 0, 0, 0.12);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: none;

    background-color: $tranparencia-base;
    &.mostrar {
        display: flex;
        align-items: center;
        flex-flow: column;
    }

    & .video-container{
        width: 50%;
        video {
            height: 100%;
            width: 100%;
        }
    }

    & .botones {
        // background: rgba(0, 0, 0, 0.12);
        background: rgb(113 4 4 / 68%);

        width: 50%;
        height: calcular(20);
        // flex: 1;
        box-sizing: border-box;
        margin-top: calcular(-1);
        // padding-top: calcular(1);

        display: flex;
        flex-flow: row;
        align-items: center;
        justify-content: center;

        & .girarCamara {
            width: calcular(6);
            height: calcular(6);

            background-image: $forma-boton-girar-camara-blanco;
            background-size: 100% 100%;
        }

        & .tomarFoto {
            width: calcular(10);
            height: calcular(10);
            border-radius: 50%;
            margin: 0 calcular(4);
            background-image: $forma-boton-done;
            background-size: 100% 100%;
        }

        & .cerrarCamara {
            width: calcular(6);
            height: calcular(6);

            background-image: $forma-boton-cerrar-camara-blanco;
            background-size: 100% 100%;
        }
    }

    & .list-unstyled{
        display: flex;
    }
}
