@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

$selector-sombra: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);

.selector-moneda {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: $ancho-pagina;
    height: $altura-pagina;
    top: 0;
    left: 0;
    display: none;
    z-index: 900;

    &.mostrar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .capas {
        width: 90%;
        height: 80%;
        border-radius: $selector-border-radius;
        padding: $selector-padding-tb $selector-padding-iz;
        background-color: #ffffff;
        box-sizing: border-box;
        box-shadow: $selector-sombra;

        & .capa {
            width: 100%;
            height: 100%;
            display: none;
            
            &.mostrar {
                display: flex;   
            }

            &.loader {
                align-items: center;
                justify-content: center;
            }

            &.error {
                align-items: center;
                justify-content: center;
                flex-flow: column;

                & p {
                    width: 100%;
                    margin-bottom: calcular(2.5);
                    text-align: center;
                }

                & button {
                    padding: calcular(1) calcular(4);
                }
            }

            &.elegibles {
                width: 100%;
                height: 100%;
                display: flex;
                flex-flow: column;
                touch-action: none !important;

                & .input-busqueda{
                    width: 100%;
                    height: calcular(8);
                    margin-bottom: $espacio-178;
    
                    & input {
                        width: 100%;
                        height: 100%;
                        padding: calcular(1) calcular(2);
                        box-sizing: border-box;
                        background: rgba(154, 191, 226, 0.3);
                        border: none;
                        outline: 0;
                        border-radius: calcular(1.567);
                        font-size: calcular(4.27);
    
                        &:focus,
                        &:active {
                            outline: 0;
                        }
                    }
                }
                
                & .titulo {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    padding: 0 !important;
                    height: $selector-titulo-alto;
                    margin-bottom: $espacio-0249;
                }

                & .lista {
                    height: $selector-lista-alto;
                    overflow-y: auto;
                    padding-bottom: calcular(0.5);
                    touch-action: pan-y !important;
                }

                & .elegible {
                    width: 100%;
                    height: fit-content;
                    margin: calcular(0.8) 0;
                    padding: calcular(1) calcular(1);
                    box-sizing: border-box;
                    cursor: pointer;
                    touch-action: pan-y !important;

                    display: flex;
                    flex-flow: row;
                    align-items: center;
                    justify-content: space-between;

                    & p:nth-child(1) {
                        padding-right: calcular(2) !important;
                        box-sizing: border-box;
                        display: flex;
                        flex: 1;
                    }
                
                    &:hover {
                       background: $input-fondo-registro;
                    }
                
                    &.activo {
                        background: $input-fondo-registro;
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .selector-moneda {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .capas {
            border-radius: $selector-border-radius;
            padding: $selector-padding-tb $selector-padding-iz;

            & .capa {

                &.error {

                    & p {
                        margin-bottom: calcular(2.5);
                    }

                    & button {
                        padding: calcular(1) calcular(4);
                    }
                }

                &.elegibles {

                    & .input-busqueda{
                        height: calcular(8);
                        margin-bottom: $espacio-178;
        
                        & input {
                            padding: calcular(1) calcular(2);
                            background: rgba(154, 191, 226, 0.3);
                            border-radius: calcular(1.567);
                            font-size: calcular(4.27);
                        }
                    }
                    
                    & .titulo {
                        height: $selector-titulo-alto;
                        margin-bottom: $espacio-0249;
                    }

                    & .lista {
                        height: $selector-lista-alto;
                        padding-bottom: calcular(0.5);
                    }

                    & .elegible {
                        margin: calcular(0.8) 0;
                        padding: calcular(1) calcular(1);

                        & p:nth-child(1) {
                            padding-right: calcular(2) !important;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .selector-moneda {
        width: $ancho-pagina;
        height: $altura-pagina;

        & .capas {
            border-radius: $selector-border-radius;
            padding: $selector-padding-tb $selector-padding-iz;

            & .capa {

                &.error {

                    & p {
                        margin-bottom: calcular(2.5);
                    }

                    & button {
                        padding: calcular(1) calcular(4);
                    }
                }

                &.elegibles {

                    & .input-busqueda{
                        height: calcular(8);
                        margin-bottom: $espacio-178;
        
                        & input {
                            padding: calcular(1) calcular(2);
                            background: rgba(154, 191, 226, 0.3);
                            border-radius: calcular(1.567);
                            font-size: calcular(4.27);
                        }
                    }
                    
                    & .titulo {
                        height: $selector-titulo-alto;
                        margin-bottom: $espacio-0249;
                    }

                    & .lista {
                        height: $selector-lista-alto;
                        padding-bottom: calcular(0.5);
                    }

                    & .elegible {
                        margin: calcular(0.8) 0;
                        padding: calcular(1) calcular(1);

                        & p:nth-child(1) {
                            padding-right: calcular(2) !important;
                        }
                    }
                }
            }
        }
    }
}