@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";

.item-buscador {
    width: 100%;
    min-height: calcular(4);
    box-sizing: border-box;
    padding: 0;

    display: flex;
    align-items: center;
    flex-flow: column;
    align-items: flex-start;

    & .linea {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: $espacio-0249 0;
    }

    & .interior {
        // width: calc(100% - #{ calcular(15.42) });
        width: 100%;
        min-height: calcular(7);
        display: flex;
        flex-flow: row;

        & .item {
            width: fit-content;
            margin-right: $espacio-0316;
        }

        & .titulos {
            flex: 1;
            height: fit-content;
            min-height: calcular(22);
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
            & .item-fecha{
                padding-top: $espacio-0249 - $defecto-total;
                padding-bottom: $espacio-0249 - $defecto-total;
                
            }
            & .primer-item{
                padding-bottom: $espacio-0249 - $defecto-total;
            }
            & p {
                text-align: center;
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .item-buscador {
        min-height: calcular(4);
    
        & .linea {
            margin: $espacio-0249 0;
        }
    
        & .interior {
            min-height: calcular(7);
            
            & .item {
                margin-right: $espacio-0316;
            }
    
            & .titulos {
                min-height: calcular(22);
                
                & .item-fecha{
                    padding-top: $espacio-0249 - $defecto-total;
                    padding-bottom: $espacio-0249 - $defecto-total;    
                }

                & .primer-item{
                    padding-bottom: $espacio-0249 - $defecto-total;
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .item-buscador {
        min-height: calcular(4);
    
        & .linea {
            margin: $espacio-0249 0;
        }
    
        & .interior {
            min-height: calcular(7);
            
            & .item {
                margin-right: $espacio-0316;
            }
    
            & .titulos {
                min-height: calcular(22);
                
                & .item-fecha{
                    padding-top: $espacio-0249 - $defecto-total;
                    padding-bottom: $espacio-0249 - $defecto-total;    
                }

                & .primer-item{
                    padding-bottom: $espacio-0249 - $defecto-total;
                }
            }
        }
    }
}