@import "../../../../assets/estilos/dimensiones.scss";

$toast-altura: calcular(28);
$toast-padding-left-right: calcular(2);

$loader-diametro: calcular(52);
$loader-margin-left: calcular(3);

// Modales
.sombraCaja {
-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
	0 11px 15px -7px rgba(0, 0, 0, 0.2);
box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
	0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.wrapper-toast {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;

	width: $ancho-pagina;
	height: $altura-pagina;
	background: transparent;

	background: rgba(0, 0, 0, 0.5);
}

.wrapper-toast-contenido {
	display: none;
	position: absolute;
	bottom: 0;
	left: 0;
	z-index: 900;
	width: $ancho-pagina;
	height: $altura-pagina;
	background: rgba(0, 0, 0, 0.5);
}

.wrapper-toast.mostrar {
	display: flex;
	align-items: center;
	justify-content: center;
}

.wrapper-toast-contenido.mostrar {
	display: flex;
	// align-items: flex-end;
	align-items: center;
	justify-content: center;
}

.toast {
	width: fit-content;
	height: fit-content;

	padding: $toast-padding-left-right;
	// background: #ffffff;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

	&.toast-texto {
		border-radius: calcular(4);
		min-height: $toast-altura;
		width: 80%;
		background: #fff;
		-webkit-box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
		0 11px 15px -7px rgba(0, 0, 0, 0.2);
		box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
		0 11px 15px -7px rgba(0, 0, 0, 0.2);
		z-index: 999;
	}

	& .texto {
		display: flex;
        align-items: center;
        justify-content: center;
		width: 100%;
		padding: 0 $toast-padding-left-right;
		max-height: 100%;
		overflow: hidden;
		box-sizing: border-box;
	}

	& .loader {
		width: $loader-diametro;
		height: 100%;
		// margin: 0 $loader-margin-left;

		display: flex;
		align-items: center;
		justify-content: center;

		& img {
		height: $loader-diametro;
		width: $loader-diametro;
		border-radius: 50%;
		}
	}
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

	$toast-altura: calcular(28);
	$toast-padding-left-right: calcular(2);

	$loader-diametro: calcular(52);
	$loader-margin-left: calcular(3);

	.wrapper-toast {
		width: $ancho-pagina;
		height: $altura-pagina;
	}

	.wrapper-toast-contenido {
		width: $ancho-pagina;
		height: $altura-pagina;
	}

	.toast {
		padding: $toast-padding-left-right;

		&.toast-texto {
			border-radius: calcular(4);
			min-height: $toast-altura;
		}

		& .texto {
			padding: 0 $toast-padding-left-right;
		}

		& .loader {
			width: $loader-diametro;

			& img {
				height: $loader-diametro;
				width: $loader-diametro;
			}
		}
	}
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

	$toast-altura: calcular(28);
	$toast-padding-left-right: calcular(2);

	$loader-diametro: calcular(52);
	$loader-margin-left: calcular(3);

	.wrapper-toast {
		width: $ancho-pagina;
		height: $altura-pagina;
	}

	.wrapper-toast-contenido {
		width: $ancho-pagina;
		height: $altura-pagina;
	}

	.toast {
		padding: $toast-padding-left-right;

		&.toast-texto {
			border-radius: calcular(4);
			min-height: $toast-altura;
		}

		& .texto {
			padding: 0 $toast-padding-left-right;
		}

		& .loader {
			width: $loader-diametro;

			& img {
				height: $loader-diametro;
				width: $loader-diametro;
			}
		}
	}
}


