<div
    *ngIf="configuracion"
    [ngClass]="{
        'wrapper-toast': configuracion.bloquearPantalla,
        'wrapper-toast-contenido':!configuracion.bloquearPantalla,    
        'mostrar': configuracion.mostrarToast
    }"
    (tap)="cerrarToastDesdePadre($event.target)"
>
    <div 
        [ngClass]="{
            'toast': true,
            'toast-texto': !configuracion.mostrarLoader
        }"
    >
        <div
            *ngIf="!configuracion.mostrarLoader" 
            class="texto"
        >
            <p 
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I3
                })"
            >
                {{ configuracion.texto | translate }}
            </p>
        </div>
        <div class="loader" *ngIf="configuracion.mostrarLoader">
            <img [src]="urlActiva" />
        </div>
    </div>
</div>