<div
	*ngIf="configuracion"
  	id="{{ 'itemCirculoCanvas' + configuracion.idInterno }}"
  	[ngClass]="itemMetodos.obtenerClasesParaItemCircular(configuracion)"
  	(tap)="tap()"
  	gestorEventos
  	(dobleTap)="dobletap()"
  	(press)="press()"
> 
  	<img
    	[ngClass]="{
      		capa: true,
      		imagenFondo: true,
      		mostrar: !configuracion.mostrarLoader && configuracion.urlMedia.length > 0
    	}"
    	[src]="configuracion.urlMedia"
    	(load)="siImagenEstaCargada($event)"
		alt=""
	/>
	<!-- BOTON -->
	<div
		[ngClass]="{
			capa: true,
            textoBoton: true,
			mostrar: configuracion.mostrarBoton,
			conopacidad: (configuracion.botonConCapaDeOpacidad)
        }"
	>
		<p>
			{{ configuracion.textoBoton | translate }}
		</p>
	</div>
  	<!-- Loader -->
  	<div
    	[ngClass]="{
      		capa: true,
      		loader: true,
      		mostrar: configuracion.mostrarLoader
    	}"
  	>
    	<app-cargando></app-cargando> 
  	</div>
  	<input
    	#inputFile
    	type="file"
    	id="{{ 'itemCirculoInputFile' + configuracion.idInterno }}"
    	class="hide"
		accept="image/*"
		(change)="cambioEnInputTipoFile($event.target.files)"
	/>
  	<!-- Capa opacidad a, b, c segun especificaciones -->
  	<div
    	[ngClass]="itemMetodos.obtenerClasesCapaOpacidad(configuracion.capaOpacidad)"
  	></div>
  	<div
    	[ngClass]="
      		itemMetodos.obtenerClasesCorazonDeseaContactarme(
        		configuracion.mostrarCorazon
      		)
    	"
  	>
    	<div class="svgCorazon"></div>
  	</div>
</div>
<!-- Modal elegir opcion foto -->
<div
  	[ngClass]="{
	    modalOrigenFoto: true,
	    mostrar: confModalOrigenFoto.mostrar
  	}"
  	(tap)="cerrarModalOrigenFoto($event)"
>
  	<div class="caja">
    	<div class="opcion" (tap)="eventoEnModalOrigenFoto(0)">
      		<img
        		src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-camara-origen-foto.svg"
				alt=""
      		/>
      		<p
        		[ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
            		color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
            		estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
            		enMayusculas: false,
            		tamanoConInterlineado:
              		estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
          		})"
      		>
			  {{ 'text79' | translate }}
      		</p>
    	</div>
    	<div class="opcion" (tap)="eventoEnModalOrigenFoto(1)">
			<img
				src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/fondo-galeria-origen-foto.svg"
				alt=""
			/>
			<p
				[ngClass]="
				estiloDelTextoServicio.obtenerEstilosTexto({
					color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
					estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR,
					enMayusculas: false,
					tamanoConInterlineado:
					estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
				})
				"
			>
			{{ 'text80' | translate }}
			</p>
    	</div>
  	</div>
</div>
