@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

$ancho-row-grilla: calcular(78.84);

$espedor-borde-normal: calcular(0.71);
$diametro-item-normal: calcular(29.01);

$espedor-borde-grande: calcular(0.96);
$diametro-item-grande: calcular(38.53);

$diametro-foto-contacto: calcular(20);
$espesor-borde-foto-contacto: calcular(0.5);

$diametro-foto-perfil-chat: calcular(10);
$espesor-borde-foto-perfil-chat: calcular(0.25);


$heightCorazon: calcular(8);
$widthCorazon: calcular(8);

$heightExclamacion: calcular(15.52);
$widthExclamacion: calcular(4.58);

$heightArchivoDefecto: calcular(15.47);
$widthArchivoDefecto: calcular(12.31);

$heightArchivoPerfilDefecto: calcular(22.44);
$widthArchivoPerfilDefecto: calcular(17.86);


$heightArchivoPerfilChatDefecto: calcular(7.22);
$widthArchivoPerfilChatDefecto: calcular(5.93);


.itemCirculo {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    touch-action: auto;
    cursor: pointer;
}

.itemCirculo.perfil {
    width: $diametro-item-normal;
    height: $diametro-item-normal;
    border: $espedor-borde-normal solid $rojo-base;
}

.itemCirculo.perfilRegistro {
    width: $diametro-item-normal;
    height: $diametro-item-normal;
    border: $espedor-borde-normal solid $rojo-base;
}

.itemCirculo.album { 
    width: $diametro-item-grande;
    height: $diametro-item-grande;
    border: $espedor-borde-grande solid $rojo-base;
}

.itemCirculo.contacto {
    width: $diametro-foto-contacto;
    height: $diametro-foto-contacto;
    border: $espesor-borde-foto-contacto solid $negro;
}

.itemCirculo.usoExclamacion {
    width: $diametro-foto-contacto;
    height: $diametro-foto-contacto;
    border: $espesor-borde-foto-contacto solid $negro;
}

.itemCirculo.usoCaraDefecto {
    width: $diametro-foto-contacto;
    height: $diametro-foto-contacto;
    border: $espesor-borde-foto-contacto solid $negro;
}
.itemCirculo.usoCaraPerfilDefecto {
    width: $diametro-item-normal;
    height: $diametro-item-normal; 
    border: $espedor-borde-normal solid $rojo-base;
}

.itemCirculo.usoPerfilChat {
    width: $diametro-foto-perfil-chat;
    height: $diametro-foto-perfil-chat;
    border: $espesor-borde-foto-perfil-chat solid $rojo-base;
}

.itemCirculo.usoPerfilCaritaChat {
    width: $diametro-foto-perfil-chat;
    height: $diametro-foto-perfil-chat;
    border: $espesor-borde-foto-perfil-chat solid $rojo-base;
}

.itemCirculo.mostrarCursor {
    cursor: default !important;
}

//  Demas estilos del item
.itemCirculo .textoBoton {
    & p {
        font-size: $letra-3;
        line-height: $line-height;
        font-weight: bold;
        text-align: center;
        user-select: none;
        max-width: 100%;
        white-space: pre-line;
        word-break: break-word;
    }

    &.conopacidad {
        & p {
            text-shadow: $sombraTextoBlanca;
        }
    }
}
.itemCirculo.album .textoBoton {
    & p {
        @include fuenteConInterlineado($letra-3, $interlineado-2);
    }
}

// Capas
.capa {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.capaArchivoDefecto {
    position: absolute;
    height: $heightArchivoDefecto;
    width: $widthArchivoDefecto;
}

.capa.mostrar {
    display: flex;

    &.textoBoton {
        align-items: center;
        justify-content: center;
    }
}

.itemCirculo.perfil .capa {
    width: $diametro-item-normal - ($espedor-borde-normal * 2);
    height: $diametro-item-normal - ($espedor-borde-normal * 2);
 
}

.itemCirculo.perfilRegistro .capa {
    width: $diametro-item-normal - ($espedor-borde-normal * 2);
    height: $diametro-item-normal - ($espedor-borde-normal * 2);
}

.itemCirculo.album .capa {
    width: $diametro-item-grande - ($espedor-borde-grande * 2);
    height: $diametro-item-grande - ($espedor-borde-grande * 2);
}

.itemCirculo.contacto .capa {
    width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    // width: $diametro-item-normal - $espesor-borde-foto-contacto *2 ;
    // height: $diametro-item-normal - $espesor-borde-foto-contacto * 2;
}

.itemCirculo.usoExclamacion .capa {
    width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
}

.itemCirculo.usoCaraDefecto .capa {
    width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
}
.itemCirculo.usoCaraPerfilDefecto .capa {
    width: $diametro-item-normal - ($espedor-borde-normal * 2);
    height: $diametro-item-normal - ($espedor-borde-normal * 2);
}

.itemCirculo.usoPerfilChat .capa {
    width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
}

.itemCirculo.usoPerfilCaritaChat .capa {
    width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
}

.itemCirculo.usoExclamacion .capa.imagenFondo {
    height: $heightExclamacion;
    width: $widthExclamacion;
    border-radius: 0;
    left: calc((100% - #{$widthExclamacion}) / 2);
    top: calc((100% - #{$heightExclamacion}) / 2);
}

.itemCirculo.usoCaraDefecto .capa.imagenFondo {
    height: $heightArchivoDefecto;
    width: $widthArchivoDefecto;
    border-radius: 0;
    left: calc((100% - #{$widthArchivoDefecto}) / 2);
    top: calc((100% - #{$heightArchivoDefecto}) / 2);
}

.itemCirculo.usoCaraPerfilDefecto .capa.imagenFondo {
    height: $heightArchivoPerfilDefecto;
    width: $widthArchivoPerfilDefecto;
    border-radius: 0;
    left: calc((100% - #{$widthArchivoPerfilDefecto}) / 2);
    top: calc((100% - #{$heightArchivoPerfilDefecto}) / 2);
}

.itemCirculo.usoPerfilChat .capa.imagenFondo {
    // width: $diametro-foto-perfil-chat - ($espedor-borde-normal * 2);
    // height: $diametro-foto-perfil-chat - ($espedor-borde-normal * 2);
    border-radius: 50%;
}

.itemCirculo.usoPerfilCaritaChat .capa.imagenFondo {
    height: $heightArchivoPerfilChatDefecto;
    width: $widthArchivoPerfilChatDefecto;
    border-radius: 0;
    left: calc((100% - #{$widthArchivoPerfilChatDefecto}) / 2);
    top: calc((100% - #{$heightArchivoPerfilChatDefecto}) / 2);
}
// .itemCirculo.usoExclamacion .capa.imagenFondo {
//     width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
//     height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
// }

.itemCirculo .capaCorazon {
    box-sizing: border-box;
    width: $diametro-foto-contacto + $espacio-0139 !important;

    .svgCorazon {
        width: $heightCorazon;
        height: $widthCorazon;
        background-image: $forma-corazon-rojo;
    }
    &.mostrar {
        justify-content: flex-end;
        align-items: flex-end;
        top: -$espacio-0139;
    }
}
// Capa loader
.capa.loader {
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

// Capa imagen de fondo
.capa.imagenFondo {
}

// Capa Opacidad
.capa.opacidad {
}

$modal-origen-foto-ancho: $ancho-pagina;
$modal-origen-foto-alto: calcular(24);
$modal-origen-foto-opcion-padding: calcular(2);
$modal-origen-foto-opcion-alto: calcular(8);
$modal-origen-foto-opcion-caja-padding: calcular(4);
$modal-origen-foto-opcion-imagen-margin-der: calcular(3);

// Modal origen foto
.modalOrigenFoto {
    background: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    width: $modal-origen-foto-ancho;
    height: $altura-pagina;
    top: 0;
    margin-left: (math.div($ancho-pagina - $ancho-row-grilla, 2)) * -1;
    z-index: 300;
    cursor: pointer;
}

.modalOrigenFoto.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.modalOrigenFoto .caja {
    background: #ffffff;
    border-radius: calcular(1.16);
    width: calcular(70);
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.modalOrigenFoto .caja .opcion {
    display: flex;
    flex-flow: row;
    box-sizing: border-box;

    padding: $modal-origen-foto-opcion-padding $espacio-267;

    width: 100%;
    height: fit-content;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-flow: row;
    cursor: pointer;
}
.modalOrigenFoto .caja .opcion img {
    height: $modal-origen-foto-opcion-alto;
    margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
}
.modalOrigenFoto .caja .opcion p {
    font-weight: 500;
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $ancho-row-grilla: calcular(78.84);

    $espedor-borde-normal: calcular(0.71);
    $diametro-item-normal: calcular(29.01);

    $espedor-borde-grande: calcular(0.96);
    $diametro-item-grande: calcular(38.53);

    $diametro-foto-contacto: calcular(20);
    $espesor-borde-foto-contacto: calcular(0.5);

    $diametro-foto-perfil-chat: calcular(10);
    $espesor-borde-foto-perfil-chat: calcular(0.25);


    $heightCorazon: calcular(8);
    $widthCorazon: calcular(8);

    $heightExclamacion: calcular(15.52);
    $widthExclamacion: calcular(4.58);

    $heightArchivoDefecto: calcular(15.47);
    $widthArchivoDefecto: calcular(12.31);

    $heightArchivoPerfilDefecto: calcular(22.44);
    $widthArchivoPerfilDefecto: calcular(17.86);


    $heightArchivoPerfilChatDefecto: calcular(7.22);
    $widthArchivoPerfilChatDefecto: calcular(5.93);

    .itemCirculo.perfil {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.perfilRegistro {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.album { 
        width: $diametro-item-grande;
        height: $diametro-item-grande;
        border: $espedor-borde-grande solid $rojo-base;
    }

    .itemCirculo.contacto {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }

    .itemCirculo.usoExclamacion {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }

    .itemCirculo.usoCaraDefecto {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }
    .itemCirculo.usoCaraPerfilDefecto {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.usoPerfilChat {
        width: $diametro-foto-perfil-chat;
        height: $diametro-foto-perfil-chat;
        border: $espesor-borde-foto-perfil-chat solid $rojo-base;
    }

    .itemCirculo.usoPerfilCaritaChat {
        width: $diametro-foto-perfil-chat;
        height: $diametro-foto-perfil-chat;
        border: $espesor-borde-foto-perfil-chat solid $rojo-base;
    }


    //  Demas estilos del item
    .itemCirculo .textoBoton {
        & p {
            font-size: $letra-3;
            line-height: $line-height;
        }
    }

    .itemCirculo.album .textoBoton {
        & p {
            @include fuenteConInterlineado($letra-3, $interlineado-2);
        }
    }

    .capaArchivoDefecto {
        height: $heightArchivoDefecto;
        width: $widthArchivoDefecto;
    }

    .itemCirculo.perfil .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.perfilRegistro .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.album .capa {
        width: $diametro-item-grande - ($espedor-borde-grande * 2);
        height: $diametro-item-grande - ($espedor-borde-grande * 2);
    }

    .itemCirculo.contacto .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }

    .itemCirculo.usoExclamacion .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }

    .itemCirculo.usoCaraDefecto .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }
    .itemCirculo.usoCaraPerfilDefecto .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.usoPerfilChat .capa {
        width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
        height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    }

    .itemCirculo.usoPerfilCaritaChat .capa {
        width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
        height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    }

    .itemCirculo.usoExclamacion .capa.imagenFondo {
        height: $heightExclamacion;
        width: $widthExclamacion;
        left: calc((100% - #{$widthExclamacion}) / 2);
        top: calc((100% - #{$heightExclamacion}) / 2);
    }

    .itemCirculo.usoCaraDefecto .capa.imagenFondo {
        height: $heightArchivoDefecto;
        width: $widthArchivoDefecto;
        left: calc((100% - #{$widthArchivoDefecto}) / 2);
        top: calc((100% - #{$heightArchivoDefecto}) / 2);
    }

    .itemCirculo.usoCaraPerfilDefecto .capa.imagenFondo {
        height: $heightArchivoPerfilDefecto;
        width: $widthArchivoPerfilDefecto;
        left: calc((100% - #{$widthArchivoPerfilDefecto}) / 2);
        top: calc((100% - #{$heightArchivoPerfilDefecto}) / 2);
    }

    .itemCirculo.usoPerfilCaritaChat .capa.imagenFondo {
        height: $heightArchivoPerfilChatDefecto;
        width: $widthArchivoPerfilChatDefecto;
        left: calc((100% - #{$widthArchivoPerfilChatDefecto}) / 2);
        top: calc((100% - #{$heightArchivoPerfilChatDefecto}) / 2);
    }

    .itemCirculo .capaCorazon {
        width: $diametro-foto-contacto + $espacio-0139 !important;

        .svgCorazon {
            width: $heightCorazon;
            height: $widthCorazon;
            background-image: $forma-corazon-rojo;
        }

        &.mostrar {
            top: -$espacio-0139;
        }
    }

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;
        margin-left: (math.div($ancho-pagina - $ancho-row-grilla, 2)) * -1;
    }

    .modalOrigenFoto .caja {
        border-radius: calcular(1.16);
        width: calcular(70);
    }

    .modalOrigenFoto .caja .opcion {
        padding: $modal-origen-foto-opcion-padding $espacio-267;
    }

    .modalOrigenFoto .caja .opcion img {
        height: $modal-origen-foto-opcion-alto;
        margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $ancho-row-grilla: calcular(78.84);

    $espedor-borde-normal: calcular(0.71);
    $diametro-item-normal: calcular(29.01);

    $espedor-borde-grande: calcular(0.96);
    $diametro-item-grande: calcular(38.53);

    $diametro-foto-contacto: calcular(20);
    $espesor-borde-foto-contacto: calcular(0.5);

    $diametro-foto-perfil-chat: calcular(10);
    $espesor-borde-foto-perfil-chat: calcular(0.25);


    $heightCorazon: calcular(8);
    $widthCorazon: calcular(8);

    $heightExclamacion: calcular(15.52);
    $widthExclamacion: calcular(4.58);

    $heightArchivoDefecto: calcular(15.47);
    $widthArchivoDefecto: calcular(12.31);

    $heightArchivoPerfilDefecto: calcular(22.44);
    $widthArchivoPerfilDefecto: calcular(17.86);


    $heightArchivoPerfilChatDefecto: calcular(7.22);
    $widthArchivoPerfilChatDefecto: calcular(5.93);

    .itemCirculo.perfil {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.perfilRegistro {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.album { 
        width: $diametro-item-grande;
        height: $diametro-item-grande;
        border: $espedor-borde-grande solid $rojo-base;
    }

    .itemCirculo.contacto {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }

    .itemCirculo.usoExclamacion {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }

    .itemCirculo.usoCaraDefecto {
        width: $diametro-foto-contacto;
        height: $diametro-foto-contacto;
        border: $espesor-borde-foto-contacto solid $negro;
    }
    .itemCirculo.usoCaraPerfilDefecto {
        width: $diametro-item-normal;
        height: $diametro-item-normal;
        border: $espedor-borde-normal solid $rojo-base;
    }

    .itemCirculo.usoPerfilChat {
        width: $diametro-foto-perfil-chat;
        height: $diametro-foto-perfil-chat;
        border: $espesor-borde-foto-perfil-chat solid $rojo-base;
    }

    .itemCirculo.usoPerfilCaritaChat {
        width: $diametro-foto-perfil-chat;
        height: $diametro-foto-perfil-chat;
        border: $espesor-borde-foto-perfil-chat solid $rojo-base;
    }


    //  Demas estilos del item
    .itemCirculo .textoBoton {
        & p {
            font-size: $letra-3;
            line-height: $line-height;
        }
    }

    .itemCirculo.album .textoBoton {
        & p {
            @include fuenteConInterlineado($letra-3, $interlineado-2);
        }
    }

    .capaArchivoDefecto {
        height: $heightArchivoDefecto;
        width: $widthArchivoDefecto;
    }

    .itemCirculo.perfil .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.perfilRegistro .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.album .capa {
        width: $diametro-item-grande - ($espedor-borde-grande * 2);
        height: $diametro-item-grande - ($espedor-borde-grande * 2);
    }

    .itemCirculo.contacto .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }

    .itemCirculo.usoExclamacion .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }

    .itemCirculo.usoCaraDefecto .capa {
        width: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
        height: $diametro-foto-contacto - ($espesor-borde-foto-contacto * 2);
    }
    .itemCirculo.usoCaraPerfilDefecto .capa {
        width: $diametro-item-normal - ($espedor-borde-normal * 2);
        height: $diametro-item-normal - ($espedor-borde-normal * 2);
    }

    .itemCirculo.usoPerfilChat .capa {
        width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
        height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    }

    .itemCirculo.usoPerfilCaritaChat .capa {
        width: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
        height: $diametro-foto-perfil-chat - ($espesor-borde-foto-perfil-chat * 2);
    }

    .itemCirculo.usoExclamacion .capa.imagenFondo {
        height: $heightExclamacion;
        width: $widthExclamacion;
        left: calc((100% - #{$widthExclamacion}) / 2);
        top: calc((100% - #{$heightExclamacion}) / 2);
    }

    .itemCirculo.usoCaraDefecto .capa.imagenFondo {
        height: $heightArchivoDefecto;
        width: $widthArchivoDefecto;
        left: calc((100% - #{$widthArchivoDefecto}) / 2);
        top: calc((100% - #{$heightArchivoDefecto}) / 2);
    }

    .itemCirculo.usoCaraPerfilDefecto .capa.imagenFondo {
        height: $heightArchivoPerfilDefecto;
        width: $widthArchivoPerfilDefecto;
        left: calc((100% - #{$widthArchivoPerfilDefecto}) / 2);
        top: calc((100% - #{$heightArchivoPerfilDefecto}) / 2);
    }

    .itemCirculo.usoPerfilCaritaChat .capa.imagenFondo {
        height: $heightArchivoPerfilChatDefecto;
        width: $widthArchivoPerfilChatDefecto;
        left: calc((100% - #{$widthArchivoPerfilChatDefecto}) / 2);
        top: calc((100% - #{$heightArchivoPerfilChatDefecto}) / 2);
    }

    .itemCirculo .capaCorazon {
        width: $diametro-foto-contacto + $espacio-0139 !important;

        .svgCorazon {
            width: $heightCorazon;
            height: $widthCorazon;
            background-image: $forma-corazon-rojo;
        }

        &.mostrar {
            top: -$espacio-0139;
        }
    }

    $modal-origen-foto-ancho: $ancho-pagina;
    $modal-origen-foto-alto: calcular(24);
    $modal-origen-foto-opcion-padding: calcular(2);
    $modal-origen-foto-opcion-alto: calcular(8);
    $modal-origen-foto-opcion-caja-padding: calcular(4);
    $modal-origen-foto-opcion-imagen-margin-der: calcular(3);

    // Modal origen foto
    .modalOrigenFoto {
        width: $modal-origen-foto-ancho;
        height: $altura-pagina;
        margin-left: (math.div($ancho-pagina - $ancho-row-grilla, 2)) * -1;
    }

    .modalOrigenFoto .caja {
        border-radius: calcular(1.16);
        width: calcular(70);
    }

    .modalOrigenFoto .caja .opcion {
        padding: $modal-origen-foto-opcion-padding $espacio-267;
    }

    .modalOrigenFoto .caja .opcion img {
        height: $modal-origen-foto-opcion-alto;
        margin: 0 $modal-origen-foto-opcion-imagen-margin-der 0 0;
    }
}