@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";

.mensaje-audio {
    width: fit-content;
    background-color: $mensaje-recibido;
    &.enviado {
        background-color: $mensaje-enviado;
        margin-left: $espacio-1542;
        margin-right: 0;
    }
}
