<div [ngClass]="{ 
    'mensaje-audio': true,
    'enviado': configuracion.enviado
    }" (tap)="eventoTap(configuracion.id)">
    <app-audio-reproductor  [configuracion]="configuracionAudio"> </app-audio-reproductor>
  
  </div>