<app-appbar [configuracion]="confAppbar"></app-appbar>
<!-- Buscador proyectos -->
<div
    *ngIf="codigoEntidad === CodigosCatalogoEntidadEnum.PROYECTO"
    [ngClass]="{
        'cuerpo': true,
        'proyectos': true
    }"
>
    <div class="color-de-fondo"></div>
    <div class="lista-items">
        <div class="titulos" *ngIf="paginacionProyectos.lista.length > 0">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                })"
            >
                    {{ 'm9v4texto3' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                    {{ 'm9v4texto4' | translate }}
            </p>
        </div>
        <div 
            *ngIf="mostrarLoader && !mostrarError"
            class="loader-completo"
        >
            <app-cargando></app-cargando>
        </div>
        <div 
            *ngIf="!mostrarLoader && mostrarError"
            class="error-completo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                    {{ mensajeError | translate }}
            </p>
        </div>
        <div
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                mostrarNoHayItems
            "
            class="no-items"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
                })"
            >
                {{ 'text13' | translate }}
            </p>
        </div>
        <div
            [id]="idCapaCuerpo"
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                paginacionProyectos.lista.length > 0
            "
            class="items"
            (scroll)="scroolEnCapaCuerpo()"
        >
            <app-item-buscador-proyecto-noticias
                *ngFor="let item of paginacionProyectos.lista"
                [configuracion]="item"
            ></app-item-buscador-proyecto-noticias>
            <div
                *ngIf="mostrarCargandoPequeno"
                class="cargando-pequeno"
            >
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>
<!-- Buscador noticias -->
<div
    *ngIf="codigoEntidad === CodigosCatalogoEntidadEnum.NOTICIA"
    [ngClass]="{
        'cuerpo': true,
        'noticias': true
    }"
>
    <div class="color-de-fondo"></div>
    <div class="lista-items">
        <div class="titulos" *ngIf="paginacionNoticias.lista.length > 0">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                })"
            >
                    {{ 'm9v3texto3' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                    {{ 'm9v3texto4' | translate }}
            </p>
        </div>
        <div 
            *ngIf="mostrarLoader && !mostrarError"
            class="loader-completo"
        >
            <app-cargando></app-cargando>
        </div>
        <div 
            *ngIf="!mostrarLoader && mostrarError"
            class="error-completo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                    {{ mensajeError | translate }}
            </p>
        </div>
        <div
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                mostrarNoHayItems
            "
            class="no-items"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                })"
            >
                {{ 'text13' | translate }}
            </p>
        </div>
        <div
            [id]="idCapaCuerpo"
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                paginacionNoticias.lista.length > 0
            "
            class="items"
            (scroll)="scroolEnCapaCuerpo()"
        >
            <app-item-buscador-proyecto-noticias
                *ngFor="let item of paginacionNoticias.lista"
                [configuracion]="item"
            ></app-item-buscador-proyecto-noticias>
            <div
                *ngIf="mostrarCargandoPequeno"
                class="cargando-pequeno"
            >
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>
<!-- Buscador contactos -->
<div
    *ngIf="codigoEntidad === CodigosCatalogoEntidadEnum.CONTACTO"
    [ngClass]="{
        'cuerpo': true,
        'contactos': true
    }"
>
    <div class="color-de-fondo"></div>
    <div class="lista-items">
       

        <div class="titulos" *ngIf="paginacionContactos.lista.length > 0">
            <p 
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL 
                })" 
            >
                {{'m3v7texto5' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{'m3v7texto6' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL 
                })"
            >
                {{'m3v7texto7' | translate }}
            </p>
        </div> 
      
        <div 
            *ngIf="mostrarLoader && !mostrarError"
            class="loader-completo"
        >
            <app-cargando></app-cargando>
        </div>
        <div 
            *ngIf="!mostrarLoader && mostrarError"
            class="error-completo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                    {{ mensajeError | translate }}
            </p>
        </div>
        <div
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                mostrarNoHayItems
            "
            class="no-items"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                })"
            >
                {{ 'text13' | translate }}
            </p>
        </div>
        <div
            [id]="idCapaCuerpo"
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                paginacionContactos.lista.length > 0
            "
            class="items"
            (scroll)="scroolEnCapaCuerpo()"
        >
            <app-item-lista-contactos
                *ngFor="let item of paginacionContactos.lista"
                [configuracion]="item"
            ></app-item-lista-contactos>
            <div
                *ngIf="mostrarCargandoPequeno"
                class="cargando-pequeno"
            >
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>
<!-- Buscador perfiles -->
<div
    *ngIf="codigoEntidad === CodigosCatalogoEntidadEnum.PERFIL"
    [ngClass]="{
        'cuerpo': true,
        'perfiles': true
    }"
> 
    <div class="color-de-fondo"></div>
    <div class="lista-items">
        <div class="titulos" *ngIf=" paginacionPerfiles.lista.length >0 ">
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                })"
            >
                    {{ 'm9v1texto3' | translate }}
            </p>
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_IGUAL
                })"
            >
                    {{ 'm9v1texto4' | translate }}
            </p>
        </div>
        <div 
            *ngIf="mostrarLoader && !mostrarError"
            class="loader-completo"
        >
            <app-cargando></app-cargando>
        </div>
        <div 
            *ngIf="!mostrarLoader && mostrarError"
            class="error-completo"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I1
                })"
            >
                    {{ mensajeError | translate }}
            </p>
        </div>
        <div
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                mostrarNoHayItems
            "
            class="no-items"
        >
            <p
                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO, 
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_I2
                })"
            >
                {{ 'text13' | translate }}
            </p>
        </div>
        <div
            [id]="idCapaCuerpo"
            *ngIf="
                !mostrarLoader && 
                !mostrarError &&
                paginacionPerfiles.lista.length > 0
            "
            class="items"
            (scroll)="scroolEnCapaCuerpo()"
        >
            <app-item-lista-contactos
                *ngFor="let item of paginacionPerfiles.lista"
                [configuracion]="item"
            ></app-item-lista-contactos>
            <div
                *ngIf="mostrarCargandoPequeno"
                class="cargando-pequeno"
            >
                <app-cargando></app-cargando>
            </div>
        </div>
    </div>
</div>
<app-resumen-perfil [configuracion]="confResumenPerfil"></app-resumen-perfil>
