@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

// $boton-x-tamano-icono-ancho: calcular(8.44);
$height-casa-home: calcular(15);
$widt-casa-home: calcular(15);
$distancia-flecha-demo: calcular(2.545);

$centrar-elegPerTitu: calcular(7.3);
$centrar-titulo-elegPer: calcular(14);
$espacio-izq: calcular(16.78);
$tamano-maximo: calcular(80.55);

$tamano-div-boton-refresh: calcular(15.42);
$width-refresh: calcular(5.15);
$height-refresh: calcular(5.15);

.appbar {
    position: relative;
    z-index: 2;
    width: $appbar-ancho;
    height: $appbar-alto-default;

    &.color-fondo-principal {
        background-color: $azul-appbar;
    }

    &.searchbar-appbar-mini {
        height: $appbar-alto-mini;
    }
}

.box {
    position: relative;
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.mostrar-original {
    width: auto;
    text-align: center;
    margin-bottom: calcular(10.48);
    border: solid 0.5px #bbfcea;
    padding-left: calcular(1.5);
    padding-right: calcular(1.5);
    padding-top: calcular(1);
    padding-bottom: calcular(1);
    z-index: 1;
    cursor: pointer;
}

// Color de fondo
.colorFondo {
    position: absolute;
    top: 0;
    z-index: 0;
    height: 100%;
}
.tituloPrincipalElegSolo {
    position: absolute;
    padding-bottom: $espacio-522;
    z-index: 1;
    cursor: pointer;
}

.tituloPrincipal {
    position: absolute;
    z-index: 1;
    top: calcular(8.1);
    cursor: pointer;
}

.tituloPrincipalElegPer {
    position: absolute;
    // bottom: $centrar-titulo-elegPer;
    top: calcular(4);
    z-index: 1;
    cursor: pointer;
    & .linea-blanca {
        height: calcular(0.07);
        width: 100%;
        background-color: white;
        position: absolute;
    }
}

.tituloElegPer {
    position: absolute;
    bottom: $centrar-elegPerTitu;
    left: $espacio-izq;
    z-index: 4;
    max-width: $tamano-maximo;
    overflow: hidden;

    & p {
        white-space: nowrap;
    }
}

.tituloPrincipalSolo {
    position: absolute;
    width: $ancho-6920;
    padding-right: $espacio-522;
    padding-left: $espacio-522;
    box-sizing: border-box;
    text-align: center;
}

.botonCasita {
    position: absolute;
    left: $espacio-267;
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;
}

.botonCasita .iconoCasita {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;
    margin: 0 $espacio-267 0 $espacio-287;
    background-size: 100% 100%;
}

.botonAtras {
    position: absolute;
    left: $espacio-267;
    bottom: calcular(7.045);
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

.botonAtras .icono {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;
    margin: 0 $espacio-267 0 $espacio-287;
    background: $forma-flecha-back;
    background-size: 100% 100%;
}

.botonAtras p {
    margin: 0;
    height: calcular(5.15);
    display: flex;
    align-items: center;
}

.botonAtrasDemo {
    position: absolute;
    left: $espacio-267;
    bottom: $distancia-flecha-demo;
    z-index: 1;
    height: fit-content;
    display: flex;
    flex-flow: row;
    align-items: flex-end;
    justify-content: flex-start;
    cursor: pointer;
}

.botonAtrasDemo .icono {
    width: $boton-back-icono-ancho;
    height: $boton-back-icono-alto;
    margin: 0 $espacio-267 0 $espacio-287;
    background: $forma-flecha-back;
    background-size: 100% 100%;
}

.botonHome {
    position: absolute;
    bottom: $espacio-7045;
    height: calcular(5.15);
    right: $espacio-1542 + $espacio-0136;
    z-index: 1;
    cursor: pointer;
    & p {
        height: calcular(5.15);
        display: flex;
        align-items: center;
    }
}





.botonRefresh {
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: $espacio-267;
    // bottom: calcular(13);
    // right: $boton-x-padding-der;
    bottom: $boton-x-padding-bot;
    .svgBotonRefresh {
        background-image: $boton-refresh;
        width: calcular(8.5);
        height: calcular(8.5);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.botonRefreshPrincipal {
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: $espacio-267;
    // bottom: calcular(13);
    // right: $boton-x-padding-der;
    bottom: $boton-x-padding-bot;
    // background-color: coral;
    .svgBotonRefresh {
        background-image: $boton-refresh;
        width: calcular(8.5);
        height: calcular(8.5);
        background-repeat: no-repeat;
        background-position: center;
    }
}

.nombrePerfil {
    position: absolute;
    bottom: $espacio-089;
    left: $espacio-267;
    z-index: 1;
}

.tituloSecundario {
    position: absolute;
    bottom: $espacio-089 - $defecto-bottom;
    z-index: 1;
}

.botonX {
    // background-color: cyan;
    height: $boton-x-tamano-alto;
    position: absolute;
    // right: $boton-x-padding-der;
    // bottom: $boton-x-padding-bot;
    right: 0;
    margin-right: 1.2vw;
    // bottom: calcular(13);
    bottom: 5.5vw;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}




.botonX .icono {
    width: $boton-x-tamano-icono-ancho;
    height: $boton-x-tamano-icono-alto;

    background: $forma-x-roja;
    background-size: 100% 100%;
}

.casa-home {
    height: $boton-x-tamano-alto;
    position: absolute;
    right: $boton-x-padding-der;
    bottom: $boton-x-padding-bot;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.casa-home .icono {
    width: $widt-casa-home;
    height: $height-casa-home;

    background: $boton-casa;
    background-size: 100% 100%;
}

.botonPrincipal {
    position: absolute;
    top: $espacio-522;
    z-index: 1;
}

.barraBuscar {
    position: absolute;
    top: $espacio-267;
    left: $espacio-267;

    background: $blanco;
    width: $ancho-barra-busqueda;
    height: $alto-barra-busqueda;

    border: $espesor-borde-barra-buscar solid $negro;
    border-radius: $radio-borde-barra-buscar;
    box-sizing: border-box;
}

@media screen and (min-aspect-ratio: "16/10") {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    $height-casa-home: calcular(15);
    $widt-casa-home: calcular(15);
    $distancia-flecha-demo: calcular(2.545);

    $centrar-elegPerTitu: calcular(7.3);
    $centrar-titulo-elegPer: calcular(14);
    $espacio-izq: calcular(16.78);
    $tamano-maximo: calcular(80.55);

    .appbar {
        width: $appbar-ancho;
        height: $appbar-alto-default;

        &.searchbar-appbar-mini {
            height: $appbar-alto-mini;
        }
    }

    .mostrar-original {
        margin-bottom: calcular(10.48);
        border: solid 0.5px #bbfcea;
        padding-left: calcular(1.5);
        padding-right: calcular(1.5);
        padding-top: calcular(1);
        padding-bottom: calcular(1);
        z-index: 1;
    }

    .tituloPrincipalElegSolo {
        padding-bottom: $espacio-522;
    }

    .tituloPrincipal {
        top: calcular(8.1);
    }

    .tituloPrincipalElegPer {
        // bottom: $centrar-titulo-elegPer;
        top: calcular(4);
        & .linea-blanca {
            height: calcular(0.07);
            width: 100%;
            background-color: white;
            position: absolute;
        }
    }

    .tituloElegPer {
        bottom: $centrar-elegPerTitu;
        left: $espacio-izq;
        max-width: $tamano-maximo;
    }

    .tituloPrincipalSolo {
        width: $ancho-6920;
        padding-right: $espacio-522;
        padding-left: $espacio-522;
    }

    .botonCasita {
        left: $espacio-267;
    }

    .botonCasita .iconoCasita {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
    }

    .botonAtras {
        left: $espacio-267;
        bottom: calcular(7.045);
    }

    .botonAtras .icono {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
        background: $forma-flecha-back;
        background-size: 100% 100%;
    }

    .botonAtras p {
        height: calcular(5.15);
    }

    .botonAtrasDemo {
        left: $espacio-267;
        bottom: $distancia-flecha-demo;
    }

    .botonAtrasDemo .icono {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
        background: $forma-flecha-back;
        background-size: 100% 100%;
    }

    .botonHome {
        bottom: $espacio-7045;
        height: calcular(5.15);
        right: $espacio-1542 + $espacio-0136;

        & p {
            height: calcular(5.15);
        }
    }


    .nombrePerfil {
        bottom: $espacio-089;
        left: $espacio-267;
    }

    .tituloSecundario {
        bottom: $espacio-089 - $defecto-bottom;
        z-index: 1;
    }

    .botonRefresh {
        margin-right: $espacio-267;
        right: 0;
        bottom: $boton-x-padding-bot;
        .svgBotonRefresh {
            background-image: $boton-refresh;
            width: calcular(8.5);
            height: calcular(8.5);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .botonRefreshPrincipal {
        width: auto;
        height: auto;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: $espacio-267;
        bottom: $boton-x-padding-bot;
        // background-color: cadetblue;
        .svgBotonRefresh {
            background-image: $boton-refresh;
            width: calcular(8.5);
            height: calcular(8.5);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .botonX {
        // background-color: darkgoldenrod;
        height: $boton-x-tamano-alto;
        position: absolute;
        // right: $boton-x-padding-der;
        // bottom: $boton-x-padding-bot;
        right: 0;
        margin-right: 1vw;
        // bottom: calcular(13);
        bottom: 4vw;
        z-index: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    

    .botonX .icono {
        width: $boton-x-tamano-icono-ancho;
        height: $boton-x-tamano-icono-alto;
        background: $forma-x-roja;
    }

    .casa-home {
        height: $boton-x-tamano-alto;
        right: $boton-x-padding-der;
        bottom: $boton-x-padding-bot;
    }

    .casa-home .icono {
        width: $widt-casa-home;
        height: $height-casa-home;
        background: $boton-casa;
    }

    .botonPrincipal {
        top: $espacio-522;
    }

    .barraBuscar {
        top: $espacio-267;
        left: $espacio-267;
        width: $ancho-barra-busqueda;
        height: $alto-barra-busqueda;
        border: $espesor-borde-barra-buscar solid $negro;
        border-radius: $radio-borde-barra-buscar;
    }
}

@media screen and (min-aspect-ratio: "16/9") {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    $height-casa-home: calcular(15);
    $widt-casa-home: calcular(15);
    $distancia-flecha-demo: calcular(2.545);

    $centrar-elegPerTitu: calcular(7.3);
    $centrar-titulo-elegPer: calcular(14);
    $espacio-izq: calcular(16.78);
    $tamano-maximo: calcular(80.55);

    .appbar {
        width: $appbar-ancho;
        height: $appbar-alto-default;

        &.searchbar-appbar-mini {
            height: $appbar-alto-mini;
        }
    }

    .mostrar-original {
        margin-bottom: calcular(10.48);
        border: solid 0.5px #bbfcea;
        padding-left: calcular(1.5);
        padding-right: calcular(1.5);
        padding-top: calcular(1);
        padding-bottom: calcular(1);
        z-index: 1;
    }

    .tituloPrincipalElegSolo {
        padding-bottom: $espacio-522;
    }

    .tituloPrincipal {
        top: calcular(8.1);
    }

    .tituloPrincipalElegPer {
        // bottom: $centrar-titulo-elegPer;
        top: calcular(4);
        & .linea-blanca {
            height: calcular(0.07);
            width: 100%;
            background-color: white;
            position: absolute;
        }
    }

    .tituloElegPer {
        bottom: $centrar-elegPerTitu;
        left: $espacio-izq;
        max-width: $tamano-maximo;
    }

    .tituloPrincipalSolo {
        width: $ancho-6920;
        padding-right: $espacio-522;
        padding-left: $espacio-522;
    }

    .botonCasita {
        left: $espacio-267;
    }

    .botonCasita .iconoCasita {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
    }

    .botonAtras {
        left: $espacio-267;
        bottom: calcular(7.045);
    }

    .botonAtras .icono {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
        background: $forma-flecha-back;
        background-size: 100% 100%;
    }

    .botonAtras p {
        height: calcular(5.15);
    }

    .botonAtrasDemo {
        left: $espacio-267;
        bottom: $distancia-flecha-demo;
    }

    .botonAtrasDemo .icono {
        width: $boton-back-icono-ancho;
        height: $boton-back-icono-alto;
        margin: 0 $espacio-267 0 $espacio-287;
        background: $forma-flecha-back;
        background-size: 100% 100%;
    }

    .botonHome {
        bottom: $espacio-7045;
        height: calcular(5.15);
        right: $espacio-1542 + $espacio-0136;

        & p {
            height: calcular(5.15);
        }
    }

    .botonRefresh {
        margin-right: $espacio-267;
        right: 0;
        bottom: $boton-x-padding-bot;
        .svgBotonRefresh {
            background-image: $boton-refresh;
            width: calcular(8.5);
            height: calcular(8.5);
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    .botonRefreshPrincipal {
        width: auto;
        height: auto;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: $espacio-267;
        // bottom: calcular(13);
        // right: $boton-x-padding-der;
        bottom: $boton-x-padding-bot;
        // background-color: chartreuse;
        .svgBotonRefresh {
            background-image: $boton-refresh;
            width: calcular(8.5);
            height: calcular(8.5);
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    
    .botonX {

        height: $boton-x-tamano-alto;
        position: absolute;
        
        // right: $boton-x-padding-der;
        // bottom: $boton-x-padding-bot;
        right: 0;
        margin-right: 1vw;
        // bottom: calcular(13);
        bottom: 3.5vw;
        z-index: 1;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    
    .nombrePerfil {
        bottom: $espacio-089;
        left: $espacio-267;
    }

    .tituloSecundario {
        bottom: $espacio-089 - $defecto-bottom;
        z-index: 1;
    }

   



    .botonX .icono {
        width: $boton-x-tamano-icono-ancho;
        height: $boton-x-tamano-icono-alto;
        background: $forma-x-roja;
    }

    .casa-home {
        height: $boton-x-tamano-alto;
        right: $boton-x-padding-der;
        bottom: $boton-x-padding-bot;
    }

    .casa-home .icono {
        width: $widt-casa-home;
        height: $height-casa-home;
        background: $boton-casa;
    }

    .botonPrincipal {
        top: $espacio-522;
    }

    .barraBuscar {
        top: $espacio-267;
        left: $espacio-267;
        width: $ancho-barra-busqueda;
        height: $alto-barra-busqueda;
        border: $espesor-borde-barra-buscar solid $negro;
        border-radius: $radio-borde-barra-buscar;
    }
}
