<app-imagen-mundo></app-imagen-mundo>
<div [ngClass]="{
        'tercio': true,
        'sobre-mundo': true
    }">

<app-appbar [configuracion]="confAppBar"></app-appbar>
<div class="menu-principal">
    <div class="capa">
        <div class="contenido">
            <!-- worlwide projects -->
            <div class="espacio-316">
                <div class="item-menu" (tap)="navegarSegunMenu(0)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto2' | translate }} <br> {{ 'm4v4texto3' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- country projects -->
            <div class="espacio-316">
                <div class="item-menu" (tap)="navegarSegunMenu(1)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto4' | translate }} <br> {{ 'm4v4texto5' | translate }}
                    </p>
                </div>
            </div>


            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- local projects -->
            <div class="espacio-316">
                <div class="item-menu" (tap)="navegarSegunMenu(2)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto6' | translate }} <br> {{ 'm4v4texto7' | translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- NETWORK projects -->
            <div class="espacio-316">
                <div class="item-menu" (tap)="navegarSegunMenu(3)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto8' | translate }} <br> {{ 'm4v4texto9' | translate }} <br> {{ 'm4v4texto10' |
                        translate }}
                    </p>
                </div>
            </div>

            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <!-- news -->
            <div class="espacio-316">
                <div class="item-menu" (tap)="navegarSegunMenu(4)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L7_I2
                    })">
                        {{ 'm4v4texto11' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerde"></app-linea>
            </div>
            <div class="espacio-316">
                <!-- useful information for projects -->
                <div class="item-menu" (tap)="navegarSegunMenu(5)">
                    <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTOBLANCO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLDCONSOMBRA, 
                        enMayusculas: true,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_I4
                    })">
                        {{ 'm4v4texto12' | translate }}
                    </p>
                </div>
            </div>
            <!-- Linea -->
            <div class="linea-verde">
                <app-linea [configuracionLinea]="confLineaVerdeAll"></app-linea>
            </div>
        </div>
    </div>
</div>

</div>

