<div *ngIf="botonCompartido && !botonCompartido.enProgreso; else elseBlock">
    <div [ngSwitch]="botonCompartido.tipoBoton" class="mayus">

        <div *ngSwitchCase="tipoBoton.TEXTO">
            <div [ngClass]="obtenerEstilosBoton()" (tap)="execute()">
                <div [ngClass]="obtenerClasesDelTexto()">{{ this.botonCompartido.text | translate }}</div>
            </div>
        </div>
        <div *ngSwitchCase="tipoBoton.TEXTO_ICON">
            <div class="contenerBotonHorizontal">
                <div #descripcion class="contenedorDescripcion">
                    <p class="letraDescripcion">
                        {{ this.botonCompartido.text | translate }}
                    </p>
                </div>
                <div class="icono" (tap)="execute()"></div>
            </div>
        </div>
        <div *ngSwitchCase="tipoBoton.ICON">
            <div class="iconoBoton" (tap)="execute()"></div>
        </div> 
        <div *ngSwitchCase="tipoBoton.ICON_COLOR">
            <div [ngClass]="botonCompartido.colorIcono" (tap)="execute()"></div>
        </div> 
    </div>
</div>

<ng-template #elseBlock>
    <app-cargando
        [diametro]="
            (
                botonCompartido &&
                botonCompartido.tipoBoton && (
                botonCompartido.tipoBoton === tipoBoton.ICON ||
                botonCompartido.tipoBoton === tipoBoton.ICON_COLOR )
            ) ? DiametroDelLoaderEnum.LOADER_BOTON_ICONO : DiametroDelLoaderEnum.LOADER_DEFAULT
        "
    ></app-cargando>
</ng-template> 
