@import "../../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../../assets/estilos/colores.scss";

img {
  width: 100%;
  height: 100%;
}

.cotenedorMetodoPago {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-sizing: content-box;
}

.title-metodo {
  text-align: center;
  padding-left: $espacio-0178;
  padding-right: $espacio-0178;
  padding-bottom: $espacio-0316 - $defecto-bottom;
}

.iconPago {
  cursor: pointer;
  box-sizing: content-box;
  padding-right: 0 !important;
  padding-left: 0 !important;
  position: relative;

  & .img-tarjetas {
    & .texto-accept-cards {
      width: $ancho-6920;
      position: absolute;
      text-align: center;
      margin-top: $espacio-0316;
    }
  }
}

.terminos-pago {
  color: white;
  padding-left: $espacio-267;
  padding-right: $espacio-267;
  padding-bottom: $espacio-0316 - $defecto-bottom;

  & p {
    text-align: left !important;
    padding-left: $espacio-0249;
  }
}

.letra-terminos {
  color: $txt-celeste;
}

.modal-monto-paymentez {
  display: none;
  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);
    margin-right: calcular(30.5);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }

    & .valor {
      margin-bottom: $espacio-0316 - $defecto-total;
    }

    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }

    & .subtitulo {
      margin-bottom: $espacio-522 - $defecto-top;
    }

    & .moneda {
      margin-bottom: $espacio-0316 - $defecto-bottom;

      & input {
        padding: 0;
        outline: 0;
        height: calcular(7.82);
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        box-sizing: border-box;

        &:focus {
          outline: 0;
        }

        &:active {
          outline: 0;
        }
      }

      & .input-cantidad {
        border: 0;
        padding: 0 $espacio-522;
        border-radius: calcular(1.03);
        margin-right: $espacio-522;
        width: calc(20ch + #{$espacio-0249 * 2});
      }
    }

    & .boton {
      display: flex;
      justify-content: center;
    }

    & .mensaje-status {
      width: 100%;
      margin: $espacio-0178 0;
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }
  }
}

// Modal mensaje paymentez
.modal-mensaje-paymentez {
  display: none;
  position: fixed;
  z-index: 200;
  width: $ancho-pagina;
  height: $altura-pagina;
  top: 0;

  &.mostrar {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &.bloqueado {
    pointer-events: none !important;
  }

  & .contenido-modal {
    width: calcular(94.66);
    border-radius: calcular(1.567);
    border: calcular(0.65) solid $verde-base;
    background-color: $azul-fuerte;
    box-sizing: border-box;
    min-height: calcular(6);
    margin-right: calcular(30.5);

    padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

    & div {
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        text-align: center;
      }
    }

    & .titulo {
      margin-bottom: $espacio-0178 - $defecto-total;
    }


    & .descripcion {
      margin-bottom: $espacio-0316 - $defecto-bottom;
      flex-flow: column;

      & p:nth-child(1) {
        margin-bottom: $espacio-0178 - $defecto-total;
      }
    }
  }
}

@media screen and (min-aspect-ratio: 16/10) {
  @import "../../../../../../assets/estilos/dimensiones_16_10.scss";
  .cotenedorMetodoPago {
    // height: $espacio-1512;
  }

  .title-metodo {
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }

  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;

    & p {
      text-align: left !important;
      padding-left: $espacio-0249;
    }

  }

  .modal-monto-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      margin-right: calcular(30.5);

      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }
  }

  // Modal mensaje paymentez
  .modal-mensaje-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      margin-right: calcular(30.5);

      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }
    }
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  @import "../../../../../../assets/estilos/dimensiones_16_9.scss";

  .cotenedorMetodoPago {
    // height: $espacio-1512;
  }

  .title-metodo {
    text-align: center;
    padding-left: $espacio-0178;
    padding-right: $espacio-0178;
    padding-bottom: $espacio-0316 - $defecto-bottom;
  }

  .iconPago {
    cursor: pointer;
    padding-right: 0 !important;
    padding-left: 0 !important;

    & .img-tarjetas {
      & .texto-accept-cards {
        width: $ancho-6920;
        margin-top: $espacio-0316;
      }
    }
  }
  .terminos-pago {
    color: white;
    padding-left: $espacio-267;
    padding-right: $espacio-267;
    padding-bottom: $espacio-0316 - $defecto-bottom;

    & p {
      text-align: left !important;
      padding-left: $espacio-0249;
    }

  }

  .modal-monto-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      margin-right: calcular(30.5);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .valor {
        margin-bottom: $espacio-0316 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }

      & .subtitulo {
        margin-bottom: $espacio-522 - $defecto-top;
      }

      & .moneda {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & input {
          height: calcular(7.82);
        }

        & .input-cantidad {
          padding: 0 $espacio-522;
          border-radius: calcular(1.03);
          margin-right: $espacio-522;
          width: calc(20ch + #{$espacio-0249 * 2});
        }
      }

      & .mensaje-status {
        margin: $espacio-0178 0;
      }
    }

  }

  // Modal mensaje paymentez
  .modal-mensaje-paymentez {
    width: $ancho-pagina;
    height: $altura-pagina;

    & .contenido-modal {
      width: calcular(94.66);
      border-radius: calcular(1.567);
      border: calcular(0.65) solid $verde-base;
      min-height: calcular(6);
      margin-right: calcular(30.5);
      padding: $espacio-0316 $espacio-0178 $espacio-0316 $espacio-0178;

      & .titulo {
        margin-bottom: $espacio-0178 - $defecto-total;
      }

      & .descripcion {
        margin-bottom: $espacio-0316 - $defecto-bottom;

        & p:nth-child(1) {
          margin-bottom: $espacio-0178 - $defecto-total;
        }
      }
    }
  }
}
