@import '../../../../assets/estilos/dimensiones.scss';

.tercio {
    position: absolute !important;
    z-index: 0;
    top: 0;
    left: 0;

    .mundo {
        position: absolute;
        top: 0;
        z-index: 0;

        width: $ancho-pagina;
        height: $altura-pagina;
        min-width: $ancho-pagina;
        min-height: $altura-pagina;

        & img {
            display: block;
            position: absolute;
            z-index: 0;
            width: $mundo-diametro;
            height: $mundo-diametro;

            right: $mundo-derecha;
            bottom: $mundo-abajo;
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .tercio {
        .mundo {
            width: $ancho-pagina;
            height: $altura-pagina;
            min-width: $ancho-pagina;
            min-height: $altura-pagina;
    
            & img {
                width: $mundo-diametro;
                height: $mundo-diametro;

                right: $mundo-derecha;
                bottom: $mundo-abajo;
            }
        }
    }

}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .tercio {
        .mundo {
            width: $ancho-pagina;
            height: $altura-pagina;
            min-width: $ancho-pagina;
            min-height: $altura-pagina;
    
            & img {
                width: $mundo-diametro;
                height: $mundo-diametro;

                right: $mundo-derecha;
                bottom: $mundo-abajo;
            }
        }
    }
}