<div
    [ngClass]="{
        'tercio': true,
        'tercio-sin-borde': true,
        'no-mostrar': variablesGlobales.animacion.ocultarPortadas || variablesGlobales.animacion.landingPageAbierta,
        'con-trancicion': variablesGlobales.animacion.conTransicion
    }"
>
    <div 
        [ngClass]="{
            'mundo': true
        }"
    >
        <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/fondos/forma-mundo.png" />
    </div>
</div>