@import "assets/fuentes/_fuentes.scss";
@import "assets/estilos/colores.scss";
@import "assets/estilos/estiloFuente.scss";
@import "assets/estilos/estiloForma.scss";
@import "assets/estilos/estiloColor.scss";
@import "assets/estilos/imagenes.scss";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
    width: 0;
    display: none !important;
}

:root {
    font-family: "Source Sans Pro", sans-serif;
    // user-select: none;
    touch-action: none !important;
}


textarea, select {
    font-family: "Source Sans Pro", sans-serif;
    caret-color: $rojo-base;
}

input {
    font-family: "Source Sans Pro", sans-serif;
    caret-color: $negro;
}

.docLegal{
    color: $azul-fuerte;
    text-decoration: underline;
}
.docLegalCeleste{
    color: $txt-celeste;
    text-decoration: underline;
}

html,
div {
    scroll-behavior: smooth;
    scrollbar-width: none;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}

body {
    margin: 0;
    padding: 0;
    // overflow: hidden;
}

p {
    margin: 0;
    padding: 0;
    white-space: unset;
}

.hide {
    display: none !important;
}

.cursorBoton {
    cursor: pointer;
}

.sinEventos {
    pointer-events: none !important;
}

@keyframes sacarcolorfondo {
    10% { background: linear-gradient(0deg, #408edeE6 -76.67%, #051025E6 29.54%); } // 90 E6
    15% { background: linear-gradient(0deg, #408edeD9 -76.67%, #051025D9 29.54%); } // 85 D9
    20% { background: linear-gradient(0deg, #408edeCC -76.67%, #051025CC 29.54%); } // 80 CC
    25% { background: linear-gradient(0deg, #408edeBF -76.67%, #051025BF 29.54%); } // 75 BF
    30% { background: linear-gradient(0deg, #408edeB3 -76.67%, #051025B3 29.54%); } // 70 B3
    35% { background: linear-gradient(0deg, #408edeA6 -76.67%, #051025A6 29.54%); } // 65 A6
    40% { background: linear-gradient(0deg, #408ede99 -76.67%, #05102599 29.54%); } // 60 99
    45% { background: linear-gradient(0deg, #408ede8C -76.67%, #0510258C 29.54%); } // 55 8C
    50% { background: linear-gradient(0deg, #408ede80 -76.67%, #05102580 29.54%); } // 50 80
    55% { background: linear-gradient(0deg, #408ede73 -76.67%, #05102573 29.54%); } // 45 73
    60% { background: linear-gradient(0deg, #408ede66 -76.67%, #05102566 29.54%); } // 40 66
    65% { background: linear-gradient(0deg, #408ede59 -76.67%, #05102559 29.54%); } // 35 59
    70% { background: linear-gradient(0deg, #408ede4D -76.67%, #0510254D 29.54%); } // 30 4D
    75% { background: linear-gradient(0deg, #408ede40 -76.67%, #05102540 29.54%); } // 25 40
    80% { background: linear-gradient(0deg, #408ede33 -76.67%, #05102533 29.54%); } // 20 33
    85% { background: linear-gradient(0deg, #408ede26 -76.67%, #05102526 29.54%); } // 15 26
    90% { background: linear-gradient(0deg, #408ede1A -76.67%, #0510251A 29.54%); } // 10 1A
    95% { background: linear-gradient(0deg, #408ede0D -76.67%, #0510250D 29.54%); } // 5 0D
    100% { background: linear-gradient(0deg, #408ede00 -76.67%, #05102500 29.54%); } // 0 00
}

body{
    user-select: text;
}
.body-principal {
    width: 100vw;
    height: 100vh;
    position: relative;

    // -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ede', endColorstr='#051025' ,GradientType=0)";
    // background: linear-gradient(0deg, #408ede -76.67%, #051025 29.54%);
    // filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ede', endColorstr='#051025' , GradientType=0);

    &.con-trancicion {
        transition: $transicion-contenido;
    }

    & .contenedor-router {
        width: 100vw;
        height: 100vh;
        position: relative;

        & .imagen-fondo-web {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            z-index: -1;
    
            &.mostrar {
                z-index: 1;
            }
    
            & img {
                width: 100%;
                height: 100%;
            }
        }
    
        & .franja-dos {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background: rgba(33, 60, 62, 0.75);
            z-index: -1;
    
            &.mostrar {
                z-index: 2;
            }
        }

        & .contenedor-tercios {
            position: relative;
            z-index: 1;

            width: $ancho * 1vw;
            height: $altura-pagina;
            min-height: $altura-pagina;

            display: flex;
            align-items: center;
            justify-content: center;

            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ede', endColorstr='#051025' ,GradientType=0)";
            background: linear-gradient(0deg, #408ede -76.67%, #051025 29.54%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#408ede',endColorstr='#051025' , GradientType=0);

            &.sacar-fondo {
                transition: all 1s 1s ease;
                animation-name: sacarcolorfondo;
                animation-duration: 2s;
                animation-fill-mode: forwards;
            }

            &.con-trancicion {
                transition: $transicion-contenido;
            }

            & .tercio {
                position: relative;
                width: $ancho-pagina;
                height: $altura-pagina;
                overflow: hidden;
                -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88', endColorstr='#051025' ,GradientType=0)";
                background: linear-gradient(180deg, #265b88 -15.67%, #051025 81.54%);
                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#265b88',endColorstr='#051025' , GradientType=0);

                &.con-trancicion {
                    transition: $transicion-contenido;
                }
        
                &.no-mostrar {
                    display: none !important;
                }


                &.izquierda {
                    border-left: $border-tercios solid $celeste-base;
                    border-right: $border-tercios solid $celeste-base;
                }

                &.centro {
                    border-left: $border-tercios solid $celeste-base;
                    border-right: $border-tercios solid $celeste-base;
                }

                &.derecha {
                    border-left: $border-tercios solid $celeste-base;
                    border-right: $border-tercios solid $celeste-base;
                }

                &.tercio-sin-borde {
                    border-color: transparent !important;
                    background: transparent !important;
                }

                &.sin-color-borde {
                    border-color: transparent !important;
                }

                &.sobre-mundo {
                    background: none !important;
                }
            }
        }

        & .capa-gif {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
    
            display: flex;
            justify-content: center;
    
            opacity: 0;
            z-index: -1;
            background: transparent;
    
            &.mostrar {
                opacity: 1;
                z-index: 3;
            }
    
            & .tercio {
                width: $ancho-pagina;
                height: 100%;
                background: none !important;
    
                transition: $transicion-portada-expandible;
    
                display: flex;
                justify-content: center;
    
                & .portada-expandible {
                    width: 100%;
                    height: $portada-gaze-alto-completo;
                    padding-top: $appbar-alto-default;
                    padding-left: 0;
    
                    transition: $transicion-portada-expandible;
    
                    & img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
    
            &.animando {
                & .tercio {
                    width: 56%;
                    // animation: movimiento_capa_gif 4s;
    
                    & .portada-expandible {
                        height: 28%;
                        width: 100%;
                        padding-top: $altura-header-landing + $alto-lineaverde-landing;
                        padding-left: 0.5%;
                    }
                }
            }
        }

        .cuerpo {
            width: $ancho-pagina;
            height: $cuerpo-default-alto;
            padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
            box-sizing: border-box;
            overflow-y: scroll;
            overflow-x: hidden;
        }
        
        .error {
            padding-left: $espacio-0139;
            @include fuenteConInterlineado($letra-2, $interlineado-1);
        }
        
        .fondoTransparente {
            background-color: $tranparencia-base;
            width: $ancho-6920;
            height: $altura-pagina;
            padding-left: $espacio-267;
            padding-right: $espacio-267;
            box-sizing: border-box;
        }
        
        .centrar {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
        .centrarText {
            text-align: center;
        }
        
        .contenedorTransparencia {
            height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
            overflow-y: auto;
        }
        
        .centrarVerticalmente{
            display: flex;
            align-items: center;
        }
        
        .botondefecto {
            font-size: $letra-3;
            cursor: pointer;
            touch-action: none;
        }
        
        .letradefecto {
            font-size: $letra-2;
        }
        
        .letraSinDeforme{
            word-break: break-all;
        }
        
        .ancho-color-6028 {
            width: $ancho-6028;
        }
        
        .ancho-color-6386 {
            width: $ancho-6386;
        }
        
        .ancho-color-6920 {
            width: $ancho-6920;
        }
        
        .ancho-color-100 {
            width: $ancho-100;
        }
        
        .cuadro-error-general {
            width: $ancho-pagina;
            height: $altura-pagina;
        
            background: rgba(255, 255, 255, 1);
        
            display: flex;
            align-items: center;
            justify-content: center;
            flex-flow: column;
        
            & p {
                text-align: center;
            }
        
            & button {
        
            }
        
        }
    }
}


@media screen and (min-aspect-ratio: '16/10') {
    @import "assets/estilos/dimensiones_16_10.scss";

    .body-principal {

        &.con-trancicion {
            transition: $transicion-contenido;
        }
    
        & .contenedor-router {
    
            & .contenedor-tercios {
                width: $ancho;
    
                &.con-trancicion {
                    transition: $transicion-contenido;
                }
    
                & .tercio {
                    width: $ancho-pagina;
                    height: $altura-pagina;
    
                    &.con-trancicion {
                        transition: $transicion-contenido;
                    }

                    &.izquierda {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                        margin-right: $espacio-entre-tercios;
                    }
    
                    &.centro {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                    }
    
                    &.derecha {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                        margin-left: $espacio-entre-tercios;
                    }
                }
            }

            & .capa-gif {
    
                & .tercio {
                    width: $ancho-pagina;
        
                    & .portada-expandible {
                        width: 100%;
                        height: $portada-gaze-alto-completo;
                        padding-top: $appbar-alto-default;
                        padding-left: 0;
                    }
                }
        
                &.animando {
                    & .tercio {
                        width: $ancho-landing;
        
                        & .portada-expandible {
                            height: $portada-alto-landing;
                            width: 80%;
                            padding-top: $altura-header-landing + $alto-lineaverde-landing;
                            padding-left: 0;
                        }
                    }
                }
            }

            .cuerpo {
                width: $ancho-pagina;
                height: $cuerpo-default-alto;
                padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
            }
            
            .error {
                padding-left: $espacio-0139;
                @include fuenteConInterlineado($letra-2, $interlineado-1);
            }
            
            .fondoTransparente {
                background-color: $tranparencia-base;
                width: $ancho-6920;
                height: $altura-pagina;
                padding-left: $espacio-267;
                padding-right: $espacio-267;
            }
            
            .contenedorTransparencia {
                height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
            }
            
            .botondefecto {
                font-size: $letra-3;
            }
            
            .letradefecto {
                font-size: $letra-2;
            }
            
            .ancho-color-6028 {
                width: $ancho-6028;
            }
            
            .ancho-color-6386 {
                width: $ancho-6386;
            }
            
            .ancho-color-6920 {
                width: $ancho-6920;
            }
            
            .ancho-color-100 {
                width: $ancho-100;
            }
            
            .cuadro-error-general {
                width: $ancho-pagina;
                height: $altura-pagina;    
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "assets/estilos/dimensiones_16_9.scss";


    $portada-alto-landing2: calcularDos(30.20);
    $ancho-portada: 51.99vw;
    .body-principal {

        &.con-trancicion {
            transition: $transicion-contenido;
        }
    
        & .contenedor-router {
    
            & .contenedor-tercios {
                width: $ancho;
    
                &.con-trancicion {
                    transition: $transicion-contenido;
                }
    
                & .tercio {
                    width: $ancho-pagina;
                    height: $altura-pagina;
    
                    &.con-trancicion {
                        transition: $transicion-contenido;
                    }

                    &.izquierda {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                        margin-right: $espacio-entre-tercios;
                    }
    
                    &.centro {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                    }
    
                    &.derecha {
                        border-left: $border-tercios solid $celeste-base;
                        border-right: $border-tercios solid $celeste-base;
                        margin-left: $espacio-entre-tercios;
                    }
                }
            }

            & .capa-gif {
    
                & .tercio {
                    width: $ancho-pagina;
                    & .portada-expandible {
                        width: 100%;
                        height: $portada-gaze-alto-completo;
                        padding-top: $appbar-alto-default;
                        padding-left: 0;
                    }
                }
        
                &.animando {
                    & .tercio {
                        width: $ancho-portada;

                        & .portada-expandible {
                            height: $portada-alto-landing;
                            width: 80%;
                            padding-top: $altura-header-landing + $alto-lineaverde-landing;
                            padding-left: 0;
                        }
                    }
                }
            }

            

            .cuerpo {
                width: $ancho-pagina;
                height: $cuerpo-default-alto;
                padding: $espacio-0316 $espacio-267 $espacio-522 $espacio-267;
            }
            
            .error {
                padding-left: $espacio-0139;
                @include fuenteConInterlineado($letra-2, $interlineado-1);
            }
            
            .fondoTransparente {
                background-color: $tranparencia-base;
                width: $ancho-6920;
                height: $altura-pagina;
                padding-left: $espacio-267;
                padding-right: $espacio-267;
            }
            
            .contenedorTransparencia {
                height: calc(100vh - #{$appbar-alto-default} - #{$espesor-089}) !important;
            }
            
            .botondefecto {
                font-size: $letra-3;
            }
            
            .letradefecto {
                font-size: $letra-2;
            }
            
            .ancho-color-6028 {
                width: $ancho-6028;
            }
            
            .ancho-color-6386 {
                width: $ancho-6386;
            }
            
            .ancho-color-6920 {
                width: $ancho-6920;
            }
            
            .ancho-color-100 {
                width: $ancho-100;
            }
            
            .cuadro-error-general {
                width: $ancho-pagina;
                height: $altura-pagina;    
            }
        }
    }
}