<div class="item-buscador" (tap)="eventoTap()">
    <div class="linea">
        <app-linea [configuracionLinea]="confLinea"></app-linea>
    </div>
    <div class="interior">
        <div class="item">
            <app-item-intercambio [configuracion]="configuracion.configuracionRectangulo">
            </app-item-intercambio>
        </div>
        <div *ngIf="configuracion.intercambio " class="titulos">
            <p [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOCELESTEMAIN,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L2_I6
                })">
                {{ configuracion.intercambio.tituloCorto }}
            </p>
            <div class="item-fecha">
                <app-item-fecha [fecha]="configuracion.intercambio.fechaCreacion" [colorBuscadorProyectos]='true'>
                </app-item-fecha>
            </div>
        </div>
    </div>
</div>