<app-appbar [configuracion]="configuracionAppBar"></app-appbar>
<div class="centrar">
  <div class="fondoTransparente contenedorTransparencia">
    <app-confirmacion-pago-cripto
      *ngIf="mostrarRespuestaCoinPayments"
    >
    </app-confirmacion-pago-cripto>
    <app-lista-vertical
      [dataLista]="dataLista"
      class="centrar"
      *ngIf="!mostrarRespuestaCoinPayments"
    >
      <div class="espaciador">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L5_IGUAL
          })" class="titlePago">
          {{ "m2v9texto2" | translate }}
        </p>

        <div *ngFor="let item of listaMetodoPago">
          <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.TARJETA">
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                enMayusculas: false,
                tamanoConInterlineado:
                  estiloTexto.tamanoDeTextoConInterlineado.L4_IGUAL
              })" class="nombreMetodoPago">
              {{ item.nombre }}
            </p>
          </div>
          <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ">
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
                estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                enMayusculas: false,
                tamanoConInterlineado:
                  estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
              })" class="nombreMetodoPago">
              {{ item.nombre }}
            </p>
          </div>
          <!-- Paymentez 2 -->
          <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.PAYMENTEZ2">
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })" class="nombreMetodoPago">
              {{ item.nombre }}
            </p>
          </div>
          <div class="cotenedorNombreMetodoPago" *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">
            <p [ngClass]="estiloTexto.obtenerEstilosTexto({
              color: estiloTexto.colorDelTexto.TEXTOAMARILLOBASE,
              estiloTexto: estiloTexto.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
            })" class="nombreMetodoPago">
              {{ item.nombre }}
            </p>
          </div>

          <div class="iconPago">
            <div class="img-tarjetas" *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
              item.codigo == codigosCatalogos.TARJETA" (tap)="navegarMetodoPago(item)">
              <div class="texto-accept-cards">
                <p [ngClass]="estiloTexto.obtenerEstilosTexto({
                    color: estiloTexto.colorDelTexto.TEXTONEGRO,
                    estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado:
                      estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                  })">
                  {{ "m5v9texto5" | translate }}
                </p>

              </div>
              <img [src]="item.icono">
            </div>

            <div class="img-tarjetas" *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
              item.codigo === codigosCatalogos.PAYMENTEZ" (tap)="navegarMetodoPago(item)">
              <img [src]="item.icono">
            </div>
            <div class="img-tarjetas" *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
              item.codigo === codigosCatalogos.PAYMENTEZ2" (tap)="navegarMetodoPago(item)">
              <img [src]="item.icono">
            </div>
            <div class="img-tarjetas" *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
              item.codigo === codigosCatalogos.CRIPTOMONEDA" (tap)="navegarMetodoPago(item)">

              <div class="texto-accept-cards" *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA">
                <p [ngClass]="
                  estiloTexto.obtenerEstilosTexto({
                    color: estiloTexto.colorDelTexto.TEXTONEGRO,
                    estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado:
                      estiloTexto.tamanoDeTextoConInterlineado.L1_IGUAL
                  })
                ">
                  {{ "m5v9texto9" | translate }}
                </p>
                <div class="en-construcion"
                     *ngIf="item.codigo === codigosCatalogos.CRIPTOMONEDA && !confDialogoEnConstruccion.noMostrar">
                  <app-dialogo-inline [configuracion]="confDialogoEnConstruccion"></app-dialogo-inline>
                </div>
              </div>

              <img [src]="item.icono">
            </div>
            <!-- <div *ngIf="item.codigo === metodoPagoBitcoin">
              <div class="container-mensaje-pendiente-pago">
                <p class="centrar-texto" [ngClass]="estiloTexto.obtenerEstilosTexto({
                      color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                      estiloTexto: estiloTexto.estilosDelTexto.BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
                    })">
                  {{ "m2v9texto6" | translate }}
                </p>
                <p class="mensaje-pendiente-pago" [ngClass]="estiloTexto.obtenerEstilosTexto({
                      color: estiloTexto.colorDelTexto.TEXTOBLANCO,
                      estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloTexto.tamanoDeTextoConInterlineado.L2_I2
                    })">
                  {{ "m2v9texto7" | translate }}
                </p>
              </div>
            </div> -->
          </div>
          <div class="linea-verde" *ngIf="item.codigo !== metodoPagoBitcoin">
            <app-linea [configuracionLinea]="confLinea"></app-linea>
          </div>
        </div>
      </div>
    </app-lista-vertical>
  </div>
</div>
<!-- Modal Stripe -->
<app-dialogo-contenido [data]="dataModalStripe">
  <div [formGroup]="pagoForm">
    <app-input [inputCompartido]="inputNombre"></app-input>
    <br>
    <app-input [inputCompartido]="inputEmail"></app-input>
    <br>
    <app-input [inputCompartido]="inputTelefono"></app-input>
    <br>
    <app-input [inputCompartido]="inputDireccion"></app-input>
    <br>
    <div class="centrar">
      <input [(ngModel)]="isChecked" (change)="checkValue($event.target)" type="checkbox" formControlName="checkBox">
      <p>
        {{ 'm13v1texto9' | translate}}
        <!-- <span><a href="https://gazelook.com/politicas"> {{ 'm13v1texto10' | translate}}</a></span> -->
        <span class="docLegal" (tap)="irDocumentosLegales()"><a> {{'m13v1texto10' | translate }}</a> </span>

      </p>
    </div>
    <br>
    <div class="contenedor-stripe">
      <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions">
      </ngx-stripe-card>
    </div>
    <br>
    <div class="centrar boton-pago">
      <button class="botondefecto" (tap)="pagarStripe()">
        {{ "m2v9texto13" | translate }}
      </button>
    </div>
  </div>
</app-dialogo-contenido>
<!-- Modal paypal -->
<app-dialogo-contenido [data]="dataModalPaymentez" style="display: none">
</app-dialogo-contenido>

<div (tap)="eventoModal($event.target)" [ngClass]="{
  'modal-monto': true,
  mostrar: dataModalMontoPago.abierto,
  bloqueado: dataModalMontoPago.bloqueado
}">
  <div class="contenido-modal">
    <ng-container *ngIf="mostrarMessage; else mesagePaymentez">
      <div class="titulo">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
          })">
          {{'text106' | translate}}
        </p>
      </div>
      <div class="descripcion">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_I2
          })">
          {{ mensajePaimentez | translate}}
        </p>
      </div>
    </ng-container>
    <ng-template #mesagePaymentez>
      <div class="titulo">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
          })">
          {{ "m2v9texto8" | translate }}
        </p>
      </div>
      <div class="valor">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
          })">
          18€
        </p>
      </div>
      <div class="descripcion">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOCELESTE,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_I2
          })">
          {{ "m2v9texto10" | translate }}
        </p>
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.SEMI_BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L2_I2
          })">
          {{ "m2v9texto11" | translate }}
        </p>
      </div>
      <div class="subtitulo">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: true,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L3_IGUAL
          })">
          {{ "m2v9texto12" | translate }}
        </p>
      </div>
      <div class="moneda">
        <input [id]="idInputCantidadAPagar" [ngClass]="obtenerClasesInputCantidadMoneda()" currencyMask [options]="{
          prefix: '',
          thousands: '.',
          decimal: ',',
          align: 'center',
          precision: 2
        }" [(ngModel)]="confMonedaPicker.inputCantidadMoneda.valor.valorFormateado" placeholder="0.00">
        <app-moneda-picker *ngIf="confMonedaPicker" [configuracion]="confMonedaPicker"></app-moneda-picker>
      </div>
      <div class="terminos-pago" *ngIf="codigosCatalogos.PAYMENTEZ === this.codigoPago ||
        this.codigoPago === codigosCatalogos.PAYMENTEZ2">
        <input [(ngModel)]="isChecked" (change)="checkValue($event.target)" type="checkbox">
        <p>
          {{ 'm13v1texto9' | translate}}
          <!-- <span><a href="https://m.gazelook.com/politicas" class="letra-terminos">{{ 'm13v1texto10' | translate}}</a></span> -->
          <span class="docLegalCeleste" (tap)="irDocumentosLegales()"><a> {{'m13v1texto10' | translate }}</a> </span>
        </p>
      </div>
      <div class="boton">
        <app-button [botonCompartido]="confBotonMontoPago"></app-button>
      </div>
      <div *ngIf="dataModalMontoPago.error" [ngClass]="{
        'mensaje-status': true
      }">
        <p [ngClass]="estiloTexto.obtenerEstilosTexto({
            color: estiloTexto.colorDelTexto.TEXTOBLANCO,
            estiloTexto: estiloTexto.estilosDelTexto.BOLD,
            enMayusculas: false,
            tamanoConInterlineado:
              estiloTexto.tamanoDeTextoConInterlineado.L3_I1
          })">
          {{ dataModalMontoPago.errorContenido || "" | translate }}
        </p>
      </div>
    </ng-template>

  </div>
</div>
<!--Modal continuar pago-->
<div
  [ngClass]="{
        'modal-verificar-cuenta': true,
        'mostrar': mostrarModalPagoContinuar
    }"
>
  <div class="forma">
    <div class="texto-info">
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I1
                })">
        {{ descripcionPagoContinuar | translate}}

      </p>
    </div>
    <div class="boton">
      <app-button *ngIf="botonContinuarPerfiles" [botonCompartido]="botonContinuarPerfiles"></app-button>
    </div>

  </div>
</div>
<app-toast #toast [configuracion]="configuracionToast"></app-toast>
<app-lista-selector-tipo-moneda [configuracion]="confMonedaPicker"></app-lista-selector-tipo-moneda>
<app-dialogo [configuracion]="configDialoPago"></app-dialogo>
