<div class="cotenedorMetodoPago">
  <div class="title-metodo">
    <p [ngClass]="
               estiloTextoServicio.obtenerEstilosTexto({
                    color: estiloTextoServicio.colorDelTexto.TEXTOAMARILLOBASE,
                    estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: false,
                    tamanoConInterlineado:
                      estiloTextoServicio.tamanoDeTextoConInterlineado.L4_IGUAL
                  })
                ">
      {{ item.nombre }}
    </p>
  </div>
</div>
<div class="iconPago">
  <div class="img-tarjetas"
       *ngIf="item.estado.codigo == codigosEstadoMetodoPago.ACTIVA &&
                item.codigo == codigosCatalogos.TARJETA"
       (tap)="navegarMetodoPagoStripe(item)">
    <div class="texto-accept-cards" *ngIf="item.codigo === codigosCatalogos.TARJETA">
      <p [ngClass]="
                    estiloTextoServicio.obtenerEstilosTexto({
                      color: estiloTextoServicio.colorDelTexto.TEXTONEGRO,
                      estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
                      enMayusculas: true,
                      tamanoConInterlineado:
                        estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })
                  ">
        {{ "m5v9texto5" | translate }}
      </p>
    </div>
    <img [src]="item.icono" alt="Imagen Método Pago">
  </div>
</div>

<!--Modales de pago Stripe-->
<div (tap)="eventoModalStripe($event.target)" [ngClass]="{
    'modal-monto-stripe': true,
    mostrar: dataModalMontoStripePago.abierto,
    bloqueado: dataModalMontoStripePago.bloqueado
  }">
  <div class="contenido-modal">
    <div class="descripcion">
      <p [ngClass]="estiloTextoServicio.obtenerEstilosTexto({
                color: estiloTextoServicio.colorDelTexto.TEXTOCELESTE,
                estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado: estiloTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })">
        {{ 'm12v1texto1' | translate }}
      </p>
      <p [ngClass]="estiloTextoServicio.obtenerEstilosTexto({
                color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloTextoServicio.estilosDelTexto.SEMI_BOLD,
                enMayusculas: true,
                tamanoConInterlineado: estiloTextoServicio.tamanoDeTextoConInterlineado.L2_I2
            })">
        {{ 'm12v1texto2' | translate }}
      </p>
    </div>
    <div class="subtitulo">
      <p [ngClass]="estiloTextoServicio.obtenerEstilosTexto({
                color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
                estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado: estiloTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
            })">
        {{ 'm12v1texto3' | translate }}
      </p>
    </div>
    <div class="moneda">
      <input
        [id]="idInputCantidadAPagar"
        [ngClass]="obtenerClasesInputCantidadMoneda()"
        currencyMask
        [options]="{
            prefix: '',
            thousands: '.',
            decimal: ',',
            align: 'center',
            precision: 2
          }"
        [(ngModel)]="confMonedaPickerStripe.inputCantidadMoneda.valor.valorFormateado"
        placeholder="0,00">
      <app-moneda-picker *ngIf="confMonedaPickerStripe" [configuracion]="confMonedaPickerStripe"></app-moneda-picker>
    </div>
    <ngx-stripe-card
      [options]="cardOptions"
      [elementsOptions]="elementsOptions"
      (change)="onChangeStripeCard($event)"
    >
    </ngx-stripe-card>
    <div class="terminos-pago">
      <input
        [(ngModel)]="terminosPagoStripe"
        (change)="checkValueTerminosPagoStripe($event.target)"
        type="checkbox"
      >
      <p>
        {{ 'm13v1texto9' | translate}}
        <span
          class="docLegalCeleste"
          (tap)="irDocumentosLegales()">
              <a> {{'m13v1texto10' | translate }}</a>
            </span>
      </p>
    </div>
    <div class="boton">
      <app-button [botonCompartido]="confBotonMontoPagoStripe"></app-button>
    </div>

    <div
      *ngIf="dataModalMontoStripePago.error"
      [ngClass]="{
          'mensaje-status': true
        }">
      <p [ngClass]="
            estiloTextoServicio.obtenerEstilosTexto({
              color: estiloTextoServicio.colorDelTexto.TEXTOBLANCO,
              estiloTexto: estiloTextoServicio.estilosDelTexto.BOLD,
              enMayusculas: false,
              tamanoConInterlineado:
                estiloTextoServicio.tamanoDeTextoConInterlineado.L3_I1
            })
          ">
        {{ dataModalMontoStripePago.errorContenido || "" | translate }}
      </p>
    </div>
  </div>
</div>
<app-done [configuracion]="confDone"></app-done>
<app-toast #toast [configuracion]="configuracionToast"></app-toast>
<app-lista-selector-tipo-moneda [configuracion]="confMonedaPickerStripe"></app-lista-selector-tipo-moneda>


