@import "../../../../assets/estilos/dimensiones.scss";

.fondo-modal-inferior {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    display: none;
    align-items: flex-end;
    justify-content: center;
    top: 0;
    box-sizing: border-box;
    z-index: 900;

    width: $ancho-pagina;
    height: 100vh;
}

.modal-abierto {
    display: flex !important;
}

.contenido-modal-inferior {
    background-color: white;
    height: fit-content;
    width: 100%;
    padding-left: $espacio-0316;
    padding-right: $espacio-0316;
    padding-top: $espacio-522;
    padding-bottom: $espacio-522;
z-index: 1000;
    user-select: text !important;
    & p {
        user-select: text !important;
    }
}

@media screen and (min-aspect-ratio: '16/10') {
	@import "../../../../assets/estilos/dimensiones_16_10.scss";

    .fondo-modal-inferior {
        width: $ancho-pagina;
    }
    
    .contenido-modal-inferior {
        padding-left: $espacio-0316;
        padding-right: $espacio-0316;
        padding-top: $espacio-522;
        padding-bottom: $espacio-522;
    }
}

@media screen and (min-aspect-ratio: '16/9') {
	@import "../../../../assets/estilos/dimensiones_16_9.scss";

    .fondo-modal-inferior {
        width: $ancho-pagina;
    }

    .contenido-modal-inferior {
        padding-left: $espacio-0316;
        padding-right: $espacio-0316;
        padding-top: $espacio-522;
        padding-bottom: $espacio-522;
    }
}