<div
  *ngIf="configuracion"
  class="votar-entidad"
>
  <div
    [ngClass]="obtenerClasesBloqueTitulo()"
  >
    <p
      *ngIf="configuracion.apoyarProyecto"
      [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: (configuracion.voto) ?
                    estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE :
                    estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
    >
      {{ configuracion.bloqueTitulo.llavesTexto[0] || '' | translate }}
    </p>
    <p
      *ngIf="!configuracion.apoyarProyecto"
      [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                color: (configuracion.voto) ?
                    estiloDelTextoServicio.colorDelTexto.TEXTOAMARILLOBASE :
                    estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                enMayusculas: true,
                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_I2
            })"
    >
      {{ configuracion.bloqueTitulo.llavesTexto[0] || '' | translate }}
      <br/>
      {{ configuracion.bloqueTitulo.llavesTexto[1] || '' | translate }}
    </p>
  </div>
  <div
    class="boton-yes"
    (tap)="eventoTap()"
    *ngIf="!configuracion.apoyarProyecto"
  >
    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-apoyar.svg">
    <div
      *ngIf="!configuracion.voto"
      class="texto"
    >
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL
                })"
      >
        {{ configuracion.bloqueBoton.llaveTexto || '' | translate }}
      </p>
    </div>
    <div
      *ngIf="configuracion.voto"
      class="visto-contenedor"
    >
      <div class="visto"></div>
    </div>
  </div>
  <div
    class="boton-yes-apoyo"
    (tap)="eventoTap()"
    *ngIf="configuracion.apoyarProyecto"
  >
    <img src="https://d3ubht94yroq8c.cloudfront.net/recursos-sistema/botones/forma-flecha-apoyar.svg">
    <div
      *ngIf="!configuracion.voto"
      class="texto"
    >
      <p
        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({
                    color: estiloDelTextoServicio.colorDelTexto.TEXTOVERDEBASE,
                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD,
                    enMayusculas: true,
                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L5_IGUAL
                })"
      >
        {{ configuracion.bloqueBoton.llaveTexto || '' | translate }}
      </p>
    </div>
    <div
      *ngIf="configuracion.voto"
      class="visto-contenedor"
    >
      <div class="visto"></div>
    </div>
  </div>
</div>
