@import "../../../../../assets/estilos/dimensiones.scss";
@import "../../../../../assets/estilos/colores.scss";
@import "../../../../../assets/estilos/imagenes.scss";

$tamano-div-libro: calcular(7.42);
$width-libro: calcular(5);
$height-libro: calcular(5.5);

.mensaje-audio {
    width: 100%;
    height: fit-content;
    min-height: calcular(1);
    box-sizing: border-box;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    margin-bottom: $espacio-0249;

    & .hora {
        margin-bottom: $espacio-0139 - $defecto-bottom;
        width: fit-content;
        padding-right: $espacio-267;

        & p {
            width: fit-content;
        }
    }

    & .capa-seleccionado {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        position: relative;
        & .libroPropietario {
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            width: $tamano-div-libro;
            & .svg-libro-cerrado {
                background-image: $libro-cerrado;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
                margin-right: 0.3vw;
            }
            & .svg-libro-abierto {
                background-image: $libro-abierto;
                width: $width-libro;
                height: $height-libro;
                background-repeat: no-repeat;
            }
        }
        & .caja-audio {
            width: fit-content;
            max-width: 70%;
            display: flex;
            background-color: $mensaje-recibido;
            border-radius: calcular(1.03);

            // position: absolute;
            display: none;

            &.mostrar {
                display: flex;
                flex-flow: row;
                align-items: center;
            }

            &.loader {
                box-sizing: border-box;
                padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
                justify-content: flex-start;

                & .separador {
                    width: calcular(4);
                }
            }

            &.error {
                box-sizing: border-box;
                padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
                justify-content: flex-start;
            }
        }

        & .color-seleccionado {
            top: 0;
            left: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: -1;
            opacity: 0;
            background-color: rgba(51, 70, 81, 0.30);

            &.capa-encima {
                z-index: 0;
            }
        }

        &.seleccionado {
            & .color-seleccionado {
                z-index: 1;
                opacity: 1;
            }
        }
    }

    &.propietario {
        align-items: flex-end;

        & .capa-seleccionado {
            justify-content: flex-end;

            & .caja-audio {
                background-color: $mensaje-enviado;
            }
        }
        
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../../assets/estilos/dimensiones_16_10.scss";
    $tamano-div-libro: calcular(7.42);
    $width-libro: calcular(5);
    $height-libro: calcular(5.5);
    .mensaje-audio {
        min-height: calcular(1);
        margin-bottom: $espacio-0249;
    
        & .hora {
            margin-bottom: $espacio-0139 - $defecto-bottom;
            padding-right: $espacio-267;
        }
    
        & .capa-seleccionado {
            & .libroPropietario {

                width: $tamano-div-libro;
                & .svg-libro-cerrado {
                    background-image: $libro-cerrado;
                    width: $width-libro;
                    height: $height-libro;
                    margin-right: 0.3vw;
                }
                & .svg-libro-abierto {
                    background-image: $libro-abierto;
                    width: $width-libro;
                    height: $height-libro;
                }
            }
            & .caja-audio {
                border-radius: calcular(1.03);
    
                &.loader {
                    padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
    
                    & .separador {
                        width: calcular(4);
                    }
                }
    
                &.error {
                    padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../../assets/estilos/dimensiones_16_9.scss";
    $tamano-div-libro: calcular(7.42);
    $width-libro: calcular(5);
    $height-libro: calcular(5.5);
    .mensaje-audio {
        min-height: calcular(1);
        margin-bottom: $espacio-0249;
    
        & .hora {
            margin-bottom: $espacio-0139 - $defecto-bottom;
            padding-right: $espacio-267;
        }
    
        & .capa-seleccionado {
            & .libroPropietario {

                width: $tamano-div-libro;
                & .svg-libro-cerrado {
                    background-image: $libro-cerrado;
                    width: $width-libro;
                    height: $height-libro;
                    margin-right: 0.3vw;
                }
                & .svg-libro-abierto {
                    background-image: $libro-abierto;
                    width: $width-libro;
                    height: $height-libro;
                }
            }
            & .caja-audio {
                border-radius: calcular(1.03);
    
                &.loader {
                    padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
    
                    & .separador {
                        width: calcular(4);
                    }
                }
    
                &.error {
                    padding: $espacio-0249 - $defecto-top $espacio-267 $espacio-0249 - $defecto-bottom $espacio-267 !important;
                }
            }
        }
    }
}