@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";


.capa {
    display: none;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding-right: 2.67vw;
    &.mostrar {
        display: flex;
    }
    &.loader {
        align-items: center;
        justify-content: center;
        height: 50vh;
        
    }
    &.error {
        align-items: center;
        justify-content: center;
        flex-flow: column;
    }
    &.contenido-general {
        flex-flow: column;
        align-items: center;
    }
  }
  
  
  // ---------- estilos noticias --------
  
  
  .titulo-noticias{
    padding-top: $espacio-522;
  
  }
  
  
  .proyectos-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
  }
  .noticias-contenedor {
    flex-flow: row;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
    max-height: 100%;
    overflow-y: scroll;
    // padding-top: 1.78vw;
    // flex: 1;
  }

 
  .resumen-proyectos{
    justify-content: flex-start;
      align-items: center;
      // height: $cuerpo-default-alto ;//calc(31.90vw * 3 + 1.78vw);
      // width: calc(43.3vw * 2 + 1.78vw);
      // height: calc(100vh - 59.92vh);
      max-height: calc(100vh - 47.92vh);
      height: fit-content;
    // background-color: darkmagenta;
    &.no-scroll{
      // overflow-y:hidden;
      max-height: calc(100vh - 40.70vh) !important;
    }
  
  }

  .detalle-proyectos{
    width: 100vw;
    // height: calc(100vh - 59.92vh);
    max-height: calc(100vh - 40.92vh);
   
    
  }
  .item-contedor {
    padding-right: $espacio-071;
  }
  
  .noticias{
    display: flex;
      flex: 1;
      flex-flow: column;
  }
  .contenedor-item-noticia {
    padding-right: $espacio-071;
  }
  
  
  .item-noticia{
    // margin-right: $espacio-178;
    margin-bottom: $espacio-178;
   
  
    &.sin-margin-derecha {
        margin-right: 0;
    }
    &.contenedor-item-noticia {
      padding-right: 0;
    }
  }
  
  .no-more-projects{
    text-align: center;
    padding-top: $espacio-522 - $espacio-178;
    // padding-bottom: $espacio-522;
    width: 100%;
  }
  
  .contenedor-principal-noticias{
    display: flex;
    justify-content: center;
    align-items: baseline;
  }


  .lineaVerde {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.78vw;
}

.loader-interno {
  width: 100%;
  display: flex;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: calcular(2);
  // min-height: calcular(12);
}

p {
  line-break: auto !important;
}