@import '../../../../assets/estilos/dimensiones.scss';
@import '../../../../assets/estilos/colores.scss';

.divIdiomas{
    box-sizing: border-box;
    height:calcular(6.4);
    width: $ancho-6920;
}

.amarilloIdioma{
    color: $amarillo-claro !important;
}

.divLetrasIdioma{
    float: left;
    width: calcular(11.085);
    height: calcular(6.4);
    cursor: pointer;
}

.divLineaIdioma{    
    float: left;
    background-color: $blanco;    
    height: calcular(6.4);
    width: calcular(0.53);
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss"; 

    .divIdiomas{
        height: calcular(6.4);
        width: $ancho-6920;
    }
    
    .divLetrasIdioma{
        width: calcular(11.085);
        height: calcular(6.4);
    }
    
    .divLineaIdioma{    
        height: calcular(6.4);
        width: calcular(0.53);
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .divIdiomas{
        height: calcular(6.4);
        width: $ancho-6920;
    }
    
    .divLetrasIdioma{
        width: calcular(11.085);
        height: calcular(6.4);
    }
    
    .divLineaIdioma{    
        height: calcular(6.4);
        width: calcular(0.53);
    }
}
