@use "sass:math";
@import "../../../../assets/estilos/dimensiones.scss";
@import "../../../../assets/estilos/colores.scss";
@import "../../../../assets/estilos/imagenes.scss";

@keyframes parpadear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.barra {
    position: relative;
    width: 100%;
    height: $bottom-bar-alto;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    &.desactivar-barra {
        pointer-events: none !important;
    }

    & .capa {
        display: none;
        position: absolute;

        &.mostrar {
            display: flex;
        }

        &.color-fondo {
            height: 100%;
            background: $azul-fuerte;
        }

        &.contenido {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            box-sizing: border-box;
            padding: $espacio-267 $espacio-0139 $espacio-267 $espacio-267;

            display: flex;
            align-items: center;
            flex-flow: row;

            &.solo-iconos {
                padding: $espacio-267;
            }

            & .iconos {
                position: relative;
                background: $blanco;
                width: $bottom-bar-caja-ancho;
                height: $bottom-bar-caja-alto;
                border-radius: $bottom-bar-caja-borde-radio;

                display: flex;
                flex-flow: row;
                align-items: center;
                justify-content: center;

                &.ancho-completo {
                    width: 100%;
                }

                & .placeholder {
                    position: absolute;
                    z-index: 0;
                    display: none;
                    align-items: center;
                    justify-content: center;

                    &.mostrar {
                      display: flex;
                    }

                    & p {
                      white-space: pre-line;
                      text-align: center;
                    }
                }

                & .icono {
                    position: relative;
                    z-index: 1;
                    width: $bottom-bar-caja-icono-ancho;
                    height: 100%;
                    overflow: visible;
                    box-sizing: border-box;

                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;

                    &.con-zindex {
                        z-index: 100;
                    }

                    &.desactivado {
                        pointer-events: none !important;
                    }

                    &.icono-al-final {
                        position: absolute;
                        right: 0;

                        &.icono-audio {
                            width: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2));
                            padding-right: math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2);
                        }
                    }

                    &.icono-audio {
                        align-items: flex-end;
                        padding-bottom: $espacio-0136;
                    }

                    &.esconder-overflow {
                        overflow: hidden;
                    }

                    & .imagen {
                        display: none;
                        background-size: 100% 100%;
                        transition: all 0.125s 0.125s ease-in;

                        &.mostrar {
                            display: flex;
                        }

                        &.icono-texto {
                            position: relative;
                            width: $bottom-bar-caja-icono-texto-ancho;
                            height: $bottom-bar-caja-icono-texto-alto;
                            background-image: $forma-icono-editar-texto;
                        }

                        &.icono-archivo {
                            width: $bottom-bar-caja-icono-archivo-ancho;
                            height: $bottom-bar-caja-icono-archivo-alto;
                            background-image: $forma-icono-archivo;
                        }

                        &.icono-camara {
                            width: $bottom-bar-caja-icono-camara-ancho;
                            height: $bottom-bar-caja-icono-camara-alto;
                            background-image: $forma-icono-camara;
                        }

                        &.icono-llamada {
                            width: $bottom-bar-caja-icono-llamada-ancho;
                            height: $bottom-bar-caja-icono-llamada-alto;
                            background-image: $forma-icono-telefono;
                        }

                        &.icono-video-llamada {
                            width: $bottom-bar-caja-icono-video-ancho;
                            height: $bottom-bar-caja-icono-video-alto;
                            background-image: $forma-icono-video;
                        }

                        &.icono-audio {
                            width: $bottom-bar-caja-icono-audio-ancho;
                            height: $bottom-bar-caja-icono-audio-alto;
                            background-image: $forma-icono-microfono;

                            &.grabando {
                                // background-image: $forma-icono-microfono-rojo;
                                animation-name: parpadear ;
                                animation-duration: 1.25s;
                                animation-iteration-count: infinite;
                                transition: none;
                            }
                        }
                    }
                }

                & .contenido {
                    position: absolute;
                    background: $blanco;
                    display: none;
                    width: 100%;
                    height: 100%;
                    z-index: 99;

                    &.mostrar {
                        display: flex;
                    }

                    &.siempre-activa {
                        display: flex !important;
                    }

                    &.contenido-texto {
                        border-radius: $bottom-bar-caja-borde-radio;
                        // padding-left: $bottom-bar-caja-icono-ancho;
                        box-sizing: border-box;

                        & input {
                            width: 100%;
                            border: none;
                            border-top-right-radius: $bottom-bar-caja-borde-radio;
                            border-bottom-right-radius: $bottom-bar-caja-borde-radio;
                            border-top-left-radius: $bottom-bar-caja-borde-radio;
                            border-bottom-left-radius: $bottom-bar-caja-borde-radio;
                            outline: 0;
                            padding: 0 calcular(1.5);
                            box-sizing: border-box;

                            &:focus,
                            &:active {
                                outline: 0;
                            }
                        }

                        & .contador-caracteres {
                            position: absolute;
                            right: calcular(1.39);
                            bottom: calcular(1);

                            & p {
                                line-height: 0.8 !important;
                            }
                        }
                    }

                    &.contenido-audio {
                        border-radius: $bottom-bar-caja-borde-radio;
                        padding-right: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2)) + $espacio-0316;
                        padding-left: $espacio-267;
                        box-sizing: border-box;

                        & .audio-capa {
                            display: none;
                            width: 100%;
                            height: 100%;
                            border-top-left-radius: $bottom-bar-caja-borde-radio;
                            border-bottom-left-radius: $bottom-bar-caja-borde-radio;

                            &.mostrar {
                                display: flex;
                            }

                            &.loader {
                                align-items: flex-end;
                                justify-content: center;
                            }

                            &.grabadora {
                                flex-flow: row;
                                align-items: center;

                                & .caja {
                                    position: relative;
                                    height: 100%;
                                    display: flex;

                                    &.texto-parar {
                                        position: absolute !important;
                                        right: calcular(14.9575);
                                        display: none !important;
                                        padding-top: calcular(1.5);

                                        &.mostrar {
                                            display: flex !important;                                            
                                        }

                                        & p {
                                            white-space: pre-line;
                                            line-height: 0.8;
                                        }
                                    }

                                    &.duracion {
                                        width: fit-content;
                                        margin-right: $espacio-0139;
                                        box-sizing: border-box;

                                        align-items: center;
                                        justify-content: center;

                                        & p {

                                        }
                                    }

                                    &.barra-tiempo {
                                        flex: 1;
                                        align-items: center;
                                        justify-content: center;
                                        flex-flow: column;

                                        & .linea {
                                            position: relative;
                                            width: 100%;
                                            height: calcular(0.7);
                                            background: $azul-claro;
                                            border-radius: calcular(1.567);
                                            z-index: 1;

                                            & .linea-superior {
                                                position: absolute;
                                                top: 0;
                                                left: 0;
                                                // min-width: calcular(4);
                                                max-width: calc(100% - #{ calcular(2.5) });
                                                height: 100%;
                                                border-top-left-radius: calcular(1.567);
                                                border-bottom-left-radius: calcular(1.567);
                                                background-color: $azul-base;
                                                z-index: 2;
                                                transition: all 0.1s 0.1s ease-in;

                                                &::after {
                                                    content: " ";
                                                    width: calcular(2.5);
                                                    height: calcular(2.5);
                                                    border-radius: 50%;
                                                    background-color: $azul-base;

                                                    position: absolute;
                                                    z-index: 3;
                                                    right: calcular(2.5) * -1;
                                                    top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                                                    transition: all 0.1s 0.1s ease-in;
                                                }
                                            }
                                        }

                                        & .maximo {
                                            width: 100%;
                                            display: flex;
                                            justify-content: flex-end;
                                            margin-top: $espacio-0136;

                                            position: absolute;
                                            bottom: 0;

                                            & p {

                                            }

                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & .boton-send {
                display: none;
                width: $bottom-bar-boton-diametro;
                height: $bottom-bar-boton-diametro;
                border-radius: 50%;
                margin-left: $espacio-0139;

                background-image: $forma-flecha-circular-amarilla;
                background-size: 100% 100%;
                cursor: pointer;

                &.mostrar {
                    display: flex;
                }

                &.grabando {
                    background-image: $forma-boton-cancelar-grabacion;
                    background-size: 100% 100%;
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/10') {
    @import "../../../../assets/estilos/dimensiones_16_10.scss";

    .barra {
        height: $bottom-bar-alto;
    
        & .capa {
    
            &.contenido {
                padding: $espacio-267 $espacio-0139 $espacio-267 $espacio-267;
    
                &.solo-iconos {
                    padding: $espacio-267;
                }
    
                & .iconos {
                    width: $bottom-bar-caja-ancho;
                    height: $bottom-bar-caja-alto;
                    border-radius: $bottom-bar-caja-borde-radio;
    
                    & .icono {
                        width: $bottom-bar-caja-icono-ancho;
    
                        &.icono-al-final {
    
                            &.icono-audio {
                                width: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2));
                                padding-right: math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2);
                            }
                        }
    
                        &.icono-audio {
                            padding-bottom: $espacio-0136;
                        }
    
                        & .imagen {
    
                            &.icono-texto {
                                width: $bottom-bar-caja-icono-texto-ancho;
                                height: $bottom-bar-caja-icono-texto-alto;
                                background-image: $forma-icono-editar-texto;
                            }
    
                            &.icono-archivo {
                                width: $bottom-bar-caja-icono-archivo-ancho;
                                height: $bottom-bar-caja-icono-archivo-alto;
                                background-image: $forma-icono-archivo;
                            }
    
                            &.icono-camara {
                                width: $bottom-bar-caja-icono-camara-ancho;
                                height: $bottom-bar-caja-icono-camara-alto;
                                background-image: $forma-icono-camara;
                            }
    
                            &.icono-llamada {
                                width: $bottom-bar-caja-icono-llamada-ancho;
                                height: $bottom-bar-caja-icono-llamada-alto;
                                background-image: $forma-icono-telefono;
                            }
    
                            &.icono-video-llamada {
                                width: $bottom-bar-caja-icono-video-ancho;
                                height: $bottom-bar-caja-icono-video-alto;
                                background-image: $forma-icono-video;
                            }
    
                            &.icono-audio {
                                width: $bottom-bar-caja-icono-audio-ancho;
                                height: $bottom-bar-caja-icono-audio-alto;
                                background-image: $forma-icono-microfono;
                            }
                        }
                    }
    
                    & .contenido {
    
                        &.contenido-texto {
                            border-radius: $bottom-bar-caja-borde-radio;
    
                            & input {
                                border-top-right-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-right-radius: $bottom-bar-caja-borde-radio;
                                border-top-left-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-left-radius: $bottom-bar-caja-borde-radio;
                                padding: 0 calcular(1.5);
                            }
    
                            & .contador-caracteres {
                                right: calcular(1.39);
                                bottom: calcular(1);
                            }
                        }
    
                        &.contenido-audio {
                            border-radius: $bottom-bar-caja-borde-radio;
                            padding-right: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2)) + $espacio-0316;
                            padding-left: $espacio-267;
    
                            & .audio-capa {
                                border-top-left-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-left-radius: $bottom-bar-caja-borde-radio;
    
                                &.grabadora {
    
                                    & .caja {
    
                                        &.texto-parar {
                                            right: calcular(14.9575);
                                            padding-top: calcular(1.5);
                                        }
    
                                        &.duracion {
                                            margin-right: $espacio-0139;
                                        }
    
                                        &.barra-tiempo {
    
                                            & .linea {
                                                height: calcular(0.7);
                                                border-radius: calcular(1.567);
    
                                                & .linea-superior {
                                                    max-width: calc(100% - #{ calcular(2.5) });
                                                    border-top-left-radius: calcular(1.567);
                                                    border-bottom-left-radius: calcular(1.567);
    
                                                    &::after {
                                                        width: calcular(2.5);
                                                        height: calcular(2.5);
                                                        right: calcular(2.5) * -1;
                                                        top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                                                    }
                                                }
                                            }
    
                                            & .maximo {
                                                margin-top: $espacio-0136;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                & .boton-send {
                    width: $bottom-bar-boton-diametro;
                    height: $bottom-bar-boton-diametro;
                    margin-left: $espacio-0139;
                    cursor: pointer;
                    background-image: $forma-flecha-circular-amarilla;
                    background-size: 100% 100%;
    
                    &.grabando {
                        background-image: $forma-boton-cancelar-grabacion;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}

@media screen and (min-aspect-ratio: '16/9') {
    @import "../../../../assets/estilos/dimensiones_16_9.scss";

    .barra {
        height: $bottom-bar-alto;
    
        & .capa {
    
            &.contenido {
                padding: $espacio-267 $espacio-0139 $espacio-267 $espacio-267;
    
                &.solo-iconos {
                    padding: $espacio-267;
                }
    
                & .iconos {
                    width: $bottom-bar-caja-ancho;
                    height: $bottom-bar-caja-alto;
                    border-radius: $bottom-bar-caja-borde-radio;
    
                    & .icono {
                        width: $bottom-bar-caja-icono-ancho;
    
                        &.icono-al-final {
    
                            &.icono-audio {
                                width: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2));
                                padding-right: math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2);
                            }
                        }
    
                        &.icono-audio {
                            padding-bottom: $espacio-0136;
                        }
    
                        & .imagen {
    
                            &.icono-texto {
                                width: $bottom-bar-caja-icono-texto-ancho;
                                height: $bottom-bar-caja-icono-texto-alto;
                                background-image: $forma-icono-editar-texto;
                            }
    
                            &.icono-archivo {
                                width: $bottom-bar-caja-icono-archivo-ancho;
                                height: $bottom-bar-caja-icono-archivo-alto;
                                background-image: $forma-icono-archivo;
                            }
    
                            &.icono-camara {
                                width: $bottom-bar-caja-icono-camara-ancho;
                                height: $bottom-bar-caja-icono-camara-alto;
                                background-image: $forma-icono-camara;
                            }
    
                            &.icono-llamada {
                                width: $bottom-bar-caja-icono-llamada-ancho;
                                height: $bottom-bar-caja-icono-llamada-alto;
                                background-image: $forma-icono-telefono;
                            }
    
                            &.icono-video-llamada {
                                width: $bottom-bar-caja-icono-video-ancho;
                                height: $bottom-bar-caja-icono-video-alto;
                                background-image: $forma-icono-video;
                            }
    
                            &.icono-audio {
                                width: $bottom-bar-caja-icono-audio-ancho;
                                height: $bottom-bar-caja-icono-audio-alto;
                                background-image: $forma-icono-microfono;
                            }
                        }
                    }
    
                    & .contenido {
    
                        &.contenido-texto {
                            border-radius: $bottom-bar-caja-borde-radio;
    
                            & input {
                                border-top-right-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-right-radius: $bottom-bar-caja-borde-radio;
                                border-top-left-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-left-radius: $bottom-bar-caja-borde-radio;
                                padding: 0 calcular(1.5);
                            }
    
                            & .contador-caracteres {
                                right: calcular(1.39);
                                bottom: calcular(1);
                            }
                        }
    
                        &.contenido-audio {
                            border-radius: $bottom-bar-caja-borde-radio;
                            padding-right: $bottom-bar-caja-icono-audio-ancho + (math.div($bottom-bar-caja-icono-ancho - $bottom-bar-caja-icono-audio-ancho, 2)) + $espacio-0316;
                            padding-left: $espacio-267;
    
                            & .audio-capa {
                                border-top-left-radius: $bottom-bar-caja-borde-radio;
                                border-bottom-left-radius: $bottom-bar-caja-borde-radio;
    
                                &.grabadora {
    
                                    & .caja {
    
                                        &.texto-parar {
                                            right: calcular(14.9575);
                                            padding-top: calcular(1.5);
                                        }
    
                                        &.duracion {
                                            margin-right: $espacio-0139;
                                        }
    
                                        &.barra-tiempo {
    
                                            & .linea {
                                                height: calcular(0.7);
                                                border-radius: calcular(1.567);
    
                                                & .linea-superior {
                                                    max-width: calc(100% - #{ calcular(2.5) });
                                                    border-top-left-radius: calcular(1.567);
                                                    border-bottom-left-radius: calcular(1.567);
    
                                                    &::after {
                                                        width: calcular(2.5);
                                                        height: calcular(2.5);
                                                        right: calcular(2.5) * -1;
                                                        top: (calcular(1.25) - math.div(calcular(0.7), 2)) * -1;
                                                    }
                                                }
                                            }
    
                                            & .maximo {
                                                margin-top: $espacio-0136;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
    
                & .boton-send {
                    width: $bottom-bar-boton-diametro;
                    height: $bottom-bar-boton-diametro;
                    margin-left: $espacio-0139;
                    cursor: pointer;
                    background-image: $forma-flecha-circular-amarilla;
                    background-size: 100% 100%;
    
                    &.grabando {
                        background-image: $forma-boton-cancelar-grabacion;
                        background-size: 100% 100%;
                    }
                }
            }
        }
    }
}
