<div 
    *ngIf="configuracion"
    [ngClass]="{
        'barra': true,
        'desactivar-barra': (configuracion.desactivarBarra)
    }"
>
    <!-- Capa color de fondo -->
    <div
        [ngClass]="obtenerClasesCapaColorDeFondo()"
    ></div>
    <!-- Capa contenido -->
    <div
        [ngClass]="{
            'capa': true,
            'contenido': true,
            'mostrar': true,
            'solo-iconos': (!configuracion.botonSend || !configuracion.botonSend.mostrar)
        }"
    >
        <!-- Iconos -->
        <div
            [ngClass]="{
                'iconos': true,
                'ancho-completo': (!configuracion.botonSend || !configuracion.botonSend.mostrar)
            }"
        >
            <!-- Placeholder Central -->
            <div
                [ngClass]="{
                    'placeholder': true,
                    'mostrar': (configuracion.placeholder && configuracion.placeholder.mostrar)
                }"
            >
                <p
                    *ngIf="configuracion.placeholder && configuracion.placeholder.texto && configuracion.placeholder.configuracion"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto(configuracion.placeholder.configuracion)"
                >
                    {{ configuracion.placeholder.texto | translate }}
                </p>
            </div>
            <!-- Iconos de la barra -->
            <!-- Icono texto -->
            <div
                *ngIf="!(configuracion.iconoTexto && (configuracion.iconoTexto.capa && configuracion.iconoTexto.capa.mostrar))"
                (tap)="eventoIconoTexto()"
                [ngClass]="{
                    'icono': true,
                    'desactivado': (configuracion.iconoTexto && (configuracion.iconoTexto.icono.disabled || !configuracion.iconoTexto.icono.mostrar)) || !configuracion.iconoTexto,
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoTexto)
                }"
            > 
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoTexto)"
                ></div>
            </div>
            <!-- Icono archivo -->
            <div
                
                (tap)="eventoIconoArchivo()"
                [ngClass]="{
                    'icono': true,
                    'desactivado': (configuracion.iconoArchivo && (configuracion.iconoArchivo.icono.disabled || !configuracion.iconoArchivo.icono.mostrar)) || !configuracion.iconoArchivo,
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoArchivo)
                }"
            >
                <input
                    type="file"
                    id="{{ idInputFileIconoArchivo }}"
                    accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf, application/mp3, application/mp4, application/acc, application/ogg, application/webm, application/wav"
                    (change)="cambioEnInputFile($event.target.files, configuracion.iconoArchivo)"
                    [ngStyle]="{'display': 'none'}"
                />
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoArchivo)"
                ></div>
            </div>
            <!-- Icono Camara -->
            <div
             
                (tap)="eventoIconoCamara()"
                [ngClass]="{
                    'icono': true,
                    'desactivado': (configuracion.iconoCamara && (configuracion.iconoCamara.icono.disabled || !configuracion.iconoCamara.icono.mostrar)) || !configuracion.iconoCamara,
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoCamara)
                }"
            >
                <input
                    type="file"
                    id="{{ idInputFileIconoCamara }}"
                    accept="image/*"
                    (change)="cambioEnInputFile($event.target.files, configuracion.iconoCamara)"
                    [ngStyle]="{'display': 'none'}"
                />
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoCamara)"
                ></div>
            </div>
            <!-- Icono llamada -->
            <div
                (tap)="eventoIconoLlamada()"
                [ngClass]="{
                    'icono': true,
                    'desactivado': (configuracion.iconoLlamada && (configuracion.iconoLlamada.icono.disabled || !configuracion.iconoLlamada.icono.mostrar)) || !configuracion.iconoLlamada,
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoLlamada)
                }"
            >
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoLlamada)"
                ></div>
            </div>
            <!-- Icono video llamada -->
            <div
                (tap)="eventoIconoVideoLlamada()"
                [ngClass]="{
                    'icono': true,
                    'desactivado': (configuracion.iconoVideoLlamada && (configuracion.iconoVideoLlamada.icono.disabled || !configuracion.iconoVideoLlamada.icono.mostrar)) || !configuracion.iconoVideoLlamada,
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoVideoLlamada)
                }"
            >
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoVideoLlamada)"
                ></div>
            </div>
            <!-- Icono audio -->
            <div
                (tap)="eventoIconoAudio()"
                [ngClass]="{
                    'icono': true,
                    'icono-audio': true,
                    'desactivado': (configuracion.iconoAudio && (configuracion.iconoAudio.icono.disabled || !configuracion.iconoAudio.icono.mostrar)) || !configuracion.iconoAudio,
                    'esconder-overflow': determinarOverflowIconoAudio(),
                    'con-zindex': determinarEstadozIndexDelIcono(configuracion.iconoAudio),
                    'icono-al-final': (configuracion.iconoAudio && configuracion.iconoAudio.capa && (configuracion.iconoAudio.capa.siempreActiva || configuracion.iconoAudio.capa.mostrar))
                }"
            >
                <div
                    [ngClass]="obtenerClaseTipoIcono(configuracion.iconoAudio)"
                ></div>
            </div>
            <!-- Capas de contenido -->
            <!-- Contenido capa texto -->
            <div
                [ngClass]="{
                    'contenido': true,
                    'contenido-texto': true,
                    'mostrar': (configuracion.iconoTexto && (configuracion.iconoTexto.capa && configuracion.iconoTexto.capa.mostrar)),
                    'siempre-activa': (configuracion.iconoTexto && (configuracion.iconoTexto.capa && configuracion.iconoTexto.capa.siempreActiva))
                }"
                (tap)="empezarAEscribirEnInputParaEscribir()"
            >
                <input
                    *ngIf="configuracion.iconoTexto && configuracion.iconoTexto.capa"
                    type="text"
                    [(ngModel)]="configuracion.iconoTexto.capa.informacion"
                    [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                        color: estiloDelTextoServicio.colorDelTexto.TEXTONEGRO,
                        estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                        enMayusculas: false,
                        tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L3_IGUAL
                    })"
                    (blur)="mostrarIconoDeTexto()"
                    (keyup.enter)="eventoEnterEnCapaTexto()"
                    [maxlength]="obtenerValorMaximo()"
                />
                <div
                    *ngIf="
                        configuracion &&
                        configuracion.iconoTexto &&
                        configuracion.iconoTexto.capa &&
                        configuracion.iconoTexto.capa.contador &&
                        configuracion.iconoTexto.capa.contador.mostrar
                    "
                    class="contador-caracteres"
                >
                    <p
                        [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                            color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                            estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                            enMayusculas: false,
                            tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                        })" 
                    >
                        {{ obtenerTamanoDeCaracteres() + '/' + configuracion.iconoTexto.capa.contador.maximo }}
                    </p>
                </div>
            </div>
            <!-- Capa contenido audio -->
            <div
                [ngClass]="{
                    'contenido': true,
                    'contenido-audio': true,
                    'mostrar': (configuracion.iconoAudio && configuracion.iconoAudio.capa && configuracion.iconoAudio.capa.mostrar),
                    'siempre-activa': (configuracion.iconoAudio && configuracion.iconoAudio.capa && configuracion.iconoAudio.capa.siempreActiva)
                }"
            >
                <!-- Capa Loader -->
                <div
                    [ngClass]="{
                        'audio-capa': true,
                        'loader': true,
                        'mostrar': (
                            configuracion.iconoAudio && 
                            configuracion.iconoAudio.capa && 
                            configuracion.iconoAudio.capa.grabadora && 
                            configuracion.iconoAudio.capa.grabadora.mostrarLoader
                        )
                    }"
                >
                    <app-cargando></app-cargando>
                </div>
                <!-- Capa principal -->
                <div
                    [ngClass]="{
                        'audio-capa': true,
                        'grabadora': true,
                        'mostrar': (configuracion.iconoAudio && configuracion.iconoAudio.capa && configuracion.iconoAudio.capa.grabadora && !configuracion.iconoAudio.capa.grabadora.mostrarLoader),
                        'grabando': (configuracion.iconoAudio && configuracion.iconoAudio.capa && configuracion.iconoAudio.capa.grabadora && configuracion.iconoAudio.capa.grabadora.grabando)
                    }"
                >
                    <div
                        [ngClass]="{
                            'caja': true,
                            'texto-parar': true,
                            'mostrar': (configuracion.iconoAudio && configuracion.iconoAudio.capa && configuracion.iconoAudio.capa.grabadora && configuracion.iconoAudio.capa.clickParar)
                        }"
                    >
                        <p
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.BOLD, 
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                            })"
                        >
                            {{ 'm3v11texto6' | translate }}
                        </p>
                    </div>
                    <div
                        [ngClass]="{
                            'caja': true,
                            'duracion': true
                        }"
                    >
                        <p
                            [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                color: estiloDelTextoServicio.colorDelTexto.TEXTOAZULBASE,
                                estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                                enMayusculas: false,
                                tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                            })"
                        >
                            {{ obtenerTiempoDeGrabacion() }}
                        </p>
                    </div>
                    <div
                        [ngClass]="{
                            'caja': true,
                            'barra-tiempo': true
                        }"
                    >
                        <div class="linea">
                            <div
                                class="linea-superior"
                                [ngStyle]="obtenerEstilosLineaDeTiempo()"
                            ></div>
                        </div>
                        <div class="maximo">
                            <p
                                [ngClass]="estiloDelTextoServicio.obtenerEstilosTexto({ 
                                    color: estiloDelTextoServicio.colorDelTexto.TEXTOROJOBASE,
                                    estiloTexto: estiloDelTextoServicio.estilosDelTexto.REGULAR, 
                                    enMayusculas: true,
                                    tamanoConInterlineado: estiloDelTextoServicio.tamanoDeTextoConInterlineado.L1_IGUAL
                                })"
                            >
                                {{ obtenerTiempoDeGrabacion(true) + ' MAX' }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Boton send -->
        <div
            *ngIf="configuracion.botonSend"
            (tap)="eventoEnBotonSend()"
            [ngClass]="{
                'boton-send': true,
                'mostrar': configuracion.botonSend.mostrar,
                'grabando': (
                    configuracion.iconoAudio && 
                    configuracion.iconoAudio.capa && 
                    configuracion.iconoAudio.capa.grabadora && 
                    configuracion.iconoAudio.capa.grabadora.grabando
                )
            }"
        ></div>
    </div>
</div>
<!-- Modal titulo audio -->
<app-modal-titulo-audio
    *ngIf="confModalTituloAudio"
    [configuracion]="confModalTituloAudio"
></app-modal-titulo-audio>
<!-- Modal origen foto -->
<app-modal-origen-foto
    *ngIf="confModalOrigenFoto"
    [configuracion]="confModalOrigenFoto"
></app-modal-origen-foto>

<app-camara-video *ngIf="confCamaraVideo" [configuracion]="confCamaraVideo"></app-camara-video>
<app-camara-foto *ngIf="confCamaraFoto" [configuracion]="confCamaraFoto"></app-camara-foto>